Copyright>        OpenRadioss
Copyright>        Copyright (C) 1986-2024 Altair Engineering Inc.
Copyright>
Copyright>        This program is free software: you can redistribute it and/or modify
Copyright>        it under the terms of the GNU Affero General Public License as published by
Copyright>        the Free Software Foundation, either version 3 of the License, or
Copyright>        (at your option) any later version.
Copyright>
Copyright>        This program is distributed in the hope that it will be useful,
Copyright>        but WITHOUT ANY WARRANTY; without even the implied warranty of
Copyright>        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
Copyright>        GNU Affero General Public License for more details.
Copyright>
Copyright>        You should have received a copy of the GNU Affero General Public License
Copyright>        along with this program.  If not, see <https://www.gnu.org/licenses/>.
Copyright>
Copyright>
Copyright>        Commercial Alternative: Altair Radioss Software
Copyright>
Copyright>        As an alternative to this open-source version, Altair also offers Altair Radioss
Copyright>        software under a commercial license.  Contact Altair to discuss further if the
Copyright>        commercial version may interest you: https://www.altair.com/radioss/.

Chd|====================================================================
Chd|  PBLAST_MOD                    modules/loads/pblast_mod.F    
Chd|-- called by -----------
Chd|        DDSPLIT                       starter/source/restart/ddsplit/ddsplit.F
Chd|        HM_PREREAD_PBLAST             starter/source/loads/pblast/hm_preread_pblast.F
Chd|        HM_READ_PBLAST                starter/source/loads/pblast/hm_read_pblast.F
Chd|        H3D_PRE_SKIN_SCALAR           engine/source/output/h3d/h3d_results/h3d_skin_scalar.F
Chd|        H3D_SKIN_VECTOR               engine/source/output/h3d/h3d_results/h3d_skin_vector.F
Chd|        PBLAST                        engine/source/loads/pblast/pblast.F
Chd|        PBLAST_1                      engine/source/loads/pblast/pblast_1.F
Chd|        PBLAST_2                      engine/source/loads/pblast/pblast_2.F
Chd|        PBLAST_3                      engine/source/loads/pblast/pblast_3.F
Chd|        RDRESB                        engine/source/output/restart/rdresb.F
Chd|        RESOL                         engine/source/engine/resol.F  
Chd|        RESOL_INIT                    engine/source/engine/resol_init.F
Chd|        WRRESTP                       engine/source/output/restart/wrrestp.F
Chd|-- calls ---------------
Chd|====================================================================
      MODULE PBLAST_MOD

#include "my_real.inc"

      ! --- DATA STRUCTURE FOR BLAST PARAMETERS (EACH SEGMENT)
      ! ------------------------------------------------------------
      TYPE PBLAST_STRUCT_
        INTEGER SIZ
        LOGICAL IS_RESET
        my_real :: DTMIN
        my_real, ALLOCATABLE,DIMENSION(:)    :: PRES                                      ! pressure output(workarray)
        my_real, ALLOCATABLE,DIMENSION(:)    :: cos_theta                                 ! angle on structural face
        my_real, ALLOCATABLE,DIMENSION(:)    :: P_inci,P_refl,ta,t0,decay_inci,decay_refl ! Friedlander parameters
        my_real, DIMENSION(:)  , ALLOCATABLE :: FX,FY,FZ,NPt                              !working arrays (forces)
        INTEGER, DIMENSION(:,:), ALLOCATABLE :: N                                         !working array (normal vectors)
        INTEGER, ALLOCATABLE,DIMENSION(:)    :: TAGMSG
      END TYPE PBLAST_STRUCT_

      TYPE FRIEDLANDER_PARAMS_
        my_real :: P_inci     ! incident pressure (positive phase)
        my_real :: P_inci_    ! incident pressure (positive phase)
        my_real :: P_refl     ! reflected pressure (negative phase)
        my_real :: P_refl_    ! reflected pressure (negative phase)
        my_real :: I_inci     ! incident impulse (positive phase)
        my_real :: I_inci_    ! incident impulse (negative phase)
        my_real :: I_refl     ! reflected impulse (positive phase)
        my_real :: I_refl_    ! reflected impulse (negative phase)
        my_real :: T_A        ! arrival time
        my_real :: DT_0       ! duiration of positive phase
        my_real :: DT_0_      ! duration of negative phase
        my_real :: decay_inci ! decay parameter for incident wave
        my_real :: decay_refl ! decay parameter for reflected wave
      END TYPE FRIEDLANDER_PARAMS_


      ! --- HARDCODED TABLES {g,cm,Âµs,Mbar}
      ! ------------------------------------------------------------
      TYPE PBLAST_DATA_
       !-----------------------------------------------------------!
       !            FREE AIR BURST                                 !
       ! Positive Parameters                                       !
       ! Negative Parameter (digitized & extrapolated plot)        !
       !-----------------------------------------------------------!
       my_real :: RW3(256),ta(256),t0(256),t0_(256)
       my_real :: Pr(256),Pr_(256),Irefl(256),Irefl_(256)
       my_real :: Pso(256),Pso_(256),Iso(256),Iso_(256)
       !-----------------------------------------------------------!
       !            AIR BURST (ground reflecion)                   !
       !-----------------------------------------------------------!
       my_real Pra(10,256)   !mach front pressure
       my_real SRI(10,256)   !scale of reflected impulse
       my_real SHTP(10,256)  !scaled height of triple point
       my_real SHTP_abscissa(256)
       my_real ANGLE_pra(10) !x-bound Pra
       my_real ANGLE_sri(10) !x-bound SRI
       my_real SHDC(2,10),dSHDC    !X-bounds Scaled Height Distance from Charge
       my_real Curve_val_2_9(10), Curve_val_2_10(10), Curve_val_2_13(10) !data from curve legend
       my_real delta_angle   !85 deg - 0deg / (256 points - 1)
       !-----------------------------------------------------------!
       !            SURFACE BURST (hemispherical+ground)           !
       !-----------------------------------------------------------!
       my_real :: RW3_Surf(256),Ir_Surf(256),Iso_Surf(256),Pr_Surf(256),Pso_Surf(256),t0_Surf(256),ta_Surf(256)
      END TYPE PBLAST_DATA_

      ! --- DATA STRUCTURE FOR PBLAST TIME STEP
      ! ------------------------------------------------------------
      TYPE PBLAST_DT_
        INTEGER IDT
        my_real TA_INF
        my_real DT
      END TYPE PBLAST_DT_

      ! ------------------------------------------------------------
      TYPE(PBLAST_STRUCT_),ALLOCATABLE,DIMENSION(:) :: PBLAST_TAB
      TYPE(PBLAST_DATA_) :: PBLAST_DATA
      TYPE(PBLAST_DT_) :: PBLAST_DT
      ! ------------------------------------------------------------


       CONTAINS

Chd|====================================================================
Chd|  PBLAST_LOAD                   modules/loads/pblast_mod.F    
Chd|-- called by -----------
Chd|        RDRESB                        engine/source/output/restart/rdresb.F
Chd|-- calls ---------------
Chd|        ARRET                         starter/source/system/arret.F 
Chd|        ARRET                         engine/source/system/arret.F  
Chd|        READ_DB                       starter/source/restart/ddsplit/wrrest.F
Chd|        READ_DB                       engine/source/output/tools/read_db.F
Chd|        READ_I_C                      tools/input_output/write_routtines.c
Chd|        MESSAGE_MOD                   starter/share/message_module/message_mod.F
Chd|        MESSAGE_MOD                   engine/share/message_module/message_mod.F
Chd|====================================================================
      SUBROUTINE PBLAST_LOAD(PBLAST_TAB)
C-----------------------------------------------
C   M o d u l e s
C-----------------------------------------------
      USE MESSAGE_MOD
C-----------------------------------------------
C   I m p l i c i t   T y p e s
C-----------------------------------------------
#include      "implicit_f.inc"
C-----------------------------------------------
C   C o m m o n   B l o c k s
C-----------------------------------------------
#include      "com04_c.inc"
#include      "units_c.inc"
C-----------------------------------------------
C   D u m m y   A r g u m e n t s
C-----------------------------------------------
      TYPE(PBLAST_STRUCT_),INTENT(INOUT), ALLOCATABLE,DIMENSION(:) :: PBLAST_TAB
C-----------------------------------------------
C   L o c a l   V a r i a b l e s
C-----------------------------------------------
      INTEGER :: SIZ,IERR1,I
      my_real,DIMENSION(:),ALLOCATABLE :: RTMP
      my_real :: TMP(1)
      INTEGER IAD,KK
C-----------------------------------------------
C   P r e - C o n d i t i o n
C-----------------------------------------------
      IF(NLOADP_B<=0)RETURN
C-----------------------------------------------
C   S o u r c e   C o d e
C-----------------------------------------------
      ALLOCATE (PBLAST_TAB(NLOADP_B),STAT=IERR1); IF (IERR1/=0) GOTO 1000
      CALL READ_DB(TMP,1)
      PBLAST_DT%TA_INF = TMP(1)
      !--------------------------------------
      !     READING NUMBER OF LOCAL SEGMENTS
      !--------------------------------------
      DO I=1,NLOADP_B
        CALL READ_I_C(PBLAST_TAB(I)%SIZ,1)
        PBLAST_TAB(I)%IS_RESET = .FALSE.
      ENDDO
      !--------------------------------------
      !     READING MINIMUM TIME STEP
      !--------------------------------------
      DO I=1,NLOADP_B
        CALL READ_DB(TMP,1)
        PBLAST_TAB(I)%DTMIN = TMP(1)
      ENDDO
      !--------------------------------------
      !     READING REAL BUFFER (local segments only)
      !--------------------------------------
      DO I=1,NLOADP_B
        SIZ = PBLAST_TAB(I)%SIZ
        ALLOCATE ( PBLAST_TAB(I)%cos_theta(SIZ),STAT=IERR1); IF (IERR1/=0) GOTO 1000
        ALLOCATE ( PBLAST_TAB(I)%P_inci(SIZ),STAT=IERR1); IF (IERR1/=0) GOTO 1000
        ALLOCATE ( PBLAST_TAB(I)%P_refl(SIZ),STAT=IERR1); IF (IERR1/=0) GOTO 1000
        ALLOCATE ( PBLAST_TAB(I)%ta(SIZ),STAT=IERR1); IF (IERR1/=0) GOTO 1000
        ALLOCATE ( PBLAST_TAB(I)%t0(SIZ),STAT=IERR1); IF (IERR1/=0) GOTO 1000
        ALLOCATE ( PBLAST_TAB(I)%decay_inci(SIZ),STAT=IERR1); IF (IERR1/=0) GOTO 1000
        ALLOCATE ( PBLAST_TAB(I)%decay_refl(SIZ),STAT=IERR1); IF (IERR1/=0) GOTO 1000
        ALLOCATE ( PBLAST_TAB(I)%FX(SIZ),STAT=IERR1); IF (IERR1/=0) GOTO 1000
        ALLOCATE ( PBLAST_TAB(I)%FY(SIZ),STAT=IERR1); IF (IERR1/=0) GOTO 1000
        ALLOCATE ( PBLAST_TAB(I)%FZ(SIZ),STAT=IERR1); IF (IERR1/=0) GOTO 1000
        ALLOCATE ( PBLAST_TAB(I)%N(4,SIZ),STAT=IERR1); IF (IERR1/=0) GOTO 1000
        ALLOCATE ( PBLAST_TAB(I)%NPt(SIZ),STAT=IERR1); IF (IERR1/=0) GOTO 1000
        ALLOCATE ( PBLAST_TAB(I)%TAGMSG(SIZ),STAT=IERR1); IF (IERR1/=0) GOTO 1000
        ALLOCATE(RTMP(8*SIZ))
        CALL READ_DB(RTMP,8*SIZ)
        IAD = 0
        DO KK=1,SIZ
          PBLAST_TAB(I)%cos_theta(KK) = RTMP(IAD+1)
          PBLAST_TAB(I)%P_inci(KK) = RTMP(IAD+2)
          PBLAST_TAB(I)%P_refl(KK) = RTMP(IAD+3)
          PBLAST_TAB(I)%ta(KK) = RTMP(IAD+4)
          PBLAST_TAB(I)%t0(KK) = RTMP(IAD+5)
          PBLAST_TAB(I)%decay_inci(KK) = RTMP(IAD+6)
          PBLAST_TAB(I)%decay_refl(KK) = RTMP(IAD+7)
          PBLAST_TAB(I)%TAGMSG(KK) = NINT(RTMP(IAD+8))
          IAD = IAD+8
        ENDDO
        DEALLOCATE(RTMP)
      ENDDO
C-----------------------------------------------
 1000 CONTINUE
       IF (IERR1/=0) THEN
         WRITE(IOUT,*)' ** ERROR IN MEMORY ALLOCATION'
         WRITE(ISTDO,*)' ** ERROR IN MEMORY ALLOCATION'
         CALL ARRET(2)
       END IF
C-----------------------------------------------
      RETURN
      END


Chd|====================================================================
Chd|  PBLAST_DEALLOCATE             modules/loads/pblast_mod.F    
Chd|-- called by -----------
Chd|        RESOL                         engine/source/engine/resol.F  
Chd|-- calls ---------------
Chd|        MESSAGE_MOD                   starter/share/message_module/message_mod.F
Chd|        MESSAGE_MOD                   engine/share/message_module/message_mod.F
Chd|====================================================================
      SUBROUTINE PBLAST_DEALLOCATE(PBLAST_TAB)
C-----------------------------------------------
C   M o d u l e s
C-----------------------------------------------
      USE MESSAGE_MOD
C-----------------------------------------------
C   I m p l i c i t   T y p e s
C-----------------------------------------------
#include      "implicit_f.inc"
C-----------------------------------------------
C   C o m m o n   B l o c k s
C-----------------------------------------------
#include      "com04_c.inc"
#include      "units_c.inc"
C-----------------------------------------------
C   D u m m y   A r g u m e n t s
C-----------------------------------------------
      TYPE(PBLAST_STRUCT_),INTENT(INOUT), ALLOCATABLE,DIMENSION(:) :: PBLAST_TAB
C-----------------------------------------------
C   L o c a l   V a r i a b l e s
C-----------------------------------------------
      INTEGER :: II
C-----------------------------------------------
C   P r e - C o n d i t i o n
C-----------------------------------------------
      IF(NLOADP_B<=0)RETURN
C-----------------------------------------------
C   S o u r c e   C o d e
C-----------------------------------------------
      DO II=1,NLOADP_B
        IF(ALLOCATED( PBLAST_TAB(II)%cos_theta ))  DEALLOCATE ( PBLAST_TAB(II)%cos_theta )
        IF(ALLOCATED( PBLAST_TAB(II)%P_inci ))     DEALLOCATE ( PBLAST_TAB(II)%P_inci )
        IF(ALLOCATED( PBLAST_TAB(II)%P_refl ))     DEALLOCATE ( PBLAST_TAB(II)%P_refl )
        IF(ALLOCATED( PBLAST_TAB(II)%ta ))         DEALLOCATE ( PBLAST_TAB(II)%ta )
        IF(ALLOCATED( PBLAST_TAB(II)%t0 ))         DEALLOCATE ( PBLAST_TAB(II)%t0 )
        IF(ALLOCATED( PBLAST_TAB(II)%decay_inci )) DEALLOCATE ( PBLAST_TAB(II)%decay_inci )
        IF(ALLOCATED( PBLAST_TAB(II)%decay_refl )) DEALLOCATE ( PBLAST_TAB(II)%decay_refl )
        IF(ALLOCATED( PBLAST_TAB(II)%decay_refl )) DEALLOCATE ( PBLAST_TAB(II)%decay_refl )
        IF(ALLOCATED( PBLAST_TAB(II)%FX ))         DEALLOCATE ( PBLAST_TAB(II)%FX )
        IF(ALLOCATED( PBLAST_TAB(II)%FY ))         DEALLOCATE ( PBLAST_TAB(II)%FY )
        IF(ALLOCATED( PBLAST_TAB(II)%FZ ))         DEALLOCATE ( PBLAST_TAB(II)%FZ )
        IF(ALLOCATED( PBLAST_TAB(II)%N ))          DEALLOCATE ( PBLAST_TAB(II)%N )
        IF(ALLOCATED( PBLAST_TAB(II)%NPt ))        DEALLOCATE ( PBLAST_TAB(II)%NPt )
      ENDDO

      IF(ALLOCATED(PBLAST_TAB))DEALLOCATE(PBLAST_TAB)
C-----------------------------------------------
      RETURN
      END


Chd|====================================================================
Chd|  PBLAST_WRITE_STARTER          modules/loads/pblast_mod.F    
Chd|-- called by -----------
Chd|        DDSPLIT                       starter/source/restart/ddsplit/ddsplit.F
Chd|-- calls ---------------
Chd|        WRITE_DB                      starter/source/restart/ddsplit/wrrest.F
Chd|        WRITE_DB                      engine/source/output/tools/write_db.F
Chd|        WRITE_I_C                     tools/input_output/write_routtines.c
Chd|        MESSAGE_MOD                   starter/share/message_module/message_mod.F
Chd|        MESSAGE_MOD                   engine/share/message_module/message_mod.F
Chd|====================================================================
      SUBROUTINE PBLAST_WRITE_STARTER(PBLAST_TAB,PROC,CEP)
C-----------------------------------------------
C   M o d u l e s
C-----------------------------------------------
      USE MESSAGE_MOD
C-----------------------------------------------
C   I m p l i c i t   T y p e s
C-----------------------------------------------
#include      "implicit_f.inc"
C-----------------------------------------------
C   C o m m o n   B l o c k s
C-----------------------------------------------
#include      "com04_c.inc"
#include      "units_c.inc"
#include      "thermal_c.inc"
#include      "tabsiz_c.inc"
C-----------------------------------------------
C   D u m m y   A r g u m e n t s
C-----------------------------------------------
      TYPE(PBLAST_STRUCT_),INTENT(INOUT), ALLOCATABLE,DIMENSION(:) :: PBLAST_TAB
      INTEGER,INTENT(IN)::PROC,CEP(SCEP)
C-----------------------------------------------
C   L o c a l   V a r i a b l e s
C-----------------------------------------------
      INTEGER :: SIZ,I,NSEG_LOC,IAD,OFF,JJ
      INTEGER, DIMENSION(:),ALLOCATABLE :: NSEGL
      my_real, DIMENSION(:),ALLOCATABLE :: RTMP
      my_real :: TMP(1)
C-----------------------------------------------
C   P r e - C o n d i t i o n
C-----------------------------------------------
      IF(NLOADP_B <= 0)RETURN
C-----------------------------------------------
C   S o u r c e   C o d e
C-----------------------------------------------
      TMP(1) = PBLAST_DT%TA_INF
      CALL WRITE_DB(TMP,1)
      !--------------------------------------
      OFF = NUMELC+NUMELTG+NUMELS+NUMELQ+NUMELT+NUMELP+NUMELR+NUMELX+NCONLD+NUMCONV+NUMRADIA+NFXFLUX
      ALLOCATE(NSEGL(NLOADP_B))
      !--------------------------------------
      !     WRITING LOCAL SIZE (number of local segments)
      !--------------------------------------
      DO I=1,NLOADP_B
        NSEG_LOC=0
        DO JJ=1,PBLAST_TAB(I)%SIZ
          IF(CEP(JJ+OFF)==PROC)THEN  !check if segment is on local domain
            NSEG_LOC=NSEG_LOC+1
          ENDIF
        ENDDO
        NSEGL(I)=NSEG_LOC
        CALL WRITE_I_C(NSEG_LOC,1)
        OFF = OFF + PBLAST_TAB(I)%SIZ
      ENDDO

      !--------------------------------------
      !     WRITING MINIMUM TIME STEP
      !--------------------------------------
      DO I=1,NLOADP_B
        TMP(1) = PBLAST_TAB(I)%DTMIN
        CALL WRITE_DB(TMP,1)
      ENDDO

      !--------------------------------------
      !     WRITING REAL BUFFER (for local segments only)
      !--------------------------------------
      OFF = NUMELC+NUMELTG+NUMELS+NUMELQ+NUMELT+NUMELP+NUMELR+NUMELX+NCONLD+NUMCONV+NUMRADIA+NFXFLUX
      DO I=1,NLOADP_B
        SIZ = NSEGL(I)
        ALLOCATE(RTMP(8*NSEGL(I)))
        IAD=0
        DO JJ=1,PBLAST_TAB(I)%SIZ
          IF(CEP(JJ+OFF)==PROC)THEN !write buffer if segment is on local domain
            RTMP(IAD+1) = PBLAST_TAB(I)%cos_theta(JJ)
            RTMP(IAD+2) = PBLAST_TAB(I)%P_inci(JJ)
            RTMP(IAD+3) = PBLAST_TAB(I)%P_refl(JJ)
            RTMP(IAD+4) = PBLAST_TAB(I)%ta(JJ)
            RTMP(IAD+5) = PBLAST_TAB(I)%t0(JJ)
            RTMP(IAD+6) = PBLAST_TAB(I)%decay_inci(JJ)
            RTMP(IAD+7) = PBLAST_TAB(I)%decay_refl(JJ)
            RTMP(IAD+8) = PBLAST_TAB(I)%TAGMSG(JJ)
            IAD = IAD + 8
          ENDIF
        ENDDO
        CALL WRITE_DB(RTMP,8*NSEGL(I))
        DEALLOCATE(RTMP)
        OFF = OFF + PBLAST_TAB(I)%SIZ
      ENDDO
      DEALLOCATE(NSEGL)
C-----------------------------------------------
      RETURN
      END


Chd|====================================================================
Chd|  PBLAST_WRITE_ENGINE           modules/loads/pblast_mod.F    
Chd|-- called by -----------
Chd|        WRRESTP                       engine/source/output/restart/wrrestp.F
Chd|-- calls ---------------
Chd|        WRITE_DB                      starter/source/restart/ddsplit/wrrest.F
Chd|        WRITE_DB                      engine/source/output/tools/write_db.F
Chd|        WRITE_I_C                     tools/input_output/write_routtines.c
Chd|        MESSAGE_MOD                   starter/share/message_module/message_mod.F
Chd|        MESSAGE_MOD                   engine/share/message_module/message_mod.F
Chd|====================================================================
      SUBROUTINE PBLAST_WRITE_ENGINE(PBLAST_TAB)
C-----------------------------------------------
C   M o d u l e s
C-----------------------------------------------
      USE MESSAGE_MOD
C-----------------------------------------------
C   I m p l i c i t   T y p e s
C-----------------------------------------------
#include      "implicit_f.inc"
C-----------------------------------------------
C   C o m m o n   B l o c k s
C-----------------------------------------------
#include      "com04_c.inc"
#include      "units_c.inc"
#include      "thermal_c.inc"
C-----------------------------------------------
C   D u m m y   A r g u m e n t s
C-----------------------------------------------
      TYPE(PBLAST_STRUCT_),INTENT(INOUT), ALLOCATABLE,DIMENSION(:) :: PBLAST_TAB
C-----------------------------------------------
C   L o c a l   V a r i a b l e s
C-----------------------------------------------
      INTEGER :: SIZ,I,IAD,JJ
      my_real, DIMENSION(:),ALLOCATABLE :: RTMP
      my_real :: TMP(1)
C-----------------------------------------------
C   P r e - C o n d i t i o n
C-----------------------------------------------
      IF(NLOADP_B<=0)RETURN
C-----------------------------------------------
C   S o u r c e   C o d e
C-----------------------------------------------
      TMP(1)=PBLAST_DT%TA_INF
      CALL WRITE_DB(TMP,1)
      !--------------------------------------
      !     WRITING LOCAL SIZE (number of local segments)
      !--------------------------------------
      DO I=1,NLOADP_B
        CALL WRITE_I_C(PBLAST_TAB(I)%SIZ,1)
      ENDDO
      !--------------------------------------
      !     WRITING MINIMUM TIME STEP
      !--------------------------------------
      DO I=1,NLOADP_B
        TMP(1) = PBLAST_TAB(I)%DTMIN
        CALL WRITE_DB(TMP,1)
      ENDDO
      !--------------------------------------
      !     WRITING REAL BUFFER (for local segments only)
      !--------------------------------------
      DO I=1,NLOADP_B
        SIZ = PBLAST_TAB(I)%SIZ
        IAD=0
        ALLOCATE(RTMP(8*SIZ))
        DO JJ=1,PBLAST_TAB(I)%SIZ
            RTMP(IAD+1) = PBLAST_TAB(I)%cos_theta(JJ)
            RTMP(IAD+2) = PBLAST_TAB(I)%P_inci(JJ)
            RTMP(IAD+3) = PBLAST_TAB(I)%P_refl(JJ)
            RTMP(IAD+4) = PBLAST_TAB(I)%ta(JJ)
            RTMP(IAD+5) = PBLAST_TAB(I)%t0(JJ)
            RTMP(IAD+6) = PBLAST_TAB(I)%decay_inci(JJ)
            RTMP(IAD+7) = PBLAST_TAB(I)%decay_refl(JJ)
            RTMP(IAD+8) = PBLAST_TAB(I)%TAGMSG(JJ)
            IAD = IAD + 8
        ENDDO
        CALL WRITE_DB(RTMP,8*SIZ)
        DEALLOCATE(RTMP)
      ENDDO
C-----------------------------------------------
      RETURN
      END

Chd|====================================================================
Chd|  PBLAST_INIT_TABLES            modules/loads/pblast_mod.F    
Chd|-- called by -----------
Chd|        HM_READ_PBLAST                starter/source/loads/pblast/hm_read_pblast.F
Chd|        RDRESB                        engine/source/output/restart/rdresb.F
Chd|-- calls ---------------
Chd|====================================================================
         SUBROUTINE PBLAST_INIT_TABLES(PBLAST_DATA)
            TYPE(PBLAST_DATA_),INTENT(INOUT) :: PBLAST_DATA


            !curve limit SHDC
            !ft/lb^1/3
            PBLAST_DATA%SHDC(1,:)=(/2.,2. ,2. ,4. ,4. ,6. ,6. ,7. ,9. ,11. /)
            PBLAST_DATA%SHDC(2,:)=(/9.,11.,14.,15.,18.,18.,18.,18.,18.,18. /)
            !cm/g^1/3
            PBLAST_DATA%SHDC(1,:) = PBLAST_DATA%SHDC(1,:) * 3.966977216838d00
            PBLAST_DATA%SHDC(2,:) = PBLAST_DATA%SHDC(2,:) * 3.966977216838d00
            !delta_SDHC
            PBLAST_DATA%dSHDC = (71.5d0 - 7.9d0) / 255.d0

            !angle - upper bound (domain of definition)
            PBLAST_DATA%ANGLE_pra =(/85.00, 85.00, 85.00, 85.00, 85.00, 83.10, 81.90, 80.70, 79.50, 78.30 /)
            PBLAST_DATA%ANGLE_sri =(/85.00, 85.00, 85.00, 85.00, 85.00, 85.00, 85.00, 83.95, 82.90, 79.85 /)

            PBLAST_DATA%delta_angle = 85.d00/255.d00

            !curve value (legend multiple plot)
            ! 1.00 ft/lb**1/3 =  3,966977216838196139019  cm/g**1/3
            !
            PBLAST_DATA%Curve_val_2_9  = (/0.3, 0.6, 0.8, 1.9, 3.0, 5.3, 7.2, 8.9, 11.9, 14.3/) ! ft/lb**1/3
            ! keeping unit ft/lb**1/3
            !
            PBLAST_DATA%Curve_val_2_10  = (/0.3, 0.5, 0.8, 1.9, 3.0, 5.3, 7.2, 8.9, 11.9, 14.3/) ! ft/lb**1/3
            ! keeping unit ft/lb**1/3
            !
            PBLAST_DATA%Curve_val_2_13 = (/1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 5.0, 6.0, 7.0 /)  ! ft/lb**1/3
            ! keeping unit ft/lb**1/3

C Figure 2_7 Scaled Radius R/W**(1/3): g,cm,mus,Mbar
            PBLAST_DATA%RW3 = (/
     +      5.0000000000e-01, 5.1328038846e-01, 5.2691351436e-01, 5.4090874667e-01, 5.5527570323e-01,
     +      5.7002425731e-01, 5.8516454445e-01, 6.0070696938e-01, 6.1666221319e-01, 6.3304124067e-01,
     +      6.4985530785e-01, 6.6711596971e-01, 6.8483508817e-01, 7.0302484017e-01, 7.2169772613e-01,
     +      7.4086657843e-01, 7.6054457035e-01, 7.8074522503e-01, 8.0148242478e-01, 8.2277042068e-01,
     +      8.4462384228e-01, 8.6705770774e-01, 8.9008743409e-01, 9.1372884787e-01, 9.3799819597e-01,
     +      9.6291215681e-01, 9.8848785180e-01, 1.0147428571e+00, 1.0416952158e+00, 1.0693634500e+00,
     +      1.0977665741e+00, 1.1269241072e+00, 1.1568560870e+00, 1.1875830835e+00, 1.2191262128e+00,
     +      1.2515071522e+00, 1.2847481545e+00, 1.3188720636e+00, 1.3539023303e+00, 1.3898630281e+00,
     +      1.4267788699e+00, 1.4646752252e+00, 1.5035781371e+00, 1.5435143406e+00, 1.5845112807e+00,
     +      1.6265971313e+00, 1.6698008149e+00, 1.7141520218e+00, 1.7596812313e+00, 1.8064197319e+00,
     +      1.8543996435e+00, 1.9036539387e+00, 1.9542164663e+00, 2.0061219739e+00, 2.0594061322e+00,
     +      2.1141055590e+00, 2.1702578452e+00, 2.2279015797e+00, 2.2870763766e+00, 2.3478229020e+00,
     +      2.4101829024e+00, 2.4741992328e+00, 2.5399158867e+00, 2.6073780259e+00, 2.6766320120e+00,
     +      2.7477254378e+00, 2.8207071602e+00, 2.8956273339e+00, 2.9725374455e+00, 3.0514903495e+00,
     +      3.1325403040e+00, 3.2157430082e+00, 3.3011556409e+00, 3.3888368994e+00, 3.4788470403e+00,
     +      3.5712479205e+00, 3.6661030399e+00, 3.7634775849e+00, 3.8634384735e+00, 3.9660544010e+00,
     +      4.0713958872e+00, 4.1795353251e+00, 4.2905470305e+00, 4.4045072931e+00, 4.5214944287e+00,
     +      4.6415888336e+00, 4.7648730392e+00, 4.8914317691e+00, 5.0213519971e+00, 5.1547230074e+00,
     +      5.2916364553e+00, 5.4321864307e+00, 5.5764695227e+00, 5.7245848857e+00, 5.8766343078e+00,
     +      6.0327222808e+00, 6.1929560715e+00, 6.3574457962e+00, 6.5263044958e+00, 6.6996482137e+00,
     +      6.8775960753e+00, 7.0602703704e+00, 7.2477966368e+00, 7.4403037464e+00, 7.6379239945e+00,
     +      7.8407931899e+00, 8.0490507487e+00, 8.2628397901e+00, 8.4823072345e+00, 8.7076039047e+00,
     +      8.9388846296e+00, 9.1763083502e+00, 9.4200382292e+00, 9.6702417633e+00, 9.9270908975e+00,
     +      1.0190762144e+01, 1.0461436704e+01, 1.0739300591e+01, 1.1024544758e+01, 1.1317365232e+01,
     +      1.1617963246e+01, 1.1926545376e+01, 1.2243323687e+01, 1.2568515876e+01, 1.2902345423e+01,
     +      1.3245041741e+01, 1.3596840340e+01, 1.3957982983e+01, 1.4328717856e+01, 1.4709299734e+01,
     +      1.5099990163e+01, 1.5501057633e+01, 1.5912777767e+01, 1.6335433508e+01, 1.6769315313e+01,
     +      1.7214721356e+01, 1.7671957730e+01, 1.8141338657e+01, 1.8623186706e+01, 1.9117833014e+01,
     +      1.9625617512e+01, 2.0146889161e+01, 2.0682006189e+01, 2.1231336342e+01, 2.1795257130e+01,
     +      2.2374156093e+01, 2.2968431062e+01, 2.3578490436e+01, 2.4204753460e+01, 2.4847650517e+01,
     +      2.5507623420e+01, 2.6185125715e+01, 2.6880622998e+01, 2.7594593229e+01, 2.8327527064e+01,
     +      2.9079928191e+01, 2.9852313677e+01, 3.0645214321e+01, 3.1459175023e+01, 3.2294755153e+01,
     +      3.3152528940e+01, 3.4033085866e+01, 3.4937031067e+01, 3.5864985756e+01, 3.6817587642e+01,
     +      3.7795491374e+01, 3.8799368989e+01, 3.9829910374e+01, 4.0887823738e+01, 4.1973836103e+01,
     +      4.3088693801e+01, 4.4233162985e+01, 4.5408030159e+01, 4.6614102719e+01, 4.7852209503e+01,
     +      4.9123201365e+01, 5.0427951758e+01, 5.1767357335e+01, 5.3142338565e+01, 5.4553840365e+01,
     +      5.6002832749e+01, 5.7490311497e+01, 5.9017298836e+01, 6.0584844145e+01, 6.2194024675e+01,
     +      6.3845946291e+01, 6.5541744228e+01, 6.7282583875e+01, 6.9069661576e+01, 7.0904205450e+01,
     +      7.2787476233e+01, 7.4720768153e+01, 7.6705409807e+01, 7.8742765086e+01, 8.0834234103e+01,
     +      8.2981254163e+01, 8.5185300744e+01, 8.7447888514e+01, 8.9770572373e+01, 9.2154948521e+01,
     +      9.4602655551e+01, 9.7115375581e+01, 9.9694835408e+01, 1.0234280769e+02, 1.0506111218e+02,
     +      1.0785161694e+02, 1.1071623968e+02, 1.1365694902e+02, 1.1667576589e+02, 1.1977476488e+02,
     +      1.2295607569e+02, 1.2622188459e+02, 1.2957443591e+02, 1.3301603360e+02, 1.3654904279e+02,
     +      1.4017589146e+02, 1.4389907204e+02, 1.4772114319e+02, 1.5164473152e+02, 1.5567253341e+02,
     +      1.5980731684e+02, 1.6405192334e+02, 1.6840926987e+02, 1.7288235092e+02, 1.7747424048e+02,
     +      1.8218809419e+02, 1.8702715152e+02, 1.9199473797e+02, 1.9709426738e+02, 2.0232924424e+02,
     +      2.0770326617e+02, 2.1322002628e+02, 2.1888331584e+02, 2.2469702676e+02, 2.3066515437e+02,
     +      2.3679180008e+02, 2.4308117425e+02, 2.4953759910e+02, 2.5616551160e+02, 2.6296946661e+02,
     +      2.6995413995e+02, 2.7712433164e+02, 2.8448496919e+02, 2.9204111100e+02, 2.9979794980e+02,
     +      3.0776081627e+02, 3.1593518265e+02, 3.2432666656e+02, 3.3294103480e+02, 3.4178420736e+02,
     +      3.5086226145e+02, 3.6018143570e+02, 3.6974813447e+02, 3.7956893219e+02, 3.8965057792e+02,
     +      4.0000000000e+02 /)

C Figure 2_7 Reflected Wave Impulse+ Iso/W**(1/3): g,cm,mus,Mbar
             PBLAST_DATA%Irefl = (/
     +     0.91477183325000E-01,0.86528105463000E-01,0.81747669692000E-01,0.77205331351000E-01,0.72935216422000E-01,
     +     0.68926595545000E-01,0.65155762569000E-01,0.61605258202000E-01,0.58261234933000E-01,0.55116706434000E-01,
     +     0.52157117945000E-01,0.49369331703000E-01,0.46741478929000E-01,0.44263568374000E-01,0.41930623267000E-01,
     +     0.39731830505000E-01,0.37657444298000E-01,0.35699132791000E-01,0.33851653363000E-01,0.32109313204000E-01,
     +     0.30464733929000E-01,0.28911037617000E-01,0.27442220877000E-01,0.26055591267000E-01,0.24745926467000E-01,
     +     0.23507837896000E-01,0.22336564827000E-01,0.21228358039000E-01,0.20180850481000E-01,0.19190166866000E-01,
     +     0.18252395395000E-01,0.17363870389000E-01,0.16522622026000E-01,0.15726471856000E-01,0.14972351984000E-01,
     +     0.14257484905000E-01,0.13579422203000E-01,0.12937063711000E-01,0.12328269341000E-01,0.11750748790000E-01,
     +     0.11202564039000E-01,0.10682146354000E-01,0.10188623131000E-01,0.97202356938000E-02,0.92753582055000E-02,
     +     0.88525638710000E-02,0.84509032845000E-02,0.80695029142000E-02,0.77070701287000E-02,0.73624185028000E-02,
     +     0.70344549922000E-02,0.67227004552000E-02,0.64262872814000E-02,0.61442475472000E-02,0.58757220402000E-02,
     +     0.56199717285000E-02,0.53766361687000E-02,0.51449962923000E-02,0.49243243434000E-02,0.47139549115000E-02,
     +     0.45134509991000E-02,0.43224879107000E-02,0.41404759841000E-02,0.39668781856000E-02,0.38012056753000E-02,
     +     0.36432102343000E-02,0.34925506699000E-02,0.33487844380000E-02,0.32115002499000E-02,0.30803557268000E-02,
     +     0.29552081086000E-02,0.28357278684000E-02,0.27215840879000E-02,0.26124725669000E-02,0.25081665190000E-02,
     +     0.24085309612000E-02,0.23133031208000E-02,0.22222273036000E-02,0.21350631673000E-02,0.20516950046000E-02,
     +     0.19719770076000E-02,0.18957066819000E-02,0.18226860568000E-02,0.17527390761000E-02,0.16858001545000E-02,
     +     0.16217109600000E-02,0.15603253764000E-02,0.15015001694000E-02,0.14451090088000E-02,0.13911059787000E-02,
     +     0.13393468863000E-02,0.12897155507000E-02,0.12421068214000E-02,0.11964389898000E-02,0.11526715448000E-02,
     +     0.11106781805000E-02,0.10703673778000E-02,0.10316771577000E-02,0.99453576735000E-03,0.95889895413000E-03,
     +     0.92468249398000E-03,0.89179906180000E-03,0.86020541073000E-03,0.82987226763000E-03,0.80073567496000E-03,
     +     0.77272962540000E-03,0.74579616069000E-03,0.71990590329000E-03,0.69502433763000E-03,0.67109939485000E-03,
     +     0.64808398507000E-03,0.62593220794000E-03,0.60462671348000E-03,0.58413377118000E-03,0.56441143937000E-03,
     +     0.54542065033000E-03,0.52713048355000E-03,0.50953045974000E-03,0.49258537809000E-03,0.47626157447000E-03,
     +     0.46053043534000E-03,0.44537292901000E-03,0.43077433104000E-03,0.41670697706000E-03,0.40314587519000E-03,
     +     0.39006680562000E-03,0.37745930199000E-03,0.36530735226000E-03,0.35358743596000E-03,0.34227907268000E-03,
     +     0.33136628075000E-03,0.32084129884000E-03,0.31068766312000E-03,0.30088822396000E-03,0.29142548201000E-03,
     +     0.28228755028000E-03,0.27347061941000E-03,0.26495786558000E-03,0.25673470912000E-03,0.24878922399000E-03,
     +     0.24111428351000E-03,0.23370287648000E-03,0.22654151724000E-03,0.21961847348000E-03,0.21292508147000E-03,
     +     0.20645708441000E-03,0.20020638229000E-03,0.19416211963000E-03,0.18831479925000E-03,0.18265936067000E-03,
     +     0.17719088371000E-03,0.17190210439000E-03,0.16678516845000E-03,0.16183144276000E-03,0.15703806677000E-03,
     +     0.15240117586000E-03,0.14791306588000E-03,0.14356707831000E-03,0.13935802150000E-03,0.13528423179000E-03,
     +     0.13134036713000E-03,0.12752069558000E-03,0.12382002895000E-03,0.12023410966000E-03,0.11676130720000E-03,
     +     0.11339756917000E-03,0.11013764987000E-03,0.10697688806000E-03,0.10391437390000E-03,0.10094556255000E-03,
     +     0.98068358183000E-04,0.95279599934000E-04,0.92573594690000E-04,0.89950121569000E-04,0.87406910992000E-04,
     +     0.84940493105000E-04,0.82547225901000E-04,0.80224621294000E-04,0.77972443231000E-04,0.75788083272000E-04,
     +     0.73668342465000E-04,0.71610254402000E-04,0.69612413228000E-04,0.67674342382000E-04,0.65793533180000E-04,
     +     0.63967278510000E-04,0.62193421725000E-04,0.60471483923000E-04,0.58800087464000E-04,0.57177049718000E-04,
     +     0.55600341813000E-04,0.54068453463000E-04,0.52581047503000E-04,0.51136603454000E-04,0.49733229944000E-04,
     +     0.48369218952000E-04,0.47043767977000E-04,0.45756505151000E-04,0.44505724980000E-04,0.43289943080000E-04,
     +     0.42107933061000E-04,0.40959170307000E-04,0.39842895212000E-04,0.38757845993000E-04,0.37702798580000E-04,
     +     0.36676716010000E-04,0.35679438718000E-04,0.34709920654000E-04,0.33767116420000E-04,0.32850064668000E-04,
     +     0.31958033910000E-04,0.31090838598000E-04,0.30247501537000E-04,0.29427112400000E-04,0.28628832617000E-04,
     +     0.27852311224000E-04,0.27097213515000E-04,0.26362662771000E-04,0.25647830119000E-04,0.24952090005000E-04,
     +     0.24275308771000E-04,0.23616970640000E-04,0.22976350094000E-04,0.22352777764000E-04,0.21745846777000E-04,
     +     0.21155312341000E-04,0.20580726510000E-04,0.20021530889000E-04,0.19477040110000E-04,0.18947044201000E-04,
     +     0.18431310051000E-04,0.17929389646000E-04,0.17440728285000E-04,0.16964812211000E-04,0.16501751323000E-04,
     +     0.16051022536000E-04,0.15612215032000E-04,0.15184994100000E-04,0.14768927008000E-04,0.14363929653000E-04,
     +     0.13969800213000E-04,0.13586039280000E-04,0.13212178561000E-04,0.12848270901000E-04,0.12494058036000E-04,
     +     0.12149198944000E-04,0.11813404195000E-04,0.11486314565000E-04,0.11167834915000E-04,0.10857925150000E-04,
     +     0.10556151611000E-04,0.10262176638000E-04,0.99759564290000E-05,0.96980220473000E-05,0.94237557535000E-05,
     +     0.91680439661000E-05      /)

C Figure 2_7 Incident Wave Impulse+ Iso/W**(1/3): g,cm,mus,Mbar
             PBLAST_DATA%Iso = (/
     +     0.28466039898000E-02,0.27397298250000E-02,0.26338772965000E-02,0.25288980910000E-02,0.24248936980000E-02,
     +     0.23222763541000E-02,0.22214340331000E-02,0.21226308810000E-02,0.20261452592000E-02,0.19322212643000E-02,
     +     0.18410269480000E-02,0.17527133903000E-02,0.16673922226000E-02,0.15851131499000E-02,0.15059951850000E-02,
     +     0.14300587858000E-02,0.13572839922000E-02,0.12876344916000E-02,0.12211101901000E-02,0.11577054502000E-02,
     +     0.10973307551000E-02,0.10398863562000E-02,0.98528819025000E-03,0.93350919887000E-03,0.88445450058000E-03,
     +     0.83800313524000E-03,0.79403575086000E-03,0.75245707228000E-03,0.71321435536000E-03,0.67619227893000E-03,
     +     0.64126683013000E-03,0.60831822030000E-03,0.57728075599000E-03,0.54807788464000E-03,0.52059908550000E-03,
     +     0.49473861506000E-03,0.47039793139000E-03,0.44753393608000E-03,0.42606143337000E-03,0.40588790285000E-03,
     +     0.38693011966000E-03,0.36911854765000E-03,0.35241580877000E-03,0.33674804567000E-03,0.32204351916000E-03,
     +     0.30823873948000E-03,0.29529252747000E-03,0.28316512433000E-03,0.27179967600000E-03,0.26114477571000E-03,
     +     0.25115311933000E-03,0.24180135261000E-03,0.23305230307000E-03,0.22486442639000E-03,0.21720130452000E-03,
     +     0.21003236967000E-03,0.20334034203000E-03,0.19709646346000E-03,0.19127081195000E-03,0.18583628115000E-03,
     +     0.18077629388000E-03,0.17607716576000E-03,0.17171578832000E-03,0.16767267681000E-03,0.16393044341000E-03,
     +     0.16047923079000E-03,0.15730747273000E-03,0.15440049690000E-03,0.15174415500000E-03,0.14932716084000E-03,
     +     0.14714615502000E-03,0.14519071915000E-03,0.14345191926000E-03,0.14192160984000E-03,0.14059324235000E-03,
     +     0.13946512744000E-03,0.13853130999000E-03,0.13778625842000E-03,0.13722537079000E-03,0.13684781214000E-03,
     +     0.13665189262000E-03,0.13663547070000E-03,0.13679660198000E-03,0.13713369067000E-03,0.13764893428000E-03,
     +     0.13834229578000E-03,0.13921420467000E-03,0.14026592491000E-03,0.14149969858000E-03,0.14291915497000E-03,
     +     0.14452661212000E-03,0.14632459502000E-03,0.14831666810000E-03,0.15050869521000E-03,0.15290565349000E-03,
     +     0.15551274351000E-03,0.15833502224000E-03,0.16137777987000E-03,0.16464909344000E-03,0.16815675742000E-03,
     +     0.17190725494000E-03,0.17590811881000E-03,0.18016865205000E-03,0.18471311408000E-03,0.18952764202000E-03,
     +     0.19427088842000E-03,0.19540138575000E-03,0.19428473966000E-03,0.19257673146000E-03,0.19049547803000E-03,
     +     0.18802517403000E-03,0.18524655829000E-03,0.18220205068000E-03,0.17894154175000E-03,0.17551666935000E-03,
     +     0.17197687958000E-03,0.16834409901000E-03,0.16465136299000E-03,0.16092916235000E-03,0.15720273970000E-03,
     +     0.15349180711000E-03,0.14981045766000E-03,0.14617288892000E-03,0.14259161220000E-03,0.13907498156000E-03,
     +     0.13562969158000E-03,0.13226184209000E-03,0.12897549631000E-03,0.12577273811000E-03,0.12265436319000E-03,
     +     0.11962033635000E-03,0.11667263158000E-03,0.11380955825000E-03,0.11102926411000E-03,0.10832986376000E-03,
     +     0.10570918286000E-03,0.10316621083000E-03,0.10069819928000E-03,0.98301612783000E-04,0.95972823710000E-04,
     +     0.93711003180000E-04,0.91514411357000E-04,0.89378765474000E-04,0.87300727110000E-04,0.85278349250000E-04,
     +     0.83310301013000E-04,0.81394034974000E-04,0.79526672679000E-04,0.77705645759000E-04,0.75929254172000E-04,
     +     0.74196520318000E-04,0.72505230598000E-04,0.70853345878000E-04,0.69238933275000E-04,0.67661145280000E-04,
     +     0.66119133296000E-04,0.64611134135000E-04,0.63135583752000E-04,0.61691337173000E-04,0.60278272171000E-04,
     +     0.58895347274000E-04,0.57541307995000E-04,0.56215222235000E-04,0.54916530090000E-04,0.53645046853000E-04,
     +     0.52400085098000E-04,0.51180607493000E-04,0.49985895318000E-04,0.48816342381000E-04,0.47671048174000E-04,
     +     0.46549677377000E-04,0.45451895155000E-04,0.44376721648000E-04,0.43324332896000E-04,0.42294636612000E-04,
     +     0.41286982585000E-04,0.40300656744000E-04,0.39335432110000E-04,0.38391537127000E-04,0.37468620617000E-04,
     +     0.36566011264000E-04,0.35683072463000E-04,0.34819747406000E-04,0.33976178890000E-04,0.33151886949000E-04,
     +     0.32346215204000E-04,0.31558651325000E-04,0.30789326978000E-04,0.30037917683000E-04,0.29303942395000E-04,
     +     0.28586935462000E-04,0.27886474673000E-04,0.27202657122000E-04,0.26535082210000E-04,0.25883146235000E-04,
     +     0.25246366538000E-04,0.24624629421000E-04,0.24017856951000E-04,0.23425558741000E-04,0.22847218145000E-04,
     +     0.22282376362000E-04,0.21730989395000E-04,0.21192924243000E-04,0.20667644355000E-04,0.20154676614000E-04,
     +     0.19653762155000E-04,0.19164870338000E-04,0.18687622252000E-04,0.18221649146000E-04,0.17766619383000E-04,
     +     0.17322283932000E-04,0.16888666847000E-04,0.16465333988000E-04,0.16051917951000E-04,0.15648177640000E-04,
     +     0.15254038599000E-04,0.14869356116000E-04,0.14493784878000E-04,0.14127060826000E-04,0.13768965767000E-04,
     +     0.13419433620000E-04,0.13078344922000E-04,0.12745457526000E-04,0.12420471127000E-04,0.12103230081000E-04,
     +     0.11793720741000E-04,0.11491778610000E-04,0.11197179768000E-04,0.10909647141000E-04,0.10629102621000E-04,
     +     0.10355562677000E-04,0.10088813549000E-04,0.98286236160000E-05,0.95748177218000E-05,0.93273726935000E-05,
     +     0.90860968492000E-05,0.88508475841000E-05,0.86214503431000E-05,0.83976852932000E-05,0.81795748738000E-05,
     +     0.79669170309000E-05,0.77594784954000E-05,0.75570544146000E-05,0.73595405651000E-05,0.71668320455000E-05,
     +     0.69787041434000E-05,0.67949249968000E-05,0.66152571905000E-05,0.64396144493000E-05,0.62678111840000E-05,
     +     0.60995819868000E-05,0.59346691447000E-05,0.57728461957000E-05,0.56143300399000E-05,0.54564870079000E-05,
     +     0.53075442983000E-05      /)

C Figure 2_7 Reflected Pressure Pr/W**(1/3) : g,cm,mus,Mbar
             PBLAST_DATA%Pr = (/
     +     0.65377435351000E-02,0.63990109044000E-02,0.62628593274000E-02,0.61318373118000E-02,0.60069744773000E-02,
     +     0.58874419106000E-02,0.57720063815000E-02,0.56598285372000E-02,0.55502891498000E-02,0.54430179634000E-02,
     +     0.53374523647000E-02,0.52331692183000E-02,0.51298477959000E-02,0.50272372394000E-02,0.49252487652000E-02,
     +     0.48236758917000E-02,0.47223991104000E-02,0.46213765299000E-02,0.45205687955000E-02,0.44199860124000E-02,
     +     0.43196539355000E-02,0.42195980297000E-02,0.41198604169000E-02,0.40205336327000E-02,0.39216839927000E-02,
     +     0.38233874686000E-02,0.37257315411000E-02,0.36288013903000E-02,0.35326923797000E-02,0.34374962444000E-02,
     +     0.33432899648000E-02,0.32501457844000E-02,0.31581565103000E-02,0.30673824532000E-02,0.29778994713000E-02,
     +     0.28897723702000E-02,0.28030323927000E-02,0.27177518123000E-02,0.26339773340000E-02,0.25517337104000E-02,
     +     0.24710416267000E-02,0.23919269767000E-02,0.23144327330000E-02,0.22385646701000E-02,0.21643252052000E-02,
     +     0.20917127673000E-02,0.20207402597000E-02,0.19514177991000E-02,0.18837263230000E-02,0.18176499083000E-02,
     +     0.17531683153000E-02,0.16902987570000E-02,0.16290207421000E-02,0.15693053114000E-02,0.15111278924000E-02,
     +     0.14544621900000E-02,0.13993155885000E-02,0.13456660178000E-02,0.12934792732000E-02,0.12427132752000E-02,
     +     0.11933523606000E-02,0.11454112094000E-02,0.10988477314000E-02,0.10536222858000E-02,0.10097106014000E-02,
     +     0.96711064351000E-03,0.92580724326000E-03,0.88576804891000E-03,0.84696030596000E-03,0.80935818804000E-03,
     +     0.77296898165000E-03,0.73777102759000E-03,0.70373088322000E-03,0.67081816273000E-03,0.63902115274000E-03,
     +     0.60833778220000E-03,0.57873897418000E-03,0.55019854491000E-03,0.52268982309000E-03,0.49620471686000E-03,
     +     0.47073468027000E-03,0.44625430041000E-03,0.42273194518000E-03,0.40014094677000E-03,0.37848595372000E-03,
     +     0.35773847546000E-03,0.33787370352000E-03,0.31886685537000E-03,0.30069230737000E-03,0.28335098477000E-03,
     +     0.26680918260000E-03,0.25104017155000E-03,0.23601987374000E-03,0.22172784035000E-03,0.20815413235000E-03,
     +     0.19526773040000E-03,0.18304096636000E-03,0.17145013988000E-03,0.16047989300000E-03,0.15011071392000E-03,
     +     0.14031437562000E-03,0.13106161721000E-03,0.12233188864000E-03,0.11411551229000E-03,0.10638605302000E-03,
     +     0.99116778030000E-04,0.92283249760000E-04,0.85869632208000E-04,0.79861182437000E-04,0.74234212836000E-04,
     +     0.68965771369000E-04,0.64034256747000E-04,0.59429417523000E-04,0.55133973089000E-04,0.51127437367000E-04,
     +     0.47390620316000E-04,0.43907577670000E-04,0.40670099942000E-04,0.37661052483000E-04,0.34863853234000E-04,
     +     0.32263766337000E-04,0.29850095438000E-04,0.27614024814000E-04,0.25542037617000E-04,0.23621617815000E-04,
     +     0.21841292403000E-04,0.20194680554000E-04,0.18673096675000E-04,0.17266207208000E-04,0.15964797855000E-04,
     +     0.14761188241000E-04,0.13650890879000E-04,0.12626493104000E-04,0.11680712474000E-04,0.10806965294000E-04,
     +     0.10000383733000E-04,0.92574427702000E-05,0.85725128177000E-05,0.79405296676000E-05,0.73570133955000E-05,
     +     0.68192096478000E-05,0.63239171549000E-05,0.58672467226000E-05,0.54457911219000E-05,0.50566905854000E-05,
     +     0.46982682655000E-05,0.43679472874000E-05,0.40631434947000E-05,0.37815907378000E-05,0.35215911762000E-05,
     +     0.32819233309000E-05,0.30607240063000E-05,0.28563176191000E-05,0.26672139808000E-05,0.24924758086000E-05,
     +     0.23311239612000E-05,0.21818971509000E-05,0.20436986391000E-05,0.19156100711000E-05,0.17971071694000E-05,
     +     0.16873867168000E-05,0.15856489354000E-05,0.14911927316000E-05,0.14034593792000E-05,0.13220973018000E-05,
     +     0.12465433921000E-05,0.11762603751000E-05,0.11107977619000E-05,0.10498897627000E-05,0.99320044794000E-06,
     +     0.94036517373000E-06,0.89106692978000E-06,0.84499590486000E-06,0.80199249321000E-06,0.76183205029000E-06,
     +     0.72425863313000E-06,0.68904777793000E-06,0.65603246710000E-06,0.62511033028000E-06,0.59610856566000E-06,
     +     0.56886115698000E-06,0.54322125418000E-06,0.51909114992000E-06,0.49639379716000E-06,0.47500880947000E-06,
     +     0.45482439006000E-06,0.43574571861000E-06,0.41772446520000E-06,0.40068973001000E-06,0.38455891370000E-06,
     +     0.36926061439000E-06,0.35473776657000E-06,0.34095784266000E-06,0.32786541744000E-06,0.31540620546000E-06,
     +     0.30353198967000E-06,0.29220957237000E-06,0.28141494231000E-06,0.27110708707000E-06,0.26124967189000E-06,
     +     0.25181112004000E-06,0.24277388613000E-06,0.23411634742000E-06,0.22581036156000E-06,0.21783173675000E-06,
     +     0.21016136722000E-06,0.20278978158000E-06,0.19569836461000E-06,0.18886795929000E-06,0.18228305244000E-06,
     +     0.17593339560000E-06,0.16981122948000E-06,0.16390297747000E-06,0.15819716050000E-06,0.15268330115000E-06,
     +     0.14735612014000E-06,0.14220926598000E-06,0.13723284571000E-06,0.13241936419000E-06,0.12776295870000E-06,
     +     0.12326110840000E-06,0.11890767766000E-06,0.11469663363000E-06,0.11062284593000E-06,0.10668238217000E-06,
     +     0.10287408158000E-06,0.99193354174000E-07,0.95635333161000E-07,0.92195812154000E-07,0.88873697645000E-07,
     +     0.85666831387000E-07,0.82571337841000E-07,0.79583710229000E-07,0.76700516106000E-07,0.73921417036000E-07,
     +     0.71243389691000E-07,0.68663156655000E-07,0.66177626830000E-07,0.63783964410000E-07,0.61481772454000E-07,
     +     0.59267914610000E-07,0.57138867458000E-07,0.55091405014000E-07,0.53123891331000E-07,0.51234686396000E-07,
     +     0.49420531748000E-07,0.47678154560000E-07,0.46004252276000E-07,0.44397636561000E-07,0.42855822174000E-07,
     +     0.41375294118000E-07,0.39952762924000E-07,0.38585465842000E-07,0.37276312963000E-07,0.35991594474000E-07,
     +     0.34838519952000E-07      /)

C Figure 2_7 Incident Pressure Pso/W**(1/3) : g,cm,mus,Mbar
             PBLAST_DATA%Pso = (/
     +     0.50457104491000E-03,0.49812560374000E-03,0.49148671257000E-03,0.48465143737000E-03,0.47761065595000E-03,
     +     0.47039912890000E-03,0.46303445186000E-03,0.45555007580000E-03,0.44796704479000E-03,0.44030410791000E-03,
     +     0.43258099777000E-03,0.42481696902000E-03,0.41702907706000E-03,0.40922899202000E-03,0.40143238986000E-03,
     +     0.39365130028000E-03,0.38589545130000E-03,0.37817520316000E-03,0.37049844301000E-03,0.36287292151000E-03,
     +     0.35530559037000E-03,0.34780192381000E-03,0.34036618554000E-03,0.33300467768000E-03,0.32572053712000E-03,
     +     0.31851555521000E-03,0.31139228850000E-03,0.30435352566000E-03,0.29740192245000E-03,0.29053895374000E-03,
     +     0.28376432476000E-03,0.27707741296000E-03,0.27048104883000E-03,0.26397594975000E-03,0.25756107493000E-03,
     +     0.25123581593000E-03,0.24499964019000E-03,0.23885489980000E-03,0.23279968968000E-03,0.22683369374000E-03,
     +     0.22095613950000E-03,0.21516482554000E-03,0.20946331425000E-03,0.20385003914000E-03,0.19832261263000E-03,
     +     0.19288063237000E-03,0.18752564538000E-03,0.18225674452000E-03,0.17707385712000E-03,0.17197608065000E-03,
     +     0.16696132626000E-03,0.16203258654000E-03,0.15718902219000E-03,0.15242982138000E-03,0.14775461128000E-03,
     +     0.14316269941000E-03,0.13865608744000E-03,0.13423432802000E-03,0.12989669841000E-03,0.12564266116000E-03,
     +     0.12147274133000E-03,0.11738859133000E-03,0.11338862673000E-03,0.10947297120000E-03,0.10564192251000E-03,
     +     0.10189498932000E-03,0.98233709853000E-04,0.94657417237000E-04,0.91164913832000E-04,0.87756191965000E-04,
     +     0.84432715892000E-04,0.81194063785000E-04,0.78039139297000E-04,0.74967207008000E-04,0.71978550111000E-04,
     +     0.69073553125000E-04,0.66251113418000E-04,0.63510396449000E-04,0.60850156598000E-04,0.58270486102000E-04,
     +     0.55771581842000E-04,0.53352291842000E-04,0.51010750535000E-04,0.48745387622000E-04,0.46557202751000E-04,
     +     0.44444387400000E-04,0.42405662968000E-04,0.40439570891000E-04,0.38544251883000E-04,0.36720419783000E-04,
     +     0.34965614406000E-04,0.33278038213000E-04,0.31656194111000E-04,0.30098690202000E-04,0.28605097008000E-04,
     +     0.27173098788000E-04,0.25800742951000E-04,0.24486386216000E-04,0.23228930073000E-04,0.22027116371000E-04,
     +     0.20878843607000E-04,0.19781817072000E-04,0.18734543445000E-04,0.17736464926000E-04,0.16785671578000E-04,
     +     0.15879897260000E-04,0.15017155163000E-04,0.14196593519000E-04,0.13416940486000E-04,0.12676224971000E-04,
     +     0.11972703960000E-04,0.11304609833000E-04,0.10671159240000E-04,0.10070889959000E-04,0.95021561164000E-05,
     +     0.89633360657000E-05,0.84529682771000E-05,0.79704961444000E-05,0.75144019548000E-05,0.70831631200000E-05,
     +     0.66754349453000E-05,0.62903037053000E-05,0.59269858684000E-05,0.55842060575000E-05,0.52607595064000E-05,
     +     0.49554851042000E-05,0.46678115073000E-05,0.43969013764000E-05,0.41416770546000E-05,0.39011633021000E-05,
     +     0.36745438697000E-05,0.34613673129000E-05,0.32608459988000E-05,0.30721512383000E-05,0.28944980800000E-05,
     +     0.27273389254000E-05,0.25702958494000E-05,0.24226794168000E-05,0.22838495467000E-05,0.21532273813000E-05,
     +     0.20304847822000E-05,0.19152228662000E-05,0.18069007514000E-05,0.17050422426000E-05,0.16092514877000E-05,
     +     0.15193068052000E-05,0.14348320251000E-05,0.13554370206000E-05,0.12807677664000E-05,0.12105583384000E-05,
     +     0.11446364049000E-05,0.10826980801000E-05,0.10244519988000E-05,0.96963983210000E-06,0.91811877663000E-06,
     +     0.86970602080000E-06,0.82417363879000E-06,0.78132272636000E-06,0.74097191385000E-06,0.70303075623000E-06,
     +     0.66733659643000E-06,0.63372699660000E-06,0.60205860882000E-06,0.57221234826000E-06,0.54411769185000E-06,
     +     0.51765212379000E-06,0.49269396563000E-06,0.46913763912000E-06,0.44692458060000E-06,0.42597697625000E-06,
     +     0.40620703520000E-06,0.38753540975000E-06,0.36988158657000E-06,0.35320841310000E-06,0.33745844270000E-06,
     +     0.32256401338000E-06,0.30846257740000E-06,0.29510664589000E-06,0.28247219019000E-06,0.27050974738000E-06,
     +     0.25916994460000E-06,0.24840879029000E-06,0.23819760759000E-06,0.22851515729000E-06,0.21932389777000E-06,
     +     0.21058764411000E-06,0.20227580577000E-06,0.19437438366000E-06,0.18685995870000E-06,0.17970512824000E-06,
     +     0.17288548234000E-06,0.16638082938000E-06,0.16018165714000E-06,0.15426793753000E-06,0.14861956188000E-06,
     +     0.14321909823000E-06,0.13805467748000E-06,0.13311747872000E-06,0.12839233531000E-06,0.12386531316000E-06,
     +     0.11952339208000E-06,0.11535956237000E-06,0.11136583151000E-06,0.10753105060000E-06,0.10384468514000E-06,
     +     0.10029830856000E-06,0.96888325226000E-07,0.93606819583000E-07,0.90445407282000E-07,0.87397022639000E-07,
     +     0.84456898173000E-07,0.81622092954000E-07,0.78885672228000E-07,0.76241669090000E-07,0.73685657985000E-07,
     +     0.71215609179000E-07,0.68827277657000E-07,0.66516250661000E-07,0.64278979765000E-07,0.62111778332000E-07,
     +     0.60013786042000E-07,0.57981886855000E-07,0.56012845418000E-07,0.54103951549000E-07,0.52253194361000E-07,
     +     0.50459850895000E-07,0.48721752181000E-07,0.47036640908000E-07,0.45402397684000E-07,0.43818297429000E-07,
     +     0.42283597696000E-07,0.40796617858000E-07,0.39355797742000E-07,0.37959791581000E-07,0.36608560155000E-07,
     +     0.35301062538000E-07,0.34036159612000E-07,0.32812768355000E-07,0.31629978248000E-07,0.30487923583000E-07,
     +     0.29385716371000E-07,0.28322362795000E-07,0.27296919175000E-07,0.26309099090000E-07,0.25358811516000E-07,
     +     0.24445211578000E-07,0.23567465183000E-07,0.22724820351000E-07,0.21917375323000E-07,0.21144634254000E-07,
     +     0.20405786438000E-07,0.19700173870000E-07,0.19027321245000E-07,0.18389463417000E-07,0.17772017546000E-07,
     +     0.17222643810000E-07      /)

C Figure 2_7 Characteristic Time T0/W**(1/3) : g,cm,mus,Mbar
             PBLAST_DATA%t0 = (/
     +     0.26915250134000E+02,0.26937738651000E+02,0.26955155348000E+02,0.26967184234000E+02,0.26973501300000E+02,
     +     0.26973775158000E+02,0.26967667809000E+02,0.26954835552000E+02,0.26934930064000E+02,0.26907599651000E+02,
     +     0.26872490706000E+02,0.26829249386000E+02,0.26777523537000E+02,0.26716964895000E+02,0.26647231576000E+02,
     +     0.26567990916000E+02,0.26478922667000E+02,0.26379722602000E+02,0.26270106563000E+02,0.26149815009000E+02,
     +     0.26018618091000E+02,0.25876321336000E+02,0.25722771968000E+02,0.25557865963000E+02,0.25381555872000E+02,
     +     0.25193859522000E+02,0.24994869651000E+02,0.24784764582000E+02,0.24563820036000E+02,0.24332422176000E+02,
     +     0.24091082017000E+02,0.23840451314000E+02,0.23581340083000E+02,0.23314735882000E+02,0.23041825043000E+02,
     +     0.22764016014000E+02,0.22482965008000E+02,0.22200604184000E+02,0.21919172566000E+02,0.21641249973000E+02,
     +     0.21369794216000E+02,0.21108181861000E+02,0.20860252884000E+02,0.20628743999000E+02,0.20413157286000E+02,
     +     0.20212309291000E+02,0.20024336197000E+02,0.19847290276000E+02,0.19679454537000E+02,0.19519176754000E+02,
     +     0.19365282465000E+02,0.19216948203000E+02,0.19073633472000E+02,0.18935591050000E+02,0.18803255529000E+02,
     +     0.18677294868000E+02,0.18559078435000E+02,0.18450073080000E+02,0.18351891285000E+02,0.18266576472000E+02,
     +     0.18196306879000E+02,0.18143033567000E+02,0.18109041325000E+02,0.18096647534000E+02,0.18107942496000E+02,
     +     0.18145146556000E+02,0.18210292079000E+02,0.18305420579000E+02,0.18432743037000E+02,0.18594228081000E+02,
     +     0.18791764704000E+02,0.19027348994000E+02,0.19303073835000E+02,0.19621275870000E+02,0.19984016372000E+02,
     +     0.20393840703000E+02,0.20853683831000E+02,0.21366553379000E+02,0.21936129958000E+02,0.22566787309000E+02,
     +     0.23263373819000E+02,0.24031745471000E+02,0.24879061500000E+02,0.25814037437000E+02,0.26846887246000E+02,
     +     0.27989119689000E+02,0.29255581850000E+02,0.30662970218000E+02,0.32232677333000E+02,0.33988388116000E+02,
     +     0.35958648524000E+02,0.38178254388000E+02,0.40687197015000E+02,0.43531045698000E+02,0.46763227291000E+02,
     +     0.50446419378000E+02,0.54649328633000E+02,0.59446576109000E+02,0.64920133698000E+02,0.71150228181000E+02,
     +     0.78210090804000E+02,0.86155760192000E+02,0.95010901878000E+02,0.10473432123000E+03,0.11525163025000E+03,
     +     0.12612796434000E+03,0.13710148132000E+03,0.14742186245000E+03,0.15610990887000E+03,0.16178976538000E+03,
     +     0.16622218744000E+03,0.17074693027000E+03,0.17408278815000E+03,0.17681780010000E+03,0.17897974667000E+03,
     +     0.18060817422000E+03,0.18170296329000E+03,0.18225667274000E+03,0.18227104392000E+03,0.18177527409000E+03,
     +     0.18082758241000E+03,0.17950891813000E+03,0.17791873770000E+03,0.17619273840000E+03,0.17440901935000E+03,
     +     0.17268800579000E+03,0.17112868375000E+03,0.16979722522000E+03,0.16874623601000E+03,0.16800792928000E+03,
     +     0.16759899122000E+03,0.16751816046000E+03,0.16775750913000E+03,0.16830108402000E+03,0.16913828254000E+03,
     +     0.17026827385000E+03,0.17170703641000E+03,0.17349544767000E+03,0.17569861984000E+03,0.17840776472000E+03,
     +     0.18173744266000E+03,0.18580433968000E+03,0.19070357957000E+03,0.19645689712000E+03,0.20299226909000E+03,
     +     0.20987480124000E+03,0.21668068560000E+03,0.22304270781000E+03,0.22902190332000E+03,0.23472274795000E+03,
     +     0.24013657512000E+03,0.24528533487000E+03,0.25018623192000E+03,0.25485898942000E+03,0.25932350634000E+03,
     +     0.26359678465000E+03,0.26769934871000E+03,0.27164956051000E+03,0.27546157460000E+03,0.27915340942000E+03,
     +     0.28273997311000E+03,0.28623641743000E+03,0.28965464294000E+03,0.29300738944000E+03,0.29630578731000E+03,
     +     0.29956080364000E+03,0.30278072054000E+03,0.30597201423000E+03,0.30914388703000E+03,0.31230266921000E+03,
     +     0.31545143065000E+03,0.31859620454000E+03,0.32174111264000E+03,0.32488794860000E+03,0.32804139477000E+03,
     +     0.33120142924000E+03,0.33437183903000E+03,0.33755151380000E+03,0.34074060323000E+03,0.34394219485000E+03,
     +     0.34715483089000E+03,0.35037735637000E+03,0.35361099361000E+03,0.35685424622000E+03,0.36010678425000E+03,
     +     0.36336862619000E+03,0.36663765860000E+03,0.36991401035000E+03,0.37319692761000E+03,0.37648468061000E+03,
     +     0.37977705602000E+03,0.38307381660000E+03,0.38637404100000E+03,0.38967690190000E+03,0.39298291777000E+03,
     +     0.39629246912000E+03,0.39960529383000E+03,0.40292079236000E+03,0.40623916582000E+03,0.40956234064000E+03,
     +     0.41288974290000E+03,0.41622320469000E+03,0.41956337910000E+03,0.42291058065000E+03,0.42626472923000E+03,
     +     0.42963005446000E+03,0.43300650571000E+03,0.43639519497000E+03,0.43979641288000E+03,0.44321294826000E+03,
     +     0.44664720926000E+03,0.45009826593000E+03,0.45356808427000E+03,0.45705864429000E+03,0.46057047693000E+03,
     +     0.46410412238000E+03,0.46766057348000E+03,0.47124182940000E+03,0.47484551617000E+03,0.47847376746000E+03,
     +     0.48212635132000E+03,0.48580133643000E+03,0.48949986903000E+03,0.49322196284000E+03,0.49696459838000E+03,
     +     0.50072655207000E+03,0.50450721105000E+03,0.50830391482000E+03,0.51211498032000E+03,0.51593821534000E+03,
     +     0.51976999183000E+03,0.52360870801000E+03,0.52745114026000E+03,0.53129399577000E+03,0.53513379008000E+03,
     +     0.53896962928000E+03,0.54279811220000E+03,0.54661571662000E+03,0.55042143113000E+03,0.55421453694000E+03,
     +     0.55799252222000E+03,0.56175574713000E+03,0.56550666293000E+03,0.56924422361000E+03,0.57297476594000E+03,
     +     0.57670231948000E+03,0.58043297630000E+03,0.58417388026000E+03,0.58793828018000E+03,0.59174009996000E+03,
     +     0.59559288524000E+03,0.59951690526000E+03,0.60354147138000E+03,0.60768403414000E+03,0.61199123165000E+03,
     +     0.61640408737000E+03      /)

C Figure 2_7 Arrival Time TA/W**(1/3) : g,cm,mus,Mbar
             PBLAST_DATA%ta = (/
     +     0.73009651097000E+00,0.74717753694000E+00,0.76511807958000E+00,0.78400414463000E+00,0.80389279569000E+00,
     +     0.82479524802000E+00,0.84672839561000E+00,0.86971684946000E+00,0.89377634767000E+00,0.91892962351000E+00,
     +     0.94520760261000E+00,0.97263023267000E+00,0.10012214637000E+01,0.10310214226000E+01,0.10620494769000E+01,
     +     0.10943436606000E+01,0.11279387694000E+01,0.11628640886000E+01,0.11991676947000E+01,0.12368873773000E+01,
     +     0.12760630715000E+01,0.13167361672000E+01,0.13589538184000E+01,0.14027780850000E+01,0.14482543355000E+01,
     +     0.14954326793000E+01,0.15443706330000E+01,0.15951263482000E+01,0.16477738891000E+01,0.17023739396000E+01,
     +     0.17590051456000E+01,0.18177484991000E+01,0.18786613194000E+01,0.19418438840000E+01,0.20073752359000E+01,
     +     0.20753530047000E+01,0.21458937747000E+01,0.22190711201000E+01,0.22949992715000E+01,0.23738074590000E+01,
     +     0.24556234927000E+01,0.25405737041000E+01,0.26287751925000E+01,0.27203797770000E+01,0.28155504077000E+01,
     +     0.29144443245000E+01,0.30172283057000E+01,0.31240789764000E+01,0.32351873339000E+01,0.33507595175000E+01,
     +     0.34710103714000E+01,0.35961408728000E+01,0.37264064570000E+01,0.38620506579000E+01,0.40033262602000E+01,
     +     0.41505327545000E+01,0.43039487743000E+01,0.44638748899000E+01,0.46306441909000E+01,0.48046227212000E+01,
     +     0.49861726894000E+01,0.51756529237000E+01,0.53734725000000E+01,0.55800760690000E+01,0.57959300633000E+01,
     +     0.60215005851000E+01,0.62572739950000E+01,0.65038027905000E+01,0.67616673503000E+01,0.70314580046000E+01,
     +     0.73137952445000E+01,0.76093356951000E+01,0.79187904316000E+01,0.82429249045000E+01,0.85825158626000E+01,
     +     0.89383427577000E+01,0.93113250677000E+01,0.97023884461000E+01,0.10112507708000E+02,0.10542761735000E+02,
     +     0.10994127571000E+02,0.11467719650000E+02,0.11964858578000E+02,0.12486886468000E+02,0.13034968716000E+02,
     +     0.13610686105000E+02,0.14215425511000E+02,0.14850727172000E+02,0.15518552639000E+02,0.16220156221000E+02,
     +     0.16957788793000E+02,0.17733412288000E+02,0.18548771290000E+02,0.19406490297000E+02,0.20308373671000E+02,
     +     0.21257066517000E+02,0.22255176019000E+02,0.23305042602000E+02,0.24409905760000E+02,0.25572409326000E+02,
     +     0.26795668781000E+02,0.28083187680000E+02,0.29438212978000E+02,0.30864206702000E+02,0.32364915055000E+02,
     +     0.33944578617000E+02,0.35607414786000E+02,0.37357283220000E+02,0.39199048061000E+02,0.41137530831000E+02,
     +     0.43177571438000E+02,0.45324565785000E+02,0.47583898723000E+02,0.49961290086000E+02,0.52462757520000E+02,
     +     0.55094643443000E+02,0.57863487154000E+02,0.60775541229000E+02,0.63838336941000E+02,0.67059529121000E+02,
     +     0.70446555596000E+02,0.74007388050000E+02,0.77750429442000E+02,0.81684120722000E+02,0.85817404746000E+02,
     +     0.90159907620000E+02,0.94721001609000E+02,0.99510575064000E+02,0.10453927454000E+03,0.10981776002000E+03,
     +     0.11535677699000E+03,0.12116817880000E+03,0.12726376545000E+03,0.13365530806000E+03,0.14035540575000E+03,
     +     0.14737724472000E+03,0.15473245506000E+03,0.16243651907000E+03,0.17050364207000E+03,0.17894585506000E+03,
     +     0.18777849854000E+03,0.19701809844000E+03,0.20667993939000E+03,0.21677760073000E+03,0.22732660376000E+03,
     +     0.23834582605000E+03,0.24985017510000E+03,0.26185717424000E+03,0.27438399632000E+03,0.28744511374000E+03,
     +     0.30106192408000E+03,0.31525152967000E+03,0.33002991223000E+03,0.34541553061000E+03,0.36142816405000E+03,
     +     0.37808602883000E+03,0.39540821833000E+03,0.41341316463000E+03,0.43211797791000E+03,0.45154293106000E+03,
     +     0.47170889994000E+03,0.49263513839000E+03,0.51433853963000E+03,0.53683771752000E+03,0.56015658423000E+03,
     +     0.58431164843000E+03,0.60932531953000E+03,0.63521601276000E+03,0.66199395240000E+03,0.68969683251000E+03,
     +     0.71833661730000E+03,0.74792461304000E+03,0.77848898663000E+03,0.81005351429000E+03,0.84263364011000E+03,
     +     0.87624816701000E+03,0.91092275354000E+03,0.94667870423000E+03,0.98353278545000E+03,0.10215042446000E+04,
     +     0.10606178601000E+04,0.11009002691000E+04,0.11423770428000E+04,0.11850627500000E+04,0.12289778517000E+04,
     +     0.12741556347000E+04,0.13206231623000E+04,0.13684011257000E+04,0.14175139188000E+04,0.14679939475000E+04,
     +     0.15198766960000E+04,0.15731875160000E+04,0.16279407481000E+04,0.16841894782000E+04,0.17419728747000E+04,
     +     0.18013129740000E+04,0.18622489342000E+04,0.19248299910000E+04,0.19890815163000E+04,0.20550516637000E+04,
     +     0.21228023646000E+04,0.21923622369000E+04,0.22637863858000E+04,0.23371413280000E+04,0.24124735637000E+04,
     +     0.24898259884000E+04,0.25692701891000E+04,0.26508802640000E+04,0.27347192684000E+04,0.28208490815000E+04,
     +     0.29093520035000E+04,0.30003025432000E+04,0.30937806724000E+04,0.31898694792000E+04,0.32886541731000E+04,
     +     0.33902192999000E+04,0.34946683301000E+04,0.36021130153000E+04,0.37126518630000E+04,0.38263768266000E+04,
     +     0.39433810277000E+04,0.40638036111000E+04,0.41877675750000E+04,0.43153687858000E+04,0.44467331977000E+04,
     +     0.45819987512000E+04,0.47212816031000E+04,0.48647030793000E+04,0.50124052207000E+04,0.51645180288000E+04,
     +     0.53211679204000E+04,0.54824810963000E+04,0.56485908675000E+04,0.58196243884000E+04,0.59957012358000E+04,
     +     0.61769496085000E+04,0.63634753921000E+04,0.65553777709000E+04,0.67527563135000E+04,0.69557047590000E+04,
     +     0.71643082033000E+04,0.73785857416000E+04,0.75986175623000E+04,0.78243947379000E+04,0.80559524142000E+04,
     +     0.82932503186000E+04,0.85362075939000E+04,0.87847098407000E+04,0.90386790783000E+04,0.92979545908000E+04,
     +     0.95623075120000E+04,0.98314489319000E+04,0.10105020633000E+05,0.10383194195000E+05,0.10663316073000E+05,
     +     0.10949912549000E+05      /)

C Figure 2_7 Scaled Negative Reflected impulse Ir- : g,cm,mus,Mbar
            PBLAST_DATA%Irefl_ = (
     +          /4.8971553528e+02, 4.8984536052e+02, 4.8991542491e+02, 4.8989847810e+02, 4.8982527409e+02,
     +           4.8973472552e+02, 4.8967287663e+02, 4.8969376748e+02, 4.8986038778e+02, 4.9015567223e+02,
     +           4.9049540118e+02, 4.9086455461e+02, 4.9124532849e+02, 4.9161666828e+02, 4.9197507913e+02,
     +           4.9235110072e+02, 4.9274071772e+02, 4.9313750077e+02, 4.9353385482e+02, 4.9392087909e+02,
     +           4.9428821259e+02, 4.9462386380e+02, 4.9491621831e+02, 4.9516584991e+02, 4.9537445025e+02,
     +           4.9554382658e+02, 4.9567649134e+02, 4.9577576085e+02, 4.9584586487e+02, 4.9589206800e+02,
     +           4.9592080423e+02, 4.9593982583e+02, 4.9595836792e+02, 4.9598128140e+02, 4.9598515021e+02,
     +           4.9597261059e+02, 4.9595269494e+02, 4.9593612175e+02, 4.9593550097e+02, 4.9596556076e+02,
     +           4.9605391322e+02, 4.9621174282e+02, 4.9641901880e+02, 4.9665152286e+02, 4.9688049046e+02,
     +           4.9707205654e+02, 4.9718664363e+02, 4.9718802112e+02, 4.9713737576e+02, 4.9705542398e+02,
     +           4.9694183240e+02, 4.9679648093e+02, 4.9661949782e+02, 4.9641129881e+02, 4.9617263069e+02,
     +           4.9590506218e+02, 4.9562032256e+02, 4.9532239367e+02, 4.9501025068e+02, 4.9468277204e+02,
     +           4.9433873025e+02, 4.9397206762e+02, 4.9354960562e+02, 4.9308384843e+02, 4.9260150412e+02,
     +           4.9213416125e+02, 4.9171887893e+02, 4.9142813573e+02, 4.9129005593e+02, 4.9125285792e+02,
     +           4.9125424474e+02, 4.9122038399e+02, 4.9106509457e+02, 4.9080828094e+02, 4.9050102958e+02,
     +           4.9013257921e+02, 4.8969074476e+02, 4.8916088508e+02, 4.8849555747e+02, 4.8767166932e+02,
     +           4.8668618866e+02, 4.8553687907e+02, 4.8422258553e+02, 4.8274407114e+02, 4.8108022805e+02,
     +           4.7919943857e+02, 4.7706671873e+02, 4.7471592876e+02, 4.7219325982e+02, 4.6951190435e+02,
     +           4.6670088405e+02, 4.6372832692e+02, 4.6047612938e+02, 4.5678671686e+02, 4.5245941162e+02,
     +           4.4781531450e+02, 4.4334240995e+02, 4.3900976812e+02, 4.3458509127e+02, 4.3012664109e+02,
     +           4.2569975136e+02, 4.2122926255e+02, 4.1664014640e+02, 4.1191339193e+02, 4.0701265443e+02,
     +           4.0195493276e+02, 3.9680638785e+02, 3.9163674053e+02, 3.8642517067e+02, 3.8111531426e+02,
     +           3.7564722594e+02, 3.6992644330e+02, 3.6404993447e+02, 3.5827898028e+02, 3.5266693962e+02,
     +           3.4705528790e+02, 3.4126688980e+02, 3.3526886200e+02, 3.2911319257e+02, 3.2285732744e+02,
     +           3.1664598217e+02, 3.1040379659e+02, 3.0412739265e+02, 2.9784771001e+02, 2.9151786550e+02,
     +           2.8531417111e+02, 2.7948862007e+02, 2.7399461500e+02, 2.6721222724e+02, 2.6051073506e+02,
     +           2.5479461722e+02, 2.4922014866e+02, 2.4361229640e+02, 2.3798350999e+02, 2.3267308372e+02,
     +           2.2742938043e+02, 2.2182895737e+02, 2.1592725395e+02, 2.1030539233e+02, 2.0541234187e+02,
     +           2.0090536302e+02, 1.9634334724e+02, 1.9165983733e+02, 1.8685707910e+02, 1.8204217171e+02,
     +           1.7750123968e+02, 1.7340633852e+02, 1.6945061441e+02, 1.6538330635e+02, 1.6126472675e+02,
     +           1.5713477109e+02, 1.5303598183e+02, 1.4898307927e+02, 1.4508182167e+02, 1.4149566581e+02,
     +           1.3806661567e+02, 1.3464389765e+02, 1.3120502252e+02, 1.2772121108e+02, 1.2420376265e+02,
     +           1.2071569752e+02, 1.1744130943e+02, 1.1452314032e+02, 1.1182347057e+02, 1.0920642937e+02,
     +           1.0653350359e+02, 1.0379691466e+02, 1.0100292852e+02, 9.8234642150e+01, 9.5720653447e+01,
     +           9.3369352953e+01, 9.1076671409e+01, 8.8939695460e+01, 8.6967566560e+01, 8.4963987015e+01,
     +           8.2918433577e+01, 8.0831454321e+01, 7.8740125651e+01, 7.6812725737e+01, 7.5042660111e+01,
     +           7.3365725976e+01, 7.1715826987e+01, 7.0086235305e+01, 6.8473960489e+01, 6.6875098278e+01,
     +           6.5271118503e+01, 6.3652053642e+01, 6.2059886544e+01, 6.0545044303e+01, 5.9148686431e+01,
     +           5.7819074307e+01, 5.6533042688e+01, 5.5273062753e+01, 5.4006469374e+01, 5.2719547677e+01,
     +           5.1457725490e+01, 5.0275774623e+01, 4.9177032854e+01, 4.8103878976e+01, 4.7049672514e+01,
     +           4.6006661672e+01, 4.4964631668e+01, 4.3905677094e+01, 4.2881466217e+01, 4.1944745684e+01,
     +           4.1042302766e+01, 4.0158665493e+01, 3.9275601992e+01, 3.8389281627e+01, 3.7509516304e+01,
     +           3.6642181357e+01, 3.5796735328e+01, 3.4984877248e+01, 3.4201252487e+01, 3.3438884607e+01,
     +           3.2696254450e+01, 3.1970579778e+01, 3.1246434226e+01, 3.0527103749e+01, 2.9825730459e+01,
     +           2.9145355850e+01, 2.8476588892e+01, 2.7832104201e+01, 2.7202958907e+01, 2.6583694720e+01,
     +           2.5962588820e+01, 2.5377208597e+01, 2.4829256797e+01, 2.4278814568e+01, 2.3717335620e+01,
     +           2.3139989928e+01, 2.2546939401e+01, 2.1959572851e+01, 2.1501794512e+01, 2.1093330311e+01,
     +           2.0647770119e+01, 2.0201350447e+01, 1.9766560745e+01, 1.9333222618e+01, 1.8901110248e+01,
     +           1.8471828162e+01, 1.8047184805e+01, 1.7629213285e+01, 1.7220194066e+01, 1.6822525044e+01,
     +           1.6435183244e+01, 1.6053499654e+01, 1.5669677484e+01, 1.5274064913e+01, 1.4896990620e+01,
     +           1.4572867054e+01, 1.4277596203e+01, 1.3991721986e+01, 1.3700471017e+01, 1.3401103936e+01,
     +           1.3099532364e+01/)

C Scaled Negative Incoming impulse Is- : g,cm,mus,Mbar
            PBLAST_DATA%Iso_ = (
     +          /4.8939313950e+02, 4.8960281742e+02, 4.8977560515e+02, 4.8974334113e+02, 4.8957242831e+02,
     +           4.8938996121e+02, 4.8934593127e+02, 4.8958232707e+02, 4.9006248153e+02, 4.9071841925e+02,
     +           4.9147411702e+02, 4.9223909653e+02, 4.9290665585e+02, 4.9335191684e+02, 4.9350577837e+02,
     +           4.9361252987e+02, 4.9371217512e+02, 4.9381106449e+02, 4.9391670873e+02, 4.9403791966e+02,
     +           4.9418336792e+02, 4.9434724878e+02, 4.9452394176e+02, 4.9470871205e+02, 4.9489592629e+02,
     +           4.9507894290e+02, 4.9524999120e+02, 4.9540003783e+02, 4.9552206519e+02, 4.9563642006e+02,
     +           4.9574940032e+02, 4.9586215417e+02, 4.9597605330e+02, 4.9609272069e+02, 4.9621816770e+02,
     +           4.9637083137e+02, 4.9653496185e+02, 4.9668630153e+02, 4.9679637524e+02, 4.9683286904e+02,
     +           4.9683286904e+02, 4.9683286904e+02, 4.9683286904e+02, 4.9683286904e+02, 4.9683286904e+02,
     +           4.9683286904e+02, 4.9683286904e+02, 4.9683286904e+02, 4.9683286904e+02, 4.9683286904e+02,
     +           4.9683286904e+02, 4.9683286904e+02, 4.9683286904e+02, 4.9683286904e+02, 4.9680468215e+02,
     +           4.9670514612e+02, 4.9652107546e+02, 4.9623779589e+02, 4.9585290660e+02, 4.9539901150e+02,
     +           4.9489401419e+02, 4.9435808626e+02, 4.9379379340e+02, 4.9313751533e+02, 4.9244156060e+02,
     +           4.9178531598e+02, 4.9127660803e+02, 4.9113403351e+02, 4.9125202014e+02, 4.9140781190e+02,
     +           4.9140372556e+02, 4.9151241634e+02, 4.9152695202e+02, 4.9104741518e+02, 4.8963405972e+02,
     +           4.8756961642e+02, 4.8515324479e+02, 4.8248434689e+02, 4.7968211027e+02, 4.7688484562e+02,
     +           4.7407933373e+02, 4.7107849882e+02, 4.6719769618e+02, 4.6128135835e+02, 4.5603969460e+02,
     +           4.5153384640e+02, 4.4691102127e+02, 4.4217163892e+02, 4.3732090011e+02, 4.3233054208e+02,
     +           4.2703665759e+02, 4.2085380815e+02, 4.1437575855e+02, 4.0835682885e+02, 4.0235970569e+02,
     +           3.9619648767e+02, 3.8982065121e+02, 3.8323873293e+02, 3.7650764524e+02, 3.6977773214e+02,
     +           3.6315907574e+02, 3.5666388966e+02, 3.5017118835e+02, 3.4361084366e+02, 3.3692559394e+02,
     +           3.3011087090e+02, 3.2318205250e+02, 3.1630935529e+02, 3.0970735936e+02, 3.0319466920e+02,
     +           2.9625760498e+02, 2.8877767115e+02, 2.8192537551e+02, 2.7544024815e+02, 2.6879005432e+02,
     +           2.6167936044e+02, 2.5499628942e+02, 2.4902944755e+02, 2.4295634731e+02, 2.3665389580e+02,
     +           2.3047697816e+02, 2.2508950687e+02, 2.1954015087e+02, 2.1366923373e+02, 2.0788293034e+02,
     +           2.0256637550e+02, 1.9597472380e+02, 1.8934645089e+02, 1.8378181955e+02, 1.7845308191e+02,
     +           1.7314686610e+02, 1.6772714578e+02, 1.6212931665e+02, 1.5687919485e+02, 1.5238863632e+02,
     +           1.4795381735e+02, 1.4336803604e+02, 1.3886490956e+02, 1.3466289538e+02, 1.3066045373e+02,
     +           1.2668153493e+02, 1.2269928297e+02, 1.1894342569e+02, 1.1566025005e+02, 1.1259073561e+02,
     +           1.0959939561e+02, 1.0665402324e+02, 1.0368837176e+02, 1.0068011101e+02, 9.7673458856e+01,
     +           9.4742940296e+01, 9.2043258307e+01, 8.9526052997e+01, 8.7087941250e+01, 8.4712413762e+01,
     +           8.2321170377e+01, 8.0027909719e+01, 7.7881211902e+01, 7.5679288869e+01, 7.3416714087e+01,
     +           7.1092154838e+01, 6.8825647838e+01, 6.6843251543e+01, 6.5122702909e+01, 6.3466997053e+01,
     +           6.1794259542e+01, 6.0101662598e+01, 5.8427301617e+01, 5.6816413772e+01, 5.5295817173e+01,
     +           5.3846390748e+01, 5.2427378096e+01, 5.1014613801e+01, 4.9643426522e+01, 4.8354115695e+01,
     +           4.7136151110e+01, 4.5954752610e+01, 4.4789421588e+01, 4.3665714752e+01, 4.2588008758e+01,
     +           4.1519751481e+01, 4.0461706135e+01, 3.9407882820e+01, 3.8366177589e+01, 3.7385374751e+01,
     +           3.6436113747e+01, 3.5493215219e+01, 3.4542626497e+01, 3.3594656822e+01, 3.2669814088e+01,
     +           3.1786185510e+01, 3.0940319775e+01, 3.0124664146e+01, 2.9328257633e+01, 2.8549857680e+01,
     +           2.7797006147e+01, 2.7074601184e+01, 2.6361275968e+01, 2.5660366104e+01, 2.4983714066e+01,
     +           2.4338521289e+01, 2.3703779672e+01, 2.3076582715e+01, 2.2457268223e+01, 2.1839554314e+01,
     +           2.1220081779e+01, 2.0608487698e+01, 2.0016047844e+01, 1.9453757842e+01, 1.8920362657e+01,
     +           1.8416238535e+01, 1.7942679891e+01, 1.7489056381e+01, 1.7038728066e+01, 1.6598558482e+01,
     +           1.6172323002e+01, 1.5748346042e+01, 1.5334620280e+01, 1.4937960261e+01, 1.4547109944e+01,
     +           1.4165878917e+01, 1.3800826775e+01, 1.3448091713e+01, 1.3101942157e+01, 1.2760346625e+01,
     +           1.2422196184e+01, 1.2091836626e+01, 1.1774140818e+01, 1.1480104039e+01, 1.1196471523e+01,
     +           1.0883313251e+01, 1.0613190268e+01, 1.0379889281e+01, 1.0136472192e+01, 9.8774049835e+00,
     +           9.6123457377e+00, 9.3524520785e+00, 9.1108022561e+00, 8.9013927747e+00, 8.7163328517e+00,
     +           8.5369317208e+00, 8.3496056828e+00, 8.1568666007e+00, 7.9604848213e+00, 7.7623773616e+00,
     +           7.5688135236e+00, 7.3895629060e+00, 7.2205409289e+00, 7.0561845007e+00, 6.9028867677e+00,
     +           6.7581420768e+00, 6.6022790568e+00, 6.4443994775e+00, 6.3063671904e+00, 6.2137713354e+00,
     +           6.1917416444e+00/)

C Scaled Negative Reflected Pressure Pr- : g,cm,mus,Mbar
            PBLAST_DATA%Pr_  = (
     +          /1.0155727559e+00, 1.0155187210e+00, 1.0158481988e+00, 1.0166345335e+00, 1.0176176085e+00,
     +           1.0187503089e+00, 1.0199882290e+00, 1.0212781998e+00, 1.0225572076e+00, 1.0237512003e+00,
     +           1.0248703642e+00, 1.0259987417e+00, 1.0271143291e+00, 1.0281905959e+00, 1.0291957396e+00,
     +           1.0299567900e+00, 1.0304070290e+00, 1.0306164951e+00, 1.0306700246e+00, 1.0306691132e+00,
     +           1.0307339739e+00, 1.0310058096e+00, 1.0316493215e+00, 1.0328279682e+00, 1.0344921427e+00,
     +           1.0364656389e+00, 1.0385376817e+00, 1.0404590397e+00, 1.0419373742e+00, 1.0427621454e+00,
     +           1.0434626605e+00, 1.0441465927e+00, 1.0448128409e+00, 1.0454603580e+00, 1.0460881677e+00,
     +           1.0466953837e+00, 1.0472812307e+00, 1.0478463675e+00, 1.0484652771e+00, 1.0491643421e+00,
     +           1.0499158677e+00, 1.0506868108e+00, 1.0514381239e+00, 1.0521240306e+00, 1.0526912264e+00,
     +           1.0530779974e+00, 1.0532132483e+00, 1.0530584768e+00, 1.0528383087e+00, 1.0526004121e+00,
     +           1.0523460944e+00, 1.0520770132e+00, 1.0517952215e+00, 1.0515032187e+00, 1.0512040062e+00,
     +           1.0509011493e+00, 1.0505988458e+00, 1.0502996235e+00, 1.0499940942e+00, 1.0496805726e+00,
     +           1.0493590616e+00, 1.0490295938e+00, 1.0486922354e+00, 1.0483470907e+00, 1.0479943068e+00,
     +           1.0476516289e+00, 1.0474972075e+00, 1.0475321385e+00, 1.0476891623e+00, 1.0478878526e+00,
     +           1.0480329914e+00, 1.0480127753e+00, 1.0476904987e+00, 1.0466577191e+00, 1.0450530820e+00,
     +           1.0433842373e+00, 1.0422379463e+00, 1.0416746692e+00, 1.0413806299e+00, 1.0411035509e+00,
     +           1.0405456730e+00, 1.0393731077e+00, 1.0376934601e+00, 1.0358490800e+00, 1.0341468006e+00,
     +           1.0325643851e+00, 1.0309844502e+00, 1.0294092196e+00, 1.0278410590e+00, 1.0262824816e+00,
     +           1.0247361523e+00, 1.0232407953e+00, 1.0220839197e+00, 1.0212768521e+00, 1.0207449489e+00,
     +           1.0203975844e+00, 1.0201261334e+00, 1.0198017405e+00, 1.0192728568e+00, 1.0183625201e+00,
     +           1.0168653548e+00, 1.0145942904e+00, 1.0116441140e+00, 1.0080931492e+00, 1.0040176275e+00,
     +           9.9951169649e-01, 9.9468971847e-01, 9.8965260974e-01, 9.8432191408e-01, 9.7862550628e-01,
     +           9.7249089678e-01, 9.6583574573e-01, 9.5856677487e-01, 9.5057857124e-01, 9.4165884081e-01,
     +           9.3150864777e-01, 9.1986808547e-01, 9.0644263508e-01, 8.9092484377e-01, 8.7420026703e-01,
     +           8.5684166297e-01, 8.3882373398e-01, 8.2012295938e-01, 8.0081685898e-01, 7.8082955335e-01,
     +           7.5967726327e-01, 7.3704557930e-01, 7.1254308982e-01, 6.8593258353e-01, 6.6036436356e-01,
     +           6.3591362868e-01, 6.1165553975e-01, 5.8725387176e-01, 5.6263939736e-01, 5.3833377943e-01,
     +           5.1507232623e-01, 4.9469297929e-01, 4.7689784063e-01, 4.5886509125e-01, 4.4034640651e-01,
     +           4.2157954970e-01, 4.0498632448e-01, 3.9105916257e-01, 3.7667571971e-01, 3.6284677248e-01,
     +           3.5037689768e-01, 3.3853706202e-01, 3.2680393351e-01, 3.1562728782e-01, 3.0550904870e-01,
     +           2.9612729758e-01, 2.8727320876e-01, 2.7847205327e-01, 2.6981413277e-01, 2.6159657437e-01,
     +           2.5375252189e-01, 2.4621558696e-01, 2.3889016235e-01, 2.3190625607e-01, 2.2509156047e-01,
     +           2.1839940153e-01, 2.1177455625e-01, 2.0518597288e-01, 1.9928581125e-01, 1.9403922321e-01,
     +           1.8869970373e-01, 1.8322235193e-01, 1.7764875976e-01, 1.7250271620e-01, 1.6800836035e-01,
     +           1.6373620405e-01, 1.5946809127e-01, 1.5503415105e-01, 1.5117508571e-01, 1.4769153430e-01,
     +           1.4415715721e-01, 1.4034253137e-01, 1.3652022535e-01, 1.3329985353e-01, 1.3026466701e-01,
     +           1.2706280485e-01, 1.2378065180e-01, 1.2055404217e-01, 1.1780279885e-01, 1.1526425918e-01,
     +           1.1255321476e-01, 1.0979550543e-01, 1.0726019545e-01, 1.0499139230e-01, 1.0273883662e-01,
     +           1.0033211993e-01, 9.7765965229e-02, 9.5186365358e-02, 9.2789226136e-02, 9.0694166201e-02,
     +           8.8698991204e-02, 8.6612005676e-02, 8.4532427933e-02, 8.2625297823e-02, 8.0755459738e-02,
     +           7.8861467045e-02, 7.6924800615e-02, 7.4950462652e-02, 7.3028671360e-02, 7.1308769998e-02,
     +           6.9639182683e-02, 6.8021096295e-02, 6.6534122544e-02, 6.5124209273e-02, 6.3719361849e-02,
     +           6.2299400177e-02, 6.0853673125e-02, 5.9391484663e-02, 5.7924317619e-02, 5.6506160654e-02,
     +           5.5193903084e-02, 5.4012442470e-02, 5.2928347382e-02, 5.1872718146e-02, 5.0797130947e-02,
     +           4.9713754806e-02, 4.8654030584e-02, 4.7644860640e-02, 4.6669635576e-02, 4.5721442454e-02,
     +           4.4794866964e-02, 4.3883199769e-02, 4.2978267228e-02, 4.2070243992e-02, 4.1147445670e-02,
     +           4.0196017281e-02, 3.9212310805e-02, 3.8213562096e-02, 3.7221736374e-02, 3.6262544230e-02,
     +           3.5365883950e-02, 3.4566329109e-02, 3.3881624397e-02, 3.3275929580e-02, 3.2713296678e-02,
     +           3.2151173529e-02, 3.1539287880e-02, 3.0820886729e-02, 2.9998678286e-02, 2.9116549776e-02,
     +           2.8218229132e-02, 2.7355320086e-02, 2.6582994256e-02, 2.5893922685e-02, 2.5260662190e-02,
     +           2.4656723130e-02, 2.4049408549e-02, 2.3363032972e-02, 2.2681727127e-02, 2.2186712538e-02,
     +           2.2063223338e-02/)

C Scaled Negative Incoming Pressure Ps- : g,cm,mus,Mbar
            PBLAST_DATA%Pso_ = (
     +          /1.0178812760e+00, 1.0181762067e+00, 1.0185082250e+00, 1.0188806968e+00, 1.0192675211e+00,
     +           1.0196721252e+00, 1.0201004632e+00, 1.0205594001e+00, 1.0210965031e+00, 1.0218974869e+00,
     +           1.0229233702e+00, 1.0240888527e+00, 1.0252922055e+00, 1.0264132554e+00, 1.0273111582e+00,
     +           1.0279034646e+00, 1.0282595070e+00, 1.0284400531e+00, 1.0285181836e+00, 1.0285810435e+00,
     +           1.0287315702e+00, 1.0290904015e+00, 1.0297924056e+00, 1.0308349052e+00, 1.0321269031e+00,
     +           1.0335781670e+00, 1.0350810101e+00, 1.0365081474e+00, 1.0377103275e+00, 1.0385245014e+00,
     +           1.0391748730e+00, 1.0398218473e+00, 1.0404632529e+00, 1.0410966667e+00, 1.0417193894e+00,
     +           1.0423284192e+00, 1.0429204232e+00, 1.0434917056e+00, 1.0440381740e+00, 1.0445553017e+00,
     +           1.0450380874e+00, 1.0455016664e+00, 1.0459722626e+00, 1.0464486579e+00, 1.0469291829e+00,
     +           1.0474118960e+00, 1.0478945529e+00, 1.0483745724e+00, 1.0488489989e+00, 1.0493144621e+00,
     +           1.0497689038e+00, 1.0502175603e+00, 1.0506494653e+00, 1.0510486272e+00, 1.0513965360e+00,
     +           1.0516718741e+00, 1.0518501955e+00, 1.0519035752e+00, 1.0518000777e+00, 1.0513994743e+00,
     +           1.0506492578e+00, 1.0496343042e+00, 1.0484570034e+00, 1.0472394472e+00, 1.0461258475e+00,
     +           1.0452852061e+00, 1.0448084822e+00, 1.0444107094e+00, 1.0440305592e+00, 1.0436325529e+00,
     +           1.0431749520e+00, 1.0426202959e+00, 1.0420359345e+00, 1.0414343787e+00, 1.0408023430e+00,
     +           1.0401243491e+00, 1.0393824667e+00, 1.0385560289e+00, 1.0376446192e+00, 1.0366793501e+00,
     +           1.0356571434e+00, 1.0345735899e+00, 1.0334239009e+00, 1.0322028752e+00, 1.0309048627e+00,
     +           1.0295237322e+00, 1.0280730076e+00, 1.0265705165e+00, 1.0250188541e+00, 1.0234213194e+00,
     +           1.0217820047e+00, 1.0201079503e+00, 1.0184181988e+00, 1.0167063465e+00, 1.0149583263e+00,
     +           1.0131576384e+00, 1.0112850566e+00, 1.0092789026e+00, 1.0065162892e+00, 1.0027978394e+00,
     +           9.9814276544e-01, 9.9258163830e-01, 9.8615802551e-01, 9.7891617097e-01, 9.7090807201e-01,
     +           9.6225424541e-01, 9.5317601419e-01, 9.4400301993e-01, 9.3398757148e-01, 9.2208189369e-01,
     +           9.0796607894e-01, 8.9271802955e-01, 8.7709700813e-01, 8.6177887486e-01, 8.4629507875e-01,
     +           8.2972878146e-01, 8.1170217340e-01, 7.9282142481e-01, 7.7359754253e-01, 7.5427589969e-01,
     +           7.3236375555e-01, 7.0504999311e-01, 6.7658966796e-01, 6.4617175508e-01, 6.1407341386e-01,
     +           5.8052531801e-01, 5.4871787207e-01, 5.1890657075e-01, 4.9056101248e-01, 4.6635915180e-01,
     +           4.3844862360e-01, 4.1236243104e-01, 3.9122460653e-01, 3.7231689131e-01, 3.5136995055e-01,
     +           3.3106054449e-01, 3.1448443278e-01, 3.0072294660e-01, 2.8626408684e-01, 2.7082420635e-01,
     +           2.5834037290e-01, 2.4741767401e-01, 2.3687730432e-01, 2.2770408475e-01, 2.1939245017e-01,
     +           2.1138623300e-01, 2.0373218563e-01, 1.9637520468e-01, 1.8954431567e-01, 1.8303194772e-01,
     +           1.7668783174e-01, 1.7035816916e-01, 1.6428211967e-01, 1.5879380786e-01, 1.5376659456e-01,
     +           1.4896755384e-01, 1.4419841261e-01, 1.3961324348e-01, 1.3515459951e-01, 1.3073002977e-01,
     +           1.2636237028e-01, 1.2255579271e-01, 1.1936155098e-01, 1.1596861792e-01, 1.1224184053e-01,
     +           1.0866001588e-01, 1.0539286462e-01, 1.0228727606e-01, 9.9261952088e-02, 9.6380631608e-02,
     +           9.3598405826e-02, 9.0992199831e-02, 8.8858073432e-02, 8.6760304588e-02, 8.4604069538e-02,
     +           8.2386881910e-02, 8.0107151657e-02, 7.7764921684e-02, 7.5436018173e-02, 7.3386122502e-02,
     +           7.1484085476e-02, 6.9522754875e-02, 6.7323963616e-02, 6.5459042700e-02, 6.3877558086e-02,
     +           6.2247536723e-02, 6.0565216740e-02, 5.8833548104e-02, 5.6962500489e-02, 5.5456727643e-02,
     +           5.4336581992e-02, 5.2772786049e-02, 5.1205697221e-02, 4.9632736185e-02, 4.8066023135e-02,
     +           4.6528494718e-02, 4.5046730181e-02, 4.3629488952e-02, 4.2253263644e-02, 4.0919940231e-02,
     +           3.9631955351e-02, 3.8391594590e-02, 3.7200950990e-02, 3.6061878149e-02, 3.4975937335e-02,
     +           3.3944337984e-02, 3.2967870889e-02, 3.2046833325e-02, 3.1180945267e-02, 3.0369255795e-02,
     +           2.9610038699e-02, 2.8900474505e-02, 2.8204988390e-02, 2.7501748339e-02, 2.6794889508e-02,
     +           2.6089226389e-02, 2.5390331012e-02, 2.4704619043e-02, 2.4039444513e-02, 2.3403203991e-02,
     +           2.2805451097e-02, 2.2257022311e-02, 2.1753602841e-02, 2.1240635674e-02, 2.0716548429e-02,
     +           2.0186677947e-02, 1.9657299915e-02, 1.9135740239e-02, 1.8630497831e-02, 1.8151379891e-02,
     +           1.7700415379e-02, 1.7235721202e-02, 1.6763301671e-02, 1.6300873019e-02, 1.5869178003e-02,
     +           1.5492344224e-02, 1.5198279178e-02, 1.4967385142e-02, 1.4731072182e-02, 1.4488165989e-02,
     +           1.4238482608e-02, 1.3981832955e-02, 1.3718022665e-02, 1.3446851955e-02, 1.3168115466e-02,
     +           1.2881602109e-02, 1.2587094906e-02, 1.2283059396e-02, 1.1961360483e-02, 1.1629914071e-02,
     +           1.1301859651e-02, 1.0992620045e-02, 1.0720173214e-02, 1.0505351988e-02, 1.0372174408e-02,
     +           1.0342135940e-02/)

C Scaled Negative Impulse duration t0- : g,cm,mus,Mbar
            PBLAST_DATA%t0_  = (
     +          /8.2367135310e+03, 8.2384805202e+03, 8.2403894189e+03, 8.2424287459e+03, 8.2447616018e+03,
     +           8.2474380154e+03, 8.2502280131e+03, 8.2528596276e+03, 8.2550236477e+03, 8.2569036097e+03,
     +           8.2587030723e+03, 8.2604136232e+03, 8.2620263835e+03, 8.2635319911e+03, 8.2649205853e+03,
     +           8.2661817907e+03, 8.2673128044e+03, 8.2684290993e+03, 8.2695725923e+03, 8.2707447096e+03,
     +           8.2719470311e+03, 8.2731813086e+03, 8.2744494843e+03, 8.2757537125e+03, 8.2770963823e+03,
     +           8.2784801437e+03, 8.2799080746e+03, 8.2813836799e+03, 8.2829084451e+03, 8.2844835088e+03,
     +           8.2861099693e+03, 8.2877888740e+03, 8.2895212084e+03, 8.2913078828e+03, 8.2935613684e+03,
     +           8.2970045893e+03, 8.3016931926e+03, 8.3076689158e+03, 8.3149700618e+03, 8.3236307133e+03,
     +           8.3336798488e+03, 8.3453039926e+03, 8.3601559296e+03, 8.3777817470e+03, 8.3968818102e+03,
     +           8.4159123197e+03, 8.4330555484e+03, 8.4468432013e+03, 8.4602095072e+03, 8.4738970884e+03,
     +           8.4879409846e+03, 8.5023811845e+03, 8.5172632026e+03, 8.5326387165e+03, 8.5485511946e+03,
     +           8.5649295315e+03, 8.5817650822e+03, 8.5990718611e+03, 8.6168644518e+03, 8.6351595118e+03,
     +           8.6540047405e+03, 8.6734170515e+03, 8.6933942607e+03, 8.7139313536e+03, 8.7350200991e+03,
     +           8.7566486218e+03, 8.7787773857e+03, 8.8009395154e+03, 8.8230247864e+03, 8.8451348588e+03,
     +           8.8673924209e+03, 8.8899438647e+03, 8.9129622461e+03, 8.9366382999e+03, 8.9608729764e+03,
     +           8.9855875934e+03, 9.0107937772e+03, 9.0365041827e+03, 9.0627326302e+03, 9.0894942598e+03,
     +           9.1168057021e+03, 9.1445640103e+03, 9.1726311196e+03, 9.2010144585e+03, 9.2297242121e+03,
     +           9.2587733171e+03, 9.2881778840e+03, 9.3179576680e+03, 9.3481184679e+03, 9.3784525628e+03,
     +           9.4088638697e+03, 9.4393111513e+03, 9.4697495755e+03, 9.5001304776e+03, 9.5304011081e+03,
     +           9.5605043664e+03, 9.5903785165e+03, 9.6200309360e+03, 9.6498307948e+03, 9.6798263541e+03,
     +           9.7100021851e+03, 9.7403425445e+03, 9.7708314838e+03, 9.8014529782e+03, 9.8321910772e+03,
     +           9.8630300788e+03, 9.8939547318e+03, 9.9249919549e+03, 9.9563455766e+03, 9.9879892913e+03,
     +           1.0019848018e+04, 1.0051835565e+04, 1.0083853437e+04, 1.0115789529e+04, 1.0147516729e+04,
     +           1.0179446489e+04, 1.0211853610e+04, 1.0244377709e+04, 1.0276597058e+04, 1.0308021377e+04,
     +           1.0338083887e+04, 1.0366132567e+04, 1.0391420588e+04, 1.0415013771e+04, 1.0438594463e+04,
     +           1.0462352972e+04, 1.0486515378e+04, 1.0511347947e+04, 1.0537162006e+04, 1.0564320494e+04,
     +           1.0593356370e+04, 1.0624164760e+04, 1.0656217732e+04, 1.0688885577e+04, 1.0721424372e+04,
     +           1.0752962240e+04, 1.0782346023e+04, 1.0808160443e+04, 1.0830652836e+04, 1.0850401106e+04,
     +           1.0868114614e+04, 1.0884651033e+04, 1.0901034989e+04, 1.0918405671e+04, 1.0936525555e+04,
     +           1.0955024874e+04, 1.0973824423e+04, 1.0992830597e+04, 1.1011933680e+04, 1.1031005975e+04,
     +           1.1049919864e+04, 1.1068797240e+04, 1.1087627140e+04, 1.1106313717e+04, 1.1124747767e+04,
     +           1.1142805283e+04, 1.1160345889e+04, 1.1177207543e+04, 1.1192698977e+04, 1.1205988157e+04,
     +           1.1216424112e+04, 1.1223266447e+04, 1.1225865677e+04, 1.1227008648e+04, 1.1227877160e+04,
     +           1.1228438350e+04, 1.1228656337e+04, 1.1228491957e+04, 1.1227902479e+04, 1.1226841301e+04,
     +           1.1225258312e+04, 1.1223181944e+04, 1.1220739600e+04, 1.1218073654e+04, 1.1215353720e+04,
     +           1.1212779983e+04, 1.1210586882e+04, 1.1209047174e+04, 1.1208166039e+04, 1.1207473019e+04,
     +           1.1206967260e+04, 1.1206665675e+04, 1.1206586313e+04, 1.1206748422e+04, 1.1207172526e+04,
     +           1.1207880503e+04, 1.1208895844e+04, 1.1210332847e+04, 1.1212214146e+04, 1.1214436649e+04,
     +           1.1216875944e+04, 1.1219383639e+04, 1.1221784419e+04, 1.1223872797e+04, 1.1225409531e+04,
     +           1.1226193508e+04, 1.1226312134e+04, 1.1225951903e+04, 1.1225336986e+04, 1.1224734040e+04,
     +           1.1224457400e+04, 1.1224874819e+04, 1.1226274545e+04, 1.1228087631e+04, 1.1230270123e+04,
     +           1.1232937189e+04, 1.1236220614e+04, 1.1240270668e+04, 1.1245170018e+04, 1.1250605705e+04,
     +           1.1256422577e+04, 1.1262475206e+04, 1.1268590735e+04, 1.1274565526e+04, 1.1280360609e+04,
     +           1.1286224261e+04, 1.1292119085e+04, 1.1297991188e+04, 1.1303778009e+04, 1.1309406804e+04,
     +           1.1314525903e+04, 1.1318915543e+04, 1.1322637187e+04, 1.1325769929e+04, 1.1328047073e+04,
     +           1.1329465220e+04, 1.1330817452e+04, 1.1333086739e+04, 1.1338187089e+04, 1.1342572918e+04,
     +           1.1342796326e+04, 1.1341864373e+04, 1.1340382835e+04, 1.1338936739e+04, 1.1338215615e+04,
     +           1.1338212354e+04, 1.1338212354e+04, 1.1338212354e+04, 1.1338212354e+04, 1.1338212354e+04,
     +           1.1338212354e+04, 1.1338212354e+04, 1.1338212354e+04, 1.1338212354e+04, 1.1338212354e+04,
     +           1.1338212354e+04, 1.1338212354e+04, 1.1338212354e+04, 1.1338212354e+04, 1.1338212354e+04,
     +           1.1338212354e+04, 1.1338212354e+04, 1.1338212354e+04, 1.1338212354e+04, 1.1338212354e+04,
     +           1.1338212354e+04/)


C SURFACE BURST - Fig 2-15 - Scaled Radius R/W**(1/3): g,cm,mus,Mbar
              PBLAST_DATA%RW3_Surf = (/
     +     0.50000000000000E+00,0.51328038846000E+00,0.52691351436000E+00,0.54090874667000E+00,0.55527570323000E+00,
     +     0.57002425731000E+00,0.58516454445000E+00,0.60070696938000E+00,0.61666221319000E+00,0.63304124067000E+00,
     +     0.64985530785000E+00,0.66711596971000E+00,0.68483508817000E+00,0.70302484017000E+00,0.72169772613000E+00,
     +     0.74086657843000E+00,0.76054457035000E+00,0.78074522503000E+00,0.80148242478000E+00,0.82277042068000E+00,
     +     0.84462384228000E+00,0.86705770774000E+00,0.89008743409000E+00,0.91372884787000E+00,0.93799819597000E+00,
     +     0.96291215681000E+00,0.98848785180000E+00,0.10147428571000E+01,0.10416952158000E+01,0.10693634500000E+01,
     +     0.10977665741000E+01,0.11269241072000E+01,0.11568560870000E+01,0.11875830835000E+01,0.12191262128000E+01,
     +     0.12515071522000E+01,0.12847481545000E+01,0.13188720636000E+01,0.13539023303000E+01,0.13898630281000E+01,
     +     0.14267788699000E+01,0.14646752252000E+01,0.15035781371000E+01,0.15435143406000E+01,0.15845112807000E+01,
     +     0.16265971313000E+01,0.16698008149000E+01,0.17141520218000E+01,0.17596812313000E+01,0.18064197319000E+01,
     +     0.18543996435000E+01,0.19036539387000E+01,0.19542164663000E+01,0.20061219739000E+01,0.20594061322000E+01,
     +     0.21141055590000E+01,0.21702578452000E+01,0.22279015797000E+01,0.22870763766000E+01,0.23478229020000E+01,
     +     0.24101829024000E+01,0.24741992328000E+01,0.25399158867000E+01,0.26073780259000E+01,0.26766320120000E+01,
     +     0.27477254378000E+01,0.28207071602000E+01,0.28956273339000E+01,0.29725374455000E+01,0.30514903495000E+01,
     +     0.31325403040000E+01,0.32157430082000E+01,0.33011556409000E+01,0.33888368994000E+01,0.34788470403000E+01,
     +     0.35712479205000E+01,0.36661030399000E+01,0.37634775849000E+01,0.38634384735000E+01,0.39660544010000E+01,
     +     0.40713958872000E+01,0.41795353251000E+01,0.42905470305000E+01,0.44045072931000E+01,0.45214944287000E+01,
     +     0.46415888336000E+01,0.47648730392000E+01,0.48914317691000E+01,0.50213519971000E+01,0.51547230074000E+01,
     +     0.52916364553000E+01,0.54321864307000E+01,0.55764695227000E+01,0.57245848857000E+01,0.58766343078000E+01,
     +     0.60327222808000E+01,0.61929560715000E+01,0.63574457962000E+01,0.65263044958000E+01,0.66996482137000E+01,
     +     0.68775960753000E+01,0.70602703704000E+01,0.72477966368000E+01,0.74403037464000E+01,0.76379239945000E+01,
     +     0.78407931899000E+01,0.80490507487000E+01,0.82628397901000E+01,0.84823072345000E+01,0.87076039047000E+01,
     +     0.89388846296000E+01,0.91763083502000E+01,0.94200382292000E+01,0.96702417633000E+01,0.99270908975000E+01,
     +     0.10190762144000E+02,0.10461436704000E+02,0.10739300591000E+02,0.11024544758000E+02,0.11317365232000E+02,
     +     0.11617963246000E+02,0.11926545376000E+02,0.12243323687000E+02,0.12568515876000E+02,0.12902345423000E+02,
     +     0.13245041741000E+02,0.13596840340000E+02,0.13957982983000E+02,0.14328717856000E+02,0.14709299734000E+02,
     +     0.15099990163000E+02,0.15501057633000E+02,0.15912777767000E+02,0.16335433508000E+02,0.16769315313000E+02,
     +     0.17214721356000E+02,0.17671957730000E+02,0.18141338657000E+02,0.18623186706000E+02,0.19117833014000E+02,
     +     0.19625617512000E+02,0.20146889161000E+02,0.20682006189000E+02,0.21231336342000E+02,0.21795257130000E+02,
     +     0.22374156093000E+02,0.22968431062000E+02,0.23578490436000E+02,0.24204753460000E+02,0.24847650517000E+02,
     +     0.25507623420000E+02,0.26185125715000E+02,0.26880622998000E+02,0.27594593229000E+02,0.28327527064000E+02,
     +     0.29079928191000E+02,0.29852313677000E+02,0.30645214321000E+02,0.31459175023000E+02,0.32294755153000E+02,
     +     0.33152528940000E+02,0.34033085866000E+02,0.34937031067000E+02,0.35864985756000E+02,0.36817587642000E+02,
     +     0.37795491374000E+02,0.38799368989000E+02,0.39829910374000E+02,0.40887823738000E+02,0.41973836103000E+02,
     +     0.43088693801000E+02,0.44233162985000E+02,0.45408030159000E+02,0.46614102719000E+02,0.47852209503000E+02,
     +     0.49123201365000E+02,0.50427951758000E+02,0.51767357335000E+02,0.53142338565000E+02,0.54553840365000E+02,
     +     0.56002832749000E+02,0.57490311497000E+02,0.59017298836000E+02,0.60584844145000E+02,0.62194024675000E+02,
     +     0.63845946291000E+02,0.65541744228000E+02,0.67282583875000E+02,0.69069661576000E+02,0.70904205450000E+02,
     +     0.72787476233000E+02,0.74720768153000E+02,0.76705409807000E+02,0.78742765086000E+02,0.80834234103000E+02,
     +     0.82981254163000E+02,0.85185300744000E+02,0.87447888514000E+02,0.89770572373000E+02,0.92154948521000E+02,
     +     0.94602655551000E+02,0.97115375581000E+02,0.99694835408000E+02,0.10234280769000E+03,0.10506111218000E+03,
     +     0.10785161694000E+03,0.11071623968000E+03,0.11365694902000E+03,0.11667576589000E+03,0.11977476488000E+03,
     +     0.12295607569000E+03,0.12622188459000E+03,0.12957443591000E+03,0.13301603360000E+03,0.13654904279000E+03,
     +     0.14017589146000E+03,0.14389907204000E+03,0.14772114319000E+03,0.15164473152000E+03,0.15567253341000E+03,
     +     0.15980731684000E+03,0.16405192334000E+03,0.16840926987000E+03,0.17288235092000E+03,0.17747424048000E+03,
     +     0.18218809419000E+03,0.18702715152000E+03,0.19199473797000E+03,0.19709426738000E+03,0.20232924424000E+03,
     +     0.20770326617000E+03,0.21322002628000E+03,0.21888331584000E+03,0.22469702676000E+03,0.23066515437000E+03,
     +     0.23679180008000E+03,0.24308117425000E+03,0.24953759910000E+03,0.25616551160000E+03,0.26296946661000E+03,
     +     0.26995413995000E+03,0.27712433164000E+03,0.28448496919000E+03,0.29204111100000E+03,0.29979794980000E+03,
     +     0.30776081627000E+03,0.31593518265000E+03,0.32432666656000E+03,0.33294103480000E+03,0.34178420736000E+03,
     +     0.35086226145000E+03,0.36018143570000E+03,0.36974813447000E+03,0.37956893219000E+03,0.38965057792000E+03,
     +     0.40000000000000E+03      /)

C SURFACE BURST - Fig 2-15 - Reflected Wave Impulse+ Iso/W**(1/3): g,cm,mus,Mbar
             PBLAST_DATA%Ir_Surf = (/
     +     0.14620100371000E+00,0.14144121241000E+00,0.13650614490000E+00,0.13141457452000E+00,0.12618916640000E+00,
     +     0.12085693786000E+00,0.11544976464000E+00,0.11000493693000E+00,0.10456576994000E+00,0.99182273823000E-01,
     +     0.93911888417000E-01,0.88820288631000E-01,0.83982195045000E-01,0.79428806359000E-01,0.75144411207000E-01,
     +     0.71110834997000E-01,0.67311375052000E-01,0.63729542237000E-01,0.60351715722000E-01,0.57169680161000E-01,
     +     0.54170174489000E-01,0.51341303266000E-01,0.48672038571000E-01,0.46151349949000E-01,0.43771940748000E-01,
     +     0.41527321525000E-01,0.39408045019000E-01,0.37405674736000E-01,0.35512954386000E-01,0.33723365988000E-01,
     +     0.32032621339000E-01,0.30434629996000E-01,0.28923368761000E-01,0.27493299129000E-01,0.26139412888000E-01,
     +     0.24858315062000E-01,0.23646221257000E-01,0.22498566377000E-01,0.21411414703000E-01,0.20381137242000E-01,
     +     0.19404513640000E-01,0.18479528668000E-01,0.17602940494000E-01,0.16771611415000E-01,0.15982866405000E-01,
     +     0.15234320323000E-01,0.14524253448000E-01,0.13850707663000E-01,0.13211346061000E-01,0.12604155999000E-01,
     +     0.12027295601000E-01,0.11479104880000E-01,0.10958614952000E-01,0.10464103292000E-01,0.99940033542000E-02,
     +     0.95469067101000E-02,0.91214902814000E-02,0.87170434513000E-02,0.83324111561000E-02,0.79664261423000E-02,
     +     0.76180171611000E-02,0.72861783441000E-02,0.69702152924000E-02,0.66694387321000E-02,0.63829815638000E-02,
     +     0.61100293821000E-02,0.58498121717000E-02,0.56016903322000E-02,0.53652698434000E-02,0.51398842345000E-02,
     +     0.49249278347000E-02,0.47198282716000E-02,0.45240305100000E-02,0.43372265549000E-02,0.41589891176000E-02,
     +     0.39888434011000E-02,0.38263597124000E-02,0.36711139971000E-02,0.35227646621000E-02,0.33811234796000E-02,
     +     0.32458040917000E-02,0.31164251217000E-02,0.29927007017000E-02,0.28743779706000E-02,0.27612588905000E-02,
     +     0.26530778716000E-02,0.25495923460000E-02,0.24505544789000E-02,0.23557203871000E-02,0.22649464640000E-02,
     +     0.21780819374000E-02,0.20949106507000E-02,0.20152476850000E-02,0.19389134048000E-02,0.18657427168000E-02,
     +     0.17956698707000E-02,0.17285209509000E-02,0.16641436141000E-02,0.16024140567000E-02,0.15432000108000E-02,
     +     0.14864154922000E-02,0.14319576503000E-02,0.13797146685000E-02,0.13295814851000E-02,0.12814500841000E-02,
     +     0.12352350904000E-02,0.11908842256000E-02,0.11483052551000E-02,0.11074148810000E-02,0.10681270442000E-02,
     +     0.10303618027000E-02,0.99409309382000E-03,0.95924334517000E-03,0.92574673494000E-03,0.89354534402000E-03,
     +     0.86257375599000E-03,0.83278604465000E-03,0.80415045665000E-03,0.77660640050000E-03,0.75010609575000E-03,
     +     0.72460315109000E-03,0.70004794851000E-03,0.67642152008000E-03,0.65368165354000E-03,0.63178921574000E-03,
     +     0.61070700622000E-03,0.59039466326000E-03,0.57082555406000E-03,0.55198202878000E-03,0.53382927400000E-03,
     +     0.51633375916000E-03,0.49946724746000E-03,0.48320479972000E-03,0.46753194894000E-03,0.45242184690000E-03,
     +     0.43785155144000E-03,0.42379802868000E-03,0.41023604485000E-03,0.39715208693000E-03,0.38453256398000E-03,
     +     0.37235617913000E-03,0.36060339883000E-03,0.34925593007000E-03,0.33829768083000E-03,0.32772153338000E-03,
     +     0.31751044694000E-03,0.30764915483000E-03,0.29812251525000E-03,0.28891537773000E-03,0.28002187211000E-03,
     +     0.27143145403000E-03,0.26313035973000E-03,0.25510576816000E-03,0.24734677007000E-03,0.23984539435000E-03,
     +     0.23259462628000E-03,0.22558405695000E-03,0.21880424466000E-03,0.21224555611000E-03,0.20589899017000E-03,
     +     0.19976066401000E-03,0.19382209810000E-03,0.18807623196000E-03,0.18251542352000E-03,0.17713096910000E-03,
     +     0.17191847381000E-03,0.16687444889000E-03,0.16199162903000E-03,0.15726276464000E-03,0.15268213816000E-03,
     +     0.14824489718000E-03,0.14394733068000E-03,0.13978499620000E-03,0.13575301495000E-03,0.13184569875000E-03,
     +     0.12805801237000E-03,0.12438772806000E-03,0.12083091065000E-03,0.11738397908000E-03,0.11404202152000E-03,
     +     0.11080052494000E-03,0.10765772158000E-03,0.10461028278000E-03,0.10165617732000E-03,0.98791283032000E-04,
     +     0.96011057197000E-04,0.93313146418000E-04,0.90696164013000E-04,0.88157944364000E-04,0.85695185309000E-04,
     +     0.83304946477000E-04,0.80984625567000E-04,0.78732078781000E-04,0.76546388785000E-04,0.74424962790000E-04,
     +     0.72365336862000E-04,0.70365173656000E-04,0.68422332055000E-04,0.66536252030000E-04,0.64704924781000E-04,
     +     0.62926426449000E-04,0.61198750380000E-04,0.59519896820000E-04,0.57888995475000E-04,0.56305089143000E-04,
     +     0.54766237348000E-04,0.53270881855000E-04,0.51817626238000E-04,0.50404998081000E-04,0.49032356052000E-04,
     +     0.47698466835000E-04,0.46402055974000E-04,0.45141741573000E-04,0.43916142939000E-04,0.42724599578000E-04,
     +     0.41566469147000E-04,0.40440530100000E-04,0.39345681230000E-04,0.38280822249000E-04,0.37244931743000E-04,
     +     0.36237727877000E-04,0.35258426116000E-04,0.34305880403000E-04,0.33379152168000E-04,0.32477567016000E-04,
     +     0.31600547717000E-04,0.30747536516000E-04,0.29917690903000E-04,0.29110273076000E-04,0.28324545203000E-04,
     +     0.27559833640000E-04,0.26815881211000E-04,0.26092139745000E-04,0.25387793825000E-04,0.24702173039000E-04,
     +     0.24034860466000E-04,0.23385404390000E-04,0.22753425698000E-04,0.22138406266000E-04,0.21539677031000E-04,
     +     0.20956678388000E-04,0.20389191065000E-04,0.19836935538000E-04,0.19299352397000E-04,0.18776003125000E-04,
     +     0.18266448822000E-04,0.17770231127000E-04,0.17287241552000E-04,0.16817116123000E-04,0.16359371442000E-04,
     +     0.15913655702000E-04,0.15479636026000E-04,0.15056958466000E-04,0.14646395363000E-04,0.14242187735000E-04,
     +     0.13862594070000E-04      /)

C SURFACE BURST - Fig 2-15 - Incident Wave Impulse+ Iso/W**(1/3): g,cm,mus,Mbar
             PBLAST_DATA%Iso_Surf = (/
     +     0.45259316942000E-02,0.43840173716000E-02,0.42424991037000E-02,0.41015308242000E-02,0.39612716642000E-02,
     +     0.38218856092000E-02,0.36835410767000E-02,0.35464104049000E-02,0.34106692427000E-02,0.32764958279000E-02,
     +     0.31440701438000E-02,0.30135729368000E-02,0.28851847432000E-02,0.27591920026000E-02,0.26359238204000E-02,
     +     0.25157212129000E-02,0.23988421767000E-02,0.22854594214000E-02,0.21757206140000E-02,0.20698013261000E-02,
     +     0.19677625040000E-02,0.18696612685000E-02,0.17755191273000E-02,0.16852938995000E-02,0.15989920260000E-02,
     +     0.15166207878000E-02,0.14380897184000E-02,0.13632929819000E-02,0.12921305520000E-02,0.12245014749000E-02,
     +     0.11603535956000E-02,0.10995589003000E-02,0.10419869852000E-02,0.98750009132000E-03,0.93595251649000E-03,
     +     0.88726108920000E-03,0.84131369640000E-03,0.79796651750000E-03,0.75708787318000E-03,0.71854672783000E-03,
     +     0.68222594307000E-03,0.64805388517000E-03,0.61590559896000E-03,0.58565810105000E-03,0.55720082631000E-03,
     +     0.53043171545000E-03,0.50528224705000E-03,0.48166577577000E-03,0.45948317116000E-03,0.43864498898000E-03,
     +     0.41906940397000E-03,0.40068880646000E-03,0.38345112671000E-03,0.36728154475000E-03,0.35211051976000E-03,
     +     0.33787513651000E-03,0.32451939076000E-03,0.31200644021000E-03,0.30028639312000E-03,0.28930717702000E-03,
     +     0.27902179937000E-03,0.26938809574000E-03,0.26037462775000E-03,0.25195150946000E-03,0.24408316457000E-03,
     +     0.23673461667000E-03,0.22987393737000E-03,0.22347686488000E-03,0.21752649064000E-03,0.21199668748000E-03,
     +     0.20686450996000E-03,0.20210826180000E-03,0.19770724399000E-03,0.19365049829000E-03,0.18992449098000E-03,
     +     0.18651190139000E-03,0.18339839255000E-03,0.18057145715000E-03,0.17802015565000E-03,0.17573920831000E-03,
     +     0.17371858621000E-03,0.17194832787000E-03,0.17042102715000E-03,0.16913105517000E-03,0.16807481948000E-03,
     +     0.16724750378000E-03,0.16664503425000E-03,0.16626421276000E-03,0.16610201743000E-03,0.16615753618000E-03,
     +     0.16643077548000E-03,0.16692209054000E-03,0.16763114157000E-03,0.16855780291000E-03,0.16970464130000E-03,
     +     0.17107584259000E-03,0.17267312849000E-03,0.17450125261000E-03,0.17656441134000E-03,0.17886595068000E-03,
     +     0.18141384385000E-03,0.18421475531000E-03,0.18727433578000E-03,0.19060096817000E-03,0.19420358679000E-03,
     +     0.19808999158000E-03,0.20227217100000E-03,0.20675917941000E-03,0.21156247193000E-03,0.21669474302000E-03,
     +     0.22216736549000E-03,0.22801317471000E-03,0.23443444791000E-03,0.23687244285000E-03,0.23273229481000E-03,
     +     0.23097259472000E-03,0.22870156905000E-03,0.22600887748000E-03,0.22295374751000E-03,0.21959560881000E-03,
     +     0.21598630785000E-03,0.21217100923000E-03,0.20818241113000E-03,0.20407260147000E-03,0.19986356226000E-03,
     +     0.19559165877000E-03,0.19128685329000E-03,0.18696994282000E-03,0.18266001600000E-03,0.17837683984000E-03,
     +     0.17413592781000E-03,0.16995005932000E-03,0.16583016197000E-03,0.16178316724000E-03,0.15781704439000E-03,
     +     0.15393783793000E-03,0.15014855812000E-03,0.14645114588000E-03,0.14284859156000E-03,0.13934222389000E-03,
     +     0.13593193392000E-03,0.13261689573000E-03,0.12939488945000E-03,0.12626382804000E-03,0.12322487444000E-03,
     +     0.12027475330000E-03,0.11740993146000E-03,0.11462833526000E-03,0.11192707761000E-03,0.10930321066000E-03,
     +     0.10675469682000E-03,0.10427824240000E-03,0.10187085057000E-03,0.99529423088000E-04,0.97250794558000E-04,
     +     0.95033317188000E-04,0.92875266761000E-04,0.90772710144000E-04,0.88722154992000E-04,0.86722347377000E-04,
     +     0.84771656382000E-04,0.82867788785000E-04,0.81008477752000E-04,0.79191697858000E-04,0.77415397782000E-04,
     +     0.75678216055000E-04,0.73979114884000E-04,0.72316470396000E-04,0.70688651921000E-04,0.69094171034000E-04,
     +     0.67531886574000E-04,0.66001191387000E-04,0.64501049398000E-04,0.63030877097000E-04,0.61589485454000E-04,
     +     0.60175497621000E-04,0.58788972045000E-04,0.57429481020000E-04,0.56096497211000E-04,0.54789113574000E-04,
     +     0.53506580288000E-04,0.52248866884000E-04,0.51015839252000E-04,0.49807236191000E-04,0.48622371589000E-04,
     +     0.47460642321000E-04,0.46321950088000E-04,0.45206509641000E-04,0.44113976042000E-04,0.43043941328000E-04,
     +     0.41996110390000E-04,0.40970138077000E-04,0.39965882859000E-04,0.38983414527000E-04,0.38022420879000E-04,
     +     0.37082630421000E-04,0.36163593701000E-04,0.35264913225000E-04,0.34386992834000E-04,0.33529272720000E-04,
     +     0.32691457662000E-04,0.31873283598000E-04,0.31074221366000E-04,0.30294151881000E-04,0.29533098204000E-04,
     +     0.28790533792000E-04,0.28065972595000E-04,0.27359114422000E-04,0.26669636230000E-04,0.25997378246000E-04,
     +     0.25341946001000E-04,0.24702984553000E-04,0.24080003149000E-04,0.23472473806000E-04,0.22880299969000E-04,
     +     0.22303253487000E-04,0.21740791035000E-04,0.21192480480000E-04,0.20657891025000E-04,0.20136570395000E-04,
     +     0.19628515219000E-04,0.19133280321000E-04,0.18650335261000E-04,0.18179243038000E-04,0.17719668199000E-04,
     +     0.17271533397000E-04,0.16834367611000E-04,0.16407787573000E-04,0.15991527214000E-04,0.15585183020000E-04,
     +     0.15188423527000E-04,0.14801110860000E-04,0.14422991441000E-04,0.14053702054000E-04,0.13692898011000E-04,
     +     0.13340358168000E-04,0.12995942320000E-04,0.12659448828000E-04,0.12330656169000E-04,0.12009365507000E-04,
     +     0.11695346466000E-04,0.11388426742000E-04,0.11088490570000E-04,0.10795547250000E-04,0.10509394130000E-04,
     +     0.10229761929000E-04,0.99566618937000E-05,0.96901227325000E-05,0.94300952617000E-05,0.91764468617000E-05,
     +     0.89290872150000E-05,0.86880179246000E-05,0.84533043913000E-05,0.82253887694000E-05,0.80016335871000E-05,
     +     0.77910186478000E-05      /)

C SURFACE BURST - Fig 2-15 - Reflected Pressure Pr/W**(1/3) : g,cm,mus,Mbar
             PBLAST_DATA%Pr_Surf = (/
     +     0.10247858483000E-01,0.99942560801000E-02,0.97377651477000E-02,0.94789610283000E-02,0.92185058512000E-02,
     +     0.89571576652000E-02,0.86957804253000E-02,0.84353549081000E-02,0.81769906394000E-02,0.79219389215000E-02,
     +     0.76716070577000E-02,0.74275738783000E-02,0.71916052999000E-02,0.69646812536000E-02,0.67468721703000E-02,
     +     0.65380624601000E-02,0.63379106259000E-02,0.61459029796000E-02,0.59615417669000E-02,0.57845237645000E-02,
     +     0.56142731786000E-02,0.54502261136000E-02,0.52918394107000E-02,0.51385615794000E-02,0.49900059094000E-02,
     +     0.48458497450000E-02,0.47056241826000E-02,0.45689359544000E-02,0.44354741706000E-02,0.43049649643000E-02,
     +     0.41772482975000E-02,0.40521182678000E-02,0.39293992169000E-02,0.38089468070000E-02,0.36906541758000E-02,
     +     0.35744878189000E-02,0.34604084088000E-02,0.33483731379000E-02,0.32383792203000E-02,0.31304299761000E-02,
     +     0.30245319542000E-02,0.29207571078000E-02,0.28191312954000E-02,0.27196738232000E-02,0.26224183634000E-02,
     +     0.25274072588000E-02,0.24347036043000E-02,0.23443513330000E-02,0.22563611791000E-02,0.21707525095000E-02,
     +     0.20875440487000E-02,0.20067443071000E-02,0.19283894071000E-02,0.18524641416000E-02,0.17789501177000E-02,
     +     0.17078309760000E-02,0.16390783503000E-02,0.15726802354000E-02,0.15086150212000E-02,0.14468289409000E-02,
     +     0.13872640484000E-02,0.13298694052000E-02,0.12746033899000E-02,0.12214200140000E-02,0.11702590384000E-02,
     +     0.11210583538000E-02,0.10737379836000E-02,0.10282275018000E-02,0.98449894151000E-03,0.94248585888000E-03,
     +     0.90211271854000E-03,0.86330967807000E-03,0.82600960521000E-03,0.79016305492000E-03,0.75572672559000E-03,
     +     0.72263600706000E-03,0.69082140047000E-03,0.66022285741000E-03,0.63079763726000E-03,0.60251709343000E-03,
     +     0.57532346615000E-03,0.54915930117000E-03,0.52398259447000E-03,0.49975746597000E-03,0.47645604602000E-03,
     +     0.45403871257000E-03,0.43247096087000E-03,0.41171716467000E-03,0.39174124736000E-03,0.37252494096000E-03,
     +     0.35404955954000E-03,0.33628483732000E-03,0.31920563834000E-03,0.30278744155000E-03,0.28700796688000E-03,
     +     0.27186244461000E-03,0.25732910057000E-03,0.24338572510000E-03,0.23001756747000E-03,0.21720838703000E-03,
     +     0.20494367191000E-03,0.19321556859000E-03,0.18200767503000E-03,0.17130304767000E-03,0.16108685480000E-03,
     +     0.15134676300000E-03,0.14207428034000E-03,0.13325698887000E-03,0.12487892074000E-03,0.11692335180000E-03,
     +     0.10937686445000E-03,0.10223241192000E-03,0.95476653976000E-04,0.89095080893000E-04,0.83071829264000E-04,
     +     0.77390777554000E-04,0.72041182264000E-04,0.67014504174000E-04,0.62294260845000E-04,0.57865964658000E-04,
     +     0.53715476413000E-04,0.49827985958000E-04,0.46195609374000E-04,0.42805118570000E-04,0.39642994435000E-04,
     +     0.36695980274000E-04,0.33950677605000E-04,0.31397151302000E-04,0.29026969675000E-04,0.26827892306000E-04,
     +     0.24788269638000E-04,0.22897396531000E-04,0.21145607591000E-04,0.19526275555000E-04,0.18030210415000E-04,
     +     0.16648276951000E-04,0.15371944021000E-04,0.14193234135000E-04,0.13106337233000E-04,0.12105499272000E-04,
     +     0.11183667786000E-04,0.10334441724000E-04,0.95519786081000E-05,0.88312230634000E-05,0.81686855708000E-05,
     +     0.75594913042000E-05,0.69990320379000E-05,0.64831844994000E-05,0.60082283105000E-05,0.55715556295000E-05,
     +     0.51702236841000E-05,0.48010928959000E-05,0.44613157284000E-05,0.41483337141000E-05,0.38600990775000E-05,
     +     0.35949839029000E-05,0.33509099381000E-05,0.31259845589000E-05,0.29185056263000E-05,0.27269820476000E-05,
     +     0.25504106158000E-05,0.23875350253000E-05,0.22371132556000E-05,0.20980420510000E-05,0.19693235991000E-05,
     +     0.18501918223000E-05,0.17399990506000E-05,0.16379376848000E-05,0.15432758502000E-05,0.14553678640000E-05,
     +     0.13736638416000E-05,0.12977791037000E-05,0.12272291174000E-05,0.11615628264000E-05,0.11003464922000E-05,
     +     0.10431906572000E-05,0.98984792974000E-06,0.94004707313000E-06,0.89348982127000E-06,0.84989337471000E-06,
     +     0.80901191952000E-06,0.77065855500000E-06,0.73467312801000E-06,0.70087635164000E-06,0.66908456448000E-06,
     +     0.63912974741000E-06,0.61087868284000E-06,0.58424078801000E-06,0.55910164975000E-06,0.53534199822000E-06,
     +     0.51285815516000E-06,0.49155575101000E-06,0.47135981267000E-06,0.45221501316000E-06,0.43404352873000E-06,
     +     0.41677602521000E-06,0.40034842808000E-06,0.38470398098000E-06,0.36981272586000E-06,0.35562534856000E-06,
     +     0.34209596646000E-06,0.32918166792000E-06,0.31684208433000E-06,0.30505187475000E-06,0.29378745240000E-06,
     +     0.28301434741000E-06,0.27270380483000E-06,0.26283038782000E-06,0.25336976073000E-06,0.24430773072000E-06,
     +     0.23562400463000E-06,0.22729800388000E-06,0.21930945984000E-06,0.21164010517000E-06,0.20427914583000E-06,
     +     0.19721384061000E-06,0.19042769598000E-06,0.18390643987000E-06,0.17763628683000E-06,0.17160470919000E-06,
     +     0.16580470034000E-06,0.16022473358000E-06,0.15485182870000E-06,0.14967459970000E-06,0.14468363462000E-06,
     +     0.13987217484000E-06,0.13523070978000E-06,0.13075005656000E-06,0.12642121347000E-06,0.12223462135000E-06,
     +     0.11818345478000E-06,0.11426300988000E-06,0.11046551177000E-06,0.10678311501000E-06,0.10320883599000E-06,
     +     0.99736956007000E-07,0.96364540564000E-07,0.93085350382000E-07,0.89895373702000E-07,0.86790026724000E-07,
     +     0.83764611986000E-07,0.80818708975000E-07,0.77949690035000E-07,0.75155466294000E-07,0.72434961489000E-07,
     +     0.69787231343000E-07,0.67212432377000E-07,0.64712405330000E-07,0.62288253926000E-07,0.59941816899000E-07,
     +     0.57675641566000E-07,0.55492871208000E-07,0.53397890929000E-07,0.51398213416000E-07,0.49481175473000E-07,
     +     0.47709698815000E-07      /)

C SURFACE BURST - Fig 2-15 - Incident Pressure Pso/W**(1/3) : g,cm,mus,Mbar
             PBLAST_DATA%Pso_Surf = (/
     +     0.69878901860000E-03,0.68682880765000E-03,0.67464370120000E-03,0.66225300193000E-03,0.64967954523000E-03,
     +     0.63695009127000E-03,0.62409575481000E-03,0.61115247589000E-03,0.59816153507000E-03,0.58517011740000E-03,
     +     0.57223192919000E-03,0.55940787242000E-03,0.54676672476000E-03,0.53434245542000E-03,0.52212773981000E-03,
     +     0.51011561977000E-03,0.49829753867000E-03,0.48666130290000E-03,0.47519835105000E-03,0.46390794069000E-03,
     +     0.45277965155000E-03,0.44180827449000E-03,0.43098915139000E-03,0.42031470303000E-03,0.40978431042000E-03,
     +     0.39939959892000E-03,0.38915738856000E-03,0.37905549035000E-03,0.36909437121000E-03,0.35927517343000E-03,
     +     0.34960163913000E-03,0.34007560232000E-03,0.33069950853000E-03,0.32147552010000E-03,0.31240527950000E-03,
     +     0.30349312749000E-03,0.29474277781000E-03,0.28615641290000E-03,0.27773702945000E-03,0.26948629609000E-03,
     +     0.26140515522000E-03,0.25350001131000E-03,0.24577087358000E-03,0.23821745733000E-03,0.23084052018000E-03,
     +     0.22364006397000E-03,0.21661888572000E-03,0.20977627965000E-03,0.20311036150000E-03,0.19661989806000E-03,
     +     0.19030304761000E-03,0.18415850539000E-03,0.17818503004000E-03,0.17238040708000E-03,0.16674132389000E-03,
     +     0.16126344818000E-03,0.15594373756000E-03,0.15078145239000E-03,0.14577239482000E-03,0.14091196922000E-03,
     +     0.13619655072000E-03,0.13162160793000E-03,0.12718325445000E-03,0.12287969738000E-03,0.11870672723000E-03,
     +     0.11465937893000E-03,0.11073255693000E-03,0.10692235450000E-03,0.10322820360000E-03,0.99644745386000E-04,
     +     0.96168074756000E-04,0.92794531113000E-04,0.89519576753000E-04,0.86342224737000E-04,0.83258693728000E-04,
     +     0.80265353674000E-04,0.77359702364000E-04,0.74538200651000E-04,0.71797558024000E-04,0.69137934070000E-04,
     +     0.66555825132000E-04,0.64047660280000E-04,0.61611659408000E-04,0.59246231269000E-04,0.56950075509000E-04,
     +     0.54720992675000E-04,0.52557432328000E-04,0.50457528595000E-04,0.48419139382000E-04,0.46441694334000E-04,
     +     0.44524504945000E-04,0.42665767790000E-04,0.40864156342000E-04,0.39118384133000E-04,0.37427131385000E-04,
     +     0.35790570470000E-04,0.34207424430000E-04,0.32676304139000E-04,0.31196403117000E-04,0.29766768326000E-04,
     +     0.28386569279000E-04,0.27055459500000E-04,0.25772355101000E-04,0.24536115017000E-04,0.23345721921000E-04,
     +     0.22200353651000E-04,0.21099585247000E-04,0.20042538961000E-04,0.19028073529000E-04,0.18054893019000E-04,
     +     0.17121960256000E-04,0.16229021506000E-04,0.15374943819000E-04,0.14558648149000E-04,0.13778925864000E-04,
     +     0.13034464464000E-04,0.12324524602000E-04,0.11648421016000E-04,0.11004845900000E-04,0.10392638058000E-04,
     +     0.98106202839000E-05,0.92575557154000E-05,0.87328119650000E-05,0.82353463870000E-05,0.77640350438000E-05,
     +     0.73176302125000E-05,0.68949133481000E-05,0.64951369162000E-05,0.61175332999000E-05,0.57609708566000E-05,
     +     0.54243590752000E-05,0.51066752060000E-05,0.48070031132000E-05,0.45247384043000E-05,0.42589574477000E-05,
     +     0.40087512774000E-05,0.37732376216000E-05,0.35515487388000E-05,0.33430965398000E-05,0.31472827070000E-05,
     +     0.29633208085000E-05,0.27904794225000E-05,0.26280678881000E-05,0.24754831484000E-05,0.23323486607000E-05,
     +     0.21980526300000E-05,0.20720179413000E-05,0.19537115054000E-05,0.18426255015000E-05,0.17384315726000E-05,
     +     0.16407364395000E-05,0.15490896670000E-05,0.14630827932000E-05,0.13823391397000E-05,0.13065435410000E-05,
     +     0.12354616910000E-05,0.11687705710000E-05,0.11061608254000E-05,0.10473467587000E-05,0.99207700625000E-06,
     +     0.94018557660000E-06,0.89146183989000E-06,0.84566686930000E-06,0.80260151651000E-06,0.76208655011000E-06,
     +     0.72395885345000E-06,0.68810689151000E-06,0.65436898647000E-06,0.62259093011000E-06,0.59263650043000E-06,
     +     0.56438798160000E-06,0.53776424554000E-06,0.51265721283000E-06,0.48896815422000E-06,0.46659531121000E-06,
     +     0.44544220804000E-06,0.42545330071000E-06,0.40656261921000E-06,0.38869633304000E-06,0.37178176080000E-06,
     +     0.35575352575000E-06,0.34056293993000E-06,0.32616967770000E-06,0.31252457707000E-06,0.29957484325000E-06,
     +     0.28727242631000E-06,0.27557958782000E-06,0.26447102825000E-06,0.25391295435000E-06,0.24386785083000E-06,
     +     0.23430389778000E-06,0.22519182918000E-06,0.21650707582000E-06,0.20823352360000E-06,0.20034441599000E-06,
     +     0.19281606829000E-06,0.18562680488000E-06,0.17875653180000E-06,0.17219533609000E-06,0.16592595927000E-06,
     +     0.15993059328000E-06,0.15419314172000E-06,0.14869900982000E-06,0.14343808664000E-06,0.13840093929000E-06,
     +     0.13357441467000E-06,0.12894682898000E-06,0.12450722590000E-06,0.12024562810000E-06,0.11615608584000E-06,
     +     0.11222994356000E-06,0.10845889365000E-06,0.10483369285000E-06,0.10134575513000E-06,0.97991196931000E-07,
     +     0.94763907986000E-07,0.91656745348000E-07,0.88663185528000E-07,0.85777029577000E-07,0.82993204081000E-07,
     +     0.80307931783000E-07,0.77716313075000E-07,0.75213144136000E-07,0.72792870560000E-07,0.70451071952000E-07,
     +     0.68186144503000E-07,0.65993424655000E-07,0.63868797380000E-07,0.61808909223000E-07,0.59810001033000E-07,
     +     0.57869259516000E-07,0.55984852474000E-07,0.54153853068000E-07,0.52373360194000E-07,0.50640843421000E-07,
     +     0.48954261058000E-07,0.47312489007000E-07,0.45713761419000E-07,0.44156507075000E-07,0.42639335571000E-07,
     +     0.41160969559000E-07,0.39720946288000E-07,0.38318992835000E-07,0.36954579865000E-07,0.35627333159000E-07,
     +     0.34337123943000E-07,0.33084272603000E-07,0.31869579306000E-07,0.30693550319000E-07,0.29556917800000E-07,
     +     0.28460554740000E-07,0.27405474912000E-07,0.26393270827000E-07,0.25427389928000E-07,0.24498628791000E-07,
     +     0.23644141466000E-07      /)

C SURFACE BURST - Fig 2-15 - Characteristic Time T0/W**(1/3) : g,cm,mus,Mbar
              PBLAST_DATA%t0_Surf = (/
     +     0.36768976143000E+01,0.48224540840000E+01,0.59664703043000E+01,0.71075979284000E+01,0.82444162323000E+01,
     +     0.93754309912000E+01,0.10499073595000E+02,0.11613700441000E+02,0.12717592653000E+02,0.13808956168000E+02,
     +     0.14885922247000E+02,0.15946548474000E+02,0.16988820301000E+02,0.18010653215000E+02,0.19009895611000E+02,
     +     0.19984332450000E+02,0.20931689808000E+02,0.21849640417000E+02,0.22735810316000E+02,0.23587786746000E+02,
     +     0.24403127425000E+02,0.25179371359000E+02,0.25914051358000E+02,0.26604708461000E+02,0.27248908440000E+02,
     +     0.27844260647000E+02,0.28388439417000E+02,0.28879208322000E+02,0.29314447550000E+02,0.29692184740000E+02,
     +     0.30010629629000E+02,0.30268212882000E+02,0.30463629536000E+02,0.30595887517000E+02,0.30664361716000E+02,
     +     0.30668854186000E+02,0.30609661050000E+02,0.30487646762000E+02,0.30304326437000E+02,0.30061957028000E+02,
     +     0.29763638169000E+02,0.29413423621000E+02,0.29016444315000E+02,0.28579044070000E+02,0.28108929176000E+02,
     +     0.27615333132000E+02,0.27109197934000E+02,0.26603373448000E+02,0.26112836516000E+02,0.25654931611000E+02,
     +     0.25247563298000E+02,0.24891133726000E+02,0.24576489545000E+02,0.24297477331000E+02,0.24048685172000E+02,
     +     0.23825671823000E+02,0.23624578901000E+02,0.23442201393000E+02,0.23276073972000E+02,0.23124106260000E+02,
     +     0.22984649740000E+02,0.22856789153000E+02,0.22739847085000E+02,0.22633585754000E+02,0.22537869251000E+02,
     +     0.22453266803000E+02,0.22380318564000E+02,0.22320168123000E+02,0.22273867757000E+02,0.22242811571000E+02,
     +     0.22228815721000E+02,0.22233884030000E+02,0.22259958022000E+02,0.22309311567000E+02,0.22384603163000E+02,
     +     0.22488573002000E+02,0.22624211532000E+02,0.22794831642000E+02,0.23003890899000E+02,0.23255296254000E+02,
     +     0.23553295362000E+02,0.23902382484000E+02,0.24307740386000E+02,0.24774837436000E+02,0.25309821447000E+02,
     +     0.25919717480000E+02,0.26612045728000E+02,0.27395214993000E+02,0.28278547458000E+02,0.29272943081000E+02,
     +     0.30389942765000E+02,0.31643173134000E+02,0.33047629954000E+02,0.34619897575000E+02,0.36378861860000E+02,
     +     0.38346400841000E+02,0.40545760298000E+02,0.43004558553000E+02,0.45751949147000E+02,0.48822470485000E+02,
     +     0.52253463920000E+02,0.56086469901000E+02,0.60367704986000E+02,0.65148281966000E+02,0.70484126419000E+02,
     +     0.76436529539000E+02,0.83071020104000E+02,0.90456895088000E+02,0.98666577414000E+02,0.10777655923000E+03,
     +     0.11786517305000E+03,0.12900529408000E+03,0.14127808506000E+03,0.15473970396000E+03,0.16897425976000E+03,
     +     0.18073825850000E+03,0.19153613121000E+03,0.19931622313000E+03,0.20527490852000E+03,0.20991431134000E+03,
     +     0.21360765861000E+03,0.21655517289000E+03,0.21883997756000E+03,0.22048085535000E+03,0.22146633621000E+03,
     +     0.22179347685000E+03,0.22147923699000E+03,0.22057878228000E+03,0.21917582816000E+03,0.21738593669000E+03,
     +     0.21533269041000E+03,0.21319091062000E+03,0.21104291514000E+03,0.20903998728000E+03,0.20727659755000E+03,
     +     0.20582818576000E+03,0.20474744101000E+03,0.20406047880000E+03,0.20377548916000E+03,0.20388488786000E+03,
     +     0.20437125529000E+03,0.20521976221000E+03,0.20642370556000E+03,0.20799109768000E+03,0.20995671089000E+03,
     +     0.21238669277000E+03,0.21537577221000E+03,0.21905100461000E+03,0.22355580129000E+03,0.22902244708000E+03,
     +     0.23553083390000E+03,0.24305750893000E+03,0.25134035723000E+03,0.25956977269000E+03,0.26864330830000E+03,
     +     0.27555007360000E+03,0.28186154131000E+03,0.28807878631000E+03,0.29412586524000E+03,0.30001007423000E+03,
     +     0.30573368476000E+03,0.31130059605000E+03,0.31671491523000E+03,0.32198133087000E+03,0.32710483893000E+03,
     +     0.33209180395000E+03,0.33694783803000E+03,0.34167926558000E+03,0.34629322789000E+03,0.35079665274000E+03,
     +     0.35519657226000E+03,0.35949845392000E+03,0.36371238369000E+03,0.36784507824000E+03,0.37190246137000E+03,
     +     0.37589151195000E+03,0.37982165151000E+03,0.38369595251000E+03,0.38752557789000E+03,0.39131357226000E+03,
     +     0.39506674797000E+03,0.39879071915000E+03,0.40249296802000E+03,0.40617938619000E+03,0.40985300705000E+03,
     +     0.41351928566000E+03,0.41718568314000E+03,0.42085435586000E+03,0.42452854303000E+03,0.42821302977000E+03,
     +     0.43191215433000E+03,0.43562820998000E+03,0.43936508528000E+03,0.44312532180000E+03,0.44691005465000E+03,
     +     0.45072215828000E+03,0.45456340287000E+03,0.45843510906000E+03,0.46233852428000E+03,0.46627515929000E+03,
     +     0.47024485269000E+03,0.47424817174000E+03,0.47828430189000E+03,0.48235543061000E+03,0.48645963756000E+03,
     +     0.49059765998000E+03,0.49476607216000E+03,0.49896722571000E+03,0.50319601366000E+03,0.50745389224000E+03,
     +     0.51174028091000E+03,0.51605037638000E+03,0.52038321766000E+03,0.52473824316000E+03,0.52911136342000E+03,
     +     0.53350158779000E+03,0.53790612930000E+03,0.54232318737000E+03,0.54675039360000E+03,0.55118472627000E+03,
     +     0.55562323696000E+03,0.56006489202000E+03,0.56450785445000E+03,0.56894792999000E+03,0.57338436420000E+03,
     +     0.57781602875000E+03,0.58223974846000E+03,0.58665460841000E+03,0.59105885704000E+03,0.59545141366000E+03,
     +     0.59983287445000E+03,0.60420219885000E+03,0.60856064830000E+03,0.61290572798000E+03,0.61724131319000E+03,
     +     0.62156703580000E+03,0.62588582562000E+03,0.63019939232000E+03,0.63451265094000E+03,0.63882799339000E+03,
     +     0.64315113154000E+03,0.64748522304000E+03,0.65183942773000E+03,0.65621781893000E+03,0.66063040905000E+03,
     +     0.66508547970000E+03,0.66959352309000E+03,0.67416367417000E+03,0.67881002342000E+03,0.68354551986000E+03,
     +     0.68838190211000E+03,0.69334106061000E+03,0.69843475298000E+03,0.70368407830000E+03,0.70911299625000E+03,
     +     0.71469273734000E+03      /)



C SURFACE BURST - Fig 2-15 - Arrival Time TA/W**(1/3) : g,cm,mus,Mbar
             PBLAST_DATA%ta_Surf = (/
     +     0.84868904252000E+00,0.86381654354000E+00,0.87974759865000E+00,0.89649661948000E+00,0.91407569092000E+00,
     +     0.93249417227000E+00,0.95175825413000E+00,0.97187046648000E+00,0.99282913363000E+00,0.10146277706000E+01,
     +     0.10372544158000E+01,0.10606908934000E+01,0.10849120725000E+01,0.11099385280000E+01,0.11358437715000E+01,
     +     0.11627002940000E+01,0.11905800087000E+01,0.12195626838000E+01,0.12497203081000E+01,0.12811143075000E+01,
     +     0.13138295464000E+01,0.13479362715000E+01,0.13835030999000E+01,0.14206171095000E+01,0.14593552241000E+01,
     +     0.14997820367000E+01,0.15419914515000E+01,0.15860618633000E+01,0.16320635347000E+01,0.16800968002000E+01,
     +     0.17302401102000E+01,0.17825939239000E+01,0.18372369137000E+01,0.18942615930000E+01,0.19537832838000E+01,
     +     0.20158832687000E+01,0.20806819613000E+01,0.21482894052000E+01,0.22187980977000E+01,0.22923261781000E+01,
     +     0.23690157658000E+01,0.24489722076000E+01,0.25323212209000E+01,0.26192062362000E+01,0.27097743881000E+01,
     +     0.28041654532000E+01,0.29025136737000E+01,0.30049859550000E+01,0.31117633214000E+01,0.32230097764000E+01,
     +     0.33388966366000E+01,0.34596274926000E+01,0.35853870302000E+01,0.37163792899000E+01,0.38528388951000E+01,
     +     0.39949886224000E+01,0.41430464462000E+01,0.42972935483000E+01,0.44579771246000E+01,0.46253716866000E+01,
     +     0.47997796254000E+01,0.49815092040000E+01,0.51708877097000E+01,0.53682589896000E+01,0.55739672667000E+01,
     +     0.57883948413000E+01,0.60119631601000E+01,0.62450916366000E+01,0.64882112926000E+01,0.67418187678000E+01,
     +     0.70063874201000E+01,0.72824519349000E+01,0.75706187162000E+01,0.78714028804000E+01,0.81854660893000E+01,
     +     0.85134768821000E+01,0.88561064305000E+01,0.92141108425000E+01,0.95882932208000E+01,0.99793859624000E+01,
     +     0.10388297476000E+02,0.10816083599000E+02,0.11263665021000E+02,0.11731925254000E+02,0.12222026276000E+02,
     +     0.12735218769000E+02,0.13272654738000E+02,0.13835553265000E+02,0.14425402619000E+02,0.15043687169000E+02,
     +     0.15691666460000E+02,0.16371094065000E+02,0.17083809600000E+02,0.17831526337000E+02,0.18616145851000E+02,
     +     0.19439607228000E+02,0.20303986693000E+02,0.21211771285000E+02,0.22165210462000E+02,0.23166525566000E+02,
     +     0.24218696336000E+02,0.25324345417000E+02,0.26486355135000E+02,0.27707858176000E+02,0.28992131671000E+02,
     +     0.30342581737000E+02,0.31762891543000E+02,0.33256745977000E+02,0.34828012083000E+02,0.36481155848000E+02,
     +     0.38220741508000E+02,0.40050816221000E+02,0.41976593537000E+02,0.44003128508000E+02,0.46135838528000E+02,
     +     0.48380613359000E+02,0.50742982354000E+02,0.53228804658000E+02,0.55845249350000E+02,0.58598836025000E+02,
     +     0.61496371563000E+02,0.64545964983000E+02,0.67754510332000E+02,0.71130638216000E+02,0.74682475649000E+02,
     +     0.78418528435000E+02,0.82348581682000E+02,0.86482115512000E+02,0.90828205031000E+02,0.95397511160000E+02,
     +     0.10020104845000E+03,0.10524943548000E+03,0.11055397868000E+03,0.11612668007000E+03,0.12198009348000E+03,
     +     0.12812661290000E+03,0.13457914521000E+03,0.14135110897000E+03,0.14845558817000E+03,0.15590818740000E+03,
     +     0.16372341779000E+03,0.17191521754000E+03,0.18049944579000E+03,0.18949277938000E+03,0.19891028349000E+03,
     +     0.20876931217000E+03,0.21908527962000E+03,0.22987571873000E+03,0.24116017075000E+03,0.25295357052000E+03,
     +     0.26527688360000E+03,0.27814727254000E+03,0.29158197116000E+03,0.30560106881000E+03,0.32022348657000E+03,
     +     0.33546863389000E+03,0.35135645597000E+03,0.36790696888000E+03,0.38513920154000E+03,0.40307242110000E+03,
     +     0.42172813307000E+03,0.44112713161000E+03,0.46128925824000E+03,0.48223470245000E+03,0.50398391847000E+03,
     +     0.52655753494000E+03,0.54997704517000E+03,0.57426210836000E+03,0.59943524010000E+03,0.62551767548000E+03,
     +     0.65252879392000E+03,0.68049469698000E+03,0.70943869900000E+03,0.73937063650000E+03,0.77031576319000E+03,
     +     0.80230706821000E+03,0.83535628418000E+03,0.86949293029000E+03,0.90473327225000E+03,0.94110482597000E+03,
     +     0.97863527856000E+03,0.10173389416000E+04,0.10572513628000E+04,0.10983874751000E+04,0.11407799228000E+04,
     +     0.11844658264000E+04,0.12294631017000E+04,0.12757936351000E+04,0.13234894612000E+04,0.13725934654000E+04,
     +     0.14231336010000E+04,0.14751397082000E+04,0.15286583002000E+04,0.15836982377000E+04,0.16403200805000E+04,
     +     0.16985645363000E+04,0.17584587711000E+04,0.18200558772000E+04,0.18833921901000E+04,0.19485185682000E+04,
     +     0.20154843926000E+04,0.20843402403000E+04,0.21551409379000E+04,0.22279397371000E+04,0.23027834943000E+04,
     +     0.23797518223000E+04,0.24588979241000E+04,0.25402712839000E+04,0.26239597777000E+04,0.27100169482000E+04,
     +     0.27985209088000E+04,0.28895487687000E+04,0.29831699295000E+04,0.30794619617000E+04,0.31785104780000E+04,
     +     0.32803956435000E+04,0.33852007217000E+04,0.34930040817000E+04,0.36039015484000E+04,0.37180030902000E+04,
     +     0.38353727773000E+04,0.39561061591000E+04,0.40803150292000E+04,0.42080874131000E+04,0.43395035529000E+04,
     +     0.44746689224000E+04,0.46137044553000E+04,0.47566882655000E+04,0.49037082623000E+04,0.50548739805000E+04,
     +     0.52102761945000E+04,0.53700322421000E+04,0.55342209290000E+04,0.57029484907000E+04,0.58762997358000E+04,
     +     0.60543490988000E+04,0.62372252637000E+04,0.64250208953000E+04,0.66177950137000E+04,0.68156480439000E+04,
     +     0.70186850608000E+04,0.72269706935000E+04,0.74406108697000E+04,0.76597025687000E+04,0.78843397371000E+04,
     +     0.81146124342000E+04,0.83506172356000E+04,0.85924732999000E+04,0.88403035889000E+04,0.90942346946000E+04,
     +     0.93544102532000E+04,0.96210015789000E+04,0.98941933557000E+04,0.10174149696000E+05,0.10461334312000E+05,
     +     0.10755199332000E+05      /)

C   Figure 2_9 - Pra(curve_1, angle=0..85.0) Mbar
             PBLAST_DATA%Pra(1,1:256)= (/
     +     0.27980418453000E-02,0.28232083307000E-02,0.28467431325000E-02,0.28686681324000E-02,0.28890084644000E-02,
     +     0.29077789976000E-02,0.29250091522000E-02,0.29407244626000E-02,0.29549616545000E-02,0.29677631019000E-02,
     +     0.29791608576000E-02,0.29891920391000E-02,0.29978988404000E-02,0.30053303349000E-02,0.30115397243000E-02,
     +     0.30165614227000E-02,0.30204386179000E-02,0.30232296734000E-02,0.30249891667000E-02,0.30257569024000E-02,
     +     0.30255793158000E-02,0.30245057529000E-02,0.30225927869000E-02,0.30198951809000E-02,0.30164399545000E-02,
     +     0.30122816645000E-02,0.30074747414000E-02,0.30020631853000E-02,0.29960883443000E-02,0.29895845796000E-02,
     +     0.29825929480000E-02,0.29751669582000E-02,0.29673521811000E-02,0.29591676468000E-02,0.29506547238000E-02,
     +     0.29418489213000E-02,0.29327838942000E-02,0.29234954411000E-02,0.29140074778000E-02,0.29043449878000E-02,
     +     0.28945462408000E-02,0.28846364239000E-02,0.28746204171000E-02,0.28645399616000E-02,0.28544120145000E-02,
     +     0.28442523244000E-02,0.28340748587000E-02,0.28239089811000E-02,0.28137551091000E-02,0.28036271714000E-02,
     +     0.27935495251000E-02,0.27835244043000E-02,0.27735567995000E-02,0.27636630620000E-02,0.27538514667000E-02,
     +     0.27441180645000E-02,0.27344732546000E-02,0.27249214951000E-02,0.27154596879000E-02,0.27060879441000E-02,
     +     0.26968112914000E-02,0.26876306543000E-02,0.26785343152000E-02,0.26695228588000E-02,0.26606001716000E-02,
     +     0.26517524224000E-02,0.26429712207000E-02,0.26342587094000E-02,0.26256034179000E-02,0.26169877534000E-02,
     +     0.26084208154000E-02,0.25998827211000E-02,0.25913595900000E-02,0.25828450363000E-02,0.25743270439000E-02,
     +     0.25657960085000E-02,0.25572345927000E-02,0.25486300045000E-02,0.25399698135000E-02,0.25312424337000E-02,
     +     0.25224292324000E-02,0.25135173582000E-02,0.25044935412000E-02,0.24953343583000E-02,0.24860325619000E-02,
     +     0.24765747097000E-02,0.24669395038000E-02,0.24571083832000E-02,0.24470705369000E-02,0.24368107490000E-02,
     +     0.24263139625000E-02,0.24155626544000E-02,0.24045397549000E-02,0.23932311756000E-02,0.23816220800000E-02,
     +     0.23697005028000E-02,0.23574512983000E-02,0.23448570472000E-02,0.23319127751000E-02,0.23186035308000E-02,
     +     0.23049107841000E-02,0.22908307163000E-02,0.22763534945000E-02,0.22614640364000E-02,0.22461541478000E-02,
     +     0.22304198153000E-02,0.22142517311000E-02,0.21976469323000E-02,0.21805991323000E-02,0.21631009039000E-02,
     +     0.21451508613000E-02,0.21267497336000E-02,0.21078959826000E-02,0.20885915684000E-02,0.20688378724000E-02,
     +     0.20486303431000E-02,0.20279796267000E-02,0.20068929003000E-02,0.19853715201000E-02,0.19634237800000E-02,
     +     0.19410621331000E-02,0.19182985832000E-02,0.18951374745000E-02,0.18715903258000E-02,0.18476761507000E-02,
     +     0.18234101088000E-02,0.17988031723000E-02,0.17738718788000E-02,0.17486390162000E-02,0.17231156048000E-02,
     +     0.16973255970000E-02,0.16712883699000E-02,0.16450236596000E-02,0.16185545046000E-02,0.15918974641000E-02,
     +     0.15650757682000E-02,0.15381168614000E-02,0.15110457123000E-02,0.14838773602000E-02,0.14566357029000E-02,
     +     0.14293475101000E-02,0.14020418711000E-02,0.13747393614000E-02,0.13474547632000E-02,0.13202145502000E-02,
     +     0.12930511911000E-02,0.12659802633000E-02,0.12390240277000E-02,0.12122041799000E-02,0.11855423001000E-02,
     +     0.11590597445000E-02,0.11327771334000E-02,0.11067110772000E-02,0.10808837232000E-02,0.10553132022000E-02,
     +     0.10300149078000E-02,0.10050024238000E-02,0.98029238470000E-03,0.95590269532000E-03,0.93184465271000E-03,
     +     0.90812764518000E-03,0.88476717218000E-03,0.86177332831000E-03,0.83915458606000E-03,0.81692118164000E-03,
     +     0.79507802821000E-03,0.77363294871000E-03,0.75259363392000E-03,0.73196344843000E-03,0.71174489333000E-03,
     +     0.69194345749000E-03,0.67255984788000E-03,0.65359591747000E-03,0.63505326854000E-03,0.61692887675000E-03,
     +     0.59922614798000E-03,0.58193913206000E-03,0.56506477037000E-03,0.54860494577000E-03,0.53255318294000E-03,
     +     0.51690459550000E-03,0.50165600329000E-03,0.48680106791000E-03,0.47233141137000E-03,0.45824514145000E-03,
     +     0.44453669924000E-03,0.43119547180000E-03,0.41821242127000E-03,0.40558503033000E-03,0.39330359109000E-03,
     +     0.38135837651000E-03,0.36974201386000E-03,0.35844657259000E-03,0.34746340715000E-03,0.33678421505000E-03,
     +     0.32639919715000E-03,0.31629789705000E-03,0.30647514713000E-03,0.29691966418000E-03,0.28762208559000E-03,
     +     0.27857439691000E-03,0.26976676403000E-03,0.26119146466000E-03,0.25284083635000E-03,0.24470537708000E-03,
     +     0.23677382569000E-03,0.22903862329000E-03,0.22149581989000E-03,0.21413471428000E-03,0.20694539587000E-03,
     +     0.19992285356000E-03,0.19306056708000E-03,0.18635054248000E-03,0.17978494989000E-03,0.17335734319000E-03,
     +     0.16706311933000E-03,0.16089647494000E-03,0.15485150368000E-03,0.14892334784000E-03,0.14310731269000E-03,
     +     0.13739959846000E-03,0.13179751738000E-03,0.12629669605000E-03,0.12089384489000E-03,0.11558894376000E-03,
     +     0.11037962951000E-03,0.10526454318000E-03,0.10024327891000E-03,0.95315896304000E-04,0.90483101561000E-04,
     +     0.85746586301000E-04,0.81107921044000E-04,0.76568990514000E-04,0.72132916038000E-04,0.67803344590000E-04,
     +     0.63582702296000E-04,0.59475192341000E-04,0.55486736225000E-04,0.51619377708000E-04,0.47879402788000E-04,
     +     0.44271180895000E-04,0.40798799369000E-04,0.37468401225000E-04,0.34282460311000E-04,0.31245217765000E-04,
     +     0.28360702721000E-04,0.25631929858000E-04,0.23060769729000E-04,0.20648433777000E-04,0.18396246387000E-04,
     +     0.16303943856000E-04,0.14369423584000E-04,0.12591467215000E-04,0.10969362838000E-04,0.94880376934000E-05,
     +     0.81601897766000E-05      /)

             PBLAST_DATA%Pra(2,1:256)= (/
     +     0.12514189348000E-02,0.12502386832000E-02,0.12490372748000E-02,0.12478137293000E-02,0.12465672698000E-02,
     +     0.12452981989000E-02,0.12440057852000E-02,0.12426913926000E-02,0.12413537844000E-02,0.12399907684000E-02,
     +     0.12386032380000E-02,0.12371945244000E-02,0.12357592733000E-02,0.12342956360000E-02,0.12328085066000E-02,
     +     0.12312944372000E-02,0.12297530731000E-02,0.12281842925000E-02,0.12265868322000E-02,0.12249594077000E-02,
     +     0.12233020574000E-02,0.12216153865000E-02,0.12198970054000E-02,0.12181445503000E-02,0.12163602193000E-02,
     +     0.12145413200000E-02,0.12126854868000E-02,0.12107934312000E-02,0.12088652272000E-02,0.12068985860000E-02,
     +     0.12048913573000E-02,0.12028435946000E-02,0.12007540260000E-02,0.11986184956000E-02,0.11964406364000E-02,
     +     0.11942187926000E-02,0.11919474737000E-02,0.11896260770000E-02,0.11872549180000E-02,0.11848329500000E-02,
     +     0.11823587600000E-02,0.11798297032000E-02,0.11772422336000E-02,0.11745988479000E-02,0.11718957669000E-02,
     +     0.11691297658000E-02,0.11663026779000E-02,0.11634115339000E-02,0.11604553978000E-02,0.11574317609000E-02,
     +     0.11543372533000E-02,0.11511708701000E-02,0.11479328923000E-02,0.11446226701000E-02,0.11412357425000E-02,
     +     0.11377693082000E-02,0.11342272569000E-02,0.11306023985000E-02,0.11268931191000E-02,0.11231026683000E-02,
     +     0.11192275813000E-02,0.11152625672000E-02,0.11112096704000E-02,0.11070693759000E-02,0.11028361474000E-02,
     +     0.10985091156000E-02,0.10940873748000E-02,0.10895705008000E-02,0.10849564953000E-02,0.10802433645000E-02,
     +     0.10754338961000E-02,0.10705227760000E-02,0.10655082840000E-02,0.10603935853000E-02,0.10551761557000E-02,
     +     0.10498531300000E-02,0.10444248216000E-02,0.10388909396000E-02,0.10332491860000E-02,0.10275026269000E-02,
     +     0.10216500045000E-02,0.10156886210000E-02,0.10096185146000E-02,0.10034405541000E-02,0.99715503090000E-03,
     +     0.99076052654000E-03,0.98425807340000E-03,0.97764969275000E-03,0.97093326831000E-03,0.96410739983000E-03,
     +     0.95717635556000E-03,0.95014234676000E-03,0.94300180396000E-03,0.93575491756000E-03,0.92840490825000E-03,
     +     0.92095426302000E-03,0.91340287382000E-03,0.90575148574000E-03,0.89800063823000E-03,0.89015355413000E-03,
     +     0.88221276412000E-03,0.87417834397000E-03,0.86605182496000E-03,0.85783661356000E-03,0.84953398286000E-03,
     +     0.84114499596000E-03,0.83267339229000E-03,0.82412179872000E-03,0.81549153223000E-03,0.80678526558000E-03,
     +     0.79800695769000E-03,0.78915861963000E-03,0.78024264906000E-03,0.77126161338000E-03,0.76221933258000E-03,
     +     0.75311953154000E-03,0.74396324310000E-03,0.73475507281000E-03,0.72549923609000E-03,0.71619761996000E-03,
     +     0.70685471196000E-03,0.69747191018000E-03,0.68805381951000E-03,0.67860523852000E-03,0.66912657930000E-03,
     +     0.65962543811000E-03,0.65010417783000E-03,0.64056404524000E-03,0.63101021385000E-03,0.62144779892000E-03,
     +     0.61187788001000E-03,0.60230663953000E-03,0.59273550571000E-03,0.58317006006000E-03,0.57361304949000E-03,
     +     0.56406749558000E-03,0.55453706854000E-03,0.54502737870000E-03,0.53554087161000E-03,0.52607986709000E-03,
     +     0.51664833325000E-03,0.50725097893000E-03,0.49788990505000E-03,0.48856875553000E-03,0.47929148987000E-03,
     +     0.47006086772000E-03,0.46087985237000E-03,0.45175169967000E-03,0.44267891132000E-03,0.43366496498000E-03,
     +     0.42471345659000E-03,0.41582658101000E-03,0.40700657672000E-03,0.39825600145000E-03,0.38957819282000E-03,
     +     0.38097612128000E-03,0.37245065131000E-03,0.36400460314000E-03,0.35564088238000E-03,0.34736127580000E-03,
     +     0.33916747917000E-03,0.33106171283000E-03,0.32304565550000E-03,0.31512116238000E-03,0.30729042975000E-03,
     +     0.29955458703000E-03,0.29191490207000E-03,0.28437282185000E-03,0.27692994550000E-03,0.26958763965000E-03,
     +     0.26234650585000E-03,0.25520784462000E-03,0.24817299538000E-03,0.24124270736000E-03,0.23441734844000E-03,
     +     0.22769827685000E-03,0.22108540083000E-03,0.21457944015000E-03,0.20818199612000E-03,0.20189241077000E-03,
     +     0.19571102416000E-03,0.18963864890000E-03,0.18367547473000E-03,0.17782114643000E-03,0.17207616658000E-03,
     +     0.16644051518000E-03,0.16091406566000E-03,0.15549692360000E-03,0.15018898887000E-03,0.14498996633000E-03,
     +     0.13989947154000E-03,0.13491743407000E-03,0.13004375180000E-03,0.12527771097000E-03,0.12061873968000E-03,
     +     0.11606668906000E-03,0.11162118987000E-03,0.10728160992000E-03,0.10304724222000E-03,0.98917566115000E-04,
     +     0.94891894924000E-04,0.90969390267000E-04,0.87150137498000E-04,0.83432869969000E-04,0.79816475889000E-04,
     +     0.76300479458000E-04,0.72884099335000E-04,0.69566644552000E-04,0.66347056028000E-04,0.63224264517000E-04,
     +     0.60197382368000E-04,0.57265679553000E-04,0.54428075774000E-04,0.51683416383000E-04,0.49030548535000E-04,
     +     0.46468468971000E-04,0.43996238901000E-04,0.41612548194000E-04,0.39316079157000E-04,0.37105567728000E-04,
     +     0.34979919984000E-04,0.32937950948000E-04,0.30978103722000E-04,0.29098803925000E-04,0.27298924050000E-04,
     +     0.25576997610000E-04,0.23931567935000E-04,0.22360987196000E-04,0.20863368620000E-04,0.19437575420000E-04,
     +     0.18081952596000E-04,0.16794672704000E-04,0.15573849922000E-04,0.14417721958000E-04,0.13324861204000E-04,
     +     0.12293340991000E-04,0.11321104222000E-04,0.10406086418000E-04,0.95467825780000E-05,0.87412954105000E-05,
     +     0.79875110178000E-05,0.72833001397000E-05,0.66266548093000E-05,0.60160379288000E-05,0.54492835034000E-05,
     +     0.49242430571000E-05,0.44388018659000E-05,0.39912403055000E-05,0.35797577134000E-05,0.32022507611000E-05,
     +     0.28566389363000E-05,0.25410038208000E-05,0.22538845883000E-05,0.19941251767000E-05,0.17559051001000E-05,
     +     0.15446427355000E-05      /)

             PBLAST_DATA%Pra(3,1:256)= (/
     +     0.78322749910000E-03,0.78122802881000E-03,0.77925118404000E-03,0.77729733776000E-03,0.77536323245000E-03,
     +     0.77344447225000E-03,0.77153939642000E-03,0.76964497731000E-03,0.76775945180000E-03,0.76587878374000E-03,
     +     0.76399991332000E-03,0.76212042302000E-03,0.76023843426000E-03,0.75835018866000E-03,0.75645637461000E-03,
     +     0.75455062818000E-03,0.75263166392000E-03,0.75069807064000E-03,0.74874578707000E-03,0.74677264475000E-03,
     +     0.74477791764000E-03,0.74275923926000E-03,0.74071336724000E-03,0.73863834637000E-03,0.73653395178000E-03,
     +     0.73439413532000E-03,0.73221898552000E-03,0.73000962520000E-03,0.72776032586000E-03,0.72546886595000E-03,
     +     0.72313526972000E-03,0.72075825752000E-03,0.71833459917000E-03,0.71586401454000E-03,0.71334566131000E-03,
     +     0.71077679979000E-03,0.70815481604000E-03,0.70547946169000E-03,0.70275105217000E-03,0.69996816413000E-03,
     +     0.69712910485000E-03,0.69423223182000E-03,0.69127551602000E-03,0.68826031241000E-03,0.68518511990000E-03,
     +     0.68204848890000E-03,0.67885118119000E-03,0.67559204161000E-03,0.67227015528000E-03,0.66888538639000E-03,
     +     0.66543742815000E-03,0.66192543575000E-03,0.65835072860000E-03,0.65471234302000E-03,0.65100954484000E-03,
     +     0.64724330267000E-03,0.64341297417000E-03,0.63952058049000E-03,0.63556536946000E-03,0.63154637242000E-03,
     +     0.62746566085000E-03,0.62332366495000E-03,0.61911966626000E-03,0.61485528494000E-03,0.61053251959000E-03,
     +     0.60614969820000E-03,0.60170942482000E-03,0.59721243052000E-03,0.59265889827000E-03,0.58805101220000E-03,
     +     0.58338984155000E-03,0.57867550243000E-03,0.57390926263000E-03,0.56909344695000E-03,0.56422887418000E-03,
     +     0.55931714191000E-03,0.55436030923000E-03,0.54935929742000E-03,0.54431494778000E-03,0.53922953024000E-03,
     +     0.53410548824000E-03,0.52894356401000E-03,0.52374503418000E-03,0.51851251707000E-03,0.51324787156000E-03,
     +     0.50795260230000E-03,0.50262835143000E-03,0.49727729166000E-03,0.49190099958000E-03,0.48650119870000E-03,
     +     0.48108027304000E-03,0.47564040858000E-03,0.47018291805000E-03,0.46470943901000E-03,0.45922258597000E-03,
     +     0.45372423614000E-03,0.44821607887000E-03,0.44270002879000E-03,0.43717811768000E-03,0.43165157165000E-03,
     +     0.42612325285000E-03,0.42059503865000E-03,0.41506833046000E-03,0.40954502192000E-03,0.40402697559000E-03,
     +     0.39851590482000E-03,0.39301355232000E-03,0.38752177337000E-03,0.38204213631000E-03,0.37657645862000E-03,
     +     0.37112690748000E-03,0.36569429161000E-03,0.36028031923000E-03,0.35488680091000E-03,0.34951525684000E-03,
     +     0.34416693055000E-03,0.33884346574000E-03,0.33354624504000E-03,0.32827654125000E-03,0.32303585568000E-03,
     +     0.31782488630000E-03,0.31264534045000E-03,0.30749844719000E-03,0.30238503314000E-03,0.29730634651000E-03,
     +     0.29226359391000E-03,0.28725756487000E-03,0.28228919742000E-03,0.27735973752000E-03,0.27246929371000E-03,
     +     0.26761940473000E-03,0.26281092805000E-03,0.25804420246000E-03,0.25332031656000E-03,0.24863937416000E-03,
     +     0.24400196622000E-03,0.23940914261000E-03,0.23486151671000E-03,0.23035903239000E-03,0.22590231754000E-03,
     +     0.22149183010000E-03,0.21712800505000E-03,0.21281143701000E-03,0.20854200270000E-03,0.20431961704000E-03,
     +     0.20014500681000E-03,0.19601876090000E-03,0.19194035936000E-03,0.18791033218000E-03,0.18392870116000E-03,
     +     0.17999523557000E-03,0.17611022357000E-03,0.17227373577000E-03,0.16848580168000E-03,0.16474630812000E-03,
     +     0.16105515966000E-03,0.15741235634000E-03,0.15381777182000E-03,0.15027127467000E-03,0.14677277295000E-03,
     +     0.14332215148000E-03,0.13991935268000E-03,0.13656403658000E-03,0.13325599424000E-03,0.12999522176000E-03,
     +     0.12678160401000E-03,0.12361457585000E-03,0.12049397988000E-03,0.11741973741000E-03,0.11439147977000E-03,
     +     0.11140930410000E-03,0.10847269858000E-03,0.10558138558000E-03,0.10273526017000E-03,0.99933900544000E-04,
     +     0.97177260343000E-04,0.94465068835000E-04,0.91796885826000E-04,0.89172487304000E-04,0.86591970104000E-04,
     +     0.84054857626000E-04,0.81560908988000E-04,0.79109991558000E-04,0.76701689552000E-04,0.74335980411000E-04,
     +     0.72012662881000E-04,0.69731468199000E-04,0.67492173926000E-04,0.65294569297000E-04,0.63138557854000E-04,
     +     0.61023941400000E-04,0.58950471605000E-04,0.56918019775000E-04,0.54926477745000E-04,0.52975612698000E-04,
     +     0.51065275299000E-04,0.49195374517000E-04,0.47365746928000E-04,0.45576247751000E-04,0.43826710311000E-04,
     +     0.42116971962000E-04,0.40446902832000E-04,0.38816435424000E-04,0.37225421609000E-04,0.35673694043000E-04,
     +     0.34161088038000E-04,0.32687454525000E-04,0.31252693965000E-04,0.29856617232000E-04,0.28499010414000E-04,
     +     0.27179703289000E-04,0.25898546905000E-04,0.24655317310000E-04,0.23449801773000E-04,0.22281763779000E-04,
     +     0.21150948252000E-04,0.20057133270000E-04,0.18999982446000E-04,0.17979176400000E-04,0.16994401211000E-04,
     +     0.16045340827000E-04,0.15131635205000E-04,0.14252833325000E-04,0.13408472775000E-04,0.12598177987000E-04,
     +     0.11821501517000E-04,0.11077901617000E-04,0.10366821159000E-04,0.96876476777000E-05,0.90399085919000E-05,
     +     0.84229861986000E-05,0.78362104246000E-05,0.72788604209000E-05,0.67502275466000E-05,0.62497298983000E-05,
     +     0.57765975789000E-05,0.53299983377000E-05,0.49090630091000E-05,0.45131447603000E-05,0.41414527036000E-05,
     +     0.37930808178000E-05,0.34671023392000E-05,0.31626496555000E-05,0.28790488351000E-05,0.26153584954000E-05,
     +     0.23706216638000E-05,0.21438943810000E-05,0.19344278810000E-05,0.17414204433000E-05,0.15639217042000E-05,
     +     0.14010025793000E-05,0.12518142441000E-05,0.11156982313000E-05,0.99213607723000E-06,0.87850835533000E-06,
     +     0.77726008432000E-06      /)

             PBLAST_DATA%Pra(4,1:256)= (/
     +     0.10592157787000E-03,0.10598960341000E-03,0.10604568366000E-03,0.10608989686000E-03,0.10612227007000E-03,
     +     0.10614275249000E-03,0.10615138642000E-03,0.10614821313000E-03,0.10613324937000E-03,0.10610648024000E-03,
     +     0.10606790748000E-03,0.10601762440000E-03,0.10595557319000E-03,0.10588182606000E-03,0.10579651067000E-03,
     +     0.10569946046000E-03,0.10559078806000E-03,0.10547065619000E-03,0.10533904793000E-03,0.10519592304000E-03,
     +     0.10504148485000E-03,0.10487574933000E-03,0.10469865968000E-03,0.10451030207000E-03,0.10431075675000E-03,
     +     0.10410016913000E-03,0.10387863439000E-03,0.10364612528000E-03,0.10340266329000E-03,0.10314841315000E-03,
     +     0.10288350452000E-03,0.10260790483000E-03,0.10232167377000E-03,0.10202502773000E-03,0.10171806508000E-03,
     +     0.10140071287000E-03,0.10107313231000E-03,0.10073560899000E-03,0.10038798070000E-03,0.10003038846000E-03,
     +     0.99662995721000E-04,0.99285911807000E-04,0.98899297130000E-04,0.98503233789000E-04,0.98097696948000E-04,
     +     0.97682849326000E-04,0.97258943900000E-04,0.96825923703000E-04,0.96384006782000E-04,0.95933323438000E-04,
     +     0.95473952250000E-04,0.95006082614000E-04,0.94529674007000E-04,0.94044941097000E-04,0.93552111427000E-04,
     +     0.93051240484000E-04,0.92542406116000E-04,0.92025768497000E-04,0.91501505962000E-04,0.90969722258000E-04,
     +     0.90430507806000E-04,0.89884135391000E-04,0.89330590316000E-04,0.88770017293000E-04,0.88202710115000E-04,
     +     0.87628616392000E-04,0.87047890377000E-04,0.86460857611000E-04,0.85867643108000E-04,0.85268211436000E-04,
     +     0.84662756725000E-04,0.84051491943000E-04,0.83434517099000E-04,0.82811973803000E-04,0.82184106712000E-04,
     +     0.81550926113000E-04,0.80912654874000E-04,0.80269494162000E-04,0.79621476451000E-04,0.78968743744000E-04,
     +     0.78311516262000E-04,0.77649963815000E-04,0.76984225578000E-04,0.76314463101000E-04,0.75640733229000E-04,
     +     0.74963232581000E-04,0.74282153864000E-04,0.73597624138000E-04,0.72909831215000E-04,0.72218893004000E-04,
     +     0.71524892559000E-04,0.70828037816000E-04,0.70128554890000E-04,0.69426508718000E-04,0.68722033525000E-04,
     +     0.68015332825000E-04,0.67306577463000E-04,0.66595851044000E-04,0.65883290601000E-04,0.65169107908000E-04,
     +     0.64453477792000E-04,0.63736503722000E-04,0.63018242248000E-04,0.62299003199000E-04,0.61578897676000E-04,
     +     0.60857984213000E-04,0.60136497466000E-04,0.59414544351000E-04,0.58692254056000E-04,0.57969851365000E-04,
     +     0.57247444092000E-04,0.56525118150000E-04,0.55803021911000E-04,0.55081383807000E-04,0.54360283587000E-04,
     +     0.53639850131000E-04,0.52920243058000E-04,0.52201625717000E-04,0.51484141938000E-04,0.50767934067000E-04,
     +     0.50053043379000E-04,0.49339677582000E-04,0.48627970156000E-04,0.47918032003000E-04,0.47210135700000E-04,
     +     0.46504221791000E-04,0.45800442908000E-04,0.45099020364000E-04,0.44400015292000E-04,0.43703608225000E-04,
     +     0.43009894663000E-04,0.42318966812000E-04,0.41630994305000E-04,0.40946116746000E-04,0.40264441527000E-04,
     +     0.39586042440000E-04,0.38911062139000E-04,0.38239682091000E-04,0.37571932603000E-04,0.36907945583000E-04,
     +     0.36247842079000E-04,0.35591749955000E-04,0.34939812836000E-04,0.34292080056000E-04,0.33648640398000E-04,
     +     0.33009630482000E-04,0.32375186270000E-04,0.31745387444000E-04,0.31120296477000E-04,0.30500051180000E-04,
     +     0.29884780618000E-04,0.29274530076000E-04,0.28669394743000E-04,0.28069479572000E-04,0.27474888202000E-04,
     +     0.26885719830000E-04,0.26302042725000E-04,0.25723910059000E-04,0.25151449527000E-04,0.24584768730000E-04,
     +     0.24023899309000E-04,0.23468887584000E-04,0.22919872604000E-04,0.22376931376000E-04,0.21840090308000E-04,
     +     0.21309440156000E-04,0.20785066865000E-04,0.20267048225000E-04,0.19755416332000E-04,0.19250221772000E-04,
     +     0.18751566859000E-04,0.18259481726000E-04,0.17774012987000E-04,0.17295242846000E-04,0.16823205359000E-04,
     +     0.16357963632000E-04,0.15899551073000E-04,0.15448002373000E-04,0.15003380670000E-04,0.14565722379000E-04,
     +     0.14135053974000E-04,0.13711412778000E-04,0.13294840433000E-04,0.12885356853000E-04,0.12482988637000E-04,
     +     0.12087766647000E-04,0.11699706338000E-04,0.11318823107000E-04,0.10945146431000E-04,0.10578666663000E-04,
     +     0.10219404643000E-04,0.98673831211000E-05,0.95225851196000E-05,0.91850130920000E-05,0.88546687822000E-05,
     +     0.85315497651000E-05,0.82156449381000E-05,0.79069441934000E-05,0.76054208163000E-05,0.73110666105000E-05,
     +     0.70238681034000E-05,0.67437858134000E-05,0.64707965413000E-05,0.62048644899000E-05,0.59459588392000E-05,
     +     0.56940373213000E-05,0.54490497479000E-05,0.52109659923000E-05,0.49797296056000E-05,0.47552793737000E-05,
     +     0.45375620374000E-05,0.43265201560000E-05,0.41220876650000E-05,0.39242001199000E-05,0.37327778682000E-05,
     +     0.35477425091000E-05,0.33690353837000E-05,0.31965621932000E-05,0.30302291530000E-05,0.28699497880000E-05,
     +     0.27156398282000E-05,0.25672117193000E-05,0.24245550353000E-05,0.22875534072000E-05,0.21561182417000E-05,
     +     0.20301496648000E-05,0.19095314888000E-05,0.17941430674000E-05,0.16838560859000E-05,0.15785796979000E-05,
     +     0.14781927368000E-05,0.13825632567000E-05,0.12915558198000E-05,0.12050449946000E-05,0.11229308735000E-05,
     +     0.10450754977000E-05,0.97133569968000E-06,0.90157064624000E-06,0.83567498427000E-06,0.77351921706000E-06,
     +     0.71496007938000E-06,0.65985534971000E-06,0.60807243384000E-06,0.55950833088000E-06,0.51402248727000E-06,
     +     0.47147359618000E-06,0.43172351651000E-06,0.39466435950000E-06,0.36018020627000E-06,0.32813561143000E-06,
     +     0.29839856410000E-06,0.27084834173000E-06,0.24539208907000E-06,0.22195836243000E-06,0.20017179380000E-06,
     +     0.18038574429000E-06      /)

             PBLAST_DATA%Pra(5,1:256)= (/
     +     0.31127269655000E-04,0.31121684042000E-04,0.31106361563000E-04,0.31081404513000E-04,0.31047027770000E-04,
     +     0.31003423888000E-04,0.30950748387000E-04,0.30889203649000E-04,0.30818985318000E-04,0.30740321222000E-04,
     +     0.30653438444000E-04,0.30558473945000E-04,0.30455686352000E-04,0.30345317393000E-04,0.30227582490000E-04,
     +     0.30102720064000E-04,0.29970877910000E-04,0.29832340400000E-04,0.29687405213000E-04,0.29536227697000E-04,
     +     0.29379009547000E-04,0.29216009237000E-04,0.29047478438000E-04,0.28873656817000E-04,0.28694723750000E-04,
     +     0.28510909867000E-04,0.28322451957000E-04,0.28129595257000E-04,0.27932571116000E-04,0.27731506377000E-04,
     +     0.27526663405000E-04,0.27318277569000E-04,0.27106550739000E-04,0.26891678524000E-04,0.26673839767000E-04,
     +     0.26453221872000E-04,0.26230047261000E-04,0.26004531434000E-04,0.25776796182000E-04,0.25547023532000E-04,
     +     0.25315429838000E-04,0.25082196744000E-04,0.24847432799000E-04,0.24611340715000E-04,0.24374068056000E-04,
     +     0.24135749045000E-04,0.23896561521000E-04,0.23656644534000E-04,0.23416114554000E-04,0.23175095144000E-04,
     +     0.22933756981000E-04,0.22692222328000E-04,0.22450580413000E-04,0.22208967391000E-04,0.21967496768000E-04,
     +     0.21726268643000E-04,0.21485379713000E-04,0.21244928298000E-04,0.21005027716000E-04,0.20765776661000E-04,
     +     0.20527231103000E-04,0.20289483824000E-04,0.20052616010000E-04,0.19816696030000E-04,0.19581809323000E-04,
     +     0.19348013274000E-04,0.19115369449000E-04,0.18883934003000E-04,0.18653776774000E-04,0.18424965320000E-04,
     +     0.18197517579000E-04,0.17971480413000E-04,0.17746926063000E-04,0.17523900571000E-04,0.17302403834000E-04,
     +     0.17082496662000E-04,0.16864219664000E-04,0.16647579792000E-04,0.16432607981000E-04,0.16219376002000E-04,
     +     0.16007856240000E-04,0.15798065107000E-04,0.15590065245000E-04,0.15383835967000E-04,0.15179410884000E-04,
     +     0.14976796036000E-04,0.14776007096000E-04,0.14577070378000E-04,0.14379952655000E-04,0.14184695143000E-04,
     +     0.13991301465000E-04,0.13799746254000E-04,0.13610052261000E-04,0.13422233827000E-04,0.13236276516000E-04,
     +     0.13052167055000E-04,0.12869915232000E-04,0.12689523105000E-04,0.12510966406000E-04,0.12334253638000E-04,
     +     0.12159391237000E-04,0.11986347042000E-04,0.11815118986000E-04,0.11645699569000E-04,0.11478085054000E-04,
     +     0.11312262946000E-04,0.11148207109000E-04,0.10985926140000E-04,0.10825405705000E-04,0.10666619179000E-04,
     +     0.10509561856000E-04,0.10354221686000E-04,0.10200585783000E-04,0.10048637243000E-04,0.98983586460000E-05,
     +     0.97497413340000E-05,0.96027618516000E-05,0.94574146045000E-05,0.93136814747000E-05,0.91715297559000E-05,
     +     0.90309652055000E-05,0.88919700422000E-05,0.87545225466000E-05,0.86186049845000E-05,0.84841988743000E-05,
     +     0.83512951304000E-05,0.82198692182000E-05,0.80899115419000E-05,0.79614167733000E-05,0.78343434148000E-05,
     +     0.77086882984000E-05,0.75844354901000E-05,0.74615635139000E-05,0.73400769101000E-05,0.72199261920000E-05,
     +     0.71011102898000E-05,0.69836290137000E-05,0.68674456809000E-05,0.67525521498000E-05,0.66389345159000E-05,
     +     0.65265802539000E-05,0.64154698544000E-05,0.63055833738000E-05,0.61969204637000E-05,0.60894573320000E-05,
     +     0.59831780589000E-05,0.58780756877000E-05,0.57741255162000E-05,0.56713265606000E-05,0.55696629473000E-05,
     +     0.54691143737000E-05,0.53696754843000E-05,0.52713280004000E-05,0.51740631809000E-05,0.50778709974000E-05,
     +     0.49827343385000E-05,0.48886434318000E-05,0.47955953648000E-05,0.47035707999000E-05,0.46125547824000E-05,
     +     0.45225470474000E-05,0.44335347384000E-05,0.43455062671000E-05,0.42584550504000E-05,0.41723710845000E-05,
     +     0.40872412520000E-05,0.40030622972000E-05,0.39198283942000E-05,0.38375282857000E-05,0.37561529059000E-05,
     +     0.36757005436000E-05,0.35961618179000E-05,0.35175271319000E-05,0.34397926102000E-05,0.33629560524000E-05,
     +     0.32870112142000E-05,0.32119500265000E-05,0.31377706048000E-05,0.30644714041000E-05,0.29920440378000E-05,
     +     0.29204863985000E-05,0.28497976957000E-05,0.27799733944000E-05,0.27110094164000E-05,0.26429071995000E-05,
     +     0.25756642129000E-05,0.25092785401000E-05,0.24437507303000E-05,0.23790791550000E-05,0.23152635786000E-05,
     +     0.22523057569000E-05,0.21902053084000E-05,0.21289608510000E-05,0.20685769230000E-05,0.20090550779000E-05,
     +     0.19503956977000E-05,0.18926012316000E-05,0.18356738418000E-05,0.17796146448000E-05,0.17244292159000E-05,
     +     0.16701211082000E-05,0.16166902970000E-05,0.15641416684000E-05,0.15124798996000E-05,0.14617071862000E-05,
     +     0.14118275989000E-05,0.13628475284000E-05,0.13147691479000E-05,0.12675940785000E-05,0.12213288116000E-05,
     +     0.11759803321000E-05,0.11315475885000E-05,0.10880365230000E-05,0.10454516104000E-05,0.10037948364000E-05,
     +     0.96307019169000E-06,0.92328205936000E-06,0.88443137539000E-06,0.84652110687000E-06,0.80955614992000E-06,
     +     0.77353503846000E-06,0.73845986126000E-06,0.70433119766000E-06,0.67114914369000E-06,0.63891501848000E-06,
     +     0.60762665808000E-06,0.57728385434000E-06,0.54788375087000E-06,0.51942136933000E-06,0.49189612335000E-06,
     +     0.46530246885000E-06,0.43963478448000E-06,0.41488713983000E-06,0.39105175805000E-06,0.36812246644000E-06,
     +     0.34609047849000E-06,0.32494516754000E-06,0.30467448757000E-06,0.28526910921000E-06,0.26671741731000E-06,
     +     0.24900473840000E-06,0.23211541116000E-06,0.21603426400000E-06,0.20074845274000E-06,0.18623973518000E-06,
     +     0.17248905965000E-06,0.15947639389000E-06,0.14718473427000E-06,0.13559615949000E-06,0.12468804419000E-06,
     +     0.11443692842000E-06,0.10482052830000E-06,0.95821073210000E-07,0.87426092938000E-07,0.79555164891000E-07,
     +     0.72283836469000E-07      /)

             PBLAST_DATA%Pra(6,1:256)= (/
     +     0.50849785793000E-05,0.50957213193000E-05,0.51059282777000E-05,0.51156003983000E-05,0.51247447309000E-05,
     +     0.51333687617000E-05,0.51414745454000E-05,0.51490723729000E-05,0.51561672007000E-05,0.51627650459000E-05,
     +     0.51688735188000E-05,0.51744927274000E-05,0.51796349977000E-05,0.51843032150000E-05,0.51885026139000E-05,
     +     0.51922435447000E-05,0.51955259168000E-05,0.51983566743000E-05,0.52007446426000E-05,0.52026928883000E-05,
     +     0.52042052079000E-05,0.52052917088000E-05,0.52059558002000E-05,0.52061995643000E-05,0.52060288307000E-05,
     +     0.52054517230000E-05,0.52044734246000E-05,0.52030944077000E-05,0.52013197960000E-05,0.51991566949000E-05,
     +     0.51966077016000E-05,0.51936736054000E-05,0.51903631805000E-05,0.51866816635000E-05,0.51826292006000E-05,
     +     0.51782085160000E-05,0.51734233732000E-05,0.51682788894000E-05,0.51627797369000E-05,0.51569253297000E-05,
     +     0.51507165529000E-05,0.51441621499000E-05,0.51372611692000E-05,0.51300134188000E-05,0.51224249179000E-05,
     +     0.51144991721000E-05,0.51062318605000E-05,0.50976297891000E-05,0.50886953312000E-05,0.50794267603000E-05,
     +     0.50698265968000E-05,0.50598958445000E-05,0.50496380939000E-05,0.50390512322000E-05,0.50281350877000E-05,
     +     0.50168947201000E-05,0.50053289306000E-05,0.49934390622000E-05,0.49812240801000E-05,0.49686838236000E-05,
     +     0.49558206328000E-05,0.49426339234000E-05,0.49291244184000E-05,0.49152929134000E-05,0.49011385004000E-05,
     +     0.48866597205000E-05,0.48718556333000E-05,0.48567299436000E-05,0.48412826614000E-05,0.48255097379000E-05,
     +     0.48094108585000E-05,0.47929880103000E-05,0.47762417553000E-05,0.47591699353000E-05,0.47417724788000E-05,
     +     0.47240511488000E-05,0.47060009947000E-05,0.46876265231000E-05,0.46689250557000E-05,0.46498929512000E-05,
     +     0.46305361377000E-05,0.46108518570000E-05,0.45908392528000E-05,0.45704985297000E-05,0.45498295634000E-05,
     +     0.45288319763000E-05,0.45075055504000E-05,0.44858514851000E-05,0.44638689276000E-05,0.44415574796000E-05,
     +     0.44189193843000E-05,0.43959546970000E-05,0.43726600914000E-05,0.43490392289000E-05,0.43250952951000E-05,
     +     0.43008233837000E-05,0.42762279506000E-05,0.42513103801000E-05,0.42260703422000E-05,0.42005092405000E-05,
     +     0.41746289089000E-05,0.41484304350000E-05,0.41219136759000E-05,0.40950827417000E-05,0.40679417671000E-05,
     +     0.40404895929000E-05,0.40127274273000E-05,0.39846576636000E-05,0.39562852848000E-05,0.39276137444000E-05,
     +     0.38986432685000E-05,0.38693776213000E-05,0.38398205010000E-05,0.38099751266000E-05,0.37798447729000E-05,
     +     0.37494321364000E-05,0.37187432959000E-05,0.36877808031000E-05,0.36565480604000E-05,0.36250513223000E-05,
     +     0.35932938863000E-05,0.35612805014000E-05,0.35290173588000E-05,0.34965087319000E-05,0.34637592600000E-05,
     +     0.34307753372000E-05,0.33975634128000E-05,0.33641263325000E-05,0.33304707592000E-05,0.32966064555000E-05,
     +     0.32625370553000E-05,0.32282671031000E-05,0.31938037122000E-05,0.31591565201000E-05,0.31243328893000E-05,
     +     0.30893356820000E-05,0.30541737626000E-05,0.30188547171000E-05,0.29833862010000E-05,0.29477773650000E-05,
     +     0.29120343191000E-05,0.28761632731000E-05,0.28401734931000E-05,0.28040746063000E-05,0.27678747251000E-05,
     +     0.27315805173000E-05,0.26952013631000E-05,0.26587452846000E-05,0.26222217261000E-05,0.25856409128000E-05,
     +     0.25490088706000E-05,0.25123335356000E-05,0.24756264466000E-05,0.24388962450000E-05,0.24021522267000E-05,
     +     0.23654055106000E-05,0.23286630288000E-05,0.22919329817000E-05,0.22552276147000E-05,0.22185551287000E-05,
     +     0.21819240298000E-05,0.21453439661000E-05,0.21088261029000E-05,0.20723803342000E-05,0.20360147007000E-05,
     +     0.19997377660000E-05,0.19635619170000E-05,0.19274954738000E-05,0.18915470496000E-05,0.18557300380000E-05,
     +     0.18200502202000E-05,0.17845176710000E-05,0.17491423884000E-05,0.17139342435000E-05,0.16789038854000E-05,
     +     0.16440602702000E-05,0.16094104724000E-05,0.15749648348000E-05,0.15407354589000E-05,0.15067303046000E-05,
     +     0.14729571596000E-05,0.14394253065000E-05,0.14061449275000E-05,0.13731257085000E-05,0.13403758484000E-05,
     +     0.13079033525000E-05,0.12757163219000E-05,0.12438245037000E-05,0.12122384879000E-05,0.11809660202000E-05,
     +     0.11500123173000E-05,0.11193874189000E-05,0.10890999223000E-05,0.10591573898000E-05,0.10295688578000E-05,
     +     0.10003394008000E-05,0.97147693451000E-06,0.94298964266000E-06,0.91488532095000E-06,0.88717102237000E-06,
     +     0.85985222760000E-06,0.83293452438000E-06,0.80642633692000E-06,0.78033523814000E-06,0.75466426754000E-06,
     +     0.72942011958000E-06,0.70460729365000E-06,0.68023192739000E-06,0.65630036997000E-06,0.63281490766000E-06,
     +     0.60978157868000E-06,0.58720333096000E-06,0.56508417536000E-06,0.54342935056000E-06,0.52224054119000E-06,
     +     0.50152051914000E-06,0.48127264660000E-06,0.46149890891000E-06,0.44220072812000E-06,0.42338006079000E-06,
     +     0.40503792793000E-06,0.38717533678000E-06,0.36979232075000E-06,0.35288868188000E-06,0.33646461791000E-06,
     +     0.32051895766000E-06,0.30505044551000E-06,0.29005766290000E-06,0.27553829406000E-06,0.26148980868000E-06,
     +     0.24790967607000E-06,0.23479450339000E-06,0.22214030826000E-06,0.20994232697000E-06,0.19819605919000E-06,
     +     0.18689752272000E-06,0.17604076776000E-06,0.16561934110000E-06,0.15562670967000E-06,0.14605669032000E-06,
     +     0.13690282510000E-06,0.12815701425000E-06,0.11981091112000E-06,0.11185602172000E-06,0.10428493238000E-06,
     +     0.97089009301000E-07,0.90258690862000E-07,0.83784853117000E-07,0.77655574368000E-07,0.71845428191000E-07,
     +     0.66522407530000E-07,0.61891683642000E-07,0.58158389975000E-07,0.55527659975000E-07,0.54204627088000E-07,
     +     0.54394424761000E-07      /)

             PBLAST_DATA%Pra(7,1:256)= (/
     +     0.22185448516000E-05,0.22341932096000E-05,0.22491466619000E-05,0.22634062912000E-05,0.22769747165000E-05,
     +     0.22898564331000E-05,0.23020573712000E-05,0.23135827277000E-05,0.23244395264000E-05,0.23346349674000E-05,
     +     0.23441785894000E-05,0.23530812025000E-05,0.23613490920000E-05,0.23689938497000E-05,0.23760289779000E-05,
     +     0.23824662281000E-05,0.23883173806000E-05,0.23935944489000E-05,0.23983097735000E-05,0.24024782479000E-05,
     +     0.24061146112000E-05,0.24092330539000E-05,0.24118470638000E-05,0.24139705236000E-05,0.24156195717000E-05,
     +     0.24168095622000E-05,0.24175551031000E-05,0.24178705359000E-05,0.24177712658000E-05,0.24172712178000E-05,
     +     0.24163866138000E-05,0.24151335096000E-05,0.24135250811000E-05,0.24115753802000E-05,0.24092989903000E-05,
     +     0.24067109414000E-05,0.24038247360000E-05,0.24006544556000E-05,0.23972148521000E-05,0.23935159333000E-05,
     +     0.23895714164000E-05,0.23853948730000E-05,0.23809985380000E-05,0.23763947065000E-05,0.23715929373000E-05,
     +     0.23666054861000E-05,0.23614432747000E-05,0.23561168160000E-05,0.23506366619000E-05,0.23450101474000E-05,
     +     0.23392461123000E-05,0.23333560860000E-05,0.23273490588000E-05,0.23212307527000E-05,0.23150080696000E-05,
     +     0.23086890918000E-05,0.23022806871000E-05,0.22957896330000E-05,0.22892224478000E-05,0.22825830098000E-05,
     +     0.22758759635000E-05,0.22691077897000E-05,0.22622827433000E-05,0.22554034648000E-05,0.22484736232000E-05,
     +     0.22414979416000E-05,0.22344777120000E-05,0.22274152385000E-05,0.22203141251000E-05,0.22131755967000E-05,
     +     0.22060007196000E-05,0.21987899791000E-05,0.21915452866000E-05,0.21842669330000E-05,0.21769535405000E-05,
     +     0.21696069135000E-05,0.21622252443000E-05,0.21548088369000E-05,0.21473566292000E-05,0.21398659486000E-05,
     +     0.21323383082000E-05,0.21247677940000E-05,0.21171547114000E-05,0.21094984846000E-05,0.21017937790000E-05,
     +     0.20940392336000E-05,0.20862322427000E-05,0.20783692050000E-05,0.20704472480000E-05,0.20624634923000E-05,
     +     0.20544139012000E-05,0.20462953262000E-05,0.20381046632000E-05,0.20298373996000E-05,0.20214895433000E-05,
     +     0.20130580379000E-05,0.20045378309000E-05,0.19959254328000E-05,0.19872164244000E-05,0.19784064618000E-05,
     +     0.19694917103000E-05,0.19604679169000E-05,0.19513319857000E-05,0.19420791097000E-05,0.19327044377000E-05,
     +     0.19232039868000E-05,0.19135738316000E-05,0.19038103181000E-05,0.18939099031000E-05,0.18838690235000E-05,
     +     0.18736837045000E-05,0.18633502580000E-05,0.18528656063000E-05,0.18422259680000E-05,0.18314289380000E-05,
     +     0.18204718016000E-05,0.18093510288000E-05,0.17980653163000E-05,0.17866101110000E-05,0.17749849830000E-05,
     +     0.17631885697000E-05,0.17512172243000E-05,0.17390713833000E-05,0.17267504255000E-05,0.17142511985000E-05,
     +     0.17015724143000E-05,0.16887161973000E-05,0.16756832496000E-05,0.16624709712000E-05,0.16490791175000E-05,
     +     0.16355110235000E-05,0.16217682264000E-05,0.16078498928000E-05,0.15937574061000E-05,0.15794940942000E-05,
     +     0.15650611459000E-05,0.15504609258000E-05,0.15356980275000E-05,0.15207738053000E-05,0.15056913854000E-05,
     +     0.14904543777000E-05,0.14750670718000E-05,0.14595342658000E-05,0.14438599991000E-05,0.14280483693000E-05,
     +     0.14121033952000E-05,0.13960311253000E-05,0.13798379431000E-05,0.13635282795000E-05,0.13471064412000E-05,
     +     0.13305806794000E-05,0.13139561321000E-05,0.12972384152000E-05,0.12804360079000E-05,0.12635532127000E-05,
     +     0.12465974766000E-05,0.12295759733000E-05,0.12124958904000E-05,0.11953642449000E-05,0.11781856775000E-05,
     +     0.11609693350000E-05,0.11437219027000E-05,0.11264511525000E-05,0.11091642127000E-05,0.10918651305000E-05,
     +     0.10745670273000E-05,0.10572713494000E-05,0.10399850515000E-05,0.10227211832000E-05,0.10054825630000E-05,
     +     0.98827473324000E-06,0.97110621752000E-06,0.95398377627000E-06,0.93691271576000E-06,0.91990073711000E-06,
     +     0.90295161939000E-06,0.88607436069000E-06,0.86927361547000E-06,0.85255377817000E-06,0.83592336250000E-06,
     +     0.81938594946000E-06,0.80294436939000E-06,0.78660718035000E-06,0.77037925004000E-06,0.75426160154000E-06,
     +     0.73826112487000E-06,0.72238274002000E-06,0.70662896719000E-06,0.69100306043000E-06,0.67550971657000E-06,
     +     0.66015178783000E-06,0.64493358388000E-06,0.62985589363000E-06,0.61492193599000E-06,0.60013618827000E-06,
     +     0.58549991982000E-06,0.57101463441000E-06,0.55668290515000E-06,0.54250667578000E-06,0.52848788638000E-06,
     +     0.51462857153000E-06,0.50092933801000E-06,0.48739205716000E-06,0.47401782272000E-06,0.46080713577000E-06,
     +     0.44776154851000E-06,0.43488289491000E-06,0.42217109336000E-06,0.40962675661000E-06,0.39725158454000E-06,
     +     0.38504616156000E-06,0.37301014211000E-06,0.36114550007000E-06,0.34945216378000E-06,0.33793180112000E-06,
     +     0.32658544536000E-06,0.31541254951000E-06,0.30441547037000E-06,0.29359324387000E-06,0.28294780279000E-06,
     +     0.27248139370000E-06,0.26219428883000E-06,0.25208803504000E-06,0.24216423216000E-06,0.23242327510000E-06,
     +     0.22286716106000E-06,0.21349827038000E-06,0.20431693153000E-06,0.19532709268000E-06,0.18652885537000E-06,
     +     0.17792479068000E-06,0.16951818496000E-06,0.16130918843000E-06,0.15330139005000E-06,0.14549722748000E-06,
     +     0.13789797153000E-06,0.13050622440000E-06,0.12332530752000E-06,0.11635599447000E-06,0.10960158807000E-06,
     +     0.10306385207000E-06,0.96743746474000E-07,0.90643666534000E-07,0.84765732967000E-07,0.79109760779000E-07,
     +     0.73679053634000E-07,0.68468066185000E-07,0.63465375177000E-07,0.58659729215000E-07,0.54039876900000E-07,
     +     0.49594566834000E-07,0.45312547621000E-07,0.41182567863000E-07,0.37193376163000E-07,0.33333721123000E-07,
     +     0.29592351345000E-07      /)

             PBLAST_DATA%Pra(8,1:256)= (/
     +     0.13678645364000E-05,0.13702539681000E-05,0.13726418277000E-05,0.13750245543000E-05,0.13773939486000E-05,
     +     0.13797434946000E-05,0.13820671485000E-05,0.13843600359000E-05,0.13866157337000E-05,0.13888290615000E-05,
     +     0.13909951327000E-05,0.13931073811000E-05,0.13951603795000E-05,0.13971524328000E-05,0.13990759857000E-05,
     +     0.14009272780000E-05,0.14027035575000E-05,0.14043977226000E-05,0.14060079484000E-05,0.14075303867000E-05,
     +     0.14089612851000E-05,0.14102971670000E-05,0.14115343184000E-05,0.14126694307000E-05,0.14137006773000E-05,
     +     0.14146254032000E-05,0.14154407234000E-05,0.14161438203000E-05,0.14167328005000E-05,0.14172067396000E-05,
     +     0.14175632626000E-05,0.14177988938000E-05,0.14179138582000E-05,0.14179083728000E-05,0.14177792739000E-05,
     +     0.14175254914000E-05,0.14171463741000E-05,0.14166419493000E-05,0.14160122565000E-05,0.14152563777000E-05,
     +     0.14143732242000E-05,0.14133637905000E-05,0.14122281294000E-05,0.14109663934000E-05,0.14095790285000E-05,
     +     0.14080665132000E-05,0.14064296414000E-05,0.14046690080000E-05,0.14027858405000E-05,0.14007810018000E-05,
     +     0.13986555134000E-05,0.13964110812000E-05,0.13940485687000E-05,0.13915694932000E-05,0.13889753554000E-05,
     +     0.13862680986000E-05,0.13834494837000E-05,0.13805205109000E-05,0.13774837250000E-05,0.13743417850000E-05,
     +     0.13710950147000E-05,0.13677457381000E-05,0.13642979961000E-05,0.13607516000000E-05,0.13571096918000E-05,
     +     0.13533749506000E-05,0.13495484505000E-05,0.13456326791000E-05,0.13416312516000E-05,0.13375439260000E-05,
     +     0.13333745624000E-05,0.13291263647000E-05,0.13248003781000E-05,0.13203986951000E-05,0.13159245284000E-05,
     +     0.13113787608000E-05,0.13067649218000E-05,0.13020842858000E-05,0.12973386404000E-05,0.12925322231000E-05,
     +     0.12876654673000E-05,0.12827399792000E-05,0.12777588121000E-05,0.12727239359000E-05,0.12676363564000E-05,
     +     0.12624981811000E-05,0.12573117758000E-05,0.12520778095000E-05,0.12467980478000E-05,0.12414749846000E-05,
     +     0.12361098294000E-05,0.12307034950000E-05,0.12252581946000E-05,0.12197744543000E-05,0.12142532304000E-05,
     +     0.12086961282000E-05,0.12031037396000E-05,0.11974770766000E-05,0.11918176280000E-05,0.11861256082000E-05,
     +     0.11804011439000E-05,0.11746453035000E-05,0.11688587226000E-05,0.11630418150000E-05,0.11571946692000E-05,
     +     0.11513172425000E-05,0.11454094914000E-05,0.11394715006000E-05,0.11335036893000E-05,0.11275059067000E-05,
     +     0.11214770624000E-05,0.11154172154000E-05,0.11093265105000E-05,0.11032034403000E-05,0.10970479352000E-05,
     +     0.10908590824000E-05,0.10846350014000E-05,0.10783759280000E-05,0.10720822286000E-05,0.10657507017000E-05,
     +     0.10593800014000E-05,0.10529706280000E-05,0.10465208636000E-05,0.10400278652000E-05,0.10334914883000E-05,
     +     0.10269112017000E-05,0.10202842200000E-05,0.10136088345000E-05,0.10068836197000E-05,0.10001067583000E-05,
     +     0.99327771857000E-06,0.98639375830000E-06,0.97945310323000E-06,0.97245401522000E-06,0.96539458331000E-06,
     +     0.95827325206000E-06,0.95108818488000E-06,0.94383794631000E-06,0.93652083792000E-06,0.92913433854000E-06,
     +     0.92167643481000E-06,0.91414618127000E-06,0.90654168721000E-06,0.89886149176000E-06,0.89110347635000E-06,
     +     0.88326628669000E-06,0.87534908719000E-06,0.86734973116000E-06,0.85926806321000E-06,0.85110115633000E-06,
     +     0.84284911929000E-06,0.83451153951000E-06,0.82608494445000E-06,0.81757149475000E-06,0.80896963599000E-06,
     +     0.80027812586000E-06,0.79149740547000E-06,0.78262771308000E-06,0.77366851677000E-06,0.76462040938000E-06,
     +     0.75548301364000E-06,0.74625756073000E-06,0.73694538628000E-06,0.72754668535000E-06,0.71806259316000E-06,
     +     0.70849577311000E-06,0.69884650257000E-06,0.68911649295000E-06,0.67930911757000E-06,0.66942639922000E-06,
     +     0.65947136409000E-06,0.64944608195000E-06,0.63935359621000E-06,0.62919754036000E-06,0.61898167630000E-06,
     +     0.60871011943000E-06,0.59838530167000E-06,0.58801316869000E-06,0.57759835168000E-06,0.56714424523000E-06,
     +     0.55665636028000E-06,0.54614063637000E-06,0.53560176165000E-06,0.52504473917000E-06,0.51447592727000E-06,
     +     0.50390264557000E-06,0.49332905262000E-06,0.48276137961000E-06,0.47220641919000E-06,0.46167084089000E-06,
     +     0.45116070110000E-06,0.44068428986000E-06,0.43024647059000E-06,0.41985401349000E-06,0.40951444371000E-06,
     +     0.39923448623000E-06,0.38902056858000E-06,0.37887993093000E-06,0.36881966765000E-06,0.35884508022000E-06,
     +     0.34896310725000E-06,0.33918078772000E-06,0.32950413012000E-06,0.31994012824000E-06,0.31049321304000E-06,
     +     0.30117001562000E-06,0.29197607144000E-06,0.28291665775000E-06,0.27399790824000E-06,0.26522359604000E-06,
     +     0.25659845008000E-06,0.24812699328000E-06,0.23981353319000E-06,0.23166216239000E-06,0.22367617288000E-06,
     +     0.21585829223000E-06,0.20821141666000E-06,0.20073815787000E-06,0.19344113397000E-06,0.18632230795000E-06,
     +     0.17938242785000E-06,0.17262305919000E-06,0.16604493830000E-06,0.15964906354000E-06,0.15343556488000E-06,
     +     0.14740355336000E-06,0.14155394267000E-06,0.13588547059000E-06,0.13039656413000E-06,0.12508655680000E-06,
     +     0.11995405597000E-06,0.11499645847000E-06,0.11021253475000E-06,0.10559991443000E-06,0.10115592986000E-06,
     +     0.96878184190000E-07,0.92763747643000E-07,0.88809188065000E-07,0.85012101613000E-07,0.81368984911000E-07,
     +     0.77876875587000E-07,0.74528695313000E-07,0.71324890009000E-07,0.68328792850000E-07,0.65609887699000E-07,
     +     0.63237658420000E-07,0.61281588878000E-07,0.59811162936000E-07,0.58895864458000E-07,0.58605177308000E-07,
     +     0.59008585349000E-07,0.60175572447000E-07,0.62175622465000E-07,0.65078219266000E-07,0.68952846714000E-07,
     +     0.73868988674000E-07      /)

             PBLAST_DATA%Pra(9,1:256)= (/
     +     0.75873455368000E-06,0.75869138572000E-06,0.75862552394000E-06,0.75853770477000E-06,0.75842861735000E-06,
     +     0.75829857203000E-06,0.75814797374000E-06,0.75797718537000E-06,0.75778743959000E-06,0.75757947019000E-06,
     +     0.75735324765000E-06,0.75710881009000E-06,0.75684682747000E-06,0.75656811362000E-06,0.75627245376000E-06,
     +     0.75596070107000E-06,0.75563317678000E-06,0.75528993331000E-06,0.75493139689000E-06,0.75455746880000E-06,
     +     0.75416866236000E-06,0.75376480350000E-06,0.75334663661000E-06,0.75291463921000E-06,0.75246800774000E-06,
     +     0.75200647042000E-06,0.75153091716000E-06,0.75104150789000E-06,0.75053825519000E-06,0.75002086016000E-06,
     +     0.74948907207000E-06,0.74894344156000E-06,0.74838333663000E-06,0.74780936910000E-06,0.74722083645000E-06,
     +     0.74661772552000E-06,0.74600065012000E-06,0.74536800469000E-06,0.74472112926000E-06,0.74405864957000E-06,
     +     0.74338079231000E-06,0.74268788531000E-06,0.74197906814000E-06,0.74125500086000E-06,0.74051363184000E-06,
     +     0.73975572164000E-06,0.73898113602000E-06,0.73818909435000E-06,0.73737976113000E-06,0.73655260458000E-06,
     +     0.73570726459000E-06,0.73484349202000E-06,0.73396026551000E-06,0.73305755001000E-06,0.73213549444000E-06,
     +     0.73119260290000E-06,0.73022971776000E-06,0.72924557956000E-06,0.72823976657000E-06,0.72721212016000E-06,
     +     0.72616164143000E-06,0.72508807207000E-06,0.72399173059000E-06,0.72287077341000E-06,0.72172488147000E-06,
     +     0.72055468181000E-06,0.71935913251000E-06,0.71813702826000E-06,0.71688863941000E-06,0.71561315635000E-06,
     +     0.71431005109000E-06,0.71297873840000E-06,0.71161839818000E-06,0.71022874487000E-06,0.70880935018000E-06,
     +     0.70736005641000E-06,0.70587958178000E-06,0.70436728819000E-06,0.70282321856000E-06,0.70124635710000E-06,
     +     0.69963652581000E-06,0.69799269635000E-06,0.69631502992000E-06,0.69460247495000E-06,0.69285370225000E-06,
     +     0.69106950594000E-06,0.68924903891000E-06,0.68739137894000E-06,0.68549625159000E-06,0.68356309889000E-06,
     +     0.68159118866000E-06,0.67958040650000E-06,0.67752996887000E-06,0.67543923836000E-06,0.67330826798000E-06,
     +     0.67113630203000E-06,0.66892242932000E-06,0.66666680199000E-06,0.66436868502000E-06,0.66202773713000E-06,
     +     0.65964345606000E-06,0.65721564773000E-06,0.65474396258000E-06,0.65222754545000E-06,0.64966617580000E-06,
     +     0.64705974985000E-06,0.64440779128000E-06,0.64170997192000E-06,0.63896610757000E-06,0.63617574882000E-06,
     +     0.63333879868000E-06,0.63045474282000E-06,0.62752342631000E-06,0.62454502284000E-06,0.62151910434000E-06,
     +     0.61844505428000E-06,0.61532333110000E-06,0.61215331487000E-06,0.60893512399000E-06,0.60566897360000E-06,
     +     0.60235459745000E-06,0.59899185244000E-06,0.59558063882000E-06,0.59212095046000E-06,0.58861317013000E-06,
     +     0.58505708210000E-06,0.58145267888000E-06,0.57780054430000E-06,0.57410019359000E-06,0.57035222656000E-06,
     +     0.56655655514000E-06,0.56271353968000E-06,0.55882366525000E-06,0.55488680487000E-06,0.55090347820000E-06,
     +     0.54687397664000E-06,0.54279845247000E-06,0.53867739568000E-06,0.53451144562000E-06,0.53030099834000E-06,
     +     0.52604648096000E-06,0.52174821962000E-06,0.51740688202000E-06,0.51302294624000E-06,0.50859703480000E-06,
     +     0.50413002061000E-06,0.49962221404000E-06,0.49507438607000E-06,0.49048735602000E-06,0.48586188066000E-06,
     +     0.48119866758000E-06,0.47649850963000E-06,0.47176228095000E-06,0.46699094446000E-06,0.46218526075000E-06,
     +     0.45734584978000E-06,0.45247393396000E-06,0.44757088104000E-06,0.44263730428000E-06,0.43767434576000E-06,
     +     0.43268288122000E-06,0.42766404386000E-06,0.42261911060000E-06,0.41754925655000E-06,0.41245577851000E-06,
     +     0.40733948899000E-06,0.40220169446000E-06,0.39704387920000E-06,0.39186726421000E-06,0.38667310022000E-06,
     +     0.38146281909000E-06,0.37623744999000E-06,0.37099851394000E-06,0.36574760220000E-06,0.36048595752000E-06,
     +     0.35521499897000E-06,0.34993643340000E-06,0.34465153118000E-06,0.33936148162000E-06,0.33406818763000E-06,
     +     0.32877347139000E-06,0.32347810706000E-06,0.31818406799000E-06,0.31289284219000E-06,0.30760604286000E-06,
     +     0.30232522377000E-06,0.29705212273000E-06,0.29178828163000E-06,0.28653512983000E-06,0.28129440890000E-06,
     +     0.27606774968000E-06,0.27085669415000E-06,0.26566312528000E-06,0.26048878191000E-06,0.25533481946000E-06,
     +     0.25020290649000E-06,0.24509496512000E-06,0.24001248212000E-06,0.23495703374000E-06,0.22993054956000E-06,
     +     0.22493448226000E-06,0.21997000231000E-06,0.21503908353000E-06,0.21014328064000E-06,0.20528401730000E-06,
     +     0.20046309235000E-06,0.19568189826000E-06,0.19094181397000E-06,0.18624439771000E-06,0.18159106520000E-06,
     +     0.17698325444000E-06,0.17242253833000E-06,0.16791031143000E-06,0.16344750380000E-06,0.15903582659000E-06,
     +     0.15467649442000E-06,0.15037060185000E-06,0.14611963165000E-06,0.14192470864000E-06,0.13778684033000E-06,
     +     0.13370714529000E-06,0.12968670139000E-06,0.12572660460000E-06,0.12182787849000E-06,0.11799136933000E-06,
     +     0.11421790847000E-06,0.11050842065000E-06,0.10686356889000E-06,0.10328412722000E-06,0.99770930364000E-07,
     +     0.96324467155000E-07,0.92945303987000E-07,0.89633952922000E-07,0.86390874669000E-07,0.83216519771000E-07,
     +     0.80111257686000E-07,0.77075338348000E-07,0.74108859057000E-07,0.71212734303000E-07,0.68384247240000E-07,
     +     0.65619580762000E-07,0.62914964767000E-07,0.60266629151000E-07,0.57670803813000E-07,0.55123718651000E-07,
     +     0.52621603562000E-07,0.50160688445000E-07,0.47737203196000E-07,0.45347377713000E-07,0.42987441895000E-07,
     +     0.40653625639000E-07,0.38342158843000E-07,0.36049271404000E-07,0.33771193221000E-07,0.31504154191000E-07,
     +     0.29244384211000E-07      /)

             PBLAST_DATA%Pra(10,1:256)= (/
     +     0.52869405787000E-06,0.52856529495000E-06,0.52839838351000E-06,0.52819427726000E-06,0.52795402166000E-06,
     +     0.52767847728000E-06,0.52736872636000E-06,0.52702576315000E-06,0.52665049672000E-06,0.52624361376000E-06,
     +     0.52580622876000E-06,0.52533922381000E-06,0.52484339590000E-06,0.52431978458000E-06,0.52376901260000E-06,
     +     0.52319191301000E-06,0.52258940799000E-06,0.52196216019000E-06,0.52131103720000E-06,0.52063686600000E-06,
     +     0.51994012462000E-06,0.51922179788000E-06,0.51848243550000E-06,0.51772265394000E-06,0.51694303252000E-06,
     +     0.51614430581000E-06,0.51532723397000E-06,0.51449215755000E-06,0.51363967422000E-06,0.51277045295000E-06,
     +     0.51188488598000E-06,0.51098347209000E-06,0.51006678319000E-06,0.50913516892000E-06,0.50818912097000E-06,
     +     0.50722903268000E-06,0.50625520739000E-06,0.50526812291000E-06,0.50426813657000E-06,0.50325546117000E-06,
     +     0.50223054202000E-06,0.50119369349000E-06,0.50014486760000E-06,0.49908453963000E-06,0.49801297955000E-06,
     +     0.49693019008000E-06,0.49583658351000E-06,0.49473228695000E-06,0.49361730105000E-06,0.49249188869000E-06,
     +     0.49135618239000E-06,0.49021009551000E-06,0.48905379060000E-06,0.48788756649000E-06,0.48671119270000E-06,
     +     0.48552475515000E-06,0.48432822169000E-06,0.48312168456000E-06,0.48190515596000E-06,0.48067840621000E-06,
     +     0.47944163399000E-06,0.47819464278000E-06,0.47693739084000E-06,0.47566991330000E-06,0.47439192821000E-06,
     +     0.47310324756000E-06,0.47180409811000E-06,0.47049419818000E-06,0.46917329451000E-06,0.46784132641000E-06,
     +     0.46649820580000E-06,0.46514375397000E-06,0.46377775430000E-06,0.46239980760000E-06,0.46101000900000E-06,
     +     0.45960813800000E-06,0.45819402493000E-06,0.45676746851000E-06,0.45532807654000E-06,0.45387564926000E-06,
     +     0.45241018520000E-06,0.45093142475000E-06,0.44943901708000E-06,0.44793274322000E-06,0.44641245033000E-06,
     +     0.44487789530000E-06,0.44332882859000E-06,0.44176513026000E-06,0.44018645433000E-06,0.43859255505000E-06,
     +     0.43698327735000E-06,0.43535839651000E-06,0.43371769236000E-06,0.43206087988000E-06,0.43038777580000E-06,
     +     0.42869824055000E-06,0.42699203163000E-06,0.42526892590000E-06,0.42352873658000E-06,0.42177115654000E-06,
     +     0.41999619291000E-06,0.41820361561000E-06,0.41639318344000E-06,0.41456479440000E-06,0.41271826111000E-06,
     +     0.41085333831000E-06,0.40897006239000E-06,0.40706836408000E-06,0.40514789381000E-06,0.40320856072000E-06,
     +     0.40125041779000E-06,0.39927327531000E-06,0.39727702344000E-06,0.39526165034000E-06,0.39322698473000E-06,
     +     0.39117308637000E-06,0.38909994937000E-06,0.38700743984000E-06,0.38489558223000E-06,0.38276426463000E-06,
     +     0.38061363707000E-06,0.37844367250000E-06,0.37625440944000E-06,0.37404589197000E-06,0.37181807473000E-06,
     +     0.36957107364000E-06,0.36730495600000E-06,0.36501981641000E-06,0.36271590795000E-06,0.36039314898000E-06,
     +     0.35805155370000E-06,0.35569157973000E-06,0.35331325971000E-06,0.35091645285000E-06,0.34850162899000E-06,
     +     0.34606899933000E-06,0.34361851639000E-06,0.34115053652000E-06,0.33866542194000E-06,0.33616318135000E-06,
     +     0.33364388677000E-06,0.33110801925000E-06,0.32855589192000E-06,0.32598757750000E-06,0.32340341072000E-06,
     +     0.32080376479000E-06,0.31818877163000E-06,0.31555872705000E-06,0.31291402141000E-06,0.31025493170000E-06,
     +     0.30758173691000E-06,0.30489483844000E-06,0.30219454557000E-06,0.29948109064000E-06,0.29675484815000E-06,
     +     0.29401612704000E-06,0.29126532207000E-06,0.28850293875000E-06,0.28572917215000E-06,0.28294431722000E-06,
     +     0.28014886447000E-06,0.27734318513000E-06,0.27452752972000E-06,0.27170233491000E-06,0.26886810373000E-06,
     +     0.26602502334000E-06,0.26317345664000E-06,0.26031381100000E-06,0.25744658453000E-06,0.25457217434000E-06,
     +     0.25169086290000E-06,0.24880304113000E-06,0.24590902922000E-06,0.24300934957000E-06,0.24010426612000E-06,
     +     0.23719417167000E-06,0.23427956179000E-06,0.23136069553000E-06,0.22843792642000E-06,0.22551171435000E-06,
     +     0.22258250121000E-06,0.21965056103000E-06,0.21671628310000E-06,0.21378013449000E-06,0.21084241979000E-06,
     +     0.20790349247000E-06,0.20496370366000E-06,0.20202354554000E-06,0.19908334469000E-06,0.19614352551000E-06,
     +     0.19320443191000E-06,0.19026644286000E-06,0.18733004955000E-06,0.18439548061000E-06,0.18146310935000E-06,
     +     0.17853353881000E-06,0.17560706701000E-06,0.17268403578000E-06,0.16976499656000E-06,0.16685024671000E-06,
     +     0.16394022863000E-06,0.16103542130000E-06,0.15813621333000E-06,0.15524315063000E-06,0.15235665844000E-06,
     +     0.14947705647000E-06,0.14660496819000E-06,0.14374093487000E-06,0.14088536737000E-06,0.13803880234000E-06,
     +     0.13520174293000E-06,0.13237486511000E-06,0.12955848916000E-06,0.12675337152000E-06,0.12396012363000E-06,
     +     0.12117914651000E-06,0.11841132309000E-06,0.11565730872000E-06,0.11291747441000E-06,0.11019267354000E-06,
     +     0.10748368374000E-06,0.10479115453000E-06,0.10211585805000E-06,0.99458467978000E-07,0.96819931484000E-07,
     +     0.94200895740000E-07,0.91602277692000E-07,0.89024837762000E-07,0.86469407303000E-07,0.83937187964000E-07,
     +     0.81428808098000E-07,0.78945134661000E-07,0.76487214634000E-07,0.74055575275000E-07,0.71653293687000E-07,
     +     0.69276664406000E-07,0.66911693149000E-07,0.64545539010000E-07,0.62165361083000E-07,0.59758318464000E-07,
     +     0.57311570248000E-07,0.54812275530000E-07,0.52247593405000E-07,0.49604682967000E-07,0.46870703312000E-07,
     +     0.44032813534000E-07,0.41078172729000E-07,0.37993939992000E-07,0.34767274417000E-07,0.31385335100000E-07,
     +     0.27835281135000E-07,0.24104271618000E-07,0.20179465643000E-07,0.16048022306000E-07,0.11697100701000E-07,
     +     0.71138599232000E-08      /)

!Figure 2-10
             PBLAST_DATA%SRI(1,1:256) = (/
     +     0.15478697982000E-01,0.15434457411000E-01,0.15393660061000E-01,0.15356150737000E-01,0.15321660321000E-01,
     +     0.15289997977000E-01,0.15261012912000E-01,0.15234483398000E-01,0.15210230319000E-01,0.15188072840000E-01,
     +     0.15167821064000E-01,0.15149333974000E-01,0.15132460337000E-01,0.15117010268000E-01,0.15102793403000E-01,
     +     0.15089707645000E-01,0.15077608417000E-01,0.15066317295000E-01,0.15055674345000E-01,0.15045556221000E-01,
     +     0.15035866817000E-01,0.15026430251000E-01,0.15017073598000E-01,0.15007748777000E-01,0.14998295340000E-01,
     +     0.14988604733000E-01,0.14978522366000E-01,0.14967945171000E-01,0.14956764064000E-01,0.14944898899000E-01,
     +     0.14932190464000E-01,0.14918534475000E-01,0.14903874938000E-01,0.14888089960000E-01,0.14871075245000E-01,
     +     0.14852734479000E-01,0.14832995063000E-01,0.14811772717000E-01,0.14788986834000E-01,0.14764535436000E-01,
     +     0.14738363245000E-01,0.14710411908000E-01,0.14680588621000E-01,0.14648848949000E-01,0.14615122501000E-01,
     +     0.14579348301000E-01,0.14541486980000E-01,0.14501494858000E-01,0.14459323591000E-01,0.14414915720000E-01,
     +     0.14368243291000E-01,0.14319307600000E-01,0.14268038515000E-01,0.14214418995000E-01,0.14158449590000E-01,
     +     0.14100102633000E-01,0.14039382551000E-01,0.13976269632000E-01,0.13910750685000E-01,0.13842837228000E-01,
     +     0.13772543189000E-01,0.13699870999000E-01,0.13624823038000E-01,0.13547418773000E-01,0.13467690793000E-01,
     +     0.13385661450000E-01,0.13301337729000E-01,0.13214767117000E-01,0.13125988861000E-01,0.13035015681000E-01,
     +     0.12941923848000E-01,0.12846731375000E-01,0.12749477524000E-01,0.12650241382000E-01,0.12549053818000E-01,
     +     0.12445971485000E-01,0.12341041671000E-01,0.12234326806000E-01,0.12125906557000E-01,0.12015829555000E-01,
     +     0.11904158913000E-01,0.11790960790000E-01,0.11676307200000E-01,0.11560256782000E-01,0.11442890954000E-01,
     +     0.11324271944000E-01,0.11204467957000E-01,0.11083570161000E-01,0.10961644582000E-01,0.10838732739000E-01,
     +     0.10714922604000E-01,0.10590327393000E-01,0.10465010704000E-01,0.10338991751000E-01,0.10212368863000E-01,
     +     0.10085243631000E-01,0.99576771256000E-02,0.98297175697000E-02,0.97014497820000E-02,0.95729341843000E-02,
     +     0.94442532506000E-02,0.93154799396000E-02,0.91866789873000E-02,0.90578922943000E-02,0.89291841187000E-02,
     +     0.88006622685000E-02,0.86723480834000E-02,0.85442995087000E-02,0.84165896971000E-02,0.82892786041000E-02,
     +     0.81624050885000E-02,0.80360325711000E-02,0.79102057229000E-02,0.77849760310000E-02,0.76604077257000E-02,
     +     0.75365188559000E-02,0.74133650427000E-02,0.72909903964000E-02,0.71694331635000E-02,0.70487420214000E-02,
     +     0.69289355663000E-02,0.68100586353000E-02,0.66921424971000E-02,0.65752136937000E-02,0.64593129740000E-02,
     +     0.63444527434000E-02,0.62306642899000E-02,0.61179804447000E-02,0.60064170078000E-02,0.58959914732000E-02,
     +     0.57867230795000E-02,0.56786331944000E-02,0.55717378991000E-02,0.54660445261000E-02,0.53615677681000E-02,
     +     0.52583263380000E-02,0.51563266154000E-02,0.50555722162000E-02,0.49560774974000E-02,0.48578498137000E-02,
     +     0.47608849064000E-02,0.46651867285000E-02,0.45707683361000E-02,0.44776257311000E-02,0.43857588914000E-02,
     +     0.42951690135000E-02,0.42058539744000E-02,0.41178116185000E-02,0.40310383934000E-02,0.39455316902000E-02,
     +     0.38612880575000E-02,0.37783013287000E-02,0.36965668741000E-02,0.36160737156000E-02,0.35368190468000E-02,
     +     0.34587996991000E-02,0.33820022995000E-02,0.33064181767000E-02,0.32320403214000E-02,0.31588618423000E-02,
     +     0.30868726587000E-02,0.30160614967000E-02,0.29464182420000E-02,0.28779325195000E-02,0.28105947464000E-02,
     +     0.27444004246000E-02,0.26793328474000E-02,0.26153819238000E-02,0.25525374897000E-02,0.24907839061000E-02,
     +     0.24301157137000E-02,0.23705241293000E-02,0.23119970253000E-02,0.22545198670000E-02,0.21980818360000E-02,
     +     0.21426752267000E-02,0.20882902220000E-02,0.20349140908000E-02,0.19825334926000E-02,0.19311392698000E-02,
     +     0.18807219046000E-02,0.18312718128000E-02,0.17827774113000E-02,0.17352280502000E-02,0.16886148411000E-02,
     +     0.16429264524000E-02,0.15981518677000E-02,0.15542809616000E-02,0.15113068306000E-02,0.14692196784000E-02,
     +     0.14280073234000E-02,0.13876604720000E-02,0.13481720392000E-02,0.13095271061000E-02,0.12717229624000E-02,
     +     0.12347487719000E-02,0.11985879786000E-02,0.11632416778000E-02,0.11286974818000E-02,0.10949430900000E-02,
     +     0.10619703684000E-02,0.10297710026000E-02,0.99833803929000E-03,0.96766059461000E-03,0.93772964753000E-03,
     +     0.90853556015000E-03,0.88006760479000E-03,0.85231981807000E-03,0.82528430111000E-03,0.79895006647000E-03,
     +     0.77330583812000E-03,0.74834175591000E-03,0.72405273730000E-03,0.70042799189000E-03,0.67745437118000E-03,
     +     0.65512737586000E-03,0.63343622952000E-03,0.61237152509000E-03,0.59192304241000E-03,0.57207827566000E-03,
     +     0.55282864329000E-03,0.53416967386000E-03,0.51608848261000E-03,0.49856944379000E-03,0.48160642812000E-03,
     +     0.46519244730000E-03,0.44931612642000E-03,0.43396547906000E-03,0.41913022212000E-03,0.40480295256000E-03,
     +     0.39097042812000E-03,0.37762317593000E-03,0.36475321352000E-03,0.35234909550000E-03,0.34040054371000E-03,
     +     0.32889793909000E-03,0.31783166194000E-03,0.30719050263000E-03,0.29696757684000E-03,0.28715079131000E-03,
     +     0.27773196230000E-03,0.26870186580000E-03,0.26004816235000E-03,0.25176697511000E-03,0.24384646013000E-03,
     +     0.23627776810000E-03,0.22905405101000E-03,0.22216577349000E-03,0.21560734517000E-03,0.20937036390000E-03,
     +     0.20344611094000E-03,0.19782830661000E-03,0.19251188143000E-03,0.18749358600000E-03,0.18275301775000E-03,
     +     0.17831039180000E-03      /)

             PBLAST_DATA%SRI(2,1:256) = (/
     +     0.62770705928000E-02,0.62593544593000E-02,0.62414788023000E-02,0.62234442332000E-02,0.62052377659000E-02,
     +     0.61868420035000E-02,0.61682596466000E-02,0.61494726100000E-02,0.61304722210000E-02,0.61112546318000E-02,
     +     0.60918028261000E-02,0.60721107229000E-02,0.60521736419000E-02,0.60319852154000E-02,0.60115347792000E-02,
     +     0.59908137422000E-02,0.59698211621000E-02,0.59485420727000E-02,0.59269694471000E-02,0.59051135275000E-02,
     +     0.58829598923000E-02,0.58604944046000E-02,0.58377181363000E-02,0.58146311636000E-02,0.57912177401000E-02,
     +     0.57674915796000E-02,0.57434402243000E-02,0.57190465453000E-02,0.56943214119000E-02,0.56692685276000E-02,
     +     0.56438682379000E-02,0.56181229273000E-02,0.55920445026000E-02,0.55656115724000E-02,0.55388398465000E-02,
     +     0.55117183697000E-02,0.54842404543000E-02,0.54564225084000E-02,0.54282548362000E-02,0.53997324072000E-02,
     +     0.53708628293000E-02,0.53416497697000E-02,0.53120845855000E-02,0.52821698912000E-02,0.52519126997000E-02,
     +     0.52213164561000E-02,0.51903794998000E-02,0.51590992671000E-02,0.51274859334000E-02,0.50955387449000E-02,
     +     0.50632565532000E-02,0.50306523450000E-02,0.49977246482000E-02,0.49644776832000E-02,0.49309171969000E-02,
     +     0.48970462339000E-02,0.48628670790000E-02,0.48283894213000E-02,0.47936147998000E-02,0.47585473985000E-02,
     +     0.47231999547000E-02,0.46875690744000E-02,0.46516651944000E-02,0.46154976074000E-02,0.45790690692000E-02,
     +     0.45423861768000E-02,0.45054592499000E-02,0.44682926756000E-02,0.44308929993000E-02,0.43932723330000E-02,
     +     0.43554337720000E-02,0.43173867180000E-02,0.42791386521000E-02,0.42406965204000E-02,0.42020687870000E-02,
     +     0.41632701832000E-02,0.41243067912000E-02,0.40851819685000E-02,0.40459075920000E-02,0.40064967174000E-02,
     +     0.39669527415000E-02,0.39272857644000E-02,0.38875108577000E-02,0.38476338449000E-02,0.38076588556000E-02,
     +     0.37676015860000E-02,0.37274739769000E-02,0.36872821434000E-02,0.36470345965000E-02,0.36067461317000E-02,
     +     0.35664237091000E-02,0.35260753481000E-02,0.34857107024000E-02,0.34453465485000E-02,0.34049868328000E-02,
     +     0.33646461954000E-02,0.33243278285000E-02,0.32840467740000E-02,0.32438106321000E-02,0.32036302562000E-02,
     +     0.31635198636000E-02,0.31234846980000E-02,0.30835334258000E-02,0.30436745170000E-02,0.30039210476000E-02,
     +     0.29642865175000E-02,0.29247723421000E-02,0.28853911750000E-02,0.28461545941000E-02,0.28070689084000E-02,
     +     0.27681423579000E-02,0.27293858537000E-02,0.26908068372000E-02,0.26524133026000E-02,0.26142176623000E-02,
     +     0.25762275706000E-02,0.25384476102000E-02,0.25008845441000E-02,0.24635502006000E-02,0.24264542117000E-02,
     +     0.23895998394000E-02,0.23529899483000E-02,0.23166376318000E-02,0.22805555303000E-02,0.22447422410000E-02,
     +     0.22092017224000E-02,0.21739454574000E-02,0.21389807580000E-02,0.21043090276000E-02,0.20699395316000E-02,
     +     0.20358760274000E-02,0.20021217095000E-02,0.19686837314000E-02,0.19355679704000E-02,0.19027766682000E-02,
     +     0.18703136407000E-02,0.18381843386000E-02,0.18063934313000E-02,0.17749432010000E-02,0.17438378299000E-02,
     +     0.17130792290000E-02,0.16826701332000E-02,0.16526152628000E-02,0.16229138141000E-02,0.15935708473000E-02,
     +     0.15645883333000E-02,0.15359648065000E-02,0.15077039384000E-02,0.14798075325000E-02,0.14522774279000E-02,
     +     0.14251129779000E-02,0.13983127821000E-02,0.13718802136000E-02,0.13458150371000E-02,0.13201164786000E-02,
     +     0.12947852683000E-02,0.12698208340000E-02,0.12452220168000E-02,0.12209893836000E-02,0.11971213141000E-02,
     +     0.11736143864000E-02,0.11504704988000E-02,0.11276862084000E-02,0.11052602530000E-02,0.10831932375000E-02,
     +     0.10614822761000E-02,0.10401221836000E-02,0.10191127691000E-02,0.99845336120000E-03,0.97813880791000E-03,
     +     0.95816816529000E-03,0.93853846135000E-03,0.91924644692000E-03,0.90028862663000E-03,0.88166169394000E-03,
     +     0.86336388234000E-03,0.84539187195000E-03,0.82774123388000E-03,0.81040820275000E-03,0.79339082737000E-03,
     +     0.77668438588000E-03,0.76028497181000E-03,0.74418912354000E-03,0.72839256782000E-03,0.71289231778000E-03,
     +     0.69768451509000E-03,0.68276448074000E-03,0.66812732602000E-03,0.65376984404000E-03,0.63968863863000E-03,
     +     0.62587936834000E-03,0.61233668175000E-03,0.59905612352000E-03,0.58603502898000E-03,0.57326889435000E-03,
     +     0.56075282587000E-03,0.54848221336000E-03,0.53645352537000E-03,0.52466223664000E-03,0.51310452097000E-03,
     +     0.50177582401000E-03,0.49067084866000E-03,0.47978664497000E-03,0.46911932295000E-03,0.45866397792000E-03,
     +     0.44841545578000E-03,0.43837047412000E-03,0.42852537377000E-03,0.41887589485000E-03,0.40941756056000E-03,
     +     0.40014597474000E-03,0.39105747837000E-03,0.38214885370000E-03,0.37341560944000E-03,0.36485286791000E-03,
     +     0.35645796872000E-03,0.34822718523000E-03,0.34015635493000E-03,0.33224155401000E-03,0.32447895268000E-03,
     +     0.31686577620000E-03,0.30939874273000E-03,0.30207349182000E-03,0.29488618263000E-03,0.28783453141000E-03,
     +     0.28091495475000E-03,0.27412397261000E-03,0.26745864238000E-03,0.26091555188000E-03,0.25449191225000E-03,
     +     0.24818503211000E-03,0.24199189806000E-03,0.23590918280000E-03,0.22993416061000E-03,0.22406495247000E-03,
     +     0.21829868061000E-03,0.21263261530000E-03,0.20706427363000E-03,0.20159158352000E-03,0.19621230229000E-03,
     +     0.19092427025000E-03,0.18572515481000E-03,0.18061276199000E-03,0.17558624901000E-03,0.17064302591000E-03,
     +     0.16578118849000E-03,0.16099951206000E-03,0.15629622950000E-03,0.15167039011000E-03,0.14712042539000E-03,
     +     0.14264467854000E-03,0.13824218318000E-03,0.13391239893000E-03,0.12965489727000E-03,0.12546567201000E-03,
     +     0.12134852623000E-03      /)

             PBLAST_DATA%SRI(3,1:256) = (/
     +     0.27890752167000E-02,0.27873667001000E-02,0.27850627013000E-02,0.27821679896000E-02,0.27786976087000E-02,
     +     0.27746656848000E-02,0.27700776402000E-02,0.27649480510000E-02,0.27592857071000E-02,0.27531028015000E-02,
     +     0.27464178931000E-02,0.27392339959000E-02,0.27315642812000E-02,0.27234229102000E-02,0.27148211772000E-02,
     +     0.27057715637000E-02,0.26962879353000E-02,0.26863784838000E-02,0.26760544453000E-02,0.26653318823000E-02,
     +     0.26542194992000E-02,0.26427298548000E-02,0.26308751213000E-02,0.26186674089000E-02,0.26061162948000E-02,
     +     0.25932353943000E-02,0.25800352741000E-02,0.25665260018000E-02,0.25527204591000E-02,0.25386292135000E-02,
     +     0.25242623152000E-02,0.25096296910000E-02,0.24947438769000E-02,0.24796142821000E-02,0.24642534066000E-02,
     +     0.24486686651000E-02,0.24328696952000E-02,0.24168701338000E-02,0.24006757071000E-02,0.23842957783000E-02,
     +     0.23677415537000E-02,0.23510239650000E-02,0.23341506181000E-02,0.23171275648000E-02,0.22999638783000E-02,
     +     0.22826711486000E-02,0.22652587231000E-02,0.22477307204000E-02,0.22300956013000E-02,0.22123614986000E-02,
     +     0.21945367064000E-02,0.21766293340000E-02,0.21586454456000E-02,0.21405929416000E-02,0.21224798731000E-02,
     +     0.21043128362000E-02,0.20860953481000E-02,0.20678342503000E-02,0.20495384014000E-02,0.20312144668000E-02,
     +     0.20128669947000E-02,0.19945005334000E-02,0.19761209445000E-02,0.19577369436000E-02,0.19393514731000E-02,
     +     0.19209700390000E-02,0.19025953970000E-02,0.18842338313000E-02,0.18658936646000E-02,0.18475786746000E-02,
     +     0.18292899231000E-02,0.18110316196000E-02,0.17928106540000E-02,0.17746323988000E-02,0.17564990104000E-02,
     +     0.17384142884000E-02,0.17203803977000E-02,0.17024018353000E-02,0.16844851712000E-02,0.16666309665000E-02,
     +     0.16488428518000E-02,0.16311239129000E-02,0.16134773374000E-02,0.15959075347000E-02,0.15784149718000E-02,
     +     0.15610048142000E-02,0.15436802387000E-02,0.15264404161000E-02,0.15092888166000E-02,0.14922295642000E-02,
     +     0.14752647697000E-02,0.14583957097000E-02,0.14416251276000E-02,0.14249553317000E-02,0.14083865214000E-02,
     +     0.13919218890000E-02,0.13755658209000E-02,0.13593163783000E-02,0.13431759399000E-02,0.13271456671000E-02,
     +     0.13112273616000E-02,0.12954247593000E-02,0.12797379870000E-02,0.12641670515000E-02,0.12487131283000E-02,
     +     0.12333784524000E-02,0.12181643009000E-02,0.12030720640000E-02,0.11881012333000E-02,0.11732530647000E-02,
     +     0.11585304567000E-02,0.11439325584000E-02,0.11294588810000E-02,0.11151117040000E-02,0.11008927513000E-02,
     +     0.10868003963000E-02,0.10728353819000E-02,0.10589990692000E-02,0.10452918273000E-02,0.10317135212000E-02,
     +     0.10182653379000E-02,0.10049466899000E-02,0.99175804707000E-03,0.97870006090000E-03,0.96577144776000E-03,
     +     0.95297301190000E-03,0.94030591514000E-03,0.92776971984000E-03,0.91536338932000E-03,0.90308710435000E-03,
     +     0.89094109209000E-03,0.87892501422000E-03,0.86703848354000E-03,0.85528167083000E-03,0.84365405464000E-03,
     +     0.83215476783000E-03,0.82078398245000E-03,0.80954179275000E-03,0.79842663013000E-03,0.78743904692000E-03,
     +     0.77657791084000E-03,0.76584199101000E-03,0.75523205608000E-03,0.74474691459000E-03,0.73438603842000E-03,
     +     0.72414831139000E-03,0.71403258388000E-03,0.70403931861000E-03,0.69416756143000E-03,0.68441586346000E-03,
     +     0.67478334790000E-03,0.66526947344000E-03,0.65587310280000E-03,0.64659386598000E-03,0.63743078371000E-03,
     +     0.62838193466000E-03,0.61944617556000E-03,0.61062374663000E-03,0.60191348429000E-03,0.59331345475000E-03,
     +     0.58482277304000E-03,0.57644021056000E-03,0.56816506357000E-03,0.55999604149000E-03,0.55193148800000E-03,
     +     0.54397072883000E-03,0.53611263913000E-03,0.52835566550000E-03,0.52069816867000E-03,0.51313892114000E-03,
     +     0.50567757955000E-03,0.49831224837000E-03,0.49104123155000E-03,0.48386342612000E-03,0.47677747398000E-03,
     +     0.46978235207000E-03,0.46287604561000E-03,0.45605719024000E-03,0.44932487068000E-03,0.44267741243000E-03,
     +     0.43611353186000E-03,0.42963154476000E-03,0.42322978627000E-03,0.41690720746000E-03,0.41066283244000E-03,
     +     0.40449432888000E-03,0.39839993691000E-03,0.39237871944000E-03,0.38642937845000E-03,0.38055038197000E-03,
     +     0.37473982846000E-03,0.36899616751000E-03,0.36331824949000E-03,0.35770475448000E-03,0.35215394234000E-03,
     +     0.34666415596000E-03,0.34123388778000E-03,0.33586205994000E-03,0.33054671592000E-03,0.32528664764000E-03,
     +     0.32008047725000E-03,0.31492619027000E-03,0.30982308192000E-03,0.30476941128000E-03,0.29976377743000E-03,
     +     0.29480483713000E-03,0.28989093164000E-03,0.28502116791000E-03,0.28019360292000E-03,0.27540698511000E-03,
     +     0.27066073235000E-03,0.26595314593000E-03,0.26128284462000E-03,0.25664865006000E-03,0.25204940314000E-03,
     +     0.24748419088000E-03,0.24295203190000E-03,0.23845136095000E-03,0.23398111483000E-03,0.22954069309000E-03,
     +     0.22512935774000E-03,0.22074597318000E-03,0.21638952604000E-03,0.21205929262000E-03,0.20775464620000E-03,
     +     0.20347515459000E-03,0.19922008834000E-03,0.19498885776000E-03,0.19078106301000E-03,0.18659622890000E-03,
     +     0.18243440885000E-03,0.17829533906000E-03,0.17417858315000E-03,0.17008419932000E-03,0.16601237194000E-03,
     +     0.16196311059000E-03,0.15793655703000E-03,0.15393323548000E-03,0.14995360783000E-03,0.14599799877000E-03,
     +     0.14206689548000E-03,0.13816121425000E-03,0.13428195465000E-03,0.13042971184000E-03,0.12660538766000E-03,
     +     0.12281027076000E-03,0.11904580028000E-03,0.11531294842000E-03,0.11161300214000E-03,0.10794767979000E-03,
     +     0.10431865457000E-03,0.10072748748000E-03,0.97175529256000E-04,0.93663531679000E-04,0.90200062083000E-04,
     +     0.86775413623000E-04      /)

             PBLAST_DATA%SRI(4,1:256) = (/
     +     0.80441405932000E-03,0.80335096600000E-03,0.80221820404000E-03,0.80101546694000E-03,0.79974357576000E-03,
     +     0.79840389682000E-03,0.79699636976000E-03,0.79552189841000E-03,0.79398135157000E-03,0.79237549721000E-03,
     +     0.79070524001000E-03,0.78897105763000E-03,0.78717392532000E-03,0.78531495173000E-03,0.78339502379000E-03,
     +     0.78141485174000E-03,0.77937483603000E-03,0.77727669045000E-03,0.77512169006000E-03,0.77290980962000E-03,
     +     0.77064266205000E-03,0.76832092758000E-03,0.76594541635000E-03,0.76351775885000E-03,0.76103891909000E-03,
     +     0.75850982924000E-03,0.75593099785000E-03,0.75330370921000E-03,0.75062966205000E-03,0.74790908624000E-03,
     +     0.74514356159000E-03,0.74233412083000E-03,0.73948161494000E-03,0.73658772666000E-03,0.73365236297000E-03,
     +     0.73067720771000E-03,0.72766405365000E-03,0.72461325408000E-03,0.72152543380000E-03,0.71840235381000E-03,
     +     0.71524525408000E-03,0.71205487152000E-03,0.70883235652000E-03,0.70557868702000E-03,0.70229469189000E-03,
     +     0.69898154835000E-03,0.69564071278000E-03,0.69227294591000E-03,0.68887937266000E-03,0.68546079838000E-03,
     +     0.68201830233000E-03,0.67855318908000E-03,0.67506648539000E-03,0.67155866472000E-03,0.66803076844000E-03,
     +     0.66448435833000E-03,0.66091996460000E-03,0.65733871688000E-03,0.65374129507000E-03,0.65012872386000E-03,
     +     0.64650239031000E-03,0.64286267444000E-03,0.63921065391000E-03,0.63554736423000E-03,0.63187355620000E-03,
     +     0.62818982357000E-03,0.62449753530000E-03,0.62079741462000E-03,0.61709004615000E-03,0.61337648576000E-03,
     +     0.60965775786000E-03,0.60593416555000E-03,0.60220638896000E-03,0.59847567342000E-03,0.59474284099000E-03,
     +     0.59100797129000E-03,0.58727241388000E-03,0.58353667989000E-03,0.57980170288000E-03,0.57606772984000E-03,
     +     0.57233549160000E-03,0.56860599195000E-03,0.56487983440000E-03,0.56115748660000E-03,0.55743945551000E-03,
     +     0.55372650730000E-03,0.55001944434000E-03,0.54631872263000E-03,0.54262437688000E-03,0.53893734376000E-03,
     +     0.53525848257000E-03,0.53158805982000E-03,0.52792650897000E-03,0.52427424749000E-03,0.52063170767000E-03,
     +     0.51699959270000E-03,0.51337855977000E-03,0.50976859244000E-03,0.50617009938000E-03,0.50258353927000E-03,
     +     0.49900946298000E-03,0.49544840487000E-03,0.49190030357000E-03,0.48836557497000E-03,0.48484471470000E-03,
     +     0.48133799698000E-03,0.47784577085000E-03,0.47436830697000E-03,0.47090570833000E-03,0.46745817164000E-03,
     +     0.46402608570000E-03,0.46061003293000E-03,0.45720973130000E-03,0.45382522956000E-03,0.45045717786000E-03,
     +     0.44710555962000E-03,0.44377039311000E-03,0.44045204363000E-03,0.43715064307000E-03,0.43386598220000E-03,
     +     0.43059844284000E-03,0.42734787467000E-03,0.42411432537000E-03,0.42089804529000E-03,0.41769889780000E-03,
     +     0.41451699849000E-03,0.41135239358000E-03,0.40820492469000E-03,0.40507448587000E-03,0.40196124515000E-03,
     +     0.39886497591000E-03,0.39578573405000E-03,0.39272347396000E-03,0.38967770312000E-03,0.38664870403000E-03,
     +     0.38363620056000E-03,0.38063990606000E-03,0.37765982229000E-03,0.37469556157000E-03,0.37174728471000E-03,
     +     0.36881449616000E-03,0.36589675083000E-03,0.36299430107000E-03,0.36010659415000E-03,0.35723343567000E-03,
     +     0.35437449630000E-03,0.35152925188000E-03,0.34869757661000E-03,0.34587938557000E-03,0.34307410252000E-03,
     +     0.34028112202000E-03,0.33750024311000E-03,0.33473113793000E-03,0.33197335834000E-03,0.32922644161000E-03,
     +     0.32648991361000E-03,0.32376338553000E-03,0.32104633873000E-03,0.31833833111000E-03,0.31563880383000E-03,
     +     0.31294713342000E-03,0.31026312613000E-03,0.30758609504000E-03,0.30491529863000E-03,0.30225022909000E-03,
     +     0.29959052812000E-03,0.29693533096000E-03,0.29428427342000E-03,0.29163679604000E-03,0.28899197170000E-03,
     +     0.28634902800000E-03,0.28370830473000E-03,0.28106804749000E-03,0.27842782293000E-03,0.27578735336000E-03,
     +     0.27314594164000E-03,0.27050267055000E-03,0.26785697671000E-03,0.26520813946000E-03,0.26255553569000E-03,
     +     0.25989833502000E-03,0.25723599901000E-03,0.25456792162000E-03,0.25189311876000E-03,0.24921128946000E-03,
     +     0.24652162497000E-03,0.24382327242000E-03,0.24111567048000E-03,0.23839826640000E-03,0.23567052408000E-03,
     +     0.23293159466000E-03,0.23018089088000E-03,0.22741820808000E-03,0.22464252862000E-03,0.22185348147000E-03,
     +     0.21905062619000E-03,0.21623319901000E-03,0.21340117525000E-03,0.21055385455000E-03,0.20769096630000E-03,
     +     0.20481217780000E-03,0.20191682777000E-03,0.19900519911000E-03,0.19607675634000E-03,0.19313127225000E-03,
     +     0.19016891333000E-03,0.18718938183000E-03,0.18419271939000E-03,0.18117895315000E-03,0.17814831197000E-03,
     +     0.17510113316000E-03,0.17203743528000E-03,0.16895756071000E-03,0.16586193042000E-03,0.16275111719000E-03,
     +     0.15962580409000E-03,0.15648648567000E-03,0.15333400926000E-03,0.15016921789000E-03,0.14699299164000E-03,
     +     0.14380617186000E-03,0.14061010330000E-03,0.13740598100000E-03,0.13419512666000E-03,0.13097899811000E-03,
     +     0.12775869434000E-03,0.12453640703000E-03,0.12131359157000E-03,0.11809177231000E-03,0.11487318956000E-03,
     +     0.11165955996000E-03,0.10845294694000E-03,0.10525577068000E-03,0.10207027578000E-03,0.98898251203000E-04,
     +     0.95742271106000E-04,0.92604961678000E-04,0.89488946430000E-04,0.86396464530000E-04,0.83329883906000E-04,
     +     0.80292099679000E-04,0.77286009835000E-04,0.74314099521000E-04,0.71378685298000E-04,0.68482564855000E-04,
     +     0.65628565825000E-04,0.62819566454000E-04,0.60057673706000E-04,0.57345305684000E-04,0.54685153353000E-04,
     +     0.52079780844000E-04,0.49531547658000E-04,0.47042137400000E-04,0.44612512376000E-04,0.42251285028000E-04,
     +     0.39948943854000E-04      /)

             PBLAST_DATA%SRI(5,1:256) = (/
     +     0.44519588514000E-03,0.44440892437000E-03,0.44359865789000E-03,0.44276577357000E-03,0.44191124326000E-03,
     +     0.44103569211000E-03,0.44013994760000E-03,0.43922457321000E-03,0.43829044690000E-03,0.43733839445000E-03,
     +     0.43636875512000E-03,0.43538214597000E-03,0.43437948130000E-03,0.43336132231000E-03,0.43232804514000E-03,
     +     0.43128013124000E-03,0.43021850049000E-03,0.42914352473000E-03,0.42805561149000E-03,0.42695557691000E-03,
     +     0.42584331444000E-03,0.42471963081000E-03,0.42358502463000E-03,0.42243954837000E-03,0.42128363414000E-03,
     +     0.42011812651000E-03,0.41894284587000E-03,0.41775799582000E-03,0.41656461364000E-03,0.41536248142000E-03,
     +     0.41415186221000E-03,0.41293290587000E-03,0.41170588439000E-03,0.41047140199000E-03,0.40922937139000E-03,
     +     0.40797969694000E-03,0.40672279184000E-03,0.40545901207000E-03,0.40418804360000E-03,0.40291031404000E-03,
     +     0.40162586577000E-03,0.40033452174000E-03,0.39903664490000E-03,0.39773224805000E-03,0.39642118701000E-03,
     +     0.39510363393000E-03,0.39377976592000E-03,0.39244904979000E-03,0.39111191950000E-03,0.38976833432000E-03,
     +     0.38841798076000E-03,0.38706119225000E-03,0.38569749355000E-03,0.38432713594000E-03,0.38295015672000E-03,
     +     0.38156608625000E-03,0.38017510238000E-03,0.37877709987000E-03,0.37737187721000E-03,0.37595937096000E-03,
     +     0.37453959678000E-03,0.37311240905000E-03,0.37167756064000E-03,0.37023499220000E-03,0.36878470309000E-03,
     +     0.36732653437000E-03,0.36586014135000E-03,0.36438554080000E-03,0.36290278611000E-03,0.36141157212000E-03,
     +     0.35991172186000E-03,0.35840331122000E-03,0.35688623766000E-03,0.35536016042000E-03,0.35382499843000E-03,
     +     0.35228088961000E-03,0.35072753011000E-03,0.34916476532000E-03,0.34759279661000E-03,0.34601114811000E-03,
     +     0.34441995171000E-03,0.34281916270000E-03,0.34120854651000E-03,0.33958826325000E-03,0.33795832455000E-03,
     +     0.33631829158000E-03,0.33466812850000E-03,0.33300825484000E-03,0.33133869313000E-03,0.32965888253000E-03,
     +     0.32796895779000E-03,0.32626933379000E-03,0.32455966746000E-03,0.32284005130000E-03,0.32111069390000E-03,
     +     0.31937142838000E-03,0.31762217517000E-03,0.31586354011000E-03,0.31409539979000E-03,0.31231755349000E-03,
     +     0.31053023308000E-03,0.30873371155000E-03,0.30692807063000E-03,0.30511346324000E-03,0.30328999242000E-03,
     +     0.30145776314000E-03,0.29961688736000E-03,0.29776784077000E-03,0.29591072278000E-03,0.29404557064000E-03,
     +     0.29217277194000E-03,0.29029249915000E-03,0.28840484688000E-03,0.28651022463000E-03,0.28460903915000E-03,
     +     0.28270125867000E-03,0.28078716080000E-03,0.27886729237000E-03,0.27694182504000E-03,0.27501080447000E-03,
     +     0.27307490876000E-03,0.27113429695000E-03,0.26918920939000E-03,0.26724011102000E-03,0.26528720444000E-03,
     +     0.26333098095000E-03,0.26137159442000E-03,0.25940941954000E-03,0.25744500928000E-03,0.25547842017000E-03,
     +     0.25351009135000E-03,0.25154047346000E-03,0.24956986956000E-03,0.24759851186000E-03,0.24562700344000E-03,
     +     0.24365551891000E-03,0.24168419880000E-03,0.23971363968000E-03,0.23774426954000E-03,0.23577634324000E-03,
     +     0.23380996733000E-03,0.23184557125000E-03,0.22988370844000E-03,0.22792439554000E-03,0.22596812933000E-03,
     +     0.22401525386000E-03,0.22206580984000E-03,0.22012028201000E-03,0.21817882543000E-03,0.21624169468000E-03,
     +     0.21430921700000E-03,0.21238156932000E-03,0.21045905148000E-03,0.20854181104000E-03,0.20663006621000E-03,
     +     0.20472406708000E-03,0.20282376365000E-03,0.20092945963000E-03,0.19904143475000E-03,0.19715969942000E-03,
     +     0.19528425311000E-03,0.19341519452000E-03,0.19155278000000E-03,0.18969700197000E-03,0.18784777764000E-03,
     +     0.18600530220000E-03,0.18416941242000E-03,0.18234007609000E-03,0.18051738790000E-03,0.17870129498000E-03,
     +     0.17689167035000E-03,0.17508842353000E-03,0.17329148054000E-03,0.17150062162000E-03,0.16971558315000E-03,
     +     0.16793639663000E-03,0.16616283704000E-03,0.16439465087000E-03,0.16263164590000E-03,0.16087350197000E-03,
     +     0.15911995600000E-03,0.15737074115000E-03,0.15562546664000E-03,0.15388374892000E-03,0.15214547807000E-03,
     +     0.15041007475000E-03,0.14867713715000E-03,0.14694638731000E-03,0.14521741950000E-03,0.14348968687000E-03,
     +     0.14176256401000E-03,0.14003566253000E-03,0.13830882988000E-03,0.13658136923000E-03,0.13485269942000E-03,
     +     0.13312233308000E-03,0.13138964299000E-03,0.12965428911000E-03,0.12791569362000E-03,0.12617323851000E-03,
     +     0.12442640280000E-03,0.12267465837000E-03,0.12091756908000E-03,0.11915450022000E-03,0.11738496501000E-03,
     +     0.11560845954000E-03,0.11382434968000E-03,0.11203242657000E-03,0.11023216533000E-03,0.10842298611000E-03,
     +     0.10660461196000E-03,0.10477674643000E-03,0.10293886108000E-03,0.10109069130000E-03,0.99232131964000E-04,
     +     0.97362896012000E-04,0.95482975593000E-04,0.93592070970000E-04,0.91690141537000E-04,0.89777494814000E-04,
     +     0.87854152000000E-04,0.85920159730000E-04,0.83975815042000E-04,0.82021632926000E-04,0.80058049965000E-04,
     +     0.78085426219000E-04,0.76104424552000E-04,0.74115928086000E-04,0.72120881169000E-04,0.70119988116000E-04,
     +     0.68114326104000E-04,0.66105095160000E-04,0.64093955609000E-04,0.62081793676000E-04,0.60070633602000E-04,
     +     0.58061463284000E-04,0.56056463342000E-04,0.54057715062000E-04,0.52066753767000E-04,0.50085581247000E-04,
     +     0.48116507674000E-04,0.46161941590000E-04,0.44224291423000E-04,0.42305458503000E-04,0.40407859761000E-04,
     +     0.38534270002000E-04,0.36687585087000E-04,0.34869671227000E-04,0.33083055041000E-04,0.31330443816000E-04,
     +     0.29614451413000E-04,0.27937667929000E-04,0.26301803628000E-04,0.24707651489000E-04,0.23165465029000E-04,
     +     0.21663709048000E-04      /)

             PBLAST_DATA%SRI(6,1:256) = (/
     +     0.22167698836000E-03,0.22158620351000E-03,0.22148004090000E-03,0.22135920461000E-03,0.22122453132000E-03,
     +     0.22107657553000E-03,0.22091609197000E-03,0.22074370872000E-03,0.22056013172000E-03,0.22036599907000E-03,
     +     0.22016194722000E-03,0.21994853738000E-03,0.21972642119000E-03,0.21949609525000E-03,0.21925811239000E-03,
     +     0.21901309996000E-03,0.21876142033000E-03,0.21850351437000E-03,0.21824006079000E-03,0.21797143263000E-03,
     +     0.21769786185000E-03,0.21741979859000E-03,0.21713764413000E-03,0.21685159548000E-03,0.21656205742000E-03,
     +     0.21626947252000E-03,0.21597385757000E-03,0.21567559223000E-03,0.21537481748000E-03,0.21507168600000E-03,
     +     0.21476642979000E-03,0.21445900066000E-03,0.21414977469000E-03,0.21383892596000E-03,0.21352626026000E-03,
     +     0.21321178813000E-03,0.21289594512000E-03,0.21257830378000E-03,0.21225899713000E-03,0.21193820958000E-03,
     +     0.21161558024000E-03,0.21129117837000E-03,0.21096503641000E-03,0.21063683815000E-03,0.21030647738000E-03,
     +     0.20997413080000E-03,0.20963939549000E-03,0.20930216843000E-03,0.20896236665000E-03,0.20861967205000E-03,
     +     0.20827377087000E-03,0.20792470500000E-03,0.20757225760000E-03,0.20721601508000E-03,0.20685576053000E-03,
     +     0.20649141939000E-03,0.20612261128000E-03,0.20574909045000E-03,0.20537062159000E-03,0.20498686043000E-03,
     +     0.20459749141000E-03,0.20420241760000E-03,0.20380127554000E-03,0.20339371611000E-03,0.20297945607000E-03,
     +     0.20255816210000E-03,0.20212959778000E-03,0.20169357937000E-03,0.20124968906000E-03,0.20079757565000E-03,
     +     0.20033715263000E-03,0.19986799682000E-03,0.19938983808000E-03,0.19890245260000E-03,0.19840549224000E-03,
     +     0.19789864815000E-03,0.19738188232000E-03,0.19685479608000E-03,0.19631715710000E-03,0.19576877279000E-03,
     +     0.19520923785000E-03,0.19463861592000E-03,0.19405661503000E-03,0.19346288832000E-03,0.19285736316000E-03,
     +     0.19223999750000E-03,0.19161052499000E-03,0.19096870041000E-03,0.19031440021000E-03,0.18964754903000E-03,
     +     0.18896805972000E-03,0.18827579744000E-03,0.18757091761000E-03,0.18685311954000E-03,0.18612213763000E-03,
     +     0.18537834247000E-03,0.18462153832000E-03,0.18385166423000E-03,0.18306877461000E-03,0.18227292811000E-03,
     +     0.18146415823000E-03,0.18064250416000E-03,0.17980778585000E-03,0.17896029268000E-03,0.17810033177000E-03,
     +     0.17722765146000E-03,0.17634240100000E-03,0.17544496412000E-03,0.17453538606000E-03,0.17361366894000E-03,
     +     0.17268022245000E-03,0.17173492548000E-03,0.17077811269000E-03,0.16981008179000E-03,0.16883097431000E-03,
     +     0.16784115492000E-03,0.16684053570000E-03,0.16582957820000E-03,0.16480858772000E-03,0.16377765968000E-03,
     +     0.16273727086000E-03,0.16168745953000E-03,0.16062861562000E-03,0.15956111945000E-03,0.15848518382000E-03,
     +     0.15740113433000E-03,0.15630912704000E-03,0.15520957338000E-03,0.15410287828000E-03,0.15298928458000E-03,
     +     0.15186903352000E-03,0.15074246864000E-03,0.14960998454000E-03,0.14847183571000E-03,0.14732828474000E-03,
     +     0.14617966101000E-03,0.14502639320000E-03,0.14386859721000E-03,0.14270659313000E-03,0.14154087037000E-03,
     +     0.14037150869000E-03,0.13919878824000E-03,0.13802315003000E-03,0.13684489422000E-03,0.13566416435000E-03,
     +     0.13448109641000E-03,0.13329609503000E-03,0.13210937419000E-03,0.13092120159000E-03,0.12973189322000E-03,
     +     0.12854154715000E-03,0.12735021307000E-03,0.12615830130000E-03,0.12496594446000E-03,0.12377323226000E-03,
     +     0.12258045128000E-03,0.12138766975000E-03,0.12019497589000E-03,0.11900285465000E-03,0.11781109066000E-03,
     +     0.11661970546000E-03,0.11542889979000E-03,0.11423888826000E-03,0.11304970270000E-03,0.11186137776000E-03,
     +     0.11067390131000E-03,0.10948733215000E-03,0.10830165316000E-03,0.10711695228000E-03,0.10593335222000E-03,
     +     0.10475057982000E-03,0.10356883186000E-03,0.10238799312000E-03,0.10120797181000E-03,0.10002894186000E-03,
     +     0.98850609805000E-04,0.97672924688000E-04,0.96495995504000E-04,0.95319661920000E-04,0.94143698905000E-04,
     +     0.92968121869000E-04,0.91793006705000E-04,0.90618029172000E-04,0.89443075868000E-04,0.88268108773000E-04,
     +     0.87093046226000E-04,0.85917783010000E-04,0.84742237062000E-04,0.83566277986000E-04,0.82389608199000E-04,
     +     0.81212260685000E-04,0.80034144739000E-04,0.78855171329000E-04,0.77675142572000E-04,0.76493835472000E-04,
     +     0.75311644613000E-04,0.74128210733000E-04,0.72943294293000E-04,0.71757090264000E-04,0.70569415918000E-04,
     +     0.69380329822000E-04,0.68189680149000E-04,0.66997635103000E-04,0.65804245612000E-04,0.64609181335000E-04,
     +     0.63412841826000E-04,0.62215334615000E-04,0.61016610488000E-04,0.59816694864000E-04,0.58615723341000E-04,
     +     0.57414361341000E-04,0.56212047726000E-04,0.55009489628000E-04,0.53806954567000E-04,0.52604694008000E-04,
     +     0.51402656473000E-04,0.50201373461000E-04,0.49001573060000E-04,0.47803040546000E-04,0.46606585936000E-04,
     +     0.45412786591000E-04,0.44221960302000E-04,0.43034497309000E-04,0.41851203609000E-04,0.40672540850000E-04,
     +     0.39498817374000E-04,0.38331028867000E-04,0.37170162963000E-04,0.36016546490000E-04,0.34870649096000E-04,
     +     0.33733490675000E-04,0.32605857744000E-04,0.31488481535000E-04,0.30382309542000E-04,0.29287834088000E-04,
     +     0.28206021398000E-04,0.27137709111000E-04,0.26083616979000E-04,0.25044693292000E-04,0.24021738716000E-04,
     +     0.23015334243000E-04,0.22026720446000E-04,0.21056493168000E-04,0.20104992605000E-04,0.19173700512000E-04,
     +     0.18262826602000E-04,0.17372941714000E-04,0.16505025238000E-04,0.15659823271000E-04,0.14838520312000E-04,
     +     0.14031629474000E-04,0.13230498925000E-04,0.12426484918000E-04,0.11610943709000E-04,0.10775231551000E-04,
     +     0.99107046987000E-05      /)

             PBLAST_DATA%SRI(7,1:256) = (/
     +     0.15372630763000E-03,0.15387384048000E-03,0.15401465070000E-03,0.15414878718000E-03,0.15427643961000E-03,
     +     0.15439768328000E-03,0.15451244248000E-03,0.15462086963000E-03,0.15472308393000E-03,0.15481917460000E-03,
     +     0.15490912582000E-03,0.15499289580000E-03,0.15507057157000E-03,0.15514234494000E-03,0.15520820301000E-03,
     +     0.15526813954000E-03,0.15532226473000E-03,0.15537048796000E-03,0.15541292028000E-03,0.15544958592000E-03,
     +     0.15548051809000E-03,0.15550572612000E-03,0.15552507968000E-03,0.15553884420000E-03,0.15554689769000E-03,
     +     0.15554923225000E-03,0.15554587921000E-03,0.15553660583000E-03,0.15552180225000E-03,0.15550135199000E-03,
     +     0.15547502854000E-03,0.15544291785000E-03,0.15540510814000E-03,0.15536148623000E-03,0.15531194423000E-03,
     +     0.15525663244000E-03,0.15519546513000E-03,0.15512819858000E-03,0.15505507430000E-03,0.15497592402000E-03,
     +     0.15489069214000E-03,0.15479938673000E-03,0.15470194569000E-03,0.15459834025000E-03,0.15448829115000E-03,
     +     0.15437201432000E-03,0.15424948122000E-03,0.15412040326000E-03,0.15398485920000E-03,0.15384281600000E-03,
     +     0.15369408644000E-03,0.15353867432000E-03,0.15337658807000E-03,0.15320763734000E-03,0.15303182052000E-03,
     +     0.15284901317000E-03,0.15265921264000E-03,0.15246236797000E-03,0.15225829551000E-03,0.15204692313000E-03,
     +     0.15182826966000E-03,0.15160223785000E-03,0.15136879739000E-03,0.15112790531000E-03,0.15087933789000E-03,
     +     0.15062313316000E-03,0.15035920625000E-03,0.15008747907000E-03,0.14980788978000E-03,0.14952033750000E-03,
     +     0.14922486598000E-03,0.14892131725000E-03,0.14860961830000E-03,0.14828981099000E-03,0.14796179573000E-03,
     +     0.14762531544000E-03,0.14728072177000E-03,0.14692779771000E-03,0.14656629311000E-03,0.14619639945000E-03,
     +     0.14581795851000E-03,0.14543098629000E-03,0.14503545758000E-03,0.14463128834000E-03,0.14421847599000E-03,
     +     0.14379708387000E-03,0.14336691519000E-03,0.14292806287000E-03,0.14248052264000E-03,0.14202419070000E-03,
     +     0.14155915834000E-03,0.14108549913000E-03,0.14060303702000E-03,0.14011177727000E-03,0.13961182572000E-03,
     +     0.13910316588000E-03,0.13858592528000E-03,0.13805999827000E-03,0.13752535186000E-03,0.13698210204000E-03,
     +     0.13643034546000E-03,0.13587012716000E-03,0.13530128689000E-03,0.13472400774000E-03,0.13413835893000E-03,
     +     0.13354432042000E-03,0.13294213574000E-03,0.13233161066000E-03,0.13171299387000E-03,0.13108638373000E-03,
     +     0.13045170310000E-03,0.12980910343000E-03,0.12915865580000E-03,0.12850045447000E-03,0.12783461532000E-03,
     +     0.12716120185000E-03,0.12648027551000E-03,0.12579198280000E-03,0.12509641780000E-03,0.12439367893000E-03,
     +     0.12368385769000E-03,0.12296707125000E-03,0.12224345681000E-03,0.12151312728000E-03,0.12077606120000E-03,
     +     0.12003251422000E-03,0.11928270976000E-03,0.11852653252000E-03,0.11776418481000E-03,0.11699585916000E-03,
     +     0.11622161672000E-03,0.11544151811000E-03,0.11465574624000E-03,0.11386448986000E-03,0.11306777067000E-03,
     +     0.11226577743000E-03,0.11145861685000E-03,0.11064629711000E-03,0.10982910856000E-03,0.10900699066000E-03,
     +     0.10818015306000E-03,0.10734879030000E-03,0.10651290433000E-03,0.10567260359000E-03,0.10482804481000E-03,
     +     0.10397925639000E-03,0.10312640139000E-03,0.10226963144000E-03,0.10140890953000E-03,0.10054446497000E-03,
     +     0.99676314567000E-04,0.98804491176000E-04,0.97929116916000E-04,0.97050290389000E-04,0.96168184900000E-04,
     +     0.95282658047000E-04,0.94393814174000E-04,0.93501863952000E-04,0.92606790486000E-04,0.91708584843000E-04,
     +     0.90807361667000E-04,0.89903134361000E-04,0.88995917590000E-04,0.88085800738000E-04,0.87172813342000E-04,
     +     0.86256930531000E-04,0.85338186266000E-04,0.84416605812000E-04,0.83492194875000E-04,0.82564979588000E-04,
     +     0.81634925794000E-04,0.80702077555000E-04,0.79766403351000E-04,0.78827874835000E-04,0.77886531709000E-04,
     +     0.76942307559000E-04,0.75995252198000E-04,0.75045341405000E-04,0.74092481589000E-04,0.73136671388000E-04,
     +     0.72177975434000E-04,0.71216300111000E-04,0.70251625446000E-04,0.69283932823000E-04,0.68313188158000E-04,
     +     0.67339430684000E-04,0.66362593473000E-04,0.65382707493000E-04,0.64399719245000E-04,0.63413602140000E-04,
     +     0.62424457758000E-04,0.61432187859000E-04,0.60436875647000E-04,0.59438534836000E-04,0.58437162913000E-04,
     +     0.57432855844000E-04,0.56425632234000E-04,0.55415560749000E-04,0.54402714501000E-04,0.53387188490000E-04,
     +     0.52369109722000E-04,0.51348588527000E-04,0.50325781126000E-04,0.49300814438000E-04,0.48273865616000E-04,
     +     0.47245177679000E-04,0.46214967453000E-04,0.45183464487000E-04,0.44150901905000E-04,0.43117574303000E-04,
     +     0.42083915042000E-04,0.41050142827000E-04,0.40016702036000E-04,0.38983902355000E-04,0.37952214165000E-04,
     +     0.36922129327000E-04,0.35894141354000E-04,0.34868701305000E-04,0.33846343177000E-04,0.32827653855000E-04,
     +     0.31813258650000E-04,0.30803833322000E-04,0.29799963464000E-04,0.28802290575000E-04,0.27811516515000E-04,
     +     0.26828416538000E-04,0.25853828135000E-04,0.24888461884000E-04,0.23932980882000E-04,0.22988242972000E-04,
     +     0.22055110254000E-04,0.21134432792000E-04,0.20227067257000E-04,0.19333707974000E-04,0.18455202579000E-04,
     +     0.17592413320000E-04,0.16746202461000E-04,0.15917407879000E-04,0.15106666557000E-04,0.14314772288000E-04,
     +     0.13542486275000E-04,0.12790517818000E-04,0.12059565974000E-04,0.11350163053000E-04,0.10662458156000E-04,
     +     0.99992035761000E-05,0.93549543184000E-05,0.87210500603000E-05,0.80892432570000E-05,0.74512863637000E-05,
     +     0.67989318356000E-05,0.61239321279000E-05,0.54180396959000E-05,0.46730069947000E-05,0.38805864795000E-05,
     +     0.30325306055000E-05      /)

             PBLAST_DATA%SRI(8,1:256) = (/
     +     0.12065146179000E-03,0.12068430490000E-03,0.12071946123000E-03,0.12075631997000E-03,0.12079446569000E-03,
     +     0.12083351239000E-03,0.12087297904000E-03,0.12091238107000E-03,0.12095135275000E-03,0.12098938737000E-03,
     +     0.12102622767000E-03,0.12106141904000E-03,0.12109464343000E-03,0.12112553717000E-03,0.12115371722000E-03,
     +     0.12117884146000E-03,0.12120065798000E-03,0.12121887183000E-03,0.12123302259000E-03,0.12124298809000E-03,
     +     0.12124851109000E-03,0.12124927088000E-03,0.12124503833000E-03,0.12123555288000E-03,0.12122043761000E-03,
     +     0.12119972528000E-03,0.12117317818000E-03,0.12114043628000E-03,0.12110142107000E-03,0.12105597990000E-03,
     +     0.12100385229000E-03,0.12094492547000E-03,0.12087902435000E-03,0.12080599020000E-03,0.12072578526000E-03,
     +     0.12063817927000E-03,0.12054317541000E-03,0.12044050811000E-03,0.12033007073000E-03,0.12021192903000E-03,
     +     0.12008587936000E-03,0.11995190823000E-03,0.11980991358000E-03,0.11965979765000E-03,0.11950157766000E-03,
     +     0.11933520461000E-03,0.11916044435000E-03,0.11897743570000E-03,0.11878612418000E-03,0.11858639400000E-03,
     +     0.11837835528000E-03,0.11816207369000E-03,0.11793721732000E-03,0.11770400604000E-03,0.11746246443000E-03,
     +     0.11721244515000E-03,0.11695402782000E-03,0.11668731413000E-03,0.11641225069000E-03,0.11612877089000E-03,
     +     0.11583704050000E-03,0.11553711529000E-03,0.11522886734000E-03,0.11491244557000E-03,0.11458782428000E-03,
     +     0.11425508067000E-03,0.11391432380000E-03,0.11356556238000E-03,0.11320880208000E-03,0.11284413540000E-03,
     +     0.11247169373000E-03,0.11209148759000E-03,0.11170355077000E-03,0.11130800183000E-03,0.11090487226000E-03,
     +     0.11049424913000E-03,0.11007627173000E-03,0.10965094786000E-03,0.10921832484000E-03,0.10877857903000E-03,
     +     0.10833172622000E-03,0.10787786572000E-03,0.10741708384000E-03,0.10694955297000E-03,0.10647535531000E-03,
     +     0.10599441477000E-03,0.10550702687000E-03,0.10501322381000E-03,0.10451302020000E-03,0.10400657965000E-03,
     +     0.10349405183000E-03,0.10297551446000E-03,0.10245106832000E-03,0.10192079887000E-03,0.10138486207000E-03,
     +     0.10084337830000E-03,0.10029638685000E-03,0.99744044118000E-04,0.99186438263000E-04,0.98623731419000E-04,
     +     0.98056023832000E-04,0.97483369499000E-04,0.96905934845000E-04,0.96323862463000E-04,0.95737249254000E-04,
     +     0.95146250407000E-04,0.94550972018000E-04,0.93951472176000E-04,0.93347965006000E-04,0.92740534074000E-04,
     +     0.92129346034000E-04,0.91514480087000E-04,0.90896023841000E-04,0.90274201771000E-04,0.89649050364000E-04,
     +     0.89020733196000E-04,0.88389407245000E-04,0.87755186413000E-04,0.87118200579000E-04,0.86478576134000E-04,
     +     0.85836426833000E-04,0.85191865532000E-04,0.84545048011000E-04,0.83896109739000E-04,0.83245149274000E-04,
     +     0.82592319192000E-04,0.81937712594000E-04,0.81281470539000E-04,0.80623708969000E-04,0.79964564830000E-04,
     +     0.79304227614000E-04,0.78642683550000E-04,0.77980118090000E-04,0.77316685870000E-04,0.76652447305000E-04,
     +     0.75987521529000E-04,0.75322073379000E-04,0.74656157094000E-04,0.73989865419000E-04,0.73323347934000E-04,
     +     0.72656744914000E-04,0.71990129150000E-04,0.71323571725000E-04,0.70657177717000E-04,0.69991054506000E-04,
     +     0.69325274687000E-04,0.68659986158000E-04,0.67995222461000E-04,0.67331050001000E-04,0.66667579330000E-04,
     +     0.66004877667000E-04,0.65343012472000E-04,0.64682102004000E-04,0.64022149990000E-04,0.63363238128000E-04,
     +     0.62705434446000E-04,0.62048781840000E-04,0.61393325592000E-04,0.60739105142000E-04,0.60086147618000E-04,
     +     0.59434531293000E-04,0.58784304814000E-04,0.58135437273000E-04,0.57487935867000E-04,0.56841898333000E-04,
     +     0.56197268197000E-04,0.55554101735000E-04,0.54912374572000E-04,0.54272056765000E-04,0.53633235661000E-04,
     +     0.52995796794000E-04,0.52359821737000E-04,0.51725249521000E-04,0.51092006687000E-04,0.50460126184000E-04,
     +     0.49829564307000E-04,0.49200269237000E-04,0.48572230464000E-04,0.47945361009000E-04,0.47319619863000E-04,
     +     0.46695009846000E-04,0.46071372619000E-04,0.45448752880000E-04,0.44827048589000E-04,0.44206175745000E-04,
     +     0.43586073688000E-04,0.42966615446000E-04,0.42347851111000E-04,0.41729658091000E-04,0.41111856399000E-04,
     +     0.40494478424000E-04,0.39877485913000E-04,0.39260633756000E-04,0.38644022790000E-04,0.38027463792000E-04,
     +     0.37410906903000E-04,0.36794319579000E-04,0.36177530825000E-04,0.35560592822000E-04,0.34943356377000E-04,
     +     0.34325766017000E-04,0.33707841003000E-04,0.33089470831000E-04,0.32470590377000E-04,0.31851230272000E-04,
     +     0.31231291066000E-04,0.30610778141000E-04,0.29989762576000E-04,0.29368212776000E-04,0.28746120965000E-04,
     +     0.28123484830000E-04,0.27500399326000E-04,0.26876895597000E-04,0.26253079684000E-04,0.25629104909000E-04,
     +     0.25004973315000E-04,0.24380866783000E-04,0.23756875674000E-04,0.23133253454000E-04,0.22510170129000E-04,
     +     0.21887815569000E-04,0.21266436502000E-04,0.20646332639000E-04,0.20027750533000E-04,0.19410961723000E-04,
     +     0.18796374337000E-04,0.18184333154000E-04,0.17575211125000E-04,0.16969309405000E-04,0.16367125777000E-04,
     +     0.15769281195000E-04,0.15176106524000E-04,0.14588013225000E-04,0.14005556675000E-04,0.13429346383000E-04,
     +     0.12859913105000E-04,0.12297788662000E-04,0.11743564049000E-04,0.11197718102000E-04,0.10660912631000E-04,
     +     0.10133580164000E-04,0.96171283890000E-05,0.91110483697000E-05,0.86075351265000E-05,0.81006197457000E-05,
     +     0.75843333137000E-05,0.70527069166000E-05,0.64997716409000E-05,0.59195585727000E-05,0.53060987985000E-05,
     +     0.46534234045000E-05,0.39555634770000E-05,0.32065501024000E-05,0.24004143668000E-05,0.15311873566000E-05,
     +     0.59290015822000E-06      /)

             PBLAST_DATA%SRI(9,1:256) = (/
     +     0.86501963000000E-04,0.86314296894000E-04,0.86139184523000E-04,0.85975961709000E-04,0.85823750146000E-04,
     +     0.85681844717000E-04,0.85549502216000E-04,0.85426087935000E-04,0.85310976957000E-04,0.85203491937000E-04,
     +     0.85103022576000E-04,0.85008955555000E-04,0.84920679458000E-04,0.84837693305000E-04,0.84759448613000E-04,
     +     0.84685424777000E-04,0.84615099371000E-04,0.84547978717000E-04,0.84483583020000E-04,0.84421434027000E-04,
     +     0.84361181795000E-04,0.84302379017000E-04,0.84244582313000E-04,0.84187362319000E-04,0.84130403562000E-04,
     +     0.84073269153000E-04,0.84015720573000E-04,0.83957395242000E-04,0.83897907960000E-04,0.83836974647000E-04,
     +     0.83774317140000E-04,0.83709633207000E-04,0.83642707896000E-04,0.83573243133000E-04,0.83501015203000E-04,
     +     0.83425811467000E-04,0.83347370526000E-04,0.83265526583000E-04,0.83180100074000E-04,0.83090871039000E-04,
     +     0.82997709849000E-04,0.82900452777000E-04,0.82798909781000E-04,0.82693030484000E-04,0.82582646996000E-04,
     +     0.82467658862000E-04,0.82347967876000E-04,0.82223472809000E-04,0.82094100837000E-04,0.81959780298000E-04,
     +     0.81820469706000E-04,0.81676061983000E-04,0.81526573780000E-04,0.81371985848000E-04,0.81212194284000E-04,
     +     0.81047214736000E-04,0.80877070848000E-04,0.80701742230000E-04,0.80521198885000E-04,0.80335466376000E-04,
     +     0.80144594640000E-04,0.79948602606000E-04,0.79747493740000E-04,0.79541315230000E-04,0.79330100493000E-04,
     +     0.79113895371000E-04,0.78892769833000E-04,0.78666771718000E-04,0.78435939855000E-04,0.78200344685000E-04,
     +     0.77960038363000E-04,0.77715109479000E-04,0.77465650480000E-04,0.77211699408000E-04,0.76953339676000E-04,
     +     0.76690637409000E-04,0.76423696628000E-04,0.76152598242000E-04,0.75877397464000E-04,0.75598188124000E-04,
     +     0.75315062918000E-04,0.75028090226000E-04,0.74737346728000E-04,0.74442946665000E-04,0.74144967067000E-04,
     +     0.73843447504000E-04,0.73538505524000E-04,0.73230216507000E-04,0.72918658906000E-04,0.72603907411000E-04,
     +     0.72286032794000E-04,0.71965116908000E-04,0.71641233193000E-04,0.71314427914000E-04,0.70984807101000E-04,
     +     0.70652439271000E-04,0.70317345405000E-04,0.69979597825000E-04,0.69639274038000E-04,0.69296433392000E-04,
     +     0.68951111940000E-04,0.68603353385000E-04,0.68253216881000E-04,0.67900752652000E-04,0.67545998019000E-04,
     +     0.67188980583000E-04,0.66829753944000E-04,0.66468320157000E-04,0.66104711711000E-04,0.65739015965000E-04,
     +     0.65371188622000E-04,0.65001280955000E-04,0.64629291480000E-04,0.64255243281000E-04,0.63879170409000E-04,
     +     0.63501051277000E-04,0.63120904041000E-04,0.62738713236000E-04,0.62354490490000E-04,0.61968243984000E-04,
     +     0.61579981402000E-04,0.61189703196000E-04,0.60797340833000E-04,0.60402921968000E-04,0.60006459510000E-04,
     +     0.59607888248000E-04,0.59207206192000E-04,0.58804458315000E-04,0.58399535328000E-04,0.57992473130000E-04,
     +     0.57583228392000E-04,0.57171774584000E-04,0.56758117774000E-04,0.56342216125000E-04,0.55924057240000E-04,
     +     0.55503591647000E-04,0.55080785326000E-04,0.54655675781000E-04,0.54228224819000E-04,0.53798335416000E-04,
     +     0.53366061433000E-04,0.52931406091000E-04,0.52494261565000E-04,0.52054632218000E-04,0.51612565485000E-04,
     +     0.51167991890000E-04,0.50720896692000E-04,0.50271326244000E-04,0.49819207205000E-04,0.49364533706000E-04,
     +     0.48907347358000E-04,0.48447622904000E-04,0.47985395713000E-04,0.47520651155000E-04,0.47053369972000E-04,
     +     0.46583569887000E-04,0.46111310976000E-04,0.45636625823000E-04,0.45159492401000E-04,0.44679982935000E-04,
     +     0.44198112608000E-04,0.43713910204000E-04,0.43227437523000E-04,0.42738751516000E-04,0.42247922117000E-04,
     +     0.41754951112000E-04,0.41259962921000E-04,0.40763009730000E-04,0.40264143675000E-04,0.39763495010000E-04,
     +     0.39261119126000E-04,0.38757147429000E-04,0.38251656437000E-04,0.37744694470000E-04,0.37236434137000E-04,
     +     0.36727035840000E-04,0.36216518912000E-04,0.35705076934000E-04,0.35192793353000E-04,0.34679837392000E-04,
     +     0.34166375727000E-04,0.33652523073000E-04,0.33138409157000E-04,0.32624225382000E-04,0.32110113323000E-04,
     +     0.31596215942000E-04,0.31082732432000E-04,0.30569880465000E-04,0.30057808839000E-04,0.29546573386000E-04,
     +     0.29036440907000E-04,0.28527671115000E-04,0.28020356595000E-04,0.27514688250000E-04,0.27010960844000E-04,
     +     0.26509199544000E-04,0.26009639796000E-04,0.25512573393000E-04,0.25018150975000E-04,0.24526491178000E-04,
     +     0.24037807229000E-04,0.23552308523000E-04,0.23070230088000E-04,0.22591690648000E-04,0.22116870063000E-04,
     +     0.21646016346000E-04,0.21179235910000E-04,0.20716770791000E-04,0.20258717820000E-04,0.19805258132000E-04,
     +     0.19356592076000E-04,0.18912856751000E-04,0.18474259066000E-04,0.18040898839000E-04,0.17612892118000E-04,
     +     0.17190405814000E-04,0.16773586357000E-04,0.16362537075000E-04,0.15957388024000E-04,0.15558235431000E-04,
     +     0.15165216992000E-04,0.14778405704000E-04,0.14397868080000E-04,0.14023707103000E-04,0.13656001940000E-04,
     +     0.13294874856000E-04,0.12940335410000E-04,0.12592392979000E-04,0.12251155867000E-04,0.11916690837000E-04,
     +     0.11588961695000E-04,0.11267993698000E-04,0.10953855977000E-04,0.10646565160000E-04,0.10346050191000E-04,
     +     0.10052329153000E-04,0.97654825498000E-05,0.94853685910000E-05,0.92118757523000E-05,0.89458660192000E-05,
     +     0.86884637647000E-05,0.84407794183000E-05,0.82039234099000E-05,0.79790061691000E-05,0.77671381255000E-05,
     +     0.75694297088000E-05,0.73869913486000E-05,0.72209334747000E-05,0.70723665167000E-05,0.69424009042000E-05,
     +     0.68321470670000E-05,0.67427154347000E-05,0.66752164370000E-05,0.66307605034000E-05,0.66104580638000E-05,
     +     0.66154195478000E-05      /)

             PBLAST_DATA%SRI(10,1:256) = (/
     +     0.69426863634000E-04,0.69397372741000E-04,0.69374514801000E-04,0.69357829638000E-04,0.69346709792000E-04,
     +     0.69340659610000E-04,0.69339172373000E-04,0.69341748727000E-04,0.69347938850000E-04,0.69357290867000E-04,
     +     0.69369350298000E-04,0.69383651080000E-04,0.69399766583000E-04,0.69417277023000E-04,0.69435761068000E-04,
     +     0.69454913669000E-04,0.69474195205000E-04,0.69493384588000E-04,0.69512054024000E-04,0.69529819080000E-04,
     +     0.69546350634000E-04,0.69561354430000E-04,0.69574490830000E-04,0.69585460966000E-04,0.69593957919000E-04,
     +     0.69599681363000E-04,0.69602370865000E-04,0.69601719641000E-04,0.69597535803000E-04,0.69589570744000E-04,
     +     0.69577558432000E-04,0.69561286442000E-04,0.69540556160000E-04,0.69515137352000E-04,0.69484877912000E-04,
     +     0.69449614699000E-04,0.69409151179000E-04,0.69363345433000E-04,0.69312068340000E-04,0.69255151989000E-04,
     +     0.69192483849000E-04,0.69123982212000E-04,0.69049534218000E-04,0.68969040032000E-04,0.68882432565000E-04,
     +     0.68789654569000E-04,0.68690643326000E-04,0.68585340549000E-04,0.68473737721000E-04,0.68355775038000E-04,
     +     0.68231456283000E-04,0.68100780372000E-04,0.67963715237000E-04,0.67820320400000E-04,0.67670586296000E-04,
     +     0.67514536627000E-04,0.67352221540000E-04,0.67183711329000E-04,0.67009032101000E-04,0.66828208076000E-04,
     +     0.66641373687000E-04,0.66448559523000E-04,0.66249882763000E-04,0.66045418137000E-04,0.65835236852000E-04,
     +     0.65619468934000E-04,0.65398212938000E-04,0.65171580542000E-04,0.64939650426000E-04,0.64702579873000E-04,
     +     0.64460499440000E-04,0.64213512193000E-04,0.63961773453000E-04,0.63705400294000E-04,0.63444547736000E-04,
     +     0.63179296749000E-04,0.62909834784000E-04,0.62636332872000E-04,0.62358887518000E-04,0.62077672988000E-04,
     +     0.61792830287000E-04,0.61504472427000E-04,0.61212788071000E-04,0.60917910712000E-04,0.60619976398000E-04,
     +     0.60319176751000E-04,0.60015607052000E-04,0.59709421613000E-04,0.59400798340000E-04,0.59089855216000E-04,
     +     0.58776716476000E-04,0.58461539143000E-04,0.58144457753000E-04,0.57825601306000E-04,0.57505113301000E-04,
     +     0.57183106954000E-04,0.56859699392000E-04,0.56535041443000E-04,0.56209267854000E-04,0.55882467790000E-04,
     +     0.55554726457000E-04,0.55226180175000E-04,0.54896946595000E-04,0.54567107134000E-04,0.54236766310000E-04,
     +     0.53906036837000E-04,0.53574973921000E-04,0.53243685189000E-04,0.52912226604000E-04,0.52580711976000E-04,
     +     0.52249189780000E-04,0.51917741064000E-04,0.51586412468000E-04,0.51255291645000E-04,0.50924412882000E-04,
     +     0.50593798978000E-04,0.50263532267000E-04,0.49933671313000E-04,0.49604210171000E-04,0.49275216067000E-04,
     +     0.48946671515000E-04,0.48618631575000E-04,0.48291128306000E-04,0.47964157306000E-04,0.47637746155000E-04,
     +     0.47311893979000E-04,0.46986595156000E-04,0.46661813900000E-04,0.46337607045000E-04,0.46013964801000E-04,
     +     0.45690827141000E-04,0.45368211757000E-04,0.45046078318000E-04,0.44724412675000E-04,0.44403194116000E-04,
     +     0.44082383867000E-04,0.43761926630000E-04,0.43441795614000E-04,0.43121984866000E-04,0.42802410699000E-04,
     +     0.42483045577000E-04,0.42163852560000E-04,0.41844769851000E-04,0.41525723644000E-04,0.41206662505000E-04,
     +     0.40887547698000E-04,0.40568311500000E-04,0.40248878108000E-04,0.39929214261000E-04,0.39609253874000E-04,
     +     0.39288885983000E-04,0.38968083671000E-04,0.38646749672000E-04,0.38324869057000E-04,0.38002338820000E-04,
     +     0.37679060971000E-04,0.37355005665000E-04,0.37030086619000E-04,0.36704229322000E-04,0.36377416695000E-04,
     +     0.36049513066000E-04,0.35720467917000E-04,0.35390254945000E-04,0.35058775020000E-04,0.34725987115000E-04,
     +     0.34391789249000E-04,0.34056182552000E-04,0.33719082104000E-04,0.33380414687000E-04,0.33040147616000E-04,
     +     0.32698222617000E-04,0.32354638720000E-04,0.32009320799000E-04,0.31662229568000E-04,0.31313349572000E-04,
     +     0.30962648965000E-04,0.30610099961000E-04,0.30255694594000E-04,0.29899399906000E-04,0.29541239005000E-04,
     +     0.29181159882000E-04,0.28819198850000E-04,0.28455380837000E-04,0.28089661787000E-04,0.27722128964000E-04,
     +     0.27352780447000E-04,0.26981659760000E-04,0.26608766714000E-04,0.26234207925000E-04,0.25858050866000E-04,
     +     0.25480237523000E-04,0.25100926689000E-04,0.24720210307000E-04,0.24338105369000E-04,0.23954757981000E-04,
     +     0.23570238860000E-04,0.23184587783000E-04,0.22798045073000E-04,0.22410649982000E-04,0.22022537970000E-04,
     +     0.21633810728000E-04,0.21244627263000E-04,0.20855141731000E-04,0.20465487035000E-04,0.20075810024000E-04,
     +     0.19686270449000E-04,0.19297054291000E-04,0.18908314550000E-04,0.18520194972000E-04,0.18132924070000E-04,
     +     0.17746675915000E-04,0.17361633188000E-04,0.16977941007000E-04,0.16595812184000E-04,0.16215475710000E-04,
     +     0.15837092321000E-04,0.15460851978000E-04,0.15086973336000E-04,0.14715628300000E-04,0.14346997331000E-04,
     +     0.13981316093000E-04,0.13618774920000E-04,0.13259527616000E-04,0.12903814270000E-04,0.12551784901000E-04,
     +     0.12203613042000E-04,0.11859518877000E-04,0.11519635624000E-04,0.11184121428000E-04,0.10853219436000E-04,
     +     0.10526990949000E-04,0.10205627071000E-04,0.98892641701000E-05,0.95779913956000E-05,0.92722375589000E-05,
     +     0.89714367214000E-05,0.86734894536000E-05,0.83764305008000E-05,0.80782946081000E-05,0.77771165207000E-05,
     +     0.74709309835000E-05,0.71577727420000E-05,0.68356765410000E-05,0.65026771259000E-05,0.61568092416000E-05,
     +     0.57961076335000E-05,0.54186070466000E-05,0.50223422260000E-05,0.46053479169000E-05,0.41656588645000E-05,
     +     0.37013098139000E-05,0.32103355102000E-05,0.26907706985000E-05,0.21406501240000E-05,0.15580085319000E-05,
     +     0.94088066731000E-06      /)



C Figure 2_13 scale height of trople point versus scaled horizontal distance  cm/g**1/3

              PBLAST_DATA%SHTP_abscissa(1:256) = (/
     +        7.9000000000e+00, 8.1494117647e+00, 8.3988235294e+00, 8.6482352941e+00, 8.8976470588e+00,
     +        9.1470588235e+00, 9.3964705882e+00, 9.6458823529e+00, 9.8952941176e+00, 1.0144705882e+01,
     +        1.0394117647e+01, 1.0643529412e+01, 1.0892941176e+01, 1.1142352941e+01, 1.1391764706e+01,
     +        1.1641176471e+01, 1.1890588235e+01, 1.2140000000e+01, 1.2389411765e+01, 1.2638823529e+01,
     +        1.2888235294e+01, 1.3137647059e+01, 1.3387058824e+01, 1.3636470588e+01, 1.3885882353e+01,
     +        1.4135294118e+01, 1.4384705882e+01, 1.4634117647e+01, 1.4883529412e+01, 1.5132941176e+01,
     +        1.5382352941e+01, 1.5631764706e+01, 1.5881176471e+01, 1.6130588235e+01, 1.6380000000e+01,
     +        1.6629411765e+01, 1.6878823529e+01, 1.7128235294e+01, 1.7377647059e+01, 1.7627058824e+01,
     +        1.7876470588e+01, 1.8125882353e+01, 1.8375294118e+01, 1.8624705882e+01, 1.8874117647e+01,
     +        1.9123529412e+01, 1.9372941176e+01, 1.9622352941e+01, 1.9871764706e+01, 2.0121176471e+01,
     +        2.0370588235e+01, 2.0620000000e+01, 2.0869411765e+01, 2.1118823529e+01, 2.1368235294e+01,
     +        2.1617647059e+01, 2.1867058824e+01, 2.2116470588e+01, 2.2365882353e+01, 2.2615294118e+01,
     +        2.2864705882e+01, 2.3114117647e+01, 2.3363529412e+01, 2.3612941176e+01, 2.3862352941e+01,
     +        2.4111764706e+01, 2.4361176471e+01, 2.4610588235e+01, 2.4860000000e+01, 2.5109411765e+01,
     +        2.5358823529e+01, 2.5608235294e+01, 2.5857647059e+01, 2.6107058824e+01, 2.6356470588e+01,
     +        2.6605882353e+01, 2.6855294118e+01, 2.7104705882e+01, 2.7354117647e+01, 2.7603529412e+01,
     +        2.7852941176e+01, 2.8102352941e+01, 2.8351764706e+01, 2.8601176471e+01, 2.8850588235e+01,
     +        2.9100000000e+01, 2.9349411765e+01, 2.9598823529e+01, 2.9848235294e+01, 3.0097647059e+01,
     +        3.0347058824e+01, 3.0596470588e+01, 3.0845882353e+01, 3.1095294118e+01, 3.1344705882e+01,
     +        3.1594117647e+01, 3.1843529412e+01, 3.2092941176e+01, 3.2342352941e+01, 3.2591764706e+01,
     +        3.2841176471e+01, 3.3090588235e+01, 3.3340000000e+01, 3.3589411765e+01, 3.3838823529e+01,
     +        3.4088235294e+01, 3.4337647059e+01, 3.4587058824e+01, 3.4836470588e+01, 3.5085882353e+01,
     +        3.5335294118e+01, 3.5584705882e+01, 3.5834117647e+01, 3.6083529412e+01, 3.6332941176e+01,
     +        3.6582352941e+01, 3.6831764706e+01, 3.7081176471e+01, 3.7330588235e+01, 3.7580000000e+01,
     +        3.7829411765e+01, 3.8078823529e+01, 3.8328235294e+01, 3.8577647059e+01, 3.8827058824e+01,
     +        3.9076470588e+01, 3.9325882353e+01, 3.9575294118e+01, 3.9824705882e+01, 4.0074117647e+01,
     +        4.0323529412e+01, 4.0572941176e+01, 4.0822352941e+01, 4.1071764706e+01, 4.1321176471e+01,
     +        4.1570588235e+01, 4.1820000000e+01, 4.2069411765e+01, 4.2318823529e+01, 4.2568235294e+01,
     +        4.2817647059e+01, 4.3067058824e+01, 4.3316470588e+01, 4.3565882353e+01, 4.3815294118e+01,
     +        4.4064705882e+01, 4.4314117647e+01, 4.4563529412e+01, 4.4812941176e+01, 4.5062352941e+01,
     +        4.5311764706e+01, 4.5561176471e+01, 4.5810588235e+01, 4.6060000000e+01, 4.6309411765e+01,
     +        4.6558823529e+01, 4.6808235294e+01, 4.7057647059e+01, 4.7307058824e+01, 4.7556470588e+01,
     +        4.7805882353e+01, 4.8055294118e+01, 4.8304705882e+01, 4.8554117647e+01, 4.8803529412e+01,
     +        4.9052941176e+01, 4.9302352941e+01, 4.9551764706e+01, 4.9801176471e+01, 5.0050588235e+01,
     +        5.0300000000e+01, 5.0549411765e+01, 5.0798823529e+01, 5.1048235294e+01, 5.1297647059e+01,
     +        5.1547058824e+01, 5.1796470588e+01, 5.2045882353e+01, 5.2295294118e+01, 5.2544705882e+01,
     +        5.2794117647e+01, 5.3043529412e+01, 5.3292941176e+01, 5.3542352941e+01, 5.3791764706e+01,
     +        5.4041176471e+01, 5.4290588235e+01, 5.4540000000e+01, 5.4789411765e+01, 5.5038823529e+01,
     +        5.5288235294e+01, 5.5537647059e+01, 5.5787058824e+01, 5.6036470588e+01, 5.6285882353e+01,
     +        5.6535294118e+01, 5.6784705882e+01, 5.7034117647e+01, 5.7283529412e+01, 5.7532941176e+01,
     +        5.7782352941e+01, 5.8031764706e+01, 5.8281176471e+01, 5.8530588235e+01, 5.8780000000e+01,
     +        5.9029411765e+01, 5.9278823529e+01, 5.9528235294e+01, 5.9777647059e+01, 6.0027058824e+01,
     +        6.0276470588e+01, 6.0525882353e+01, 6.0775294118e+01, 6.1024705882e+01, 6.1274117647e+01,
     +        6.1523529412e+01, 6.1772941176e+01, 6.2022352941e+01, 6.2271764706e+01, 6.2521176471e+01,
     +        6.2770588235e+01, 6.3020000000e+01, 6.3269411765e+01, 6.3518823529e+01, 6.3768235294e+01,
     +        6.4017647059e+01, 6.4267058824e+01, 6.4516470588e+01, 6.4765882353e+01, 6.5015294118e+01,
     +        6.5264705882e+01, 6.5514117647e+01, 6.5763529412e+01, 6.6012941176e+01, 6.6262352941e+01,
     +        6.6511764706e+01, 6.6761176471e+01, 6.7010588235e+01, 6.7260000000e+01, 6.7509411765e+01,
     +        6.7758823529e+01, 6.8008235294e+01, 6.8257647059e+01, 6.8507058824e+01, 6.8756470588e+01,
     +        6.9005882353e+01, 6.9255294118e+01, 6.9504705882e+01, 6.9754117647e+01, 7.0003529412e+01,
     +        7.0252941176e+01, 7.0502352941e+01, 7.0751764706e+01, 7.1001176471e+01, 7.1250588235e+01,
     +        7.1500000000e+01 /)

              PBLAST_DATA%SHTP(1,1:256) = (/
     +        1.5436157639e+00, 1.6457950233e+00, 1.7518039443e+00, 1.8616826666e+00, 1.9754696672e+00,
     +        2.0932024046e+00, 2.2149182204e+00, 2.3406528447e+00, 2.4704424897e+00, 2.6043197745e+00,
     +        2.7423192054e+00, 2.8844717032e+00, 3.0308104054e+00, 3.1813645279e+00, 3.3361634421e+00,
     +        3.4952355981e+00, 3.6586098108e+00, 3.8263117214e+00, 3.9983660568e+00, 4.1748014743e+00,
     +        4.3556372703e+00, 4.5408969300e+00, 4.7306042738e+00, 4.9247806442e+00, 5.1234407076e+00,
     +        5.3266137920e+00, 5.5343057192e+00, 5.7465449507e+00, 5.9633394341e+00, 6.1847107281e+00,
     +        6.4106701823e+00, 6.6412291284e+00, 6.8764032229e+00, 7.1162029908e+00, 7.3606383209e+00,
     +        7.6097205120e+00, 7.8634560805e+00, 8.1218586596e+00, 8.3849253783e+00, 8.6526682818e+00,
     +        8.9250932521e+00, 9.2022009362e+00, 9.4839988440e+00, 9.7704810212e+00, 1.0061657659e+01,
     +        1.0357523292e+01, 1.0658080438e+01, 1.0963322231e+01, 1.1273255693e+01, 1.1587869656e+01,
     +        1.1907158116e+01, 1.2231121089e+01, 1.2559748580e+01, 1.2893039221e+01, 1.3230976532e+01,
     +        1.3573556130e+01, 1.3920764370e+01, 1.4272597198e+01, 1.4629036309e+01, 1.4990070953e+01,
     +        1.5355682077e+01, 1.5725868095e+01, 1.6100597557e+01, 1.6479863960e+01, 1.6863649582e+01,
     +        1.7251925836e+01, 1.7644683533e+01, 1.8041899339e+01, 1.8443549406e+01, 1.8849614961e+01,
     +        1.9260071920e+01, 1.9674890649e+01, 2.0094053132e+01, 2.0517525783e+01, 2.0945292064e+01,
     +        2.1377315390e+01, 2.1813566967e+01, 2.2254022670e+01, 2.2698648070e+01, 2.3147408020e+01,
     +        2.3600270440e+01, 2.4057212418e+01, 2.4518190036e+01, 2.4983164178e+01, 2.5452106361e+01,
     +        2.5924972757e+01, 2.6401730337e+01, 2.6882335671e+01, 2.7366753018e+01, 2.7854932674e+01,
     +        2.8346841797e+01, 2.8842435599e+01, 2.9341664227e+01, 2.9844485581e+01, 3.0350856495e+01,
     +        3.0860727100e+01, 3.1374055126e+01, 3.1890779694e+01, 3.2410865111e+01, 3.2934244518e+01,
     +        3.3460887747e+01, 3.3990730483e+01, 3.4523703217e+01, 3.5059778801e+01, 3.5598889561e+01,
     +        3.6140981098e+01, 3.6685995483e+01, 3.7233864281e+01, 3.7784551658e+01, 3.8337980692e+01,
     +        3.8894087393e+01, 3.9452812899e+01, 4.0014348363e+01, 4.0580358453e+01, 4.1152784098e+01,
     +        4.1733566229e+01, 4.2324645776e+01, 4.2927963670e+01, 4.3545460840e+01, 4.4179078218e+01,
     +        4.4830756733e+01, 4.5502437317e+01, 4.6196060898e+01, 4.6913568409e+01, 4.7656900779e+01,
     +        4.8427998938e+01, 4.9228803816e+01, 5.0061256346e+01, 5.0927297455e+01, 5.1828868076e+01,
     +        5.2767909138e+01, 5.3746361572e+01, 5.4766166308e+01, 5.5829264276e+01, 5.6937596407e+01,
     +        5.8093103631e+01, 5.9297726879e+01, 6.0553407081e+01, 6.1862085167e+01, 6.3225702068e+01,
     +        6.4646198713e+01, 6.6125516035e+01, 6.7665594962e+01, 6.9268376425e+01, 7.0935801354e+01,
     +        7.2669810681e+01, 7.4472345335e+01, 7.6345346246e+01, 7.8290754346e+01, 8.0310510563e+01,
     +        8.2406555830e+01, 8.4580831076e+01, 8.6835277231e+01, 8.9171835226e+01, 9.1592445991e+01,
     +        9.4099050457e+01, 9.6693589554e+01, 9.9378004212e+01, 1.0215423536e+02, 1.0502422393e+02,
     +        1.0798991086e+02, 1.1105323707e+02, 1.1421614349e+02, 1.1748057105e+02, 1.2084846069e+02,
     +        1.2432175333e+02, 1.2790238991e+02, 1.3159231135e+02, 1.3539345859e+02, 1.3930777255e+02,
     +        1.4333719417e+02, 1.4748366438e+02, 1.5174912410e+02, 1.5613551427e+02, 1.6064477582e+02,
     +        1.6527884967e+02, 1.7003967677e+02, 1.7492919803e+02, 1.7994935439e+02, 1.8510208678e+02,
     +        1.9038933614e+02, 1.9581304338e+02, 2.0137514944e+02, 2.0707759525e+02, 2.1292232175e+02,
     +        2.1891126985e+02, 2.2504638050e+02, 2.3132959462e+02, 2.3776285315e+02, 2.4434809701e+02,
     +        2.5108726713e+02, 2.5798230444e+02, 2.6503514988e+02, 2.7224774437e+02, 2.7962202885e+02,
     +        2.8715994425e+02, 2.9486343149e+02, 3.0273443150e+02, 3.1077488522e+02, 3.1898673358e+02,
     +        3.2737191751e+02, 3.3593237794e+02, 3.4467005579e+02, 3.5358689200e+02, 3.6268482750e+02,
     +        3.7196580322e+02, 3.8143176009e+02, 3.9108463903e+02, 4.0092638099e+02, 4.1095892689e+02,
     +        4.2118421766e+02, 4.3160419423e+02, 4.4222079754e+02, 4.5303596850e+02, 4.6405164806e+02,
     +        4.7526977714e+02, 4.8669229667e+02, 4.9832114759e+02, 5.1015827082e+02, 5.2220560730e+02,
     +        5.3446509795e+02, 5.4693868371e+02, 5.5962830550e+02, 5.7253590425e+02, 5.8566342091e+02,
     +        5.9901279639e+02, 6.1258597162e+02, 6.2638488755e+02, 6.4041148509e+02, 6.5466770518e+02,
     +        6.6915548875e+02, 6.8387677672e+02, 6.9883351004e+02, 7.1402762962e+02, 7.2946107641e+02,
     +        7.4513579132e+02, 7.6105371530e+02, 7.7721678927e+02, 7.9362695416e+02, 8.1028615090e+02,
     +        8.2719632042e+02, 8.4435940365e+02, 8.6177734153e+02, 8.7945207498e+02, 8.9738554494e+02,
     +        9.1557969233e+02, 9.3403645808e+02, 9.5275778313e+02, 9.7174560840e+02, 9.9100187483e+02,
     +        1.0105285233e+03, 1.0303274949e+03, 1.0504007303e+03, 1.0707501707e+03, 1.0913777569e+03,
     +        1.1122854298e+03 /)

              PBLAST_DATA%SHTP(2,1:256) = (/
     +        4.8733623144e-01, 5.9423154180e-01, 6.9921777160e-01, 8.0247803139e-01, 9.0419765901e-01,
     +        1.0045705419e+00, 1.1037627330e+00, 1.2019697554e+00, 1.2993575522e+00, 1.3960977025e+00,
     +        1.4923697186e+00, 1.5883267346e+00, 1.6841468329e+00, 1.7799807530e+00, 1.8759874940e+00,
     +        1.9723294489e+00, 2.0691481854e+00, 2.1666019235e+00, 2.2648330451e+00, 2.3639795614e+00,
     +        2.4641926738e+00, 2.5655996201e+00, 2.6683391086e+00, 2.7725438671e+00, 2.8783350546e+00,
     +        2.9858481942e+00, 3.0951973887e+00, 3.2065063056e+00, 3.3198900571e+00, 3.4354595108e+00,
     +        3.5533303905e+00, 3.6736067068e+00, 3.7963919105e+00, 3.9217915262e+00, 4.0499006085e+00,
     +        4.1808163426e+00, 4.3146325145e+00, 4.4514343693e+00, 4.5913168405e+00, 4.7343547834e+00,
     +        4.8806316806e+00, 5.0302301926e+00, 5.1832164848e+00, 5.3396719034e+00, 5.4996612053e+00,
     +        5.6632473440e+00, 5.8304948554e+00, 6.0014647862e+00, 6.1762183931e+00, 6.3548019739e+00,
     +        6.5372750936e+00, 6.7236741915e+00, 6.9140555038e+00, 7.1084569320e+00, 7.3069173728e+00,
     +        7.5094758438e+00, 7.7161582792e+00, 7.9269997459e+00, 8.1420326599e+00, 8.3612722175e+00,
     +        8.5847479800e+00, 8.8124728864e+00, 9.0444643773e+00, 9.2807340228e+00, 9.5212895250e+00,
     +        9.7661440892e+00, 1.0015297681e+01, 1.0268753247e+01, 1.0526504065e+01, 1.0788542938e+01,
     +        1.1054870366e+01, 1.1325465241e+01, 1.1600324024e+01, 1.1879416476e+01, 1.2162737258e+01,
     +        1.2450249507e+01, 1.2741940182e+01, 1.3037764986e+01, 1.3337712013e+01, 1.3641721569e+01,
     +        1.3949783951e+01, 1.4261827848e+01, 1.4577832878e+01, 1.4897743576e+01, 1.5221512469e+01,
     +        1.5549079211e+01, 1.5880402891e+01, 1.6215409158e+01, 1.6554043975e+01, 1.6896242975e+01,
     +        1.7241937017e+01, 1.7591052550e+01, 1.7943526108e+01, 1.8299271442e+01, 1.8658209852e+01,
     +        1.9020260724e+01, 1.9385348306e+01, 1.9753362453e+01, 2.0124230571e+01, 2.0497856739e+01,
     +        2.0874116765e+01, 2.1252973970e+01, 2.1634234729e+01, 2.2017884150e+01, 2.2403744325e+01,
     +        2.2791739352e+01, 2.3181745973e+01, 2.3573642240e+01, 2.3967321951e+01, 2.4362623414e+01,
     +        2.4759454872e+01, 2.5157691841e+01, 2.5557171845e+01, 2.5957770452e+01, 2.6359357618e+01,
     +        2.6761783450e+01, 2.7164903253e+01, 2.7568575930e+01, 2.7972636630e+01, 2.8376957856e+01,
     +        2.8781347907e+01, 2.9185678985e+01, 2.9589769984e+01, 2.9993460794e+01, 3.0396585716e+01,
     +        3.0798960605e+01, 3.1200437616e+01, 3.1600802341e+01, 3.1999903610e+01, 3.2397555785e+01,
     +        3.2793557835e+01, 3.3187723260e+01, 3.3579884807e+01, 3.3969803594e+01, 3.4357327267e+01,
     +        3.4742220875e+01, 3.5124286360e+01, 3.5503328884e+01, 3.5879120822e+01, 3.6251475735e+01,
     +        3.6620155209e+01, 3.6984948923e+01, 3.7345642631e+01, 3.7701910755e+01, 3.8054886505e+01,
     +        3.8407424568e+01, 3.8762348160e+01, 3.9122480501e+01, 3.9490644809e+01, 3.9869664302e+01,
     +        4.0262362199e+01, 4.0671561718e+01, 4.1100086078e+01, 4.1550758496e+01, 4.2026402192e+01,
     +        4.2529840384e+01, 4.3063896291e+01, 4.3631393130e+01, 4.4235154120e+01, 4.4878002480e+01,
     +        4.5562761428e+01, 4.6292254182e+01, 4.7069303961e+01, 4.7896733984e+01, 4.8777367468e+01,
     +        4.9714027632e+01, 5.0709537695e+01, 5.1766720875e+01, 5.2888400391e+01, 5.4077399460e+01,
     +        5.5336541302e+01, 5.6668649135e+01, 5.8076546176e+01, 5.9563055645e+01, 6.1131000761e+01,
     +        6.2783204741e+01, 6.4522490803e+01, 6.6351682167e+01, 6.8273602051e+01, 7.0291073673e+01,
     +        7.2406920251e+01, 7.4623965005e+01, 7.6945031152e+01, 7.9372941911e+01, 8.1910520500e+01,
     +        8.4560590138e+01, 8.7325974043e+01, 9.0209495434e+01, 9.3213977529e+01, 9.6342243546e+01,
     +        9.9597116704e+01, 1.0298142022e+02, 1.0649797732e+02, 1.1014961121e+02, 1.1393914511e+02,
     +        1.1786940225e+02, 1.2194320584e+02, 1.2616337910e+02, 1.3053274525e+02, 1.3505412751e+02,
     +        1.3973034909e+02, 1.4456423321e+02, 1.4955860310e+02, 1.5471628197e+02, 1.6004009303e+02,
     +        1.6553285952e+02, 1.7119740464e+02, 1.7703655161e+02, 1.8305312365e+02, 1.8924994399e+02,
     +        1.9562983584e+02, 2.0219562241e+02, 2.0895012693e+02, 2.1589617262e+02, 2.2303658269e+02,
     +        2.3037418036e+02, 2.3791178885e+02, 2.4565223137e+02, 2.5359833116e+02, 2.6175291142e+02,
     +        2.7011879537e+02, 2.7869880624e+02, 2.8749576724e+02, 2.9651250159e+02, 3.0575183250e+02,
     +        3.1521658320e+02, 3.2490957690e+02, 3.3483363683e+02, 3.4499158620e+02, 3.5538624823e+02,
     +        3.6602044613e+02, 3.7689700313e+02, 3.8801874245e+02, 3.9938848730e+02, 4.1100906090e+02,
     +        4.2288328648e+02, 4.3501398724e+02, 4.4740398641e+02, 4.6005610720e+02, 4.7297317284e+02,
     +        4.8615800654e+02, 4.9961343152e+02, 5.1334227100e+02, 5.2734734820e+02, 5.4163148633e+02,
     +        5.5619750862e+02, 5.7104823828e+02, 5.8618649853e+02, 6.0161511259e+02, 6.1733690368e+02,
     +        6.3335469502e+02, 6.4967130982e+02, 6.6628957131e+02, 6.8321230270e+02, 7.0044232720e+02,
     +        7.1798246805e+02 /)

              PBLAST_DATA%SHTP(3,1:256) = (/
     +        4.1742688050e-01, 4.5390385122e-01, 4.9161750894e-01, 5.3057148908e-01, 5.7077164754e-01,
     +        6.1222298892e-01, 6.5493039667e-01, 6.9889851769e-01, 7.4413309534e-01, 7.9063850691e-01,
     +        8.3842008582e-01, 8.8748319780e-01, 9.3783211040e-01, 9.8947222399e-01, 1.0424085918e+00,
     +        1.0966465760e+00, 1.1521905714e+00, 1.2090463548e+00, 1.2672185312e+00, 1.3267122679e+00,
     +        1.3875328536e+00, 1.4496853507e+00, 1.5131744198e+00, 1.5780056045e+00, 1.6441842112e+00,
     +        1.7117141522e+00, 1.7806020069e+00, 1.8508520278e+00, 1.9224695598e+00, 1.9954599416e+00,
     +        2.0698278604e+00, 2.1455793270e+00, 2.2227180179e+00, 2.3012502445e+00, 2.3811817504e+00,
     +        2.4625163564e+00, 2.5452590606e+00, 2.6294161145e+00, 2.7149921340e+00, 2.8019916187e+00,
     +        2.8904214600e+00, 2.9802868144e+00, 3.0715907579e+00, 3.1643394323e+00, 3.2585388050e+00,
     +        3.3541937374e+00, 3.4513083658e+00, 3.5498906217e+00, 3.6499436025e+00, 3.7514721230e+00,
     +        3.8544816073e+00, 3.9589796329e+00, 4.0649698299e+00, 4.1724554043e+00, 4.2814427447e+00,
     +        4.3919406559e+00, 4.5039519743e+00, 4.6174782048e+00, 4.7325300794e+00, 4.8491133546e+00,
     +        4.9672280692e+00, 5.0868816924e+00, 5.2080816378e+00, 5.3308318900e+00, 5.4551362979e+00,
     +        5.5810032188e+00, 5.7084353936e+00, 5.8374383442e+00, 5.9680189351e+00, 6.1001804972e+00,
     +        6.2339320394e+00, 6.3692751681e+00, 6.5062126436e+00, 6.6447578748e+00, 6.7849117738e+00,
     +        6.9266784267e+00, 7.0700631430e+00, 7.2150778751e+00, 7.3617188298e+00, 7.5099953203e+00,
     +        7.6599122813e+00, 7.8114781320e+00, 7.9646973479e+00, 8.1195717864e+00, 8.2761066043e+00,
     +        8.4343139617e+00, 8.5941939040e+00, 8.7557503177e+00, 8.9189953592e+00, 9.0839274489e+00,
     +        9.2505533322e+00, 9.4188821532e+00, 9.5889174103e+00, 9.7606639646e+00, 9.9341251692e+00,
     +        1.0109314542e+01, 1.0286229601e+01, 1.0464873209e+01, 1.0645263034e+01, 1.0827394981e+01,
     +        1.1011274602e+01, 1.1196914472e+01, 1.1384312695e+01, 1.1573473656e+01, 1.1764413330e+01,
     +        1.1957127647e+01, 1.2151625302e+01, 1.2347914042e+01, 1.2545994273e+01, 1.2745876847e+01,
     +        1.2947559261e+01, 1.3151058339e+01, 1.3356371154e+01, 1.3563505434e+01, 1.3772468700e+01,
     +        1.3983267468e+01, 1.4195898949e+01, 1.4410376471e+01, 1.4626709197e+01, 1.4844891442e+01,
     +        1.5064939872e+01, 1.5286851562e+01, 1.5510635014e+01, 1.5736298700e+01, 1.5963842995e+01,
     +        1.6193278151e+01, 1.6424609581e+01, 1.6657837594e+01, 1.6892975918e+01, 1.7130023295e+01,
     +        1.7368990652e+01, 1.7609879516e+01, 1.7852699402e+01, 1.8097449394e+01, 1.8344141118e+01,
     +        1.8592780510e+01, 1.8843369235e+01, 1.9095913428e+01, 1.9350426381e+01, 1.9606902641e+01,
     +        1.9865354482e+01, 2.0125785417e+01, 2.0388207782e+01, 2.0652614504e+01, 2.0919016787e+01,
     +        2.1187428484e+01, 2.1457845681e+01, 2.1730277253e+01, 2.2004727970e+01, 2.2281206890e+01,
     +        2.2559716047e+01, 2.2840260640e+01, 2.3122854210e+01, 2.3407491110e+01, 2.3694181514e+01,
     +        2.3982935981e+01, 2.4273758410e+01, 2.4566650691e+01, 2.4861615124e+01, 2.5158671497e+01,
     +        2.5457814873e+01, 2.5759051129e+01, 2.6062392489e+01, 2.6367837749e+01, 2.6675393848e+01,
     +        2.6985070518e+01, 2.7296873191e+01, 2.7610801590e+01, 2.7926868521e+01, 2.8245082954e+01,
     +        2.8565440332e+01, 2.8887947408e+01, 2.9212619571e+01, 2.9539452209e+01, 2.9868458144e+01,
     +        3.0199645638e+01, 3.0533011857e+01, 3.0868568914e+01, 3.1206320295e+01, 3.1546273042e+01,
     +        3.1888431050e+01, 3.2232802084e+01, 3.2579390955e+01, 3.2928208616e+01, 3.3279250695e+01,
     +        3.3632527396e+01, 3.3988050951e+01, 3.4345825832e+01, 3.4705845984e+01, 3.5068136468e+01,
     +        3.5432688539e+01, 3.5799507330e+01, 3.6168694598e+01, 3.6540360337e+01, 3.6914614506e+01,
     +        3.7291567064e+01, 3.7671327969e+01, 3.8054007180e+01, 3.8439714657e+01, 3.8828560357e+01,
     +        3.9220654240e+01, 3.9616106264e+01, 4.0015026389e+01, 4.0417524573e+01, 4.0823710774e+01,
     +        4.1233694952e+01, 4.1647587065e+01, 4.2065497073e+01, 4.2487534933e+01, 4.2913810605e+01,
     +        4.3344434048e+01, 4.3779515220e+01, 4.4219164079e+01, 4.4663490586e+01, 4.5112604699e+01,
     +        4.5566616375e+01, 4.6025635575e+01, 4.6489772257e+01, 4.6959136380e+01, 4.7433837902e+01,
     +        4.7913986783e+01, 4.8399692981e+01, 4.8891066455e+01, 4.9388217163e+01, 4.9891255065e+01,
     +        5.0400290119e+01, 5.0915432285e+01, 5.1436791520e+01, 5.1964477784e+01, 5.2498601035e+01,
     +        5.3039271232e+01, 5.3586598335e+01, 5.4140692301e+01, 5.4701663089e+01, 5.5269620659e+01,
     +        5.5844674970e+01, 5.6426935979e+01, 5.7016513646e+01, 5.7613517929e+01, 5.8218058788e+01,
     +        5.8830246180e+01, 5.9450190066e+01, 6.0078000403e+01, 6.0713787151e+01, 6.1357660267e+01,
     +        6.2009729712e+01, 6.2670105444e+01, 6.3338897421e+01, 6.4016215602e+01, 6.4702169947e+01,
     +        6.5396870414e+01, 6.6100426961e+01, 6.6812949548e+01, 6.7534548133e+01, 6.8265332675e+01,
     +        6.9005413133e+01 /)

              PBLAST_DATA%SHTP(4,1:256) = (/
     +        0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00,
     +        0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00,
     +        0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01,
     +        0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01,
     +        0.00000000000e-01, 0.00000000000e-02, 6.9596407474e-02, 1.5625491062e-01, 2.4280354519e-01,
     +        3.2914417122e-01, 4.1517864878e-01, 5.0080883794e-01, 5.8593659876e-01, 6.7046379128e-01,
     +        7.5429227558e-01, 8.3732391172e-01, 9.1946055975e-01, 1.0006058744e+00, 1.0807433457e+00,
     +        1.1599437897e+00, 1.2382735728e+00, 1.3157942227e+00, 1.3925717659e+00, 1.4686662239e+00,
     +        1.5441439144e+00, 1.6190678664e+00, 1.6934975702e+00, 1.7674970042e+00, 1.8411194724e+00,
     +        1.9144286701e+00, 1.9874813868e+00, 2.0603342028e+00, 2.1330492109e+00, 2.2056763731e+00,
     +        2.2782807931e+00, 2.3509052272e+00, 2.4236111356e+00, 2.4964474971e+00, 2.5694701917e+00,
     +        2.6427293768e+00, 2.7162807960e+00, 2.7901704949e+00, 2.8644514852e+00, 2.9391675563e+00,
     +        3.0143712485e+00, 3.0901072737e+00, 3.1664269906e+00, 3.2433707351e+00, 3.3209884428e+00,
     +        3.3993268071e+00, 3.4784243666e+00, 3.5583268087e+00, 3.6390739449e+00, 3.7207106963e+00,
     +        3.8032792924e+00, 3.8868173342e+00, 3.9713660405e+00, 4.0569641117e+00, 4.1436489743e+00,
     +        4.2314620693e+00, 4.3204298974e+00, 4.4106017753e+00, 4.5020006672e+00, 4.5946723193e+00,
     +        4.6886449792e+00, 4.7839489552e+00, 4.8806244785e+00, 4.9786938953e+00, 5.0781937595e+00,
     +        5.1791587502e+00, 5.2816073181e+00, 5.3855797297e+00, 5.4910945314e+00, 5.5981859962e+00,
     +        5.7068772280e+00, 5.8171959595e+00, 5.9291655916e+00, 6.0428116961e+00, 6.1581580447e+00,
     +        6.2752288107e+00, 6.3940408069e+00, 6.5146233479e+00, 6.6369925220e+00, 6.7611704824e+00,
     +        6.8871757504e+00, 7.0150313764e+00, 7.1447464710e+00, 7.2763409908e+00, 7.4098369750e+00,
     +        7.5452510867e+00, 7.6825879362e+00, 7.8218692180e+00, 7.9631096347e+00, 8.1063259396e+00,
     +        8.2515131660e+00, 8.3987027540e+00, 8.5478949568e+00, 8.6990950443e+00, 8.8523259331e+00,
     +        9.0075923097e+00, 9.1648946712e+00, 9.3242437932e+00, 9.4856427232e+00, 9.6491127857e+00,
     +        9.8146421112e+00, 9.9822406740e+00, 1.0151915236e+01, 1.0323663484e+01, 1.0497483946e+01,
     +        1.0673388637e+01, 1.0851367795e+01, 1.1031434070e+01, 1.1213573657e+01, 1.1397794698e+01,
     +        1.1584093838e+01, 1.1772458741e+01, 1.1962896741e+01, 1.2155396956e+01, 1.2349945377e+01,
     +        1.2546556162e+01, 1.2745217791e+01, 1.2945913972e+01, 1.3148646430e+01, 1.3353404131e+01,
     +        1.3560167858e+01, 1.3768934004e+01, 1.3979695222e+01, 1.4192439179e+01, 1.4407148257e+01,
     +        1.4623811341e+01, 1.4842422136e+01, 1.5062949652e+01, 1.5285397640e+01, 1.5509743721e+01,
     +        1.5735960111e+01, 1.5964044807e+01, 1.6193961061e+01, 1.6425722056e+01, 1.6659276192e+01,
     +        1.6894616300e+01, 1.7131729166e+01, 1.7370571625e+01, 1.7611128269e+01, 1.7853394238e+01,
     +        1.8097329875e+01, 1.8342920285e+01, 1.8590123090e+01, 1.8838931782e+01, 1.9089304721e+01,
     +        1.9341225306e+01, 1.9594657768e+01, 1.9849570039e+01, 2.0105940128e+01, 2.0363736979e+01,
     +        2.0622928791e+01, 2.0883497871e+01, 2.1145377056e+01, 2.1408558099e+01, 2.1673005547e+01,
     +        2.1938679206e+01, 2.2205539730e+01, 2.2473554557e+01, 2.2742700176e+01, 2.3012926838e+01,
     +        2.3284183757e+01, 2.3556460205e+01, 2.3829693453e+01, 2.4103857010e+01, 2.4378884965e+01,
     +        2.4654786849e+01, 2.4931459120e+01, 2.5208900440e+01, 2.5487047253e+01, 2.5765850221e+01,
     +        2.6045288350e+01, 2.6325296685e+01, 2.6605830968e+01, 2.6886857510e+01, 2.7168304566e+01,
     +        2.7450132621e+01, 2.7732281531e+01, 2.8014723438e+01, 2.8297400020e+01, 2.8580241904e+01,
     +        2.8863229984e+01, 2.9146274383e+01, 2.9429324761e+01, 2.9712366210e+01, 2.9995303559e+01,
     +        3.0278100330e+01, 3.0560667360e+01, 3.0843011657e+01, 3.1126372239e+01, 3.1412679313e+01,
     +        3.1703863367e+01, 3.2001854887e+01, 3.2308584361e+01, 3.2625982275e+01, 3.2955979116e+01,
     +        3.3300505371e+01, 3.3661491527e+01, 3.4040868069e+01, 3.4440565486e+01, 3.4862514264e+01,
     +        3.5308644890e+01, 3.5780887850e+01, 3.6281173632e+01, 3.6811432722e+01, 3.7373595607e+01,
     +        3.7969592774e+01, 3.8601354710e+01, 3.9270811901e+01, 3.9979894834e+01, 4.0730533996e+01,
     +        4.1524659874e+01, 4.2364202955e+01, 4.3251093725e+01, 4.4187262672e+01, 4.5174640282e+01,
     +        4.6215157041e+01, 4.7310743438e+01, 4.8463329957e+01, 4.9674847088e+01, 5.0947225315e+01,
     +        5.2282395126e+01, 5.3682287008e+01, 5.5148831447e+01, 5.6683958931e+01, 5.8289599946e+01,
     +        5.9967684979e+01, 6.1720144517e+01, 6.3548909046e+01, 6.5455909054e+01, 6.7443075027e+01,
     +        6.9512337452e+01, 7.1665626816e+01, 7.3904873605e+01, 7.6232008307e+01, 7.8648961408e+01,
     +        8.1157663395e+01 /)

              PBLAST_DATA%SHTP(5,1:256) = (/
     +        0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01,
     +        0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-02,
     +        0.00000000000e-02, 0.00000000000e-02, 0.00000000000e-02, 0.00000000000e-02, 2.8146041705e-03,
     +        2.5753449025e-02, 4.9506945149e-02, 7.4078069361e-02, 9.9469798478e-02, 1.2568510932e-01,
     +        1.5272697869e-01, 1.8059838342e-01, 2.0930230033e-01, 2.3884170622e-01, 2.6921957793e-01,
     +        3.0043889225e-01, 3.3250262602e-01, 3.6541375604e-01, 3.9917525914e-01, 4.3379011213e-01,
     +        4.6926129183e-01, 5.0559177506e-01, 5.4278453863e-01, 5.8084255936e-01, 6.1976687593e-01,
     +        6.5955565970e-01, 7.0020681733e-01, 7.4171843771e-01, 7.8408831678e-01, 8.2731419076e-01,
     +        8.7139433402e-01, 9.1632682261e-01, 9.6210907344e-01, 1.0087398410e+00, 1.0562175099e+00,
     +        1.1045398706e+00, 1.1537046095e+00, 1.2037104677e+00, 1.2545560994e+00, 1.3062389440e+00,
     +        1.3587573769e+00, 1.4121106798e+00, 1.4662954498e+00, 1.5213115069e+00, 1.5771563935e+00,
     +        1.6338294726e+00, 1.6913289224e+00, 1.7496531464e+00, 1.8088002204e+00, 1.8687683333e+00,
     +        1.9295573988e+00, 1.9911645735e+00, 2.0535903015e+00, 2.1168318903e+00, 2.1808882340e+00,
     +        2.2457582486e+00, 2.3114402979e+00, 2.3779332270e+00, 2.4452364017e+00, 2.5133486928e+00,
     +        2.5822683254e+00, 2.6519942984e+00, 2.7225254674e+00, 2.7938609289e+00, 2.8659998855e+00,
     +        2.9389414054e+00, 3.0126838415e+00, 3.0872266237e+00, 3.1625692751e+00, 3.2387097636e+00,
     +        3.3156483860e+00, 3.3933838647e+00, 3.4719157126e+00, 3.5512427843e+00, 3.6313644468e+00,
     +        3.7122796568e+00, 3.7939877372e+00, 3.8764889330e+00, 3.9597820255e+00, 4.0438651515e+00,
     +        4.1287393375e+00, 4.2144057506e+00, 4.3008624899e+00, 4.3881042454e+00, 4.4761361606e+00,
     +        4.5649579123e+00, 4.6545654633e+00, 4.7449618385e+00, 4.8361437994e+00, 4.9281149280e+00,
     +        5.0208720305e+00, 5.1144140040e+00, 5.2087452997e+00, 5.3038613950e+00, 5.3997605742e+00,
     +        5.4964462719e+00, 5.5939175603e+00, 5.6921745785e+00, 5.7912173108e+00, 5.8910460548e+00,
     +        5.9916574347e+00, 6.0930528844e+00, 6.1952378076e+00, 6.2982080069e+00, 6.4019609620e+00,
     +        6.5065004646e+00, 6.6118255667e+00, 6.7179363692e+00, 6.8248326970e+00, 6.9325187474e+00,
     +        7.0409867098e+00, 7.1502455170e+00, 7.2602902278e+00, 7.3711213286e+00, 7.4827435063e+00,
     +        7.5951516214e+00, 7.7083526472e+00, 7.8223421781e+00, 7.9371166638e+00, 8.0526862726e+00,
     +        8.1690456460e+00, 8.2861984969e+00, 8.4041432651e+00, 8.5228786526e+00, 8.6424094914e+00,
     +        8.7627319987e+00, 8.8838503936e+00, 9.0057673762e+00, 9.1284795318e+00, 9.2519893231e+00,
     +        9.3762978762e+00, 9.5014051019e+00, 9.6273091461e+00, 9.7540158176e+00, 9.8815295277e+00,
     +        1.0009840639e+01, 1.0138957048e+01, 1.0268882096e+01, 1.0399608250e+01, 1.0531143063e+01,
     +        1.0663488622e+01, 1.0796639600e+01, 1.0930603479e+01, 1.1065383424e+01, 1.1200970288e+01,
     +        1.1337372441e+01, 1.1474592448e+01, 1.1612624854e+01, 1.1751484607e+01, 1.1891158987e+01,
     +        1.2031651879e+01, 1.2172971367e+01, 1.2315111238e+01, 1.2458080081e+01, 1.2601878842e+01,
     +        1.2746504536e+01, 1.2891955971e+01, 1.3038243681e+01, 1.3185362347e+01, 1.3333316594e+01,
     +        1.3482109590e+01, 1.3631740745e+01, 1.3782214889e+01, 1.3933528219e+01, 1.4085684778e+01,
     +        1.4238687056e+01, 1.4392537595e+01, 1.4547240845e+01, 1.4702792734e+01, 1.4859199500e+01,
     +        1.5016462781e+01, 1.5174579503e+01, 1.5333559728e+01, 1.5493401315e+01, 1.5654104558e+01,
     +        1.5815674811e+01, 1.5978117527e+01, 1.6141425830e+01, 1.6305603248e+01, 1.6470657761e+01,
     +        1.6636591558e+01, 1.6803405189e+01, 1.6971096887e+01, 1.7139676305e+01, 1.7309143387e+01,
     +        1.7479493818e+01, 1.7650733747e+01, 1.7822873791e+01, 1.7995909556e+01, 1.8169841642e+01,
     +        1.8344676912e+01, 1.8520412619e+01, 1.8697058492e+01, 1.8874609718e+01, 1.9053076264e+01,
     +        1.9232455687e+01, 1.9412750882e+01, 1.9593967938e+01, 1.9776105883e+01, 1.9959168976e+01,
     +        2.0143164061e+01, 2.0328087183e+01, 2.0513945268e+01, 2.0700741361e+01, 2.0888474020e+01,
     +        2.1077151527e+01, 2.1266777043e+01, 2.1457351457e+01, 2.1648875359e+01, 2.1841352853e+01,
     +        2.2034794727e+01, 2.2229196086e+01, 2.2424559644e+01, 2.2620896793e+01, 2.2818197773e+01,
     +        2.3016468817e+01, 2.3215729543e+01, 2.3415971289e+01, 2.3617186874e+01, 2.3819394285e+01,
     +        2.4022593485e+01, 2.4226791113e+01, 2.4431982979e+01, 2.4638176682e+01, 2.4845379023e+01,
     +        2.5053585273e+01, 2.5262800589e+01, 2.5473036376e+01, 2.5684291890e+01, 2.5896567905e+01,
     +        2.6109870812e+01, 2.6324210107e+01, 2.6539579828e+01, 2.6755982313e+01, 2.6973425871e+01,
     +        2.7191922132e+01, 2.7411472081e+01, 2.7632069017e+01, 2.7853720311e+01, 2.8076437334e+01,
     +        2.8300222157e+01, 2.8525071798e+01, 2.8750988381e+01, 2.8977983128e+01, 2.9206086939e+01,
     +        2.9435212426e+01 /)

              PBLAST_DATA%SHTP(6,1:256) = (/
     +        0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01,
     +        0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01,
     +        0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01,
     +        0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01,
     +        0.00000000000e-02, 0.00000000000e-02, 0.00000000000e-02, 0.00000000000e-04, 0.00000000000-02,
     +        5.7890220823e-02, 8.7454689996e-02, 1.1715760555e-01, 1.4701390519e-01, 1.7703852660e-01,
     +        2.0724640748e-01, 2.3765248552e-01, 2.6827169843e-01, 2.9911898388e-01, 3.3020927959e-01,
     +        3.6155752324e-01, 3.9317865253e-01, 4.2508760516e-01, 4.5729931881e-01, 4.8982873119e-01,
     +        5.2269077998e-01, 5.5590040289e-01, 5.8947253762e-01, 6.2342212184e-01, 6.5776409326e-01,
     +        6.9251338958e-01, 7.2768494849e-01, 7.6329370768e-01, 7.9935460485e-01, 8.3588257770e-01,
     +        8.7289256391e-01, 9.1039950119e-01, 9.4841832723e-01, 9.8696397972e-01, 1.0260513964e+00,
     +        1.0656955149e+00, 1.1059112729e+00, 1.1467136081e+00, 1.1881174583e+00, 1.2301377611e+00,
     +        1.2727894543e+00, 1.3160874754e+00, 1.3600467623e+00, 1.4046822525e+00, 1.4500088839e+00,
     +        1.4960408639e+00, 1.5427777971e+00, 1.5902098361e+00, 1.6383291704e+00, 1.6871280195e+00,
     +        1.7365997279e+00, 1.7867370402e+00, 1.8375340470e+00, 1.8889814587e+00, 1.9410750485e+00,
     +        1.9938048050e+00, 2.0471690267e+00, 2.1011569387e+00, 2.1557659300e+00, 2.2109874707e+00,
     +        2.2668178003e+00, 2.3232493226e+00, 2.3802794086e+00, 2.4378998503e+00, 2.4961081857e+00,
     +        2.5548976038e+00, 2.6142626689e+00, 2.6741995573e+00, 2.7347066060e+00, 2.7957758454e+00,
     +        2.8574035434e+00, 2.9195868175e+00, 2.9823222552e+00, 3.0456046024e+00, 3.1094310949e+00,
     +        3.1737997668e+00, 3.2387039855e+00, 3.3041445562e+00, 3.3701170029e+00, 3.4366170827e+00,
     +        3.5036443025e+00, 3.5711956631e+00, 3.6392693239e+00, 3.7078642949e+00, 3.7769762287e+00,
     +        3.8466039002e+00, 3.9167463443e+00, 3.9874003924e+00, 4.0585727324e+00, 4.1302488915e+00,
     +        4.2024354396e+00, 4.2751349490e+00, 4.3483409722e+00, 4.4220544251e+00, 4.4962789750e+00,
     +        4.5710083744e+00, 4.6462473205e+00, 4.7219955969e+00, 4.7982501575e+00, 4.8750105627e+00,
     +        4.9522836480e+00, 5.0300668983e+00, 5.1083614213e+00, 5.1871703787e+00, 5.2664875705e+00,
     +        5.3463250059e+00, 5.4266767709e+00, 5.5075491020e+00, 5.5889436326e+00, 5.6708557467e+00,
     +        5.7532982235e+00, 5.8362662765e+00, 5.9197621276e+00, 6.0037964150e+00, 6.0883613074e+00,
     +        6.1734677633e+00, 6.2591157282e+00, 6.3453055364e+00, 6.4320515553e+00, 6.5193499443e+00,
     +        6.6071971710e+00, 6.6956090585e+00, 6.7845880473e+00, 6.8741364812e+00, 6.9642583942e+00,
     +        7.0549597848e+00, 7.1462432297e+00, 7.2381149926e+00, 7.3305812603e+00, 7.4236462812e+00,
     +        7.5173142319e+00, 7.6115938457e+00, 7.7064900252e+00, 7.8020073176e+00, 7.8981541476e+00,
     +        7.9949314640e+00, 8.0923525920e+00, 8.1904206728e+00, 8.2891428594e+00, 8.3885303301e+00,
     +        8.4885813359e+00, 8.5893072423e+00, 8.6907194819e+00, 8.7928226221e+00, 8.8956244630e+00,
     +        8.9991319895e+00, 9.1033490211e+00, 9.2082950997e+00, 9.3139711237e+00, 9.4203798841e+00,
     +        9.5275462693e+00, 9.6354639163e+00, 9.7441482945e+00, 9.8536138451e+00, 9.9638549469e+00,
     +        1.0074896576e+01, 1.0186740623e+01, 1.0299399776e+01, 1.0412878789e+01, 1.0527192596e+01,
     +        1.0642356469e+01, 1.0758371112e+01, 1.0875252371e+01, 1.0993009959e+01, 1.1111652740e+01,
     +        1.1231193822e+01, 1.1351645870e+01, 1.1473018721e+01, 1.1595320721e+01, 1.1718575513e+01,
     +        1.1842781447e+01, 1.1967952480e+01, 1.2094109031e+01, 1.2221254820e+01, 1.2349408472e+01,
     +        1.2478583407e+01, 1.2608786821e+01, 1.2740036250e+01, 1.2872341430e+01, 1.3005719701e+01,
     +        1.3140180676e+01, 1.3275741790e+01, 1.3412412710e+01, 1.3550210404e+01, 1.3689145786e+01,
     +        1.3829239528e+01, 1.3970501747e+01, 1.4112948645e+01, 1.4256590774e+01, 1.4401447114e+01,
     +        1.4547537143e+01, 1.4694870767e+01, 1.4843459981e+01, 1.4993329351e+01, 1.5144485190e+01,
     +        1.5296945599e+01, 1.5450736000e+01, 1.5605859992e+01, 1.5762344770e+01, 1.5920200702e+01,
     +        1.6079442291e+01, 1.6240087586e+01, 1.6402163160e+01, 1.6565683049e+01, 1.6730640574e+01,
     +        1.6897088508e+01, 1.7065031425e+01, 1.7234474813e+01, 1.7405455157e+01, 1.7577985117e+01,
     +        1.7752077096e+01, 1.7927753270e+01, 1.8105034572e+01, 1.8283933035e+01, 1.8464469562e+01,
     +        1.8646675493e+01, 1.8830548910e+01, 1.9016130768e+01, 1.9203433076e+01, 1.9392452794e+01,
     +        1.9583252754e+01, 1.9775822956e+01, 1.9970183776e+01, 2.0166375157e+01, 2.0364402896e+01,
     +        2.0564291109e+01, 2.0766063252e+01, 2.0969737113e+01, 2.1175327555e+01, 2.1382869468e+01,
     +        2.1592374608e+01, 2.1803865531e+01, 2.2017374702e+01, 2.2232912787e+01, 2.2450523317e+01,
     +        2.2670109302e+01 /)

              PBLAST_DATA%SHTP(7,1:256) = (/
     +        0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01,
     +        0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-02,
     +        0.00000000000e-02, 0.00000000000e-02, 0.00000000000e-02, 0.00000000000e-02, 0.00000000000e-02,
     +        0.00000000000e-02, 0.00000000000e-02, 0.00000000000e-03, 4.7129429080e-03, 1.6749192600e-02,
     +        2.8936352702e-02, 4.1285951576e-02, 5.3809517580e-02, 6.6518579076e-02, 7.9424664423e-02,
     +        9.2539301982e-02, 1.0587402011e-01, 1.1944034717e-01, 1.3324981153e-01, 1.4731394153e-01,
     +        1.6164426555e-01, 1.7625231194e-01, 1.9114960906e-01, 2.0634768527e-01, 2.2185806894e-01,
     +        2.3769228842e-01, 2.5386187207e-01, 2.7037834825e-01, 2.8725324533e-01, 3.0449809166e-01,
     +        3.2212441560e-01, 3.4014374551e-01, 3.5856760976e-01, 3.7740753670e-01, 3.9667505470e-01,
     +        4.1638169211e-01, 4.3653897729e-01, 4.5715843860e-01, 4.7825160441e-01, 4.9983000308e-01,
     +        5.2190516295e-01, 5.4448861240e-01, 5.6759187979e-01, 5.9122649347e-01, 6.1540398180e-01,
     +        6.4013587315e-01, 6.6543369588e-01, 6.9130897833e-01, 7.1777324889e-01, 7.4483803589e-01,
     +        7.7251486772e-01, 8.0081527271e-01, 8.2975077925e-01, 8.5933291567e-01, 8.8957321036e-01,
     +        9.2048264878e-01, 9.5206078923e-01, 9.8430057513e-01, 1.0171973443e+00, 1.0507440458e+00,
     +        1.0849360979e+00, 1.1197670901e+00, 1.1552313432e+00, 1.1913230327e+00, 1.2280369893e+00,
     +        1.2653665993e+00, 1.3033055756e+00, 1.3418507703e+00, 1.3809947020e+00, 1.4207321811e+00,
     +        1.4610575868e+00, 1.5019663915e+00, 1.5434510986e+00, 1.5855083358e+00, 1.6281313936e+00,
     +        1.6713149577e+00, 1.7150542564e+00, 1.7593442894e+00, 1.8041788910e+00, 1.8495532951e+00,
     +        1.8954610092e+00, 1.9418987080e+00, 1.9888601698e+00, 2.0363399206e+00, 2.0843342991e+00,
     +        2.1328375195e+00, 2.1818426941e+00, 2.2313477552e+00, 2.2813464682e+00, 2.3318332502e+00,
     +        2.3828036569e+00, 2.4342522538e+00, 2.4861755978e+00, 2.5385670580e+00, 2.5914241445e+00,
     +        2.6447391041e+00, 2.6985105727e+00, 2.7527296556e+00, 2.8073958279e+00, 2.8625008123e+00,
     +        2.9180425462e+00, 2.9740165931e+00, 3.0304166043e+00, 3.0872371499e+00, 3.1444774794e+00,
     +        3.2021294845e+00, 3.2601915129e+00, 3.3186572542e+00, 3.3775224346e+00, 3.4367847521e+00,
     +        3.4964361624e+00, 3.5564755862e+00, 3.6168973198e+00, 3.6776974504e+00, 3.7388714846e+00,
     +        3.8004161645e+00, 3.8623255748e+00, 3.9245973695e+00, 3.9872271214e+00, 4.0502080725e+00,
     +        4.1135420954e+00, 4.1772173556e+00, 4.2412408100e+00, 4.3055946413e+00, 4.3702824514e+00,
     +        4.4353041668e+00, 4.5006476588e+00, 4.5663156672e+00, 4.6323043497e+00, 4.6986056501e+00,
     +        4.7652144513e+00, 4.8321328237e+00, 4.8993544970e+00, 4.9668756967e+00, 5.0346945424e+00,
     +        5.1028027205e+00, 5.1712001165e+00, 5.2398829409e+00, 5.3088508201e+00, 5.3780964668e+00,
     +        5.4476134902e+00, 5.5174066467e+00, 5.5874634090e+00, 5.6577874225e+00, 5.7283738879e+00,
     +        5.7992149075e+00, 5.8703149207e+00, 5.9416675175e+00, 6.0132651367e+00, 6.0851094492e+00,
     +        6.1571970621e+00, 6.2295206826e+00, 6.3020826400e+00, 6.3748779764e+00, 6.4479014932e+00,
     +        6.5211506691e+00, 6.5946277718e+00, 6.6683252230e+00, 6.7422410294e+00, 6.8163705299e+00,
     +        6.8907147857e+00, 6.9652681123e+00, 7.0400282056e+00, 7.1149920599e+00, 7.1901538536e+00,
     +        7.2655227284e+00, 7.3410777448e+00, 7.4168348694e+00, 7.4927770152e+00, 7.5689098893e+00,
     +        7.6452301182e+00, 7.7217278043e+00, 7.7984114327e+00, 7.8752746094e+00, 7.9523128082e+00,
     +        8.0295234598e+00, 8.1069056702e+00, 8.1844524454e+00, 8.2621677105e+00, 8.3400531700e+00,
     +        8.4180949834e+00, 8.4962979126e+00, 8.5746596195e+00, 8.6531762428e+00, 8.7318449107e+00,
     +        8.8106641493e+00, 8.8896346905e+00, 8.9687521912e+00, 9.0480166010e+00, 9.1274192527e+00,
     +        9.2069680838e+00, 9.2866508083e+00, 9.3664762891e+00, 9.4464380602e+00, 9.5265292374e+00,
     +        9.6067553501e+00, 9.6871124646e+00, 9.7675953081e+00, 9.8482067627e+00, 9.9289431630e+00,
     +        1.0009802211e+01, 1.0090784673e+01, 1.0171887495e+01, 1.0253109510e+01, 1.0334446285e+01,
     +        1.0415900855e+01, 1.0497471723e+01, 1.0579149573e+01, 1.0660942826e+01, 1.0742845135e+01,
     +        1.0824859820e+01, 1.0906974004e+01, 1.0989203822e+01, 1.1071533304e+01, 1.1153962582e+01,
     +        1.1236503514e+01, 1.1319142954e+01, 1.1401880490e+01, 1.1484715997e+01, 1.1567656089e+01,
     +        1.1650687129e+01, 1.1733818014e+01, 1.1817040991e+01, 1.1900355906e+01, 1.1983765952e+01,
     +        1.2067272916e+01, 1.2150864315e+01, 1.2234552824e+01, 1.2318328342e+01, 1.2402190627e+01,
     +        1.2486148512e+01, 1.2570184476e+01, 1.2654311948e+01, 1.2738528208e+01, 1.2822826588e+01,
     +        1.2907206489e+01, 1.2991676715e+01, 1.3076232758e+01, 1.3160863279e+01, 1.3245588343e+01,
     +        1.3330389201e+01, 1.3415269364e+01, 1.3500237221e+01, 1.3585289405e+01, 1.3670413282e+01,
     +        1.3755645347e+01 /)

              PBLAST_DATA%SHTP(8,1:256) = (/
     +        6.6857414410e-01, 6.3362647456e-01, 5.9996602392e-01, 5.6757773715e-01, 5.3644655922e-01,
     +        5.0655743511e-01, 4.7789530979e-01, 4.5044512823e-01, 4.2419183541e-01, 3.9912037631e-01,
     +        3.7521569589e-01, 3.5246273914e-01, 3.3084645102e-01, 3.1035177651e-01, 2.9096366059e-01,
     +        2.7266704823e-01, 2.5544688440e-01, 2.3928811408e-01, 2.2417568224e-01, 2.1009453385e-01,
     +        1.9702961390e-01, 1.8496586735e-01, 1.7388823918e-01, 1.6378167436e-01, 1.5463111788e-01,
     +        1.4642151469e-01, 1.3913780978e-01, 1.3276494812e-01, 1.2728787468e-01, 1.2269153444e-01,
     +        1.1896087238e-01, 1.1608083346e-01, 1.1403636266e-01, 1.1281240496e-01, 1.1239390533e-01,
     +        1.1276580875e-01, 1.1391306018e-01, 1.1582060460e-01, 1.1847338700e-01, 1.2185635233e-01,
     +        1.2595444558e-01, 1.3075261172e-01, 1.3623579572e-01, 1.4238894257e-01, 1.4919699722e-01,
     +        1.5664490466e-01, 1.6471760987e-01, 1.7340005780e-01, 1.8267719345e-01, 1.9253396178e-01,
     +        2.0295530778e-01, 2.1392617640e-01, 2.2543151263e-01, 2.3745626144e-01, 2.4998536780e-01,
     +        2.6300377670e-01, 2.7649643310e-01, 2.9044828198e-01, 3.0484426831e-01, 3.1966933706e-01,
     +        3.3490843322e-01, 3.5054650175e-01, 3.6656848763e-01, 3.8295933584e-01, 3.9970399134e-01,
     +        4.1678739911e-01, 4.3419450414e-01, 4.5191025138e-01, 4.6991958581e-01, 4.8820745242e-01,
     +        5.0675879617e-01, 5.2555856204e-01, 5.4459169500e-01, 5.6384314002e-01, 5.8329784209e-01,
     +        6.0294074617e-01, 6.2275679724e-01, 6.4273094027e-01, 6.6284812024e-01, 6.8309328212e-01,
     +        7.0345137089e-01, 7.2390919432e-01, 7.4446962766e-01, 7.6514459905e-01, 7.8594230691e-01,
     +        8.0687258762e-01, 8.2794585018e-01, 8.4917083770e-01, 8.7055528050e-01, 8.9211194679e-01,
     +        9.1384537251e-01, 9.3576599016e-01, 9.5788231503e-01, 9.8020184214e-01, 1.0027350197e+00,
     +        1.0254874946e+00, 1.0484685427e+00, 1.0716861771e+00, 1.0951452804e+00, 1.1188543784e+00,
     +        1.1428232966e+00, 1.1670555319e+00, 1.1915606154e+00, 1.2163429188e+00, 1.2414126015e+00,
     +        1.2667731785e+00, 1.2924289167e+00, 1.3183903694e+00, 1.3446608852e+00, 1.3712477957e+00,
     +        1.3981563871e+00, 1.4253913738e+00, 1.4529577128e+00, 1.4808618200e+00, 1.5091071209e+00,
     +        1.5377010994e+00, 1.5666442926e+00, 1.5959461174e+00, 1.6256081421e+00, 1.6556342316e+00,
     +        1.6860290326e+00, 1.7167962023e+00, 1.7479422800e+00, 1.7794647795e+00, 1.8113720546e+00,
     +        1.8436677210e+00, 1.8763525225e+00, 1.9094285706e+00, 1.9429019900e+00, 1.9767734056e+00,
     +        2.0110443625e+00, 2.0457182311e+00, 2.0807966319e+00, 2.1162835625e+00, 2.1521793686e+00,
     +        2.1884851921e+00, 2.2252031845e+00, 2.2623352316e+00, 2.2998804590e+00, 2.3378418317e+00,
     +        2.3762199212e+00, 2.4150171255e+00, 2.4542309185e+00, 2.4938614358e+00, 2.5339116631e+00,
     +        2.5743800215e+00, 2.6152669044e+00, 2.6565722192e+00, 2.6982965745e+00, 2.7404383909e+00,
     +        2.7829965492e+00, 2.8259671182e+00, 2.8693561571e+00, 2.9131582283e+00, 2.9573740283e+00,
     +        3.0019977815e+00, 3.0470327005e+00, 3.0924735966e+00, 3.1383211676e+00, 3.1845695946e+00,
     +        3.2312216163e+00, 3.2782705498e+00, 3.3257167944e+00, 3.3735537483e+00, 3.4217812152e+00,
     +        3.4703973337e+00, 3.5193999113e+00, 3.5687790556e+00, 3.6185369667e+00, 3.6686679089e+00,
     +        3.7191676636e+00, 3.7700329204e+00, 3.8212576741e+00, 3.8728442608e+00, 3.9247784893e+00,
     +        3.9770599609e+00, 4.0296850779e+00, 4.0826509389e+00, 4.1359478497e+00, 4.1895732493e+00,
     +        4.2435178829e+00, 4.2977836701e+00, 4.3523568309e+00, 4.4072342127e+00, 4.4624077309e+00,
     +        4.5178811019e+00, 4.5736352181e+00, 4.6296705022e+00, 4.6859785320e+00, 4.7425530452e+00,
     +        4.7993820830e+00, 4.8564669877e+00, 4.9137938363e+00, 4.9713580896e+00, 5.0291539907e+00,
     +        5.0871696841e+00, 5.1453958003e+00, 5.2038293725e+00, 5.2624604468e+00, 5.3212810296e+00,
     +        5.3802785569e+00, 5.4394460547e+00, 5.4987774256e+00, 5.5582622548e+00, 5.6178909842e+00,
     +        5.6776522632e+00, 5.7375438111e+00, 5.7975426729e+00, 5.8576480913e+00, 5.9178523245e+00,
     +        5.9781450558e+00, 6.0385038068e+00, 6.0989241029e+00, 6.1594077559e+00, 6.2199261933e+00,
     +        6.2804830412e+00, 6.3410577382e+00, 6.4016335712e+00, 6.4622207555e+00, 6.5227871011e+00,
     +        6.5833248556e+00, 6.6438253823e+00, 6.7042818024e+00, 6.7646699139e+00, 6.8249847347e+00,
     +        6.8852107733e+00, 6.9453423091e+00, 7.0053628702e+00, 7.0652488433e+00, 7.1249998583e+00,
     +        7.1846060796e+00, 7.2440336548e+00, 7.3032822784e+00, 7.3623464114e+00, 7.4212037279e+00,
     +        7.4798340597e+00, 7.5382228954e+00, 7.5963720457e+00, 7.6542513395e+00, 7.7118502283e+00,
     +        7.7691605036e+00, 7.8261502768e+00, 7.8828224288e+00, 7.9391535788e+00, 7.9951250378e+00,
     +        8.0507272934e+00, 8.1059472519e+00, 8.1607540878e+00, 8.2151435761e+00, 8.2690963509e+00,
     +        8.3226006384e+00, 8.3756308800e+00, 8.4281734150e+00, 8.4802177051e+00, 8.5317267797e+00,
     +        8.5827809751e+00 /)

              PBLAST_DATA%SHTP(9,1:256) = (/
     +        0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01,
     +        0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01,
     +        0.00000000000e-01, 0.00000000000e-01, 0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00,
     +        0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00,
     +        0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00,
     +        0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00,
     +        0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00,
     +        0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00,
     +        0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00,
     +        0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00,
     +        0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00,
     +        0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00, 0.00000000000e-01, 0.00000000000e-01,
     +        0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01,
     +        0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01,
     +        0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01,
     +        0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01,
     +        0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01,
     +        0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01,
     +        0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-02, 0.00000000000e-02,
     +        0.00000000000e-02, 2.5403585557e-03, 3.2518432381e-02, 6.2501672243e-02, 9.2475450017e-02,
     +        1.2242513758e-01, 1.5233610680e-01, 1.8219372956e-01, 2.1198337773e-01, 2.4169042319e-01,
     +        2.7130023782e-01, 3.0079819348e-01, 3.3016966205e-01, 3.5940001542e-01, 3.8847462544e-01,
     +        4.1737886401e-01, 4.4609810299e-01, 4.7461771426e-01, 5.0292763233e-01, 5.3103699358e-01,
     +        5.5895678392e-01, 5.8669477003e-01, 6.1426536903e-01, 6.4167845800e-01, 6.6894215771e-01,
     +        6.9606898432e-01, 7.2306673652e-01, 7.4995066962e-01, 7.7672411208e-01, 8.0339924065e-01,
     +        8.2998636857e-01, 8.5649601759e-01, 8.8293261231e-01, 9.0930982242e-01, 9.3563504356e-01,
     +        9.6191538777e-01, 9.8816253176e-01, 1.0143835442e+00, 1.0405854875e+00, 1.0667788642e+00,
     +        1.0929699694e+00, 1.1191671915e+00, 1.1453803749e+00, 1.1716113426e+00, 1.1978719614e+00,
     +        1.2241668281e+00, 1.2505058799e+00, 1.2768949605e+00, 1.3033418140e+00, 1.3298490040e+00,
     +        1.3564291962e+00, 1.3830835445e+00, 1.4098175499e+00, 1.4366433968e+00, 1.4635603474e+00,
     +        1.4905757110e+00, 1.5177015138e+00, 1.5449314044e+00, 1.5722817287e+00, 1.5997527312e+00,
     +        1.6273491427e+00, 1.6550705262e+00, 1.6829360495e+00, 1.7109338839e+00, 1.7390763561e+00,
     +        1.7673709646e+00, 1.7958182092e+00, 1.8244168213e+00, 1.8531791500e+00, 1.8821050837e+00,
     +        1.9111945484e+00, 1.9404542951e+00, 1.9698880426e+00, 1.9995009951e+00, 2.0292893478e+00,
     +        2.0592595683e+00, 2.0894138514e+00, 2.1197513499e+00, 2.1502832500e+00, 2.1810029755e+00,
     +        2.2119109915e+00, 2.2430174385e+00, 2.2743192664e+00, 2.3058204642e+00, 2.3375169565e+00,
     +        2.3694101386e+00, 2.4015107883e+00, 2.4338073766e+00, 2.4663118890e+00, 2.4990138123e+00,
     +        2.5319210763e+00, 2.5650290823e+00, 2.5983415577e+00, 2.6318604447e+00, 2.6655785811e+00,
     +        2.6994966938e+00, 2.7336195166e+00, 2.7679452791e+00, 2.8024676433e+00, 2.8371936924e+00,
     +        2.8721122649e+00, 2.9072330756e+00, 2.9425449551e+00, 2.9780537936e+00, 3.0137517793e+00,
     +        3.0496453110e+00, 3.0857209173e+00, 3.1219773988e+00, 3.1584230942e+00, 3.1950505990e+00,
     +        3.2318529869e+00, 3.2688332450e+00, 3.3059842055e+00, 3.3433108468e+00, 3.3807982105e+00,
     +        3.4184474222e+00, 3.4562548460e+00, 3.4942222865e+00, 3.5323335319e+00, 3.5705988462e+00,
     +        3.6089998582e+00, 3.6475416714e+00, 3.6862182901e+00, 3.7250288037e+00, 3.7639563271e+00,
     +        3.8030106652e+00, 3.8421713821e+00, 3.8814469048e+00, 3.9208210789e+00, 3.9602959483e+00,
     +        3.9998667215e+00, 4.0395242107e+00, 4.0792470222e+00, 4.1190656268e+00, 4.1589324812e+00,
     +        4.1988686938e+00, 4.2388645068e+00, 4.2788981992e+00, 4.3189860419e+00, 4.3590974383e+00,
     +        4.3992456289e+00, 4.4393973966e+00, 4.4795725050e+00, 4.5197516236e+00, 4.5599175137e+00,
     +        4.6000826977e+00, 4.6402260096e+00, 4.6803294261e+00, 4.7204117683e+00, 4.7604373575e+00,
     +        4.8004164158e+00, 4.8403242183e+00, 4.8801611991e+00, 4.9199191503e+00, 4.9595806587e+00,
     +        4.9991482166e+00, 5.0386079073e+00, 5.0779353643e+00, 5.1171459226e+00, 5.1562034902e+00,
     +        5.1951834143e+00 /)

              PBLAST_DATA%SHTP(10,1:256) = (/
     +        0.00000000000e+01, 0.00000000000e+01, 0.00000000000e+01, 0.00000000000e+01, 0.00000000000e+01,
     +        0.00000000000e+01, 0.00000000000e+01, 0.00000000000e+01, 0.00000000000e+01, 0.00000000000e+01,
     +        0.00000000000e+01, 0.00000000000e+01, 0.00000000000e+01, 0.00000000000e+01, 0.00000000000e+01,
     +        0.00000000000e+01, 0.00000000000e+01, 0.00000000000e+01, 0.00000000000e+01, 0.00000000000e+01,
     +        0.00000000000e+01, 0.00000000000e+01, 0.00000000000e+01, 0.00000000000e+01, 0.00000000000e+01,
     +        0.00000000000e+01, 0.00000000000e+01, 0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00,
     +        0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00,
     +        0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00,
     +        0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00,
     +        0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00,
     +        0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00,
     +        0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00,
     +        0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00,
     +        0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00, 0.00000000000e+00,
     +        0.00000000000e+00, 0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01,
     +        0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-01,
     +        0.00000000000e-01, 0.00000000000e-01, 0.00000000000e-02, 1.0661128012e-02, 7.3492189064e-02,
     +        1.3352715047e-01, 1.9082468523e-01, 2.4544346634e-01, 2.9744216681e-01, 3.4687945964e-01,
     +        3.9381401783e-01, 4.3830451437e-01, 4.8040962228e-01, 5.2018801454e-01, 5.5769836417e-01,
     +        5.9299934416e-01, 6.2614962751e-01, 6.5720788723e-01, 6.8623279632e-01, 7.1328302777e-01,
     +        7.3841725459e-01, 7.6169414978e-01, 7.8317238633e-01, 8.0291063726e-01, 8.2096757556e-01,
     +        8.3740187423e-01, 8.5227220627e-01, 8.6563724469e-01, 8.7755566249e-01, 8.8808613266e-01,
     +        8.9728732820e-01, 9.0521792213e-01, 9.1193658743e-01, 9.1750199712e-01, 9.2197282418e-01,
     +        9.2540774163e-01, 9.2786542246e-01, 9.2940453967e-01, 9.3008376627e-01, 9.2996177526e-01,
     +        9.2909723963e-01, 9.2754883239e-01, 9.2537522653e-01, 9.2263509507e-01, 9.1938711100e-01,
     +        9.1568994732e-01, 9.1160227703e-01, 9.0718277314e-01, 9.0249010864e-01, 8.9758295653e-01,
     +        8.9251998982e-01, 8.8735988151e-01, 8.8216130460e-01, 8.7698293208e-01, 8.7188343697e-01,
     +        8.6692149226e-01, 8.6215577094e-01, 8.5764494604e-01, 8.5344769053e-01, 8.4962267743e-01,
     +        8.4622857974e-01, 8.4332407045e-01, 8.4096782257e-01, 8.3921850910e-01, 8.3813444140e-01,
     +        8.3773489176e-01, 8.3801479578e-01, 8.3896153577e-01, 8.4056950969e-01, 8.4282738304e-01,
     +        8.4573642127e-01, 8.4927872924e-01, 8.5344883031e-01, 8.5824062181e-01, 8.6364396090e-01,
     +        8.6965056740e-01, 8.7625442967e-01, 8.8344666199e-01, 8.9121683615e-01, 8.9955688243e-01,
     +        9.0846086169e-01, 9.1792197538e-01, 9.2792399443e-01, 9.3846612796e-01, 9.4953808248e-01,
     +        9.6112522478e-01, 9.7322649347e-01, 9.8583036628e-01, 9.9892887197e-01, 1.0125136801e+00,
     +        1.0265734270e+00, 1.0411007734e+00, 1.0560904808e+00, 1.0715276202e+00, 1.0874045370e+00,
     +        1.1037157875e+00, 1.1204496562e+00, 1.1375974672e+00, 1.1551488881e+00, 1.1730996581e+00,
     +        1.1914362837e+00, 1.2101519860e+00, 1.2292335652e+00, 1.2486734506e+00, 1.2684671183e+00,
     +        1.2886007280e+00, 1.3090630335e+00, 1.3298518867e+00, 1.3509469086e+00, 1.3723484979e+00,
     +        1.3940456048e+00, 1.4160248976e+00, 1.4382773728e+00, 1.4607975522e+00, 1.4835686402e+00,
     +        1.5065880102e+00, 1.5298388252e+00, 1.5533197585e+00, 1.5770166093e+00, 1.6009192803e+00,
     +        1.6250211538e+00, 1.6493031720e+00, 1.6737644409e+00, 1.6983939117e+00, 1.7231754370e+00,
     +        1.7481104458e+00, 1.7731756382e+00, 1.7983687758e+00, 1.8236791004e+00, 1.8490928224e+00,
     +        1.8746028372e+00, 1.9001984209e+00, 1.9258704773e+00, 1.9516015706e+00, 1.9773910487e+00,
     +        2.0032237675e+00, 2.0290905063e+00, 2.0549766693e+00, 2.0808782068e+00, 2.1067795391e+00,
     +        2.1326698558e+00, 2.1585435210e+00, 2.1843846537e+00, 2.2101882886e+00, 2.2359306483e+00,
     +        2.2616184105e+00, 2.2872307443e+00, 2.3127578426e+00, 2.3381865489e+00, 2.3635147714e+00,
     +        2.3887211957e+00, 2.4137981876e+00, 2.4387372756e+00, 2.4635238438e+00, 2.4881534045e+00,
     +        2.5126003759e+00, 2.5368733908e+00, 2.5609438856e+00, 2.5848097671e+00, 2.6084571768e+00,
     +        2.6318757754e+00, 2.6550497004e+00, 2.6779715943e+00, 2.7006335707e+00, 2.7230154368e+00,
     +        2.7451122458e+00, 2.7669105238e+00, 2.7883996265e+00, 2.8095647015e+00, 2.8303924184e+00,
     +        2.8508834734e+00, 2.8710097719e+00, 2.8907682112e+00, 2.9101505815e+00, 2.9291332741e+00,
     +        2.9477030357e+00 /)


        END SUBROUTINE



Chd|====================================================================
Chd|  PBLAST_PARAMETERS__FREE_AIR   modules/loads/pblast_mod.F    
Chd|-- called by -----------
Chd|        HM_READ_PBLAST                starter/source/loads/pblast/hm_read_pblast.F
Chd|        PBLAST_1                      engine/source/loads/pblast/pblast_1.F
Chd|-- calls ---------------
Chd|        MESSAGE_MOD                   starter/share/message_module/message_mod.F
Chd|        MESSAGE_MOD                   engine/share/message_module/message_mod.F
Chd|====================================================================
        SUBROUTINE PBLAST_PARAMETERS__FREE_AIR(Z, W13, TDET,
     +                                         FAC_P_bb, FAC_I_bb, FAC_T_bb,
     +                                         IS_DECAY_TO_BE_COMPUTED,
     +                                         OUTPUT_PARAMS)
C-----------------------------------------------
C   Description
C-----------------------------------------------
C This Subroutine is returning blast characteristic parameters {P_inci,P_refl,ta,t0,decay_inci,decay_refl}
c to build a blast time history. Parameters are determined from FREE AIR MODEL
C-----------------------------------------------
C   M o d u l e s
C-----------------------------------------------
      USE MESSAGE_MOD
C-----------------------------------------------
C   I m p l i c i t   T y p e s
C-----------------------------------------------
#include      "implicit_f.inc"
C-----------------------------------------------
C   C o m m o n   B l o c k s
C-----------------------------------------------
!#include      "com04_c.inc"
!#include      "units_c.inc"
C-----------------------------------------------
C   D u m m y   A r g u m e n t s
C-----------------------------------------------
      LOGICAL,INTENT(IN) :: IS_DECAY_TO_BE_COMPUTED
      my_real,INTENT(IN) :: Z,W13,TDET
      my_real,INTENT(IN) :: FAC_P_bb, FAC_I_bb, FAC_T_bb
      TYPE(FRIEDLANDER_PARAMS_), INTENT(OUT) :: OUTPUT_PARAMS
C-----------------------------------------------
C   L o c a l   V a r i a b l e s
C-----------------------------------------------
      INTEGER :: Phi_I,NITER,ITER
      my_real :: bound1,bound2,Phi_DB,LAMBDA,LogRes,TOL,ZETA,RES,TMP2,TMP3,kk,FUNCT,DIFF
      my_real :: P_inci,P_refl,I_inci,I_refl,T_A,DT_0,decay_inci,decay_refl
      my_real :: cst_255_div_ln_Z1_on_ZN,log10_,Z1_
      DATA cst_255_div_ln_Z1_on_ZN/-38.147316611455952998/
      DATA log10_ /2.30258509299405000000/
C-----------------------------------------------
C   P r e - C o n d i t i o n
C-----------------------------------------------
C      Z>0.5 .and. Z<400.
C        Otherwise Z set to 0.5 as lower bound and 400. as upperbound
C-----------------------------------------------
C   S o u r c e   C o d e
C-----------------------------------------------
          !finding index for UFC table (Figure 2-7) using bijection.
          Z1_ = HALF
          Phi_DB = ZERO
          Phi_I = 1
          LAMBDA = ZERO
          IF(Z>0.5 .and. Z<400.)THEN
            Phi_DB = LOG(Z1_/Z)*cst_255_div_ln_Z1_on_ZN
            Phi_I  = 1 + INT(Phi_DB)
            bound1 = PBLAST_DATA%RW3(Phi_I)
            bound2 = PBLAST_DATA%RW3(Phi_I+1)
            LAMBDA = (Z-bound1) / (bound2-bound1)
          ELSEIF(Z <= 0.5)THEN
            LAMBDA = ZERO
            Phi_I  = 1
          ELSEIF(Z > 400.)THEN
            LAMBDA = ONE
            Phi_I  = 255
          ENDIF

          !=== SPHERICAL CHARGE IN FREE FIELD ===!

          !Incident upper Pressure (UFC table from Figure 2-7)
          bound1 = PBLAST_DATA%Pso(Phi_I)
          bound2 = PBLAST_DATA%Pso(Phi_I+1)
          LogRes = LOG10(bound1) + LAMBDA*LOG10(bound2/bound1)
          P_inci = exp(LogRes*log10_)
          !Incident Lower Pressure (UFC table from Figure 2-7)
          !bound1 = PBLAST_DATA%Pso_(Phi_I)
          !bound2 = PBLAST_DATA%Pso_(Phi_I+1)
          !LogRes = LOG10(bound1) + LAMBDA*LOG10(bound2/bound1)
          !P_inci_ = exp(LogRes*log10_)

          !Incident upper Impulse (UFC table from Figure 2-7)
          bound1 = PBLAST_DATA%Iso(Phi_I)
          bound2 = PBLAST_DATA%Iso(Phi_I+1)
          LogRes = LOG10(bound1) + LAMBDA*LOG10(bound2/bound1)
          I_inci = exp(LogRes*log10_)
          !Incident lower Impulse (UFC table from Figure 2-7)
          !bound1 = PBLAST_DATA%Iso_(Phi_I)
          !bound2 = PBLAST_DATA%Iso_(Phi_I+1)
          !LogRes = LOG10(bound1) + LAMBDA*LOG10(bound2/bound1)
          !I_inci_ = exp(LogRes*log10_)

          !Reflected upper Pressure (UFC table from Figure 2-7)
          bound1 = PBLAST_DATA%Pr(Phi_I)
          bound2 = PBLAST_DATA%Pr(Phi_I+1)
          LogRes = LOG10(bound1) + LAMBDA*LOG10(bound2/bound1)
          P_refl = exp(LogRes*log10_)
          !Reflected lower Pressure (UFC table from Figure 2-7)
          !bound1 = PBLAST_DATA%Pr_(Phi_I)
          !bound2 = PBLAST_DATA%Pr_(Phi_I+1)
          !LogRes = LOG10(bound1) + LAMBDA*LOG10(bound2/bound1)
          !P_refl_ = exp(LogRes*log10_)
          !Reflected upper Impulse (UFC table from Figure 2-7)

          bound1 = PBLAST_DATA%Irefl(Phi_I)
          bound2 = PBLAST_DATA%Irefl(Phi_I+1)
          LogRes = LOG10(bound1) + LAMBDA*LOG10(bound2/bound1)
          I_refl = exp(LogRes*log10_)
          !Reflected lower Impulse (UFC table from Figure 2-7)
          !bound1 = PBLAST_DATA%Irefl_(Phi_I)
          !bound2 = PBLAST_DATA%Irefl_(Phi_I+1)
          !LogRes = LOG10(bound1) + LAMBDA*LOG10(bound2/bound1)
          !I_refl_ = exp(LogRes*log10_)

          !first time for which P=P0 after t_arrival (UFC table from Figure 2-7)
          bound1 = PBLAST_DATA%t0(Phi_I)
          bound2 = PBLAST_DATA%t0(Phi_I+1)
          LogRes = LOG10(bound1) + LAMBDA*LOG10(bound2/bound1)
          DT_0 = exp(LogRes*log10_)
          !second time for which P=P0 after t_arrival (UFC table from Figure 2-7)
          !bound1 = PBLAST_DATA%t0_(Phi_I)
          !bound2 = PBLAST_DATA%t0_(Phi_I+1)
          !LogRes = LOG10(bound1) + LAMBDA*LOG10(bound2/bound1)
          !DT_0_ = exp(LogRes*log10_)

          !Time Arrival (UFC table from Figure 2-7)
          bound1 = PBLAST_DATA%ta(Phi_I)
          bound2 = PBLAST_DATA%ta(Phi_I+1)
          LogRes = LOG10(bound1) + LAMBDA*LOG10(bound2/bound1)
          T_A = exp(LogRes*log10_)

          !switch from normalized values. (Pressure are not scaled by W13 in tables)
          I_inci  = I_inci * W13
          !I_inci_ = I_inci_* W13
          I_refl  = I_refl * W13
          !I_refl_ = I_refl_* W13
          IF(DT_0 /= EP20)DT_0 = DT_0 * W13
          !IF(DT_0_ /= EP20)DT_0_ = DT_0_ * W13
          IF(T_A /= EP20)T_A = T_A * W13

          !---DECAY  ('b' parameter in modified Friedlander model)
          !    iterative solver : it can be solved in same unit system as hardcoded tables {g,cm,Âµs} since b has no dimension
          IF(.NOT. IS_DECAY_TO_BE_COMPUTED)THEN
            !-Friedlander
            DECAY_inci = ONE
            DECAY_refl = ONE

          ELSE
            !SOLVE DECAY (b):    I_inci = P_inci*DT_0/b*(ONE-(1-exp(-b))/b)
            !     g: b-> I_inci - P_inci*DT_0/b*(ONE-(1-exp(-b))/b)
            ! find b such as g(b)=0
            ! NEWTON ITERATIONS
            NITER=20
            TOL=EM06
            ITER=0
            ZETA=ONE
            RES=EP20
            TMP2= P_inci*DT_0*EXP(-ZETA)/ZETA/ZETA
            !--initialize first iteration
            kk=P_inci*DT_0
            FUNCT = HALF*kk -I_inci !-ONE_OVER_6*kk*ZETA
            !--iterative solving
            DO WHILE (ITER<=NITER .AND. RES>TOL)
              ITER=ITER+1
              IF(ABS(ZETA) < EM06)THEN
                !taylor expansion on 0. : g(b) = 1/2.k-1/6k.b +o(b )
                DIFF = kk*(-ONE_OVER_6 + ONE_OVER_12*ZETA)
                ZETA = ZETA - FUNCT/DIFF
                FUNCT = HALF*kk-ONE_OVER_6*kk*ZETA - I_inci
              ELSE
                DIFF = ZETA*TMP2*EXP(ZETA) - (FUNCT+I_inci)*(ONE + TWO/ZETA)
                ZETA = ZETA - FUNCT/DIFF
                TMP2= P_inci*DT_0*EXP(-ZETA)/ZETA/ZETA
                TMP3 = EXP(ZETA)*(ZETA-ONE)+ONE
                FUNCT = TMP2 * TMP3 -I_inci
              ENDIF
              RES = ABS(FUNCT)   !g(x_new)
            ENDDO
            DECAY_inci=MAX(ONE,ZETA)   ! lower value may have few change on positive impulse but large change to negative impulse (potential unphysical solution)

            ITER=0
            ZETA=ONE
            RES=EP20
            TMP2= P_refl*DT_0*EXP(-ZETA)/ZETA/ZETA
            !--initialize first iteration
            kk=P_refl*DT_0
            FUNCT = HALF*kk -I_refl !-ONE_OVER_6*kk*ZETA
            !--iterative solving
            DO WHILE (ITER<=NITER .AND. RES>TOL)
              ITER=ITER+1
              IF(ABS(ZETA) < EM06)THEN
                !taylor expansion on 0. : g(b) = 1/2.k-1/6k.b +o(b )
                DIFF = kk*(-ONE_OVER_6 + ONE_OVER_12*ZETA)
                ZETA = ZETA - FUNCT/DIFF
                FUNCT = HALF*kk-ONE_OVER_6*kk*ZETA - I_refl
              ELSE
                DIFF = ZETA*TMP2*EXP(ZETA) - (FUNCT+I_refl)*(ONE + TWO/ZETA)
                ZETA = ZETA - FUNCT/DIFF
                TMP2= P_refl*DT_0*EXP(-ZETA)/ZETA/ZETA
                TMP3 = EXP(ZETA)*(ZETA-ONE)+ONE
                FUNCT = TMP2 * TMP3 -I_refl
              ENDIF
              RES = ABS(FUNCT)   !g(x_new)
            ENDDO
            DECAY_refl=MAX(ONE,ZETA)   ! lower value may have few change on positive impulse but large change to negative impulse (potential unphysical solution)
          ENDIF

          !CONVERSION UNITS !
          !g,cm,mus,Bar -> Working unit system
          P_inci  =  P_inci / FAC_P_bb
          I_inci  =  I_inci / FAC_I_bb
          P_refl  =  P_refl / FAC_P_bb
          I_refl  =  I_refl / FAC_I_bb
          !P_inci_ =  P_inci_ / FAC_P_bb
          !I_inci_ =  I_inci_ / FAC_I_bb
          !P_refl_ =  P_refl_ / FAC_P_bb
          !I_refl_ =  I_refl_ / FAC_I_bb
          IF(DT_0 /= EP20)DT_0    =  DT_0    / FAC_T_bb
          !IF(DT_0_ /= EP20)DT_0_   =  DT_0_   / FAC_T_bb
          IF(T_A /= EP20)THEN
            T_A     =  T_A     / FAC_T_bb
            T_A    = T_A + TDET
          ENDIF

          OUTPUT_PARAMS%P_inci = P_inci
          OUTPUT_PARAMS%I_inci = I_inci
          OUTPUT_PARAMS%P_refl = P_refl
          OUTPUT_PARAMS%I_refl = I_refl
          OUTPUT_PARAMS%DT_0 = DT_0
          OUTPUT_PARAMS%T_A = T_A
          OUTPUT_PARAMS%decay_inci = decay_inci
          OUTPUT_PARAMS%decay_refl = decay_refl

        END SUBROUTINE PBLAST_PARAMETERS__FREE_AIR


Chd|====================================================================
Chd|  PBLAST_PARAMETERS__SURFACE_BURSTmodules/loads/pblast_mod.F    
Chd|-- called by -----------
Chd|-- calls ---------------
Chd|        MESSAGE_MOD                   starter/share/message_module/message_mod.F
Chd|        MESSAGE_MOD                   engine/share/message_module/message_mod.F
Chd|====================================================================
       SUBROUTINE PBLAST_PARAMETERS__SURFACE_BURST(Z, W13, TDET,
     +                                             FAC_P_bb, FAC_I_bb, FAC_T_bb,
     +                                             IS_DECAY_TO_BE_COMPUTED,
     +                                             OUTPUT_PARAMS)
C-----------------------------------------------
C   Description
C-----------------------------------------------
C This Subroutine is returning blast characteristic parameters {P_inci,P_refl,ta,t0,decay_inci,decay_refl}
c to build a blast time history. Parameters are determined from SURFACE BURST MODEL
C-----------------------------------------------
C   M o d u l e s
C-----------------------------------------------
      USE MESSAGE_MOD
C-----------------------------------------------
C   I m p l i c i t   T y p e s
C-----------------------------------------------
#include      "implicit_f.inc"
C-----------------------------------------------
C   C o m m o n   B l o c k s
C-----------------------------------------------
!#include      "com04_c.inc"
!#include      "units_c.inc"
C-----------------------------------------------
C   D u m m y   A r g u m e n t s
C-----------------------------------------------
      LOGICAL,INTENT(IN) :: IS_DECAY_TO_BE_COMPUTED
      my_real,INTENT(IN) :: Z,W13,TDET
      my_real,INTENT(IN) :: FAC_P_bb, FAC_I_bb, FAC_T_bb
      TYPE(FRIEDLANDER_PARAMS_), INTENT(OUT) :: OUTPUT_PARAMS
C-----------------------------------------------
C   L o c a l   V a r i a b l e s
C-----------------------------------------------
      INTEGER :: Phi_I,NITER,ITER
      my_real :: bound1,bound2,Phi_DB,LAMBDA,LogRes,TOL,ZETA,RES,TMP2,TMP3,kk,FUNCT,DIFF
      my_real :: P_inci,P_refl,I_inci,I_refl,T_A,DT_0,decay_inci,decay_refl
      my_real :: cst_255_div_ln_Z1_on_ZN,log10_,Z1_
      DATA cst_255_div_ln_Z1_on_ZN/-38.147316611455952998/
      DATA log10_ /2.30258509299405000000/
C-----------------------------------------------
C   P r e - C o n d i t i o n
C-----------------------------------------------
C      Z>0.5 .and. Z<400.
C        Otherwise Z set to 0.5 as lower bound and 400. as upperbound
C-----------------------------------------------
C   S o u r c e   C o d e
C-----------------------------------------------
          !finding index for UFC table (Figure 2-7) using bijection.
          Z1_ = HALF
                !finding index for UFC table (Figure 2-15) using bijection.
          IF(Z > 0.5 .AND. Z < 400.) then
            Phi_DB = LOG(Z1_/Z)*cst_255_div_ln_Z1_on_ZN
            Phi_I  = 1 + INT(Phi_DB)
            bound1 = PBLAST_DATA%RW3_Surf(Phi_I)
            bound2 = PBLAST_DATA%RW3_Surf(Phi_I+1)
            LAMBDA = (Z-bound1) / (bound2-bound1)
          elseif(Z <= 0.5)then
            LAMBDA = ZERO
            Phi_I  = 1
          elseif(Z > 400.)then
            LAMBDA = ONE
            Phi_I  = 255
          ENDIF


          !=== HEMISPHERICAL CHARGE WITH GROUND REFLECTION ===!

          !Incident upper Pressure (UFC table from Figure 2-15)
          bound1 = PBLAST_DATA%Pso_Surf(Phi_I)
          bound2 = PBLAST_DATA%Pso_Surf(Phi_I+1)
          LogRes = LOG10(bound1) + LAMBDA*LOG10(bound2/bound1)
          P_inci = exp(LogRes*log10_)

          !Incident upper Impulse (UFC table from Figure 2-15)
          bound1 = PBLAST_DATA%Iso_Surf(Phi_I)
          bound2 = PBLAST_DATA%Iso_Surf(Phi_I+1)
          LogRes = LOG10(bound1) + LAMBDA*LOG10(bound2/bound1)
          I_inci = exp(LogRes*log10_)

          !Reflected upper Pressure (UFC table from Figure 2-15)
          bound1 = PBLAST_DATA%Pr_Surf(Phi_I)
          bound2 = PBLAST_DATA%Pr_Surf(Phi_I+1)
          LogRes = LOG10(bound1) + LAMBDA*LOG10(bound2/bound1)
          P_refl = exp(LogRes*log10_)
          !Reflected upper Impulse (UFC table from Figure 2-15)
          bound1 = PBLAST_DATA%Ir_Surf(Phi_I)
          bound2 = PBLAST_DATA%Ir_Surf(Phi_I+1)
          LogRes = LOG10(bound1) + LAMBDA*LOG10(bound2/bound1)
          I_refl = exp(LogRes*log10_)

          !first time for which P=P0 after t_arrival (UFC table from Figure 2-15)
          bound1 = PBLAST_DATA%t0_Surf(Phi_I)
          bound2 = PBLAST_DATA%t0_Surf(Phi_I+1)
          LogRes = LOG10(bound1) + LAMBDA*LOG10(bound2/bound1)
          DT_0 = exp(LogRes*log10_)

          !Time Arrival (UFC table from Figure 2-15)
          bound1 = PBLAST_DATA%ta_Surf(Phi_I)
          bound2 = PBLAST_DATA%ta_Surf(Phi_I+1)
          LogRes = LOG10(bound1) + LAMBDA*LOG10(bound2/bound1)
          T_A = exp(LogRes*log10_)

          !switch from normalized values.      ( Pressure are not scaled by W13 in tables )
          I_inci  = I_inci * W13
          I_refl  = I_refl * W13
          DT_0    = DT_0   * W13
          T_A     = T_A    * W13

          !---DECAY  ('b' parameter in modified Friedlander model)
          !    iterative solver : it can be solved in same unit system as hardcoded tables {g,cm,Âµs} since b has no dimension
          IF(.NOT. IS_DECAY_TO_BE_COMPUTED)THEN
            !-Friedlander
            DECAY_inci = ONE
            DECAY_refl = ONE

          ELSE
            !SOLVE DECAY (b):    I_inci = P_inci*DT_0/b*(ONE-(1-exp(-b))/b)
            !     g: b-> I_inci - P_inci*DT_0/b*(ONE-(1-exp(-b))/b)
            ! find b such as g(b)=0
            ! NEWTON ITERATIONS
            NITER=20
            TOL=EM06
            ITER=0
            ZETA=ONE
            RES=EP20
            TMP2= P_inci*DT_0*EXP(-ZETA)/ZETA/ZETA
            !--initialize first iteration
            kk=P_inci*DT_0
            FUNCT = HALF*kk -I_inci !-ONE_OVER_6*kk*ZETA
            !--iterative solving
            DO WHILE (ITER<=NITER .AND. RES>TOL)
              ITER=ITER+1
              IF(ABS(ZETA) < EM06)THEN
                !taylor expansion on 0. : g(b) = 1/2.k-1/6k.b +o(b )
                DIFF = kk*(-ONE_OVER_6 + ONE_OVER_12*ZETA)
                ZETA = ZETA - FUNCT/DIFF
                FUNCT = HALF*kk-ONE_OVER_6*kk*ZETA - I_inci
              ELSE
                DIFF = ZETA*TMP2*EXP(ZETA) - (FUNCT+I_inci)*(ONE + TWO/ZETA)
                ZETA = ZETA - FUNCT/DIFF
                TMP2= P_inci*DT_0*EXP(-ZETA)/ZETA/ZETA
                TMP3 = EXP(ZETA)*(ZETA-ONE)+ONE
                FUNCT = TMP2 * TMP3 -I_inci
              ENDIF
              RES = ABS(FUNCT)   !g(x_new)
            ENDDO
            DECAY_inci=MAX(ONE,ZETA)    ! lower value may have few change on positive impulse but large change to negative impulse (potential unphysical solution)

            ITER=0
            ZETA=ONE
            RES=EP20
            TMP2= P_refl*DT_0*EXP(-ZETA)/ZETA/ZETA
            !--initialize first iteration
            kk=P_refl*DT_0
            FUNCT = HALF*kk -I_refl !-ONE_OVER_6*kk*ZETA
            !--iterative solving
            DO WHILE (ITER<=NITER .AND. RES>TOL)
              ITER=ITER+1
              IF(ABS(ZETA) < EM06)THEN
                !taylor expansion on 0. : g(b) = 1/2.k-1/6k.b +o(b )
                DIFF = kk*(-ONE_OVER_6 + ONE_OVER_12*ZETA)
                ZETA = ZETA - FUNCT/DIFF
                FUNCT = HALF*kk-ONE_OVER_6*kk*ZETA - I_refl
              ELSE
                DIFF = ZETA*TMP2*EXP(ZETA) - (FUNCT+I_refl)*(ONE + TWO/ZETA)
                ZETA = ZETA - FUNCT/DIFF
                TMP2= P_refl*DT_0*EXP(-ZETA)/ZETA/ZETA
                TMP3 = EXP(ZETA)*(ZETA-ONE)+ONE
                FUNCT = TMP2 * TMP3 -I_refl
              ENDIF
              RES = ABS(FUNCT)   !g(x_new)
            ENDDO
            DECAY_refl=MAX(ONE,ZETA)    ! lower value may have few change on positive impulse but large change to negative impulse (potential unphysical solution)

          ENDIF! IS_DECAY_TO_BE_COMPUTED


          !CONVERSION UNITS !
          !g,cm,mus,Bar -> Working unit system
          P_inci = P_inci / FAC_P_bb
          I_inci = I_inci / FAC_I_bb
          P_refl = P_refl / FAC_P_bb
          I_refl = I_refl / FAC_I_bb
          IF(DT_0 /= EP20)DT_0    =  DT_0    / FAC_T_bb
          IF(T_A /= EP20)THEN
            T_A     =  T_A     / FAC_T_bb
            T_A    = T_A + TDET
          ENDIF

          OUTPUT_PARAMS%P_inci = P_inci
          OUTPUT_PARAMS%I_inci = I_inci
          OUTPUT_PARAMS%P_refl = P_refl
          OUTPUT_PARAMS%I_refl = I_refl
          OUTPUT_PARAMS%DT_0 = DT_0
          OUTPUT_PARAMS%T_A = T_A
          OUTPUT_PARAMS%decay_inci = decay_inci
          OUTPUT_PARAMS%decay_refl = decay_refl

        END SUBROUTINE PBLAST_PARAMETERS__SURFACE_BURST


Chd|====================================================================
Chd|  PBLAST_PARAMETERS__AIR_BURST  modules/loads/pblast_mod.F    
Chd|-- called by -----------
Chd|        HM_READ_PBLAST                starter/source/loads/pblast/hm_read_pblast.F
Chd|        PBLAST_3                      engine/source/loads/pblast/pblast_3.F
Chd|-- calls ---------------
Chd|        MESSAGE_MOD                   starter/share/message_module/message_mod.F
Chd|        MESSAGE_MOD                   engine/share/message_module/message_mod.F
Chd|====================================================================
       SUBROUTINE PBLAST_PARAMETERS__AIR_BURST( Z_struct, Zc, Zg, ANGLE_g, W13, TDET,
     +                                         FAC_P_bb, FAC_I_bb, FAC_T_bb,
     +                                         IS_DECAY_TO_BE_COMPUTED,
     +                                         ID,LABEL,IS_OUTPUT_ENABLED,
     +                                         OUTPUT_PARAMS)
C-----------------------------------------------
C   Description
C-----------------------------------------------
C This Subroutine is returning blast characteristic parameters {P_inci,P_refl,ta,t0,decay_inci,decay_refl}
c to build a blast time history. Parameters are determined from SURFACE BURST MODEL
C-----------------------------------------------
C   M o d u l e s
C-----------------------------------------------
      USE MESSAGE_MOD
      USE NAMES_AND_TITLES_MOD, ONLY: NCHARLINE
C-----------------------------------------------
C   I m p l i c i t   T y p e s
C-----------------------------------------------
#include      "implicit_f.inc"
C-----------------------------------------------
C   C o m m o n   B l o c k s
C-----------------------------------------------
!#include      "com04_c.inc"
#include      "units_c.inc"
C-----------------------------------------------
C   D u m m y   A r g u m e n t s
C-----------------------------------------------
      LOGICAL,INTENT(IN) :: IS_DECAY_TO_BE_COMPUTED, IS_OUTPUT_ENABLED
      INTEGER,INTENT(IN) :: ID
      my_real,INTENT(IN) :: W13,TDET,ANGLE_g,Z_struct,Zc
      my_real,INTENT(INOUT) :: Zg
      my_real,INTENT(IN) :: FAC_P_bb, FAC_I_bb, FAC_T_bb
      CHARACTER*4,INTENT(IN)::LABEL  !'EBCS' or 'LOAD'
      TYPE(FRIEDLANDER_PARAMS_), INTENT(OUT) :: OUTPUT_PARAMS
C-----------------------------------------------
C   L o c a l   V a r i a b l e s
C-----------------------------------------------
      INTEGER :: NITER,ITER
      my_real :: bound1,bound2,LAMBDA,LogRes,TOL,ZETA,RES,TMP2,TMP3,kk,FUNCT,DIFF
      my_real :: P_inci,P_refl,I_inci,I_refl,T_A,DT_0,decay_inci,decay_refl
      my_real :: cst_255_div_ln_Z1_on_ZN,log10_,Z1_
      my_real tmp(3),alpha_angle,alpha_zc,alpha_zg,HTP,Ira,Ira_refl,Pra,Pra_refl,SHTP
      my_real FAC_UNIT ! convert scaled distance from cm/g^1/3 to ft/lb^1/3
      LOGICAL CALCULATE
      INTEGER curve_id1,curve_id2,idx1,idx2,idx1_angle,idx2_angle,idx_zg1,idx_zg2,itmp
      DATA cst_255_div_ln_Z1_on_ZN/-38.147316611455952998/
      DATA log10_ /2.30258509299405000000/
      DATA FAC_unit/3.966977216838196139019/
      CHARACTER(LEN=NCHARLINE) :: MSGOUT
      INTEGER,EXTERNAL :: DICHOTOMIC_SEARCH_R_DESC,DICHOTOMIC_SEARCH_R_ASC

C-----------------------------------------------
C   P r e - C o n d i t i o n
C-----------------------------------------------
C      Z>0.5 .and. Z<400.
C        Otherwise Z set to 0.5 as lower bound and 400. as upperbound
C-----------------------------------------------
C   S o u r c e   C o d e
C-----------------------------------------------
          !finding index for UFC table (Figure 2-7) using bijection.
          Z1_ = HALF
          tmp(1)=ANGLE_g/PBLAST_DATA%delta_angle
          itmp=INT(tmp(1))
          idx1_angle = 1+itmp   ! surjection ANGLE -> idx1
          idx2_angle = MIN(idx1_angle+1,256)
          alpha_angle = (ANGLE_g-itmp*PBLAST_DATA%delta_angle)/PBLAST_DATA%delta_angle  !interpolation factor between angle(idx1_angle) & angle(idx2_angle)


          ! -----------(ZC,ZC) => SHTP (Fig 2-13) ------------ !
          !  -- SCALED HEIGHT OF TRIPLE POINT --
          ! curve_ids             1    2    3    4    5    6    7    8    9   10
          ! 10 curves for ZC : {1.0; 1.5; 2.0; 2.5; 3.0; 3.5; 4.0; 5.0; 6.0; 7.0}    ft/lb**1/3
          !                    <--------curve_id=[2x-1]---------><----[x+3]----->
          !
          !--------------------------------------------------------------------------------------------
          ! --- 1. two retained curves & interpolation factor alpha_zc
          ! --------------------------
          curve_id1 = 0
          alpha_zc = zero
          IF(ZC < 4)THEN
            itmp = INT( TWO*(ZC)-ONE )
            curve_id1 =  max(1,itmp)
            curve_id2 = curve_id1+1
            IF(itmp < 1)THEN
              !message out of bounds. curve 1 will be used. no extrapolation
              curve_id2=curve_id1 !=1
              alpha_zc = ZERO
            ELSE
              alpha_zc = (ZC - PBLAST_DATA%Curve_val_2_13(curve_id1))
              alpha_zc = alpha_zc/  ( PBLAST_DATA%Curve_val_2_13(curve_id2) - PBLAST_DATA%Curve_val_2_13(curve_id1) )
            ENDIF
          ELSE
            itmp = INT( ZC+THREE )
            curve_id1 = INT( min(10,itmp) )
            curve_id2 = curve_id1+1
            IF(curve_id1 == 10)THEN
              !message out of bounds. curve 10 will be used. no extrapolation
              curve_id2=curve_id1 !=10
              alpha_zc = ZERO
            ELSE
              alpha_zc = (ZC - PBLAST_DATA%Curve_val_2_13(curve_id1))
              alpha_zc = alpha_zc / ( PBLAST_DATA%Curve_val_2_13(curve_id2) - PBLAST_DATA%Curve_val_2_13(curve_id1) )
            ENDIF
          ENDIF

          ! --------------------------
          ! --- 2. abscissa (ZG) index to read the plot and interpolate (alpha_zg)  :  idx_zg1, idx_zg2
          ! --------------------------
          !idx_zg1 is index in [1,256] for abscissa %SHTP(curve_id,1:256)
          ! PBLAST_DATA%SHDC(1:2,curve_id) are the SHDC bounds for a given curve_id
          idx_zg1 = MIN(MAX(1,INT((Zg-7.9)/PBLAST_DATA%dSHDC)+1),256)  !curve on pliot 2-13 are starting from 2 ft/lb**0.333, hardcoded table start from  7.9 cm/g**0.333
          idx_zg2 = MAX(1,MIN(256,idx_zg1+1))
          alpha_zg = zero
          IF(ZG < PBLAST_DATA%SHDC(1,curve_id2))THEN
            ZG =  PBLAST_DATA%SHDC(1,curve_id2)
            MSGOUT = ''
            WRITE(MSGOUT, FMT='(A,I0,A,E10.4,A,I0,A,E10.4,A)')
     .      ' ** WARNING : /LOAD/PBLAST id=',ID,' SCALED HORIZONTAL DISTANCE ',ZG,
     .                               ' IS BELOW LOWER BOUND, FIGURE 2-13, CURVE=',
     .                               curve_id2,' SHDC=',ZG/FAC_UNIT,' ft/lb^0.333'
            WRITE(MSGOUT(16:19),FMT='(A4)')LABEL
            WRITE(IOUT,FMT='(A)')MSGOUT
            WRITE(ISTDO,FMT='(A)')MSGOUT
          ENDIF
          IF(ZG > PBLAST_DATA%SHDC(2,curve_id1))THEN
            ZG =  PBLAST_DATA%SHDC(2,curve_id1)
            IF(IS_OUTPUT_ENABLED)THEN
              MSGOUT = ''
              WRITE(MSGOUT,FMT='(A,I0,A,E10.4,A,I0,A,E10.4,A)')
     .       ' ** WARNING : /LOAD/PBLAST id=',ID,'  SCALED HORIZONTAL DISTANCE ', ZG ,
     .                                   ' IS ABOVE UPPER BOUND, FIGURE 2-13, CURVE=',
     .                                   curve_id1,' SHDC=',ZG/FAC_UNIT,' ft/lb^0.333'
              WRITE(MSGOUT(16:19),FMT='(A4)')LABEL
              WRITE(IOUT,FMT='(A)')MSGOUT
              WRITE(ISTDO,FMT='(A)')MSGOUT
            ENDIF
          ENDIF
          alpha_zg = (ZG-PBLAST_DATA%SHTP_abscissa(idx_zg1))/PBLAST_DATA%dSHDC !abscissa interpolation

          ! --------------------------
          ! --- 3. Read and interpolate ordinate : SHTP
          ! --------------------------
          !Scaled Height of triple point SHTP
          !tmp(1) : angle interpolation on curve_id1 Figure 2_13
          tmp(1)=PBLAST_DATA%SHTP(curve_id1,idx_zg1)
          tmp(2)=PBLAST_DATA%SHTP(curve_id1,idx_zg2)
          tmp(1) = (ONE-alpha_zg)*tmp(1) + alpha_zg*tmp(2)
          !tmp(2) : interpolation on curve_id2 Figure 2_13
          tmp(2)=PBLAST_DATA%SHTP(curve_id2,idx_zg1)
          tmp(3)=PBLAST_DATA%SHTP(curve_id2,idx_zg2)
          tmp(2) = (ONE-alpha_zg)*tmp(2) + alpha_zg*tmp(3)
          !interpolate now with scaled height of charge
          SHTP = (ONE-alpha_zc)*tmp(1)+ alpha_zc*tmp(2)
          HTP = SHTP*W13


          ! --------------------------
          ! --- 4. Compare SHTP with target height
          ! --------------------------
          !Check if triple point is above the target centroid
          ! print warning otherwise and load with the same wave as below (may be updated later but in practise triple point is above the structure)
          !
          IF(Z_struct > SHTP .AND. IS_OUTPUT_ENABLED)THEN
            MSGOUT = ''
              WRITE(MSGOUT, FMT='(A,I0,A,A,E10.4,A,E10.4,A)')
     .      ' ** WARNING : /LOAD/PBLAST id=',ID,' TARGET FACE IS ABOVE THE TRIPLE POINT:',
     .         "Zface = ",Z_struct," > ",SHTP," = SHTP (ft/fb**1/3)"
            WRITE(MSGOUT(16:19),FMT='(A4)')LABEL
            WRITE(IOUT,FMT='(A)')MSGOUT
            WRITE(ISTDO,FMT='(A)')MSGOUT
          ENDIF


          ! -----------(alpha,ZC) => Pra (Fig 2-9) ------------ !
          ! -- REFLECTED PRESSURE Pra --
          !
          !--------------------------------------------------------------------------------------------
          ! --- 1. two retained curves & interpolation factor alpha_zc
          ! --------------------------

          ! Pra =
          ! here curves are plot from zc=0.3 to zc=14.3 : need to calculate alpha_zc again since 10 curves are for different ZC values : 0.3 "0.5" 0.8 etc....
          !   ZC IN FT/LB**0.33  (10 plots on fig 2-9 depending on ZC)
          idx1 = MAX(1,DICHOTOMIC_SEARCH_R_ASC(ZC, PBLAST_DATA%Curve_val_2_9, 10))
          calculate=.FALSE.
          IF(idx1 == 1)THEN
            IF(ZC <= PBLAST_DATA%Curve_val_2_9(1))THEN
              alpha_zc = zero
              idx1 = 1
              idx2 = 1
              IF(IS_OUTPUT_ENABLED)THEN
                MSGOUT = ''
                WRITE(MSGOUT,FMT='(A,I0,A,I0,A,E10.4,A)')
     .      ' ** WARNING : /LOAD/PBLAST id=',ID,'  SCALED HEIGHT OF CHARGE IS BELOW THE RANGE, FIGURE 2-9, CURVE=',1,
     .                                  ' HC=',ZC/FAC_UNIT,' ft/lb^0.333'
                WRITE(MSGOUT(16:19),FMT='(A4)')LABEL
                WRITE(IOUT,FMT='(A)')MSGOUT
                WRITE(ISTDO,FMT='(A)')MSGOUT
              ENDIF
            ELSE
              idx1 = 1
              idx2 = 2
              calculate=.TRUE.
            ENDIF
          ELSEIF(idx1 >= 10)THEN
              alpha_zc = zero
              idx1 = 10
              idx2 = 10
              IF(IS_OUTPUT_ENABLED)THEN
                MSGOUT = ''
                WRITE(MSGOUT,FMT='(A,I0,A,I0,A,E10.4)')
     .           ' ** WARNING : /LOAD/PBLAST id=',ID,'  SCALED HEIGHT OF CHARGE IS ABOVE THE RANGE, FIGURE 2-9, CURVE=',
     .                                      10,' HC=',ZC/FAC_UNIT
                WRITE(MSGOUT(16:19),FMT='(A4)')LABEL
                WRITE(IOUT,FMT='(A)')MSGOUT
                WRITE(ISTDO,FMT='(A)')MSGOUT
              ENDIF
          ELSE
            idx2=idx1+1
            calculate=.TRUE.
          ENDIF
          IF(calculate)THEN
            alpha_zc=(ZC-PBLAST_DATA%Curve_val_2_9(idx1))
     .                 / (PBLAST_DATA%Curve_val_2_9(idx2)-PBLAST_DATA%Curve_val_2_9(idx1)) !interpolation between 2 retained plots (out of 10 from Fig 2-9, each one for a given ZC value)
          ENDIF

          curve_id1=idx1
          curve_id2=idx2
          !tmp(1) : angle interpolation on curve_id1 Figure 2_9
          tmp(1)=PBLAST_DATA%Pra(curve_id1,idx1_angle)
          tmp(2)=PBLAST_DATA%Pra(curve_id1,idx2_angle)
          tmp(1)=(ONE-alpha_angle)*LOG10(tmp(1))+alpha_angle*LOG10(tmp(2))
          !tmp(2) : interpolation on curve_id2 Figure 2_9
          tmp(2)=PBLAST_DATA%Pra(curve_id2,idx1_angle)
          tmp(3)=PBLAST_DATA%Pra(curve_id2,idx2_angle)
          tmp(2)=(ONE-alpha_angle)*LOG10(tmp(2))+alpha_angle*LOG10(tmp(3))
          !interpolate now with scaled height of charge
          Pra = (ONE-alpha_zc)*tmp(1)+ alpha_zc*tmp(2)
          Pra = exp(Pra*log10_)

          ! -----------(alpha,ZC) => Pra (Fig 2-10) ------------ !
          ! -- SCALED REFLECTED IMPULSE --
          !
          !--------------------------------------------------------------------------------------------
          ! --- 1. two retained curves & interpolation factor alpha_zc
          ! --------------------------

          idx1 = MAX(1,DICHOTOMIC_SEARCH_R_ASC(ZC, PBLAST_DATA%Curve_val_2_10, 10))
          calculate=.FALSE.
          IF(idx1 == 1)THEN
            IF(ZC <= PBLAST_DATA%Curve_val_2_10(1))THEN
              alpha_zc = zero
              idx1 = 1
              idx2 = 1
              IF(IS_OUTPUT_ENABLED)THEN
                MSGOUT = ''
                WRITE(MSGOUT,FMT='(A,I0,A,I0,A,E10.4,A)')
     .     '   ** WARNING : /LOAD/PBLAST id=',ID,'  SCALED HEIGHT OF CHARGE IS BELOW THE RANGE, FIGURE 2-10, CURVE=',1,
     .     ' HC=',ZC/FAC_UNIT,' ft/lb^0.333'
                WRITE(MSGOUT(16:19),FMT='(A4)')LABEL
                WRITE(IOUT,FMT='(A)')MSGOUT
                WRITE(ISTDO,FMT='(A)')MSGOUT
              ENDIF
            ELSE
              idx1 = 1
              idx2 = 2
              calculate=.TRUE.
            ENDIF
          ELSEIF(idx1 >= 10)THEN
               alpha_zc = zero
               idx1 = 10
               idx2 = 10
               IF(IS_OUTPUT_ENABLED)THEN
                 MSGOUT = ''
                 WRITE(MSGOUT,FMT='(A,I0,A,I0,A,E10.4)')
     .          ' ** WARNING : /LOAD/PBLAST id=',ID,'  SCALED HEIGHT OF CHARGE IS ABOVE THE RANGE, FIGURE 2-10, CURVE=',
     .                                     10,' HC=',ZC/FAC_UNIT
                 WRITE(MSGOUT(16:19),FMT='(A4)')LABEL
                 WRITE(IOUT,FMT='(A)')MSGOUT
                 WRITE(ISTDO,FMT='(A)')MSGOUT
               ENDIF
          ELSE
            idx2=idx1+1
            calculate=.TRUE.
          ENDIF
          
          IF(calculate)THEN
            alpha_zc=(ZC-PBLAST_DATA%Curve_val_2_10(idx1))
     .                / (PBLAST_DATA%Curve_val_2_10(idx2)-PBLAST_DATA%Curve_val_2_10(idx1)) !interpolation between 2 retained plots (out of 10 from Fig 2-9, each one for a given ZC value)
          ENDIF

          curve_id1=idx1
          curve_id2=idx2

          ! --------------------------
          ! --- 2. interpolate SRI on each curve
          ! --------------------------
          !tmp(1) : angle interpolation on curve_id1 Figure 2_10
          tmp(1)=PBLAST_DATA%SRI(curve_id1,idx1_angle)
          tmp(2)=PBLAST_DATA%SRI(curve_id1,idx2_angle)
          tmp(1)=(ONE-alpha_angle)*LOG10(tmp(1))+alpha_angle*LOG10(tmp(2))
          !tmp(2) : interpolation on curve_id2 Figure 2_10
          tmp(2)=PBLAST_DATA%SRI(curve_id2,idx1_angle)
          tmp(3)=PBLAST_DATA%SRI(curve_id2,idx2_angle)
          tmp(2)=(ONE-alpha_angle)*LOG10(tmp(2))+alpha_angle*LOG10(tmp(3))
          ! --------------------------
          ! --- 3. interpolate SRI between 2 curves
          ! --------------------------
          !interpolate now with scaled height of charge
          Ira = (ONE-alpha_zc)*tmp(1)+ alpha_zc*tmp(2)
          Ira = exp(Ira*log10_)

          ! Use Pra as Pso on figure 2-7 ; determine corresponding Scaled distance ; read corresponding values Pr, Pso-, ta/W**1/3
          !
          !get Pra
          ! searching in monotonic function : idx1 such as     PBLAST_DATA%Pra(idx1) <= Pra <  PBLAST_DATA%Pra(idx1+1)
          idx1 = MAX(1,DICHOTOMIC_SEARCH_R_DESC(Pra, PBLAST_DATA%Pso, 256))
          idx2 = MIN(idx1+1,256)
          bound1=LOG10(PBLAST_DATA%Pso(idx1))
          bound2=LOG10(PBLAST_DATA%Pso(idx2))
          LAMBDA = (LOG10(Pra)-bound1) / (bound2-bound1)
          !!deduce Z (may be usefull for debug)
          !---bound1 = LOG10(PBLAST_DATA%RW3(idx1))
          !---bound2 = LOG10(PBLAST_DATA%RW3(idx2))
          !---LogRes =  (ONE-lambda)*bound1+lambda*bound2
          !---Z = exp(LogRes*log10_)
          !deduce Pra_refl (=Pr(Z) where Z=Z(Pra) )
          bound1 = PBLAST_DATA%Pr(idx1)
          bound2 = PBLAST_DATA%Pr(min(256,idx2))
          LogRes = LOG10(bound1) + LAMBDA*LOG10(bound2/bound1)
          Pra_refl = exp(LogRes*log10_)
          !deduce ta
          bound1 = PBLAST_DATA%ta(idx1)
          bound2 = PBLAST_DATA%ta(min(256,idx2))
          LogRes = LOG10(bound1) + LAMBDA*LOG10(bound2/bound1)
          T_A = exp(LogRes*log10_)

               ! Use Ira as Is on figure 2-7  ; determine corresponding Scaled distance ; read corresponding values Ir,Ir-, t0/W**1/3, t0-/W**1/3
          !
          ! searching in monotonic function : idx1 such as     PBLAST_DATA%Pra(idx1) <= Pra <  PBLAST_DATA%Pra(idx1+1)
          idx1 = MAX(1,DICHOTOMIC_SEARCH_R_DESC(Ira, PBLAST_DATA%Iso, 256))
          idx2 = MIN(idx1+1,256)
          bound1=LOG10(PBLAST_DATA%Iso(idx1))
          bound2=LOG10(PBLAST_DATA%Iso(idx2))
          LAMBDA = (LOG10(Ira)-bound1) / (bound2-bound1)
          !deduce Z (may be usefull for debug)
          !---bound1 = LOG10(PBLAST_DATA%RW3(idx1))
          !---bound2 = LOG10(PBLAST_DATA%RW3(idx2))
          !---LogRes =  (ONE-lambda)*bound1+lambda*bound2
          !---Z = exp(LogRes*log10_)
          !deduce Ira_refl (=Pr(Z) where Z=Z(Pra) )
          bound1 = PBLAST_DATA%Irefl(idx1)
          bound2 = PBLAST_DATA%Irefl(min(256,idx2))
          LogRes = LOG10(bound1) + LAMBDA*LOG10(bound2/bound1)
          Ira_refl = exp(LogRes*log10_)
          !deduce t0
          bound1 = PBLAST_DATA%t0(idx1)
          bound2 = PBLAST_DATA%t0(min(256,idx2))
          LogRes = LOG10(bound1) + LAMBDA*LOG10(bound2/bound1)
          DT_0 = exp(LogRes*log10_)

          P_inci = Pra
          P_refl = Pra_refl
          I_inci = Ira
          I_refl = Ira_refl

          !switch from normalized values.      ( Pressure are not scaled by W13 in tables )
          I_inci  = I_inci * W13
          I_refl  = I_refl * W13
          IF(DT_0 /= EP20)DT_0    = DT_0   * W13
          IF(T_A /= EP20)T_A     = T_A    * W13

          !---DECAY  ('b' parameter in modified Friedlander model)
          !    iterative solver : it can be solved in same unit system as hardcoded tables {g,cm,Âµs} since b has no dimension
          IF(.NOT. IS_DECAY_TO_BE_COMPUTED)THEN
            !-Friedlander
            DECAY_inci = ONE
            DECAY_refl = ONE

          ELSE
            !SOLVE DECAY (b):    I_inci = P_inci*DT_0/b*(ONE-(1-exp(-b))/b)
            !     g: b-> I_inci - P_inci*DT_0/b*(ONE-(1-exp(-b))/b)
            ! find b such as g(b)=0
            ! NEWTON ITERATIONS
            NITER=20
            TOL=EM06
            ITER=0
            ZETA=ONE
            RES=EP20
            TMP2= P_inci*DT_0*EXP(-ZETA)/ZETA/ZETA
            !--initialize first iteration
            kk=P_inci*DT_0
            FUNCT = HALF*kk -I_inci !-ONE_OVER_6*kk*ZETA
            !--iterative solving
            DO WHILE (ITER<=NITER .AND. RES>TOL)
              ITER=ITER+1
              IF(ABS(ZETA) < EM06)THEN
                !taylor expansion on 0. : g(b) = 1/2.k-1/6k.b +o(b )
                DIFF = kk*(-ONE_OVER_6 + ONE_OVER_12*ZETA)
                ZETA = ZETA - FUNCT/DIFF
                FUNCT = HALF*kk-ONE_OVER_6*kk*ZETA - I_inci
              ELSE
                DIFF = ZETA*TMP2*EXP(ZETA) - (FUNCT+I_inci)*(ONE + TWO/ZETA)
                ZETA = ZETA - FUNCT/DIFF
                TMP2= P_inci*DT_0*EXP(-ZETA)/ZETA/ZETA
                TMP3 = EXP(ZETA)*(ZETA-ONE)+ONE
                FUNCT = TMP2 * TMP3 -I_inci
              ENDIF
              RES = ABS(FUNCT)   !g(x_new)
            ENDDO
            DECAY_inci=MAX(ONE,ZETA)    ! lower value may have few change on positive impulse but large change to negative impulse (potential unphysical solution)

            ITER=0
            ZETA=ONE
            RES=EP20
            TMP2= P_refl*DT_0*EXP(-ZETA)/ZETA/ZETA
            !--initialize first iteration
            kk=P_refl*DT_0
            FUNCT = HALF*kk -I_refl !-ONE_OVER_6*kk*ZETA
            !--iterative solving
            DO WHILE (ITER<=NITER .AND. RES>TOL)
              ITER=ITER+1
              IF(ABS(ZETA) < EM06)THEN
                !taylor expansion on 0. : g(b) = 1/2.k-1/6k.b +o(b )
                DIFF = kk*(-ONE_OVER_6 + ONE_OVER_12*ZETA)
                ZETA = ZETA - FUNCT/DIFF
                FUNCT = HALF*kk-ONE_OVER_6*kk*ZETA - I_refl
              ELSE
                DIFF = ZETA*TMP2*EXP(ZETA) - (FUNCT+I_refl)*(ONE + TWO/ZETA)
                ZETA = ZETA - FUNCT/DIFF
                TMP2= P_refl*DT_0*EXP(-ZETA)/ZETA/ZETA
                TMP3 = EXP(ZETA)*(ZETA-ONE)+ONE
                FUNCT = TMP2 * TMP3 -I_refl
              ENDIF
              RES = ABS(FUNCT)   !g(x_new)
            ENDDO
            DECAY_refl=MAX(ONE,ZETA)    ! lower value may have few change on positive impulse but large change to negative impulse (potential unphysical solution)

          ENDIF! IS_DECAY_TO_BE_COMPUTED


          !CONVERSION UNITS !
          !g,cm,mus,Bar -> Working unit system
          P_inci = P_inci / FAC_P_bb
          I_inci = I_inci / FAC_I_bb
          P_refl = P_refl / FAC_P_bb
          I_refl = I_refl / FAC_I_bb
          IF(DT_0 /= EP20)DT_0    =  DT_0    / FAC_T_bb
          IF(T_A /= EP20)THEN
            T_A =  T_A     / FAC_T_bb
            T_A = T_A + TDET
          ENDIF

          OUTPUT_PARAMS%P_inci = P_inci
          OUTPUT_PARAMS%I_inci = I_inci
          OUTPUT_PARAMS%P_refl = P_refl
          OUTPUT_PARAMS%I_refl = I_refl
          OUTPUT_PARAMS%DT_0 = DT_0
          OUTPUT_PARAMS%T_A = T_A
          OUTPUT_PARAMS%decay_inci = decay_inci
          OUTPUT_PARAMS%decay_refl = decay_refl

        END SUBROUTINE PBLAST_PARAMETERS__AIR_BURST


      END MODULE PBLAST_MOD
